.no-background .navigation {
    background: none !important
}

.megamenu-preview-index .ves-megamenu {
    margin-top: 30px
}

.megamenu-preview-index .ves-vertical {
    max-width: 300px
}

.ves-megamenu.top-navigation .ves-navbar {
    display: none
}

.ves-megamenu>.block-title {
    margin: 0;
    text-align: center;
    padding: 10px;
    background: #333;
    color: #FFF
}

.ves-megamenu .navigation .drill-opener,
.ves-megamenu .navigation .opener {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    cursor: pointer;
    text-align: center;
    font-family: 'luma-icons';
    z-index: 99;
    width: auto;
    height: auto;
    line-height: 50px;
    width: 50px
}

.ves-megamenu .navigation .mega-col {
    padding: 0
}

.ves-megamenu .navigation .carousel-control {
    top: 40%
}

.ves-megamenu .navigation .carousel-control.left,
.ves-megamenu .navigation .carousel-control.right {
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    text-shadow: none;
    top: 45%;
    padding: 12px;
    position: absolute;
    background: #f5f5f5;
    color: #333;
    opacity: 1;
    line-height: 1.5em;
    width: auto;
    bottom: auto
}

.ves-megamenu .navigation .block-content {
    max-width: 100%;
    position: relative
}

.ves-megamenu .navigation .carousel-indicators {
    bottom: 0
}

.ves-megamenu .navigation .carousel-indicators>li {
    border: 1px solid #1979c3
}

.ves-megamenu .navigation .carousel-indicators>li.active {
    background-color: #1979c3
}

.ves-megamenu .navigation .product-items {
    padding: 10px;
    margin: 0
}

.ves-megamenu .navigation .item-before-content,
.ves-megamenu .navigation .item-after-content {
    float: left;
    width: 100%
}

.ves-megamenu .navigation .icon-top {
    line-height: 84px;
    width: 100%;
    height: 84px;
    text-align: center;
    background: #333;
    margin-bottom: 10px
}

.ves-megamenu .navigation .icon-top:hover {
    background-color: #5bd2ec
}

.ves-megamenu.ves-vertical .navigation .level0>a .cat-label {
    position: static;
    padding: 4px 6px
}

.ves-megamenu .feature-box-v3:hover .fbox-icon .icons {
    background: #ef2840;
    color: #fff
}

.ves-megamenu .feature-box-v3 .fbox-icon .icons {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    padding: 24px;
    width: 30px;
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial
}

.ves-megamenu .feature-box-v3 .fa:before {
    font-size: 30px
}

.ves-megamenu .feature-box-v3 a {
    background: #e8e8e8;
    border-left: 0;
    float: none;
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom: 1;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px
}

.ves-megamenu ul {
    list-style: none;
    padding: 0
}

.ves-megamenu .dynamic-items {
    padding: 0;
    width: 20%
}

.ves-megamenu .level0 ul {
    margin: 0;
    padding: 0
}

.ves-megamenu .level0 .megamenu-widget>.carousel>.products-grid .product-item {
    width: 100%
}

.ves-megamenu .level0 .megamenu-widget>.carousel .item {
    display: none
}

.ves-megamenu .level0 .megamenu-widget>.carousel .item.active {
    display: block
}

.ves-megamenu .level0 .submenu .nav-item>a {
    padding: 0 20px;
    line-height: 50px
}

.ves-megamenu .level0 .submenu .nav-item>a>.ves-caret {
    line-height: 50px
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item a {
    padding: 0
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item a:hover {
    background: none
}

.ves-megamenu .navigation .level0 .submenu .block-products-list .product-item .actions-secondary a {
    padding: 0;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.ves-megamenu .submenu-alignright>.submenu {
    right: 0;
    left: auto !important
}

.ves-megamenu .text-center {
    text-align: center
}

.ves-megamenu .pull-right {
    float: right
}

.ves-megamenu .pull-left {
    float: left
}

.ves-megamenu .cat-label {
    -webkit-transition: all 450ms ease-in-out;
    -o-transition: all 450ms ease-in-out;
    transition: all 450ms ease-in-out;
    color: #FFF;
    padding: 2px 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: none;
    text-shadow: none;
    margin-left: 2px
}

.ves-megamenu .cat-label.cat-label-v1 {
    background-color: #5bd2ec
}

.ves-megamenu .cat-label.cat-label-v2 {
    background-color: #d52462
}

.ves-megamenu .cat-label.cat-label-v3 {
    background: #0cc485
}

.ves-megamenu .cat-label.pin-bottom:before {
    position: absolute;
    right: 6px;
    top: 22px;
    width: 0;
    height: 0;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent;
    -webkit-transition: border-color 450ms ease-in-out;
    -o-transition: border-color 450ms ease-in-out;
    transition: border-color 450ms ease-in-out
}

.ves-megamenu .cat-label.cat-label-v1.pin-bottom:before {
    border-top-color: #5bd2ec
}

.ves-megamenu .cat-label.cat-label-v2.pin-bottom:before {
    border-top-color: #d52462
}

.ves-megamenu .cat-label.cat-label-v3.pin-bottom:before {
    border-top-color: #0cc485
}

.ves-megamenu .nav-item {
    position: relative
}

.ves-megamenu .nav-item>a {
    line-height: 50px
}

.ves-megamenu .nav-item.active>a {
    background: #333;
    color: #FFF
}

.ves-megamenu .submenu p>a {
    padding: 0
}

.ves-megamenu iframe,
.ves-megamenu video {
    max-width: 100%
}

.ves-megamenu .level0>a>.item-icon {
    margin-bottom: -5px
}

.ves-megamenu .onsale {
    padding: 3px 10px;
    background: #d52462;
    color: #FFF;
    margin-right: 5px
}

.ves-megamenu .new-icon {
    padding: 3px 10px;
    background: #0cc485;
    color: #FFF
}

.ves-megamenu .owl-carousel .owl-item {
    text-align: center
}

.ves-megamenu #contact-form {
    width: 100% !important
}

.ves-megamenu .drill-opener,
.ves-megamenu .drilldown-back,
.ves-megamenu .ves-navbar {
    display: none
}

.ves-megamenu.ves-daccordion .navigation,
.ves-megamenu.ves-mdrilldown .navigation,
.ves-megamenu.ves-ddrill .navigation {
    border: 1px solid rgba(0, 0, 0, 0.15)
}

.ves-megamenu.ves-daccordion .navigation .level0>a .cat-label,
.ves-megamenu.ves-mdrilldown .navigation .level0>a .cat-label,
.ves-megamenu.ves-ddrill .navigation .level0>a .cat-label {
    position: static;
    padding: 4px 6px
}

.ves-megamenu.ves-daccordion.has-title .navigation,
.ves-megamenu.ves-mdrilldown.has-title .navigation,
.ves-megamenu.ves-ddrill.has-title .navigation {
    border-top: 0
}

.ves-navtoggle {
    display: none
}
.ves-megamenu.ves-daccordion .navigation .nav-item.active >.submenu {
    display: block;
}
#maincontent .cat-label:before {
    display: none
}

@media (min-width:768px) and (max-width:1024px) {
    .ves-megamenu .orgin-items>.mega-col>.dropdown-submenu>.submenu {
        position: static
    }
}

.drilldown {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    max-width: 100% !important
}

.drilldown .navigation {
    background-color: #FFF
}

.drilldown .navigation.loaded>.dropdown-menu {
    width: 100% !important
}

.drilldown .navigation .subhover>.submenu {
    display: none
}

.drilldown .navigation>.dropdown-menu {
    display: block;
    position: static;
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.drilldown .navigation .ves-caret {
    display: none
}

.drilldown .navigation .cat-label {
    position: static;
    margin: 0;
    padding: 4px 6px
}

.drilldown .navigation .nav-item {
    position: relative !important;
    float: left !important;
    width: 100%
}

.drilldown .navigation .nav-item>a {
    line-height: 50px;
    position: static;
    padding: 0 15px
}

.drilldown .navigation .nav-item>a span.drill-opener {
    border: 1px solid #e5e5e5;
    border-right: 0;
    display: none
}

.drilldown .navigation .mega-col {
    padding: 0
}

.drilldown .navigation .level0 {
    border-top-color: #e5e5e5
}

.drilldown .navigation .opener {
    display: none
}

.drilldown .navigation .drill-opener {
    background: #f0f0f0;
    position: absolute
}

.drilldown .navigation .drill-opener:before {
    content: "\e608"
}

.drilldown .navigation .drilldown-back {
    position: relative;
    top: 0;
    left: -1px;
    display: none
}

.drilldown .navigation .drilldown-back a {
    padding: 0;
    background: #f0f0f0;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: -1px
}

.drilldown .navigation .drilldown-back a .drill-opener {
    position: absolute;
    left: 0;
    right: auto;
    display: block
}

.drilldown .navigation .drilldown-back a .drill-opener:before {
    content: "\e617"
}

.drilldown .navigation .drilldown-back a .drill-opener:after {
    display: none
}

.drilldown .navigation .drilldown-back a .current-cat {
    line-height: 50px;
    position: relative;
    z-index: 99
}

.drilldown .navigation .drilldown-back a .current-cat:before {
    display: none
}

.ves-megamenu .navigation .post-list .post-item a {
    padding: 0
}

.ves-megamenu .navigation .post-list .post-item .post-meta a {
    display: inline-block
}

.ves-megamenu .navigation .ves-post {
    text-align: left
}

.ves-megamenu .navigation .post-list .post-item .post-readmore a {
    background-color: #4db2ec;
    color: #fff;
    display: inline-block;
    line-height: 1;
    padding: 10px 12px;
    -webkit-transition: background-color .4s;
    -moz-transition: background-color .4s;
    -o-transition: background-color .4s;
    transition: background-color .4s
}

.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300b,
.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300bo,
.ves-megamenu .navigation .post-list .post-item .addthis_default_style .at300m {
    padding: 0 2px
}




@media all and (min-width:768px),
print {
    .navigation {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
        width: auto
    }
    .nav-sections-item-content>.navigation {
        display: block
    }
    .navigation {
        background: #f0f0f0;
        font-weight: 700;
        height: inherit;
        left: auto;
        overflow: inherit;
        padding: 0;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 3
    }
    .navigation:empty {
        display: none
    }
    .navigation ul {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        position: relative
    }
    .navigation li.level0 {
        border-top: none
    }
    .navigation .level0 {
        margin: 0 10px 0 0;
        display: inline-block;
        position: relative
    }
    .navigation .level0:last-child {
        margin-right: 0;
        padding-right: 0
    }
    .navigation .level0>.level-top {
        color: #575757;
        line-height: 47px;
        padding: 0 12px;
        text-decoration: none;
        box-sizing: border-box;
        position: relative
    }
    .navigation .level0>.level-top:hover,
    .navigation .level0>.level-top.ui-state-focus {
        color: #333;
        text-decoration: none
    }
    .navigation .level0.active>.level-top,
    .navigation .level0.has-active>.level-top {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 3px;
        color: #333;
        text-decoration: none;
        display: inline-block
    }
    .navigation .level0.parent:hover>.submenu {
        overflow: visible !important
    }
    .navigation .level0 .submenu {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
        font-weight: 400;
        min-width: 230px;
        padding: 15px 0;
        display: none;
        left: 0;
        margin: 0 !important;
        padding: 0;
        position: absolute;
        z-index: 1;
    }
    .navigation .level0 .submenu>ul {
        margin-top: 11px
    }
    .navigation .level0 .submenu>ul:before,
    .navigation .level0 .submenu>ul:after {
        content: '';
        display: block;
        overflow: hidden;
        position: absolute
    }
    .navigation .level0 .submenu>ul:before {
        color: #fff;
        left: 20px;
        top: -20px;
        border: 10px solid transparent;
        height: 0;
        width: 0;
        border-bottom-color: #fff;
        z-index: 4
    }
    .navigation .level0 .submenu>ul:after {
        border: 11px solid transparent;
        height: 0;
        width: 0;
        border-bottom-color: #ccc;
        color: #ccc;
        left: 19px;
        top: -22px;
        z-index: 3
    }
    .navigation .level0 .submenu a {
        display: block;
        line-height: inherit;
        color: #575757;
        padding: 8px 20px
    }
    .navigation .level0 .submenu a:hover,
    .navigation .level0 .submenu a.ui-state-focus {
        background: #e8e8e8;
        color: #333;
        text-decoration: none
    }
    .navigation .level0 .submenu .active>a {
        border-color: #ff5501;
        border-style: solid;
        border-width: 0 0 0 3px;
        color: #333
    }
    .navigation .level0 .submenu .submenu {
        top: 0 !important;
        left: 100% !important
    }
    .navigation .level0 .submenu .submenu-reverse {
        left: auto !important;
        right: 100%
    }
    .navigation .level0.more {
        position: relative;
        display: inline-block;
        text-decoration: none
    }
    .navigation .level0.more:after {
        -webkit-font-smoothing: antialiased;
        font-size: 26px;
        line-height: inherit;
        color: inherit;
        content: '\e607';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        text-align: center
    }
    .navigation .level0.more:before {
        display: none
    }
    .navigation .level0.more:after {
        cursor: pointer;
        padding: 8px 12px;
        position: relative;
        z-index: 1
    }
    .navigation .level0.more:hover>.submenu {
        overflow: visible !important
    }
    .navigation .level0.more li {
        display: block
    }
    .ves-megamenu .navigation .level0 .submenu a.ves-hover {
        padding: 0
    }
    .scroll-to-fixed-fixed .level0>a .cat-label {
        display: none
    }
    .scroll-to-fixed-fixed.nav-sections-items {
        background: #f0f0f0
    }
    .nav-sections-item-content .ves-megamenu {
        display: block;
        margin-bottom: 0;
        padding: 0
    }
    .ves-megamenu .block-search {
        padding-left: 0
    }
    .ves-megamenu.top-navigation>.navigation {
        padding: 0 20px;
        border: 0
    }
    .ves-megamenu.has-title>.navigation {
        border-top: none
    }
    .ves-megamenu.ves-horizontal>.navigation {
        border: 0
    }
    .ves-megamenu.ves-offcanvas .level0 .submenu .nav-item>a,
    .ves-megamenu.ves-dhorizontal .level0 .submenu .nav-item>a {
        line-height: 36px
    }
    .ves-megamenu.ves-offcanvas .level0 .submenu .nav-item>a .ves-caret,
    .ves-megamenu.ves-dhorizontal .level0 .submenu .nav-item>a .ves-caret {
        line-height: inherit
    }
    .ves-megamenu .navigation {
        background: transparent;
        font-weight: 700;
        height: inherit;
        left: auto;
        overflow: inherit;
        padding: 0;
        position: static;
        top: 0;
        width: 100%;
        margin-bottom: 0
    }
    .ves-megamenu .navigation>ul {
        padding: 0
    }
    .ves-megamenu .navigation .level0 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        margin: 0 5px 0 0;
        position: relative
    }
    .ves-megamenu .navigation .level0>a {
        font-size: 16px;
        text-transform: uppercase;
        display: block;
        padding: 0 15px;
        font-weight: 600
    }
    .ves-megamenu .navigation .level0>a .cat-label {
        position: absolute;
        top: -10px;
        right: 0;
        padding: 0 6px;
        font-size: 14px;
        line-height: 22px
    }
    .ves-megamenu .navigation .level0>a>span {
        position: relative;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .ves-megamenu .navigation .level0>a>span.drill-opener,
    .ves-megamenu .navigation .level0>a>span.opener {
        display: none
    }
    .ves-megamenu .navigation .level0.current>a {
        background-color: #5bd2ec;
        color: #FFF
    }
    .ves-megamenu .navigation .level0 .submenu {
        font-size: inherit
    }
    .ves-megamenu .navigation .level0 .submenu .mega-col>.nav-item>a {
        border-left: 3px solid transparent
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-items a:hover {
        background: none
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-items .nav-item a {
        line-height: 45px
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-items .dynamic-active a {
        border-bottom-color: #ddd;
        border-right-color: transparent
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-items .dynamic-active a>.ves-caret {
        visibility: hidden
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-top .dynamic-items .dynamic-active>a,
    .ves-megamenu .navigation .level0 .submenu .dynamic-top .dynamic-items .current.dynamic-active>a {
        background: #5bd2ec;
        border: 1px solid #ddd;
        color: #FFF;
        border-color: #5bd2ec
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-top .dynamic-items .dynamic-active>a>.ves-caret,
    .ves-megamenu .navigation .level0 .submenu .dynamic-top .dynamic-items .current.dynamic-active>a>.ves-caret {
        visibility: visible
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-right .dynamic-items {
        float: right
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-right .dynamic-items>ul>li>a {
        border-left: 1px solid #ddd;
        border-right-color: #DDD
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-right .dynamic-items>ul>li>a>.ves-caret {
        float: left;
        margin-right: 0
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-right .dynamic-items>ul>li.dynamic-active>a {
        border-right-color: #DDD;
        border-left-color: transparent
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner:after,
    .ves-megamenu .navigation .level0 .submenu .submenu-inner:before {
        display: table;
        line-height: 0;
        content: "";
        clear: both
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .content-wrapper {
        float: left;
        width: 100%
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-header {
        border-bottom: 1px solid #e6e6e6;
        float: left;
        margin-bottom: 20px;
        padding-bottom: 12px;
        width: 100%
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-header a:hover {
        background: #5bd2ec;
        color: #FFF
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-footer {
        float: left;
        margin-top: 20px;
        width: 100%
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-footer a:hover {
        background: #5bd2ec;
        color: #FFF
    }
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-header .links li,
    .ves-megamenu .navigation .level0 .submenu .submenu-inner .item-footer .links li {
        padding: 0 5px;
        margin-bottom: 0;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .ves-megamenu .navigation .level0 .submenu .feature-box-v3 a {
        padding: 0;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget {
        position: relative;
        margin-bottom: 0
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-nav {
        top: -60px;
        right: 0;
        position: absolute
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-nav a {
        background: #f5f5f5;
        padding: 5px 10px;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-nav a:hover {
        background-color: #000000;
        color: #ffffff
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .block-title {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 10px
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .block-title strong {
        font-weight: 500
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item {
        width: 100%
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item a {
        padding: 0;
        border: 0
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item a:hover {
        background: transparent
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item a.action {
        color: #999;
        display: inline-block;
        *display: inline;
        zoom: 1
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .product-image img {
        width: auto;
        float: none;
        display: inline-block
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .product-item-actions {
        margin-top: 0;
        position: relative;
        z-index: 99
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item img.owl-lazy {
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .product-item-details {
        text-align: center
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .product-item-details .price-box {
        color: #1979c3
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .product-item-photo {
        text-align: center
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .product-item .icon {
        position: absolute;
        z-index: 99
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-carousel.product-items {
        padding: 0
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-carousel.product-items .product-item {
        margin-bottom: 0
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-carousel.product-items .product-item .product-item-info {
        border: 1px solid transparent;
        padding: 10px
    }
    .ves-megamenu .navigation .level0 .submenu .megamenu-widget .owl-carousel.product-items .product-item .product-item-info:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: 0;
        border-color: #bbbbbb
    }
    .ves-megamenu .navigation .level0 .submenu .nav-item.current>a {
        border-color: #ff5501
    }
    .ves-megamenu .navigation .level0 .submenu .dynamic-items ul>.nav-item.current>a {
        border-color: transparent;
        border-bottom-color: #ddd
    }
    .ves-megamenu .navigation .level0.submenu-left,
    .ves-megamenu .navigation .level0.submenu-right {
        position: static
    }
    .ves-megamenu .navigation .level0 .ves-column1>.item-content1>.mega-col {
        width: 100%
    }
    .ves-megamenu .navigation .level0 .ves-column1>.item-content1>.mega-col>.nav-item {
        width: 100%
    }
    .ves-megamenu .navigation .level0 .ves-column2>.item-content1>.mega-col {
        width: 50%
    }
    .ves-megamenu .navigation .level0 .ves-column3>.item-content1>.mega-col {
        width: 33.3333%
    }
    .ves-megamenu .navigation .level0 .ves-column4>.item-content1>.mega-col {
        width: 25%
    }
    .ves-megamenu .navigation .level0 .ves-column5>.item-content1>.mega-col {
        width: 20%
    }
    .ves-megamenu .navigation .level0 .ves-column6>.item-content1>.mega-col {
        width: 16.6666%
    }
    .ves-megamenu .navigation .level0 .ves-column7>.item-content1>.mega-col {
        width: 14.2857%
    }
    .ves-megamenu .navigation .level0 .ves-column8>.item-content1>.mega-col {
        width: 12.5%
    }
    .ves-megamenu .navigation .level0 .ves-column9>.item-content1>.mega-col {
        width: 11.1111%
    }
    .ves-megamenu .navigation .level0 .ves-column10>.item-content1>.mega-col {
        width: 10%
    }
    .ves-megamenu .navigation .level0 .ves-column11>.item-content1>.mega-col {
        width: 9.0909%
    }
    .ves-megamenu .navigation .level0 .ves-column12>.item-content1>.mega-col {
        width: 8.3333%
    }
    .ves-megamenu .navigation .nav-item {
        -webkit-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v1 {
        background-color: #ff7214
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v1:before {
        border-top-color: #ff7214
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v2 {
        background-color: #b32e78
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v2:before {
        border-top-color: #b32e78
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v3 {
        background-color: #8bc556
    }
    .ves-megamenu .navigation .nav-item.current>a>span .cat-label-v3:before {
        border-top-color: #8bc556
    }
    .ves-megamenu .navigation .nav-item.current>.submenu {
        display: block
    }
    .ves-megamenu .navigation .nav-item>.submenu .item-content,
    .ves-megamenu .navigation .nav-item>.submenu .item-sidebar {
        float: left
    }
    .ves-megamenu .navigation .nav-item>.submenu .item-content p>a,
    .ves-megamenu .navigation .nav-item>.submenu .item-sidebar p>a {
        padding: 0
    }
    .ves-megamenu .navigation .nav-item.subgroup>.submenu {
        display: block;
        position: static;
        margin-bottom: 10px !important;
        border: 0;
        min-width: auto;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .ves-megamenu .navigation .nav-item.subhover>.submenu {
        border: 0;
        z-index: 99;
        border-radius: 0;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15)
    }
    .ves-megamenu .navigation .nav-item.subhover>.submenu>.submenu-inner {
        padding: 23px
    }
    .ves-megamenu .navigation .nav-item.submenu-right>.submenu {
        right: 0 !important;
        left: auto !important
    }
    .ves-megamenu .navigation .nav-item.submenu-right>a>.ves-caret {
        float: left;
        margin-left: -15px
    }
    .ves-megamenu .navigation .nav-item .dynamic-items>ul>li {
        float: left;
        width: 100%;
        margin-bottom: 0
    }
    .ves-megamenu .navigation .nav-item .dynamic-items>ul>li:first-child>a {
        border-top: 1px solid #ddd
    }
    .ves-megamenu .navigation .nav-item .dynamic-items>ul>li>a {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        text-indent: 10px;
        float: left;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 45px
    }
    .ves-megamenu .navigation .nav-item .dynamic-items>ul>li>a .ves-caret {
        margin: 0;
        margin-right: 15px
    }
    .ves-megamenu .navigation .nav-item .dynamic-content {
        width: 80%;
        padding-right: 0
    }
    .ves-megamenu .navigation .nav-item .dynamic-content>.nav-item {
        display: none
    }
    .ves-megamenu .navigation .nav-item .dynamic-content>.nav-item.dynamic-active {
        display: block
    }
    .ves-megamenu .navigation .nav-item .dynamic-top>.dynamic-items {
        width: 100%;
        float: left;
        margin-bottom: 20px
    }
    .ves-megamenu .navigation .nav-item .dynamic-top>.dynamic-items>ul>li {
        width: auto;
        margin-right: 10px
    }
    .ves-megamenu .navigation .nav-item .dynamic-top>.dynamic-items>ul>li>a {
        border: 1px solid #ddd
    }
    .ves-megamenu .navigation .nav-item .dynamic-top>.dynamic-content {
        width: 100%;
        float: left
    }
    .ves-megamenu .navigation .level1>a {
        font-size: 15px
    }
    .ves-megamenu .navigation .level1 .cat-label:before {
        display: none
    }
    .ves-megamenu .navigation .level1 .submenu {
        z-index: 99
    }
    .ves-megamenu .navigation .level1 .ves-caret {
        float: right
    }
    .ves-megamenu .navigation .level1 .submenu-right>a>.ves-caret {
        float: left;
        margin-left: -15px
    }
    .ves-megamenu .navigation .level1 .submenu-right>.submenu {
        right: 100% !important
    }
    .ves-megamenu a {
        color: #333;
        text-decoration: none;
        -webkit-transition: 300ms ease-in-out;
        -o-transition: 300ms ease-in-out;
        transition: 300ms ease-in-out
    }
    .ves-megamenu a:hover {
        text-decoration: none
    }
    .ves-megamenu img:hover {
        -webkit-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04);
        -webkit-transition: all .5s ease 0s;
        -o-transition: all .5s ease 0s;
        transition: all .5s ease 0s
    }
    .ves-megamenu.ves-vertical li.level0 {
        width: 100%;
        margin: 0;
        float: none !important;
        position: static !important
    }
    .ves-megamenu.ves-vertical .navigation .nav-item>a {
        position: relative
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0>a {
        padding-left: 25px
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0>a>.ves-caret {
        position: absolute;
        left: 10px;
        right: auto;
        line-height: 50px
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0.submenu-left.subhover>.submenu {
        right: 100%;
        left: auto !important;
        top: 0
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0>.submenu {
        top: 0;
        left: auto !important;
        right: 100%
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0 .nav-item.submenu-left>a>.ves-caret {
        left: 10px;
        right: auto
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0 .nav-item.submenu-right>a>.ves-caret {
        right: 10px;
        left: auto
    }
    .ves-megamenu.ves-dvertical-right .navigation .level0 .nav-item.submenu-right.subhover>.submenu {
        left: -100% !important;
        right: 100% !important
    }
    .ves-megamenu.ves-dvertical-left .navigation .nav-item.level0>a>.ves-caret {
        float: right;
        line-height: inherit
    }
    .ves-megamenu.ves-dvertical-left .navigation .nav-item.level0.subhover>.submenu {
        right: 0;
        left: 100% !important;
        top: 0
    }
    .ves-megamenu.ves-daccordion .navigation {
        overflow: hidden
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item {
        float: left;
        width: 100%
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item.current>.submenu {
        display: none
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item a {
        position: relative
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item .submenu {
        width: 100% !important;
        position: static;
        overflow: hidden !important
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item .submenu>.submenu-inner {
        padding: 0
    }
    .ves-megamenu.ves-daccordion .navigation .nav-item.subhover>.submenu {
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .ves-megamenu.ves-daccordion .navigation li.level0 {
        width: 100%;
        margin: 0
    }
    .ves-megamenu.ves-daccordion .navigation li.level0 .ves-caret {
        position: absolute;
        top: 0;
        right: 0;
        margin-left: 0;
        margin-top: 0;
        text-align: center
    }
    .ves-megamenu.ves-daccordion .navigation li.level0 .ves-caret.item-active {
        background-color: rgba(0, 0, 0, 0.05)
    }
    .ves-ddrill {
        position: relative;
        float: left;
        width: 100%;
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        max-width: 100% !important
    }
    .ves-ddrill .navigation {
        background-color: #FFF
    }
    .ves-ddrill .navigation.loaded>.dropdown-menu {
        width: 100% !important
    }
    .ves-ddrill .navigation .subhover>.submenu {
        display: none
    }
    .ves-ddrill .navigation>.dropdown-menu {
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .ves-ddrill .navigation .ves-caret {
        display: none
    }
    .ves-ddrill .navigation .cat-label {
        position: static;
        margin: 0;
        padding: 4px 6px
    }
    .ves-ddrill .navigation .nav-item {
        position: relative !important;
        float: left !important;
        width: 100%
    }
    .ves-ddrill .navigation .nav-item>a {
        line-height: 50px;
        position: static;
        padding: 0 15px
    }
    .ves-ddrill .navigation .nav-item>a span.drill-opener {
        border: 1px solid #e5e5e5;
        border-right: 0;
        display: none
    }
    .ves-ddrill .navigation .mega-col {
        padding: 0
    }
    .ves-ddrill .navigation .level0 {
        border-top-color: #e5e5e5
    }
    .ves-ddrill .navigation .opener {
        display: none
    }
    .ves-ddrill .navigation .drill-opener {
        background: #f0f0f0;
        position: absolute
    }
    .ves-ddrill .navigation .drill-opener:before {
        content: "\e608"
    }
    .ves-ddrill .navigation .drilldown-back {
        position: relative;
        top: 0;
        left: -1px;
        display: none
    }
    .ves-ddrill .navigation .drilldown-back a {
        padding: 0;
        background: #f0f0f0;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
        display: block;
        font-weight: normal;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: -1px
    }
    .ves-ddrill .navigation .drilldown-back a .drill-opener {
        position: absolute;
        left: 0;
        right: auto;
        display: block
    }
    .ves-ddrill .navigation .drilldown-back a .drill-opener:before {
        content: "\e617"
    }
    .ves-ddrill .navigation .drilldown-back a .drill-opener:after {
        display: none
    }
    .ves-ddrill .navigation .drilldown-back a .current-cat {
        line-height: 50px;
        position: relative;
        z-index: 99
    }
    .ves-ddrill .navigation .drilldown-back a .current-cat:before {
        display: none
    }
    .ves-ddrill .drill-opener {
        display: block
    }
    .ves-ddrill .navigation .nav-item>a span.drill-opener {
        display: block;
        position: absolute;
        top: 0;
        right: 0
    }
    .ves-ddrill .navigation .drilldown-back {
        display: block
    }
    .ves-ddrill .navigation .drilldown-back>a>.drill-opener {
        line-height: 50px;
        width: 50px
    }
    .ves-daccordion .navigation .ves-caret {
        display: block;
        line-height: inherit;
        width: 50px
    }
    .ves-daccordion .navigation .level0 .submenu {
        overflow: hidden
    }
    .ves-megamenu .navigation .level0.vertical-item .level1>.item-content1>.mega-col>.nav-item {
        position: static !important
    }
    .ves-megamenu .navigation .level0.vertical-item {
        position: relative;
        z-index: 99
    }
    .ves-megamenu .navigation .level0.vertical-item>.submenu {
        display: block !important;
        padding: 0;
        -webkit-box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.2)
    }
    .ves-megamenu .navigation .level0.vertical-item>.submenu>.submenu-inner {
        padding: 0
    }
    .ves-megamenu .navigation .level0.vertical-item>a {
        padding: 0 22px;
        margin: 0;
        background: #ff5501
    }
    .ves-megamenu .navigation .level0.vertical-item>a:before {
        font-family: "FontAwesome";
        font-weight: normal;
        content: "\f0c9";
        margin-right: 8%;
        font-size: 16px
    }
    .ves-megamenu .navigation .level0.vertical-item>a>.ves-caret {
        right: 10px;
        position: absolute;
        line-height: 50px
    }
    .ves-megamenu .header-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.53);
        z-index: 30;
        display: none
    }
    .ves-megamenu.megamenu-ultimo.ves-offcanvas .level0 .submenu .nav-item>a,
    .ves-megamenu.megamenu-ultimo.ves-dhorizontal .level0 .submenu .nav-item>a {
        line-height: 22px
    }
    .ves-megamenu.megamenu-ultimo.ves-offcanvas .level0 .submenu .nav-item>a .ves-caret,
    .ves-megamenu.megamenu-ultimo.ves-dhorizontal .level0 .submenu .nav-item>a .ves-caret {
        line-height: inherit
    }
    .ves-megamenu.megamenu-ultimo .navigation>ul {
        border-bottom: 5px solid #333
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .mega-col>.nav-item>a {
        border-left: 0
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .nav-item.current>a {
        border-left: 0
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu a {
        border-left: 0
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu a:hover {
        background: none;
        color: #5bd2ec
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .submenu-inner .item-header .links>li {
        padding: 0
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .submenu-inner .item-header a,
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .submenu-inner .item-footer a {
        padding-left: 10px;
        padding-right: 10px
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .submenu-inner .item-header a:hover,
    .ves-megamenu.megamenu-ultimo .navigation .level0 .submenu .submenu-inner .item-footer a:hover {
        background: #de2666
    }
    .ves-megamenu.megamenu-ultimo .navigation .level0 .ves-caret {
        opacity: 0.3
    }
    .ves-megamenu.megamenu-ultimo .navigation .level1 .nav-item {
        padding-bottom: 5px
    }
    .ves-megamenu.megamenu-porto .navigation .nav-item.subhover>.submenu>.submenu-inner {
        padding: 8px
    }
    .ves-megamenu.megamenu-porto .navigation .nav-item .level1 .mega-col>.nav-item>a {
        padding: 3px 5px
    }
    .ves-megamenu.food-menu .navigation {
        text-align: center
    }
    .ves-megamenu.food-menu .navigation .level0 {
        float: none
    }
    .ves-megamenu.food-menu .navigation .level0:hover>a {
        background: #FFF;
        color: #5bd2ec
    }
    .ves-megamenu.food-menu .navigation .level0>a {
        text-align: center;
        float: left;
        padding: 0
    }
    .ves-megamenu.food-menu .navigation .level0>a>span {
        float: left;
        width: 100%
    }
    .ves-megamenu.food-menu .navigation .level1 {
        text-align: left
    }
    .ves-megamenu.food-menu .navigation .level1 .icon-left {
        margin-right: 10px;
        float: left
    }
    .ves-megamenu.food-menu .navigation .level1 .nav-item {
        float: left;
        margin-bottom: 10px;
        width: 100%
    }
    .ves-megamenu.food-menu .navigation .level1 .nav-item a {
        float: left;
        padding: 0 10px;
        width: 100%
    }
    .ves-megamenu.food-menu .navigation .level1 .nav-item a>span {
        float: left
    }

    .navigation ul {
        padding: 0 8px
    }
   
}