.admin__field-label[for="category_ids"]{
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left!important;
    width: auto!important;
    padding: 7px 0 10px!important;
}
.mage-suggest.category-select{
    border: none;
    border-top: 1px solid #cac3b4;
    border-radius: 0;
    padding-top: 18px;
}
.mage-suggest-choices{
    list-style: none;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 8px;
}
.category_ids-suggest:focus{
    border-color: #007bdb;
}
.admin__scope-old .mage-suggest:after{
    display: none;
}
input#category_ids-suggest{
    width: 100%;
    padding: 4px 10px;
}
.mage-suggest-dropdown{
    width: 60%;
    margin-left: 20%!important;
}
.mage-suggest-choice.button{
    padding: 4px 0px;
}
span.mage-suggest-choice-close {
    position: relative;
    float: right;
    margin-right: 15px;
    margin-top: -10px;
    cursor: pointer;
}
span.mage-suggest-choice-close:after {
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    background: black;
    transform: rotate(-45deg);
}
span.mage-suggest-choice-close:before {
    content: "";
    width: 15px;
    height: 3px;
    position: absolute;
    border-radius: 5px;
    display: inline-block;
    background: black;
    transform: rotate(45deg);
}