<fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
    <div class="field number required">
        <label data-bind="attr: {for: getCode() + '_cc_number'}" class="label">
            <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span>
        </label>
        <div class="control">
            <input type="number" id="tns_hpf_cc_number" class="input-text" value="" readonly="readonly" />
        </div>
    </div>
    <div class="field date required" data-bind="attr: {id: getCode() + '_cc_type_exp_div'}">
        <label data-bind="attr: {for: getCode() + '_expiration'}" class="label">
            <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="fields group group-2">
                <div class="field no-label month">
                    <div class="control">
                        <select class="select select-month"
                                data-bind="attr: {id: getCode() + '_expiration', 'data-container': getCode() + '-cc-month', 'data-validate': ''},
                                    enable: isActive($parents),
                                    options: getCcMonthsValues(),
                                    optionsValue: 'value',
                                    optionsText: 'month',
                                    optionsCaption: $t('Month'),
                                    value: creditCardExpMonth">
                        </select>
                    </div>
                </div>
                <div class="field no-label year">
                    <div class="control">
                        <select class="select select-year"
                                data-bind="attr: {id: getCode() + '_expiration_yr', 'data-container': getCode() + '-cc-year', 'data-validate': ''},
                                    enable: isActive($parents),
                                    options: getCcYearsValues(),
                                    optionsValue: 'value',
                                    optionsText: 'year',
                                    optionsCaption: $t('Year'),
                                    value: creditCardExpYear">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field cvv required" data-bind="attr: {id: getCode() + '_cc_type_cvv_div'}, visible: hasVerification()">
        <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
            <span><!-- ko i18n: 'Security code'--><!-- /ko --></span>
        </label>
        <div class="control _with-tooltip">
            <input type="number" id="tns_hpf_cc_cid" class="input-text" value="" readonly="readonly" />

            <div class="field-tooltip toggle">
                <span class="field-tooltip-action action-cvv"
                      tabindex="0"
                      data-toggle="dropdown"
                      data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                    <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                </span>
                <div class="field-tooltip-content"
                     data-target="dropdown"
                     data-bind="html: getCvvImageHtml()"></div>
            </div>
        </div>
    </div>
</fieldset>
