<?php
/** @var $block \Magenest\Redeem\Block\Redeem\Index */
$allRedeemCollection = $block->getRedemptionLog();
$redeemedCollection = $block->getRedeemedLog();
$failedCollection = $block->getFailedLog();

$verificationLogCl = $block->getVerificationLog();
$foundVerificationLogCl = $block->getFoundVerificationLog();
$notFoundVerificationLogCl = $block->getNotFoundVerificationLog();
?>
<script>
        window.ORIG_BASE_URL = '<?php echo $block->getBaseUrl(); ?>';
</script>
<div class="redeem-title"><span><?php echo __('Redeem') ?></span></div>
<div data-bind="scope: 'redeemDiv'">
    <!-- ko template: getTemplate() --><!-- /ko -->
    <div id="redeem-message-container" class="messages" style="display: none;" data-bind="visible: error().length > 0">
        <div class="redeem-message message message-error error">
            <div class="messages-message-error">
                <p data-bind="text: error"></p>
            </div>
        </div>
    </div>
    <!-- ko foreach: getRegion('tabs') -->
    <!-- ko if: $parent.currentTab() === sortOrder -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: currentTab() === 0  -->
    <div data-bind="scope: 'redemptionLog'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: currentTab() === 1 -->
    <div data-bind="scope: 'verificationLog'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "redeemDiv": {
                    "component": "Magenest_Redeem/js/view/vendor/redeem",
                    "children": {
                        "single": {
                            "component": "Magenest_Redeem/js/view/vendor/tabs/single",
                            "sortOrder": 0,
                            "displayArea": "tabs",
                            "config": {
                            }
                        },
                        "verify": {
                            "component": "Magenest_Redeem/js/view/vendor/tabs/verify",
                            "sortOrder": 1,
                            "displayArea": "tabs",
                            "config": {
                            }
                        }
                    },
                    "currentTab": <?php echo $block->getRedeemTab();?>
                },
                "redemptionLog": {
                    "component": "Magenest_Redeem/js/view/vendor/redemption",
                    "config": {
                        "logs": <?php echo json_encode($allRedeemCollection->getData()); ?> ,
                        "redeemedLogs": <?php echo json_encode($redeemedCollection->getData());?> ,
                        "failedLogs": <?php echo json_encode($failedCollection->getData()); ?> ,
                        "requestedTab": "<?php echo $block->getSelectedTab();?>",
                        "totalAll": "<?php echo $allRedeemCollection->getSize();?>",
                        "totalRedeemed": "<?php echo $redeemedCollection->getSize();?>",
                        "totalFailed": "<?php echo $failedCollection->getSize();?>",
                        "requestedPage": "<?php echo $block->getRequestedPage();?>",
                        "limit": "20"
                    }
                },
                "verificationLog": {
                    "component": "Magenest_Redeem/js/view/vendor/verification",
                    "config": {
                        "logs": <?php echo json_encode($verificationLogCl->getData()); ?> ,
                        "foundLogs": <?php echo json_encode($foundVerificationLogCl->getData()); ?> ,
                        "notFoundlogs": <?php echo json_encode($notFoundVerificationLogCl->getData()); ?>,
                        "requestedTab": "<?php echo $block->getVerificationTab();?>",
                        "totalAll": "<?php echo $verificationLogCl->getSize();?>",
                        "totalFound": "<?php echo $foundVerificationLogCl->getSize();?>",
                        "totalNotFound": "<?php echo $notFoundVerificationLogCl->getSize();?>",
                        "requestedPage": "<?php echo $block->getVerifyPage();?>",
                        "limit": "20"
                    }
                }
            }
        }
    }
}



</script>
