.general_business_title {
    padding: 15px 23px;
    border: 1px solid #e4e5e8;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
}
.general_business_title h4{
    /*font-size: 26px;*/
    /*color: #1F2135;*/
    /*font-family: Montserrat;*/
    /*font-weight: 500;
    margin-bottom: 22px;*/
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #0096C3;
    font-family: Gotham;
    font-weight: 400;
    text-decoration: underline;
}
.general_business_content{
    border: 1px solid #e4e5e8;
    border-radius: 0 0 4px 4px;
}
.general_business_box{
    position: relative;
    padding: 30px 23px 56px;
    border-top: 1px solid #e4e5e8;
}
.general_business_box:nth-of-type(1){
    border-top: none;
}
.general_business_box input[type="checkbox"].vendor-checkbox + label.vendor-forCheckbox{
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}
.general_business_box input[type="checkbox"].vendor-checkbox + label.vendor-forCheckbox + label{
    display: inline-block;
    max-width: calc(100% - 34px);
}
h4.general-business-head{
    font-size: 26px;
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    margin-bottom: 32px;
}
.general-business-action{
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
    font-family: Gotham;
    color: #465A6F;
    font-weight: 400;
    padding: 4px 40px;
    height: 40px;
    line-height: 32px;
    display: inline-block;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    position: relative;
    top: -4px;
    margin-left: 32px;
}
.general_business_box.show-form .general-business-action{
    font-size: 0;
}
.general_business_box.show-form .general-business-action:before{
    content: "Close";
    font-size: 14px;
}
.general_business_box .general_business_text{
    display: block;
}
.general_business_box .general_business_form{
    display: none;
}
.general_business_box.show-form .general_business_text{
    display: none;
}
.general_business_box.show-form .general_business_form{
    display: block;
}
.general_business .fieldset{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 65%;
    min-width: auto;
}
.general_business .fieldset > .field{
    margin-bottom: 43px;
    clear: both;
}
.general_business .fieldset > .field.input_left{
    width: calc(50% - 4px);
    float: left;
}
.general_business .fieldset > .field.input_right{
    width: calc(50% - 4px);
    float: right;
    clear: none;
}
.general_business .fieldset > .field > .label{
    font-weight: 400;
    margin-bottom: 13px;
}

.general_business_content .general_business.general_business_form.general_form .fieldset > .field > label ~ .control:after {
    content: "";
    display: block;
    clear: both;
}

.general_business .fieldset > .field > .text{
    min-height: 48px;
    line-height: 45px;
    padding: 2px 9px 0;
    border-bottom: 1px solid #e4e5e8;
}
.general_business .fieldset > .field input[type="text"],
.general_business .fieldset > .field input[type="password"],
.general_business .fieldset > .field input[type="url"],
.general_business .fieldset > .field input[type="tel"],
.general_business .fieldset > .field input[type="search"],
.general_business .fieldset > .field input[type="number"],
.general_business .fieldset > .field input[type="datetime"],
.general_business .fieldset > .field input[type="email"],
.general_business .fieldset > .field select,
.general_business .fieldset > .field textarea{
    width: 100%;
}
.general_business .defaultSkin table.mceLayout{
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    overflow: hidden;
}
.general_business .defaultSkin table.mceLayout tr.mceFirst td{
    border-top: none;
}
.general_business .defaultSkin table.mceLayout tr.mceLast td{
    border-bottom: none;
}
.general_business .defaultSkin .mceIframeContainer{
    border-bottom: 1px solid #e4e5e8;
}
.general_business button,
.general_business button:not(.primary),
.general_business button:hover,
.general_business button:not(.primary):active{
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    font-family: Gotham;
    min-width: 120px;
    margin-right: 12px;
}
.general_business button.button_cancel,
.general_business button.button_cancel:not(.primary),
.general_business button.button_cancel:hover,
.general_business button.button_cancel:not(.primary):active {
    border: 1px solid #e4e5e8;
    background: none;
    color: #465A6F;
    box-shadow: none;
}
.general_business.location fieldset.fieldset_business,
.general_business.delivery_area fieldset.fieldset_business{
    margin: 0 -8px;
}
.general_business.location fieldset.fieldset_business:after,
.general_business.delivery_area fieldset.fieldset_business:after{
    content: "";
    display: block;
    clear: both;
}
.general_business .location_information {
    width: 273px;
    height: 273px;
    float: left;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    margin: 8px;
    overflow: hidden;
}
.general_business .location_information.ui-draggable:hover,
.general_business .location_information.ui-draggable-dragging{
    z-index: 3;
    background: #22DDC3;
    border-color: #22DDC3;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
}
.general_business .location_information-container{
    position: relative;
    width: 271px;
    height: 271px;
    padding: 23px 23px 85px;
    overflow: hidden;
}
.general_business .location_information .general_information{
    line-height: 1.3;
}
.general_business .location_information .general_information strong{
    display: block;
    margin: 4px 0 16px;
    height: 40px;
    overflow: hidden;
}
.general_business .location_information .general_information p{
    max-height: 80px;
    overflow: hidden;
}
.general_business.location .location_information a .location_button,
.general_business.delivery_area .location_information .location_button .span_delivery_button{
    position: absolute;
    bottom: 33px;
    display: block;
    height: 40px;
    width: calc(100% - 46px);
    text-align: center;
    color: #465A6F;
    background: #fff;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    line-height: 38px;
    padding: 0 8px;
}
.general_business .dragdrop-location,
.general_business .dragdrop-delivery_area {
    cursor: move;
}
.general_business .dragdrop-location.ui-state-active,
.general_business .dragdrop-delivery_area.ui-state-active{
    background-color: #FAFAFA;
    border: 1px dashed #B0B9C2;
}
.location_information.add-location .location_information-container,
.location_information.add-delivery_area .location_information-container{
    background: #FAFAFA;
}
.location_information.add-location a,
.location_information.add-delivery_area .add_new_location{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.general_business.location .location_information.add-location a .add_new_location,
.general_business.delivery_area .location_information.add-delivery_area .add_new_location .span_delivery_button{
    position: absolute;
    bottom: 33px;
    display: block;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    line-height: 38px;
    padding: 0 8px;
    background: #22DDC3;
    color: #fff;
    width: 160px;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    border: none;
}
.location_information.add-location a svg,
.location_information.add-delivery_area .add_new_location svg{
    fill: #E4E5E8;
    width: 130px;
    display: block;
    margin: 34px auto;
}
.general_business.images .business-images{
    margin: -8px -8px 24px;
}
.general_business.images .img-wrap {
    width: 123px;
    height: 123px;
    display: inline-block;
    border: 1px solid #e4e5e8;
    margin: 8px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.general_business.images .img-wrap span.close{
    position: absolute;
    top: 4px;
    right: 6px;
    display: none;
    cursor: pointer;
}
.general_business.images .img-wrap:hover span.close{
    display: block;
}
.general_business.images .img-wrap span.close:before{
    content: '\e604';
    font-family: 'luma-icons';
    color: #e4e5e8;
}
.general_business.images .img-wrap span.close:hover:before{
    color: #465A6F;
}
.general_business.images .img-wrap img{
    object-fit: contain;
    -o-object-fit: contain;
    width: 100%;
    height: 100%;
}
.general_business.images .button-add-photo{
    background-color: #22DDC3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    font-size: 18px;
    font-weight: 400;
    font-family: Gotham;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-right: 12px;
    text-align: center;
    padding: 0 24px;
}
.general_business.images .button-add-photo svg{
    fill: #fff;
    width: 15px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}


/* Add/Edit location Page */
.general_business_title fieldset.fieldset_business {
    display: inline-block;
    float: none;
}
.general_business_title .icon_next {
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}
.general_business_title .icon_next::after{
    content: "\f105";
    font-family: FontAwesome;
    /* font-size: 24px;
     color: black;*/
    color: #465A6F;
    font-size: 16px;
}
.fieldset.location_details{
    padding: 30px 23px 56px;
    border: 1px solid #e4e5e8;
    border-bottom: none;
    background: none;
    margin: 0;
}
.fieldset.location_details.location_form .fieldcatalog_pricing{
    max-width: 600px;
    width: 65%;
    min-width: auto;
}
form.form_manage_location fieldset.location_details.fieldset{
    border-bottom: 1px solid #e4e5e8;
    border-radius: 0 0 4px 4px;
}
.fieldset.location_details fieldset.field h4{
    font-size: 26px;
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    margin-bottom: 32px;
}
.fieldset.location_details fieldset.field legend{
    display: block;
}
.fieldset.location_details fieldset.field{
    margin-bottom: 0;
}
.fieldset.location_details table th:nth-of-type(1),
.fieldset.location_details table td:nth-of-type(1){
    padding-left: 0;
}
.location_details.location .table_location_details{
    width: 60%;
    display: inline-block;
}
.location_details.location .table_location_details tr{
    width: 100%;
    display: inline-block;
}
.location_details.location .table_location_details tr th.th_details{
    width: calc(40% - 20px);
    display: inline-block;
    font-weight: 600;
}
.location_details.location .table_location_details tr td{
    width: calc(60% - 20px);
    display: inline-block;
}
.location_details.location .maps_location_details {
    float: right;
    width: 40%;
    height: 40%;
}
form.form_manage_location .table_business_hours table{
    width: auto;
}
form.form_manage_location .table_business_hours tr.weekDay_1 th,
form.form_manage_location .table_business_hours tr.weekDay_1 td{
    vertical-align: middle;
    padding: 4px 8px;
    height: 48px;
}
form.form_manage_location .table_business_hours tr.weekDay_2 td{
    padding: 0;
}
form.form_manage_location .table_business_hours tr.weekDay_2 td.td_time{
    vertical-align: middle;
    padding: 4px 8px;
    height: 48px;
}
form.form_manage_location .table_business_hours tr th:nth-of-type(1),
form.form_manage_location .table_business_hours tr td:nth-of-type(1){
    padding-left: 0;
}
form.form_manage_location .table_business_hours tr .th_hours{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    width: 160px;
}
form.form_manage_location .table_business_hours tr .th_hours + td {
    width: 100px;
}
form.form_manage_location .table_business_hours tr .td_time{
    width: 200px;
}
form.form_manage_location .table_business_hours tr .td_time {
    white-space: nowrap;
}
form.form_manage_location .table_business_hours input[type="time"]{
    padding-top: 6px;
    padding-bottom: 8px;
    margin-left: 8px;
    height: 40px;
}
form.form_manage_location .table_business_hours tr .add_hours .btn-addHours{
    background-color: #22DDC3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    font-size: 16px;
    font-weight: 400;
    font-family: Gotham;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0 16px;
    min-width: 138px;
}
form.form_manage_location .table_business_hours tr .add_hours .btn-addHours svg{
    fill: #fff;
    width: 15px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}
form.form_manage_location .table_business_hours tr .remove_row .btn-removeHours{
    height: 40px;
    background: none;
    border: 1px solid #e4e5e8;
    color: #465a6f;
    box-shadow: none;
    min-width: 138px;
}
form.form_manage_location .apply_hour{
    margin-top: 24px;
}
form.form_manage_location .apply_hour input.checkbox-custom + label.for-checkbox-custom{
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}
.fieldset.location_details .file_upload{
    max-width: 600px;
    width: 65%;
    min-width: auto;
}
.fieldset.location_details .file_upload input[type="file"].uploadFile{
    display: block;
    opacity: 0;
    position: absolute;
}
.fieldset.location_details .file_upload input[type="file"].uploadFile + label.for-uploadFile{
    display: inline-block;
    cursor: pointer;
}
.fieldset.location_details .file_upload .input-control-ui{
    margin-top: 16px;
    margin-bottom: 32px;
    position: relative;
}
.fieldset.location_details .file_upload input[type="file"].uploadFile + label.for-uploadFile svg{
    width: 13px;
    fill: #22DDC3;
    position: relative;
    top: 1px;
    margin-right: 8px;
}
.fieldset.location_details .file_upload input[type="file"].uploadFile ~ .control-ui{
    display: inline-block;
    padding-left: 16px;
}
.fieldset.location_details .file_upload input[type="file"].uploadFile ~ .control-ui .control-ui-text{
    color: #B0B9C2;
    font-style: italic;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fieldset.location_details .apply_location input[type="checkbox"].checkbox-custom + label.for-checkbox-custom{
    float: left;
    margin-right: 16px;
    margin-top: 4px;
}
.field.location_maps{
    clear: both;
    padding: 32px 0 0;
}
.location_maps .add_another_file{
    background-color: #22DDC3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    font-size: 18px;
    font-weight: 400;
    font-family: Gotham;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 24px;
    cursor: pointer;
}
.location_maps .add_another_file svg{
    fill: #fff;
    width: 15px;
    position: relative;
    top: 1px;
    margin-right: 4px;
}
form.form_manage_location .actions-toolbar button.action.submit{
    background-color: #22DDC3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    font-size: 18px;
    font-weight: 400;
    font-family: Gotham;
    display: inline-block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    padding: 0 24px;
    cursor: pointer;
    margin: 24px 0;
}
.fieldset.location_details.location_form fieldset > .field{
    margin-bottom: 43px;
    clear: both;
}
.fieldset.location_details.location_form fieldset > .field.input_left{
    width: calc(50% - 4px);
    float: left;
}
.fieldset.location_details.location_form fieldset > .field.input_right{
    width: calc(50% - 4px);
    float: right;
    clear: none;
}
.fieldset.location_details.location_form fieldset > .field > label{
    font-weight: 400;
    display: inline-block;
    margin-bottom: 13px;
}

.fieldset.location_details.location_form fieldset > .field.required > label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
/* END Add/Edit Location Page */

/* POPUP delivery */
.popup_delivery:after{
    content: "";
    display: block;
    clear: both;
}
.popup_delivery .popup-left {
    width: 60%;
    position: relative;
    height: 100%;
    float: left;
}
.popup_delivery .popup-left input#address {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 166px;
    width: 180px;
    height: 29px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}
.popup_delivery .popup-left input#distance {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 110px;
    width: 48px;
    height: 29px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
}
.popup_delivery .popup-left #map{
    width: 100%;
    position: absolute;
    height: 100%;
}
.popup_delivery .textarea.popup-right {
    width: 40%;
    float: right;
    padding: 0 0 0 23px;
}
.popup_delivery .textarea.popup-right label {
    margin: 24px 0 8px;
    display: inline-block;
}
.popup_delivery .textarea.popup-right .location_input label:first-of-type {
    margin-top: 8px;
}
.popup_delivery .textarea.popup-right textarea {
    color: #465A6F;
    font-size: 16px;
    padding: 16px 8px;
    width: 100%;
}
@media (max-width: 992px){
    .popup_delivery{
        height: auto !important;
        float: none;
    }
    .popup_delivery .popup-left{
        width: 100%;
        height: 0;
        padding-bottom: 100%;
        float: none;
    }
    .popup_delivery .textarea.popup-right{
        width: 100%;
        float: none;
        padding: 23px 0 0;
    }
}
/* END POPUP delivery */
.profile-location-edit form.form_manage_location .table_business_hours input[type="time"]{
    width: 140px;
}
.fieldset.location_details .file_upload .control input{
    padding: 10px;
    background: white;
    width: calc(100% - 100px);
}
.fieldset.location_details .file_upload .control input[disabled]{
    border-color: #465e4f;
    cursor: not-allowed;
    width: calc(100% - 100px);
}
.control .control-remove{
    display: block;
    float: right;
    padding: 10px;
    bordeR: 1px solid #465A6F;
    border-radius: 4px;
    height: 48px;
    cursor: pointer;
}
.general_business_form.documents form#document-form fieldset.upload .field .control input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    height: 47px;
    top: 0px;
    width: 53px;
    left: 0px;
    cursor: pointer;
}
form#document-form .control-ui-button {
    background: #22ddc3;
    width: 53px;
    position: relative;
    height: 47px;
    float: left;
}
form#document-form span.control-ui-text {
    color: #22ddc3;
    line-height: 45px;
    margin-left: 67px;
}
form#document-form .control-ui-button:before {
    content: "+";
    position: absolute;
    font-size: 30px;
    top: 2px;
    color: white;
    left: 17px;
}
.general_business_form.documents form#document-form fieldset.upload{
    margin-bottom: 43px;
}
.general_business_form.documents form#document-form fieldset.upload .field .control {
    height: 50px;
    position: relative;
}
form#document-form .control-ui span {
    display: block;
}