<div data-bind="visible: !disabled(), afterRender: afterRender"  class="vendor-location-selection-table">
    <!--  add locations -->
    <table class="custom-table delivery-location">
        <thead style="display: none">
        <tr>
            <th class="checkbox">Use This Location<span class="required"></span></th>
            <th>Address<span class="required" style="color: red">*</span></th>
            <th>Distance (km)<span class="required" style="color: red">*</span></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: locations">
        <tr data-bind="attr: {class : used }">
            <td class="checkbox-button">
                <input type="checkbox"
                       data-bind="disable: $parent.disabled, checked: used, attr: { name:'groupon[delivery_location]['+$index()+'][used]'}">
            </td>
            <td>
                <label class="label-location-new-campaign address">
                    <span>Address</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: address, attr: { name:'groupon[delivery_location]['+$index()+'][address]'}"
                       class=" input-text admin__control-text required-entry _required address">
                </label>
                <label class="label-location-new-campaign distance">
                    <span>Distance</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: distance, attr: { name:'groupon[delivery_location]['+$index()+'][distance]'}"
                       class=" input-text admin__control-text distance">
                </label>
            </td>
            <td hidden>
                <input type="text"
                       data-bind="disable: $parent.disabled, value: delivery_id, attr: { name:'groupon[delivery_location]['+$index()+'][delivery_id]'}">
            </td>
            <td class="remove-button" data-bind="visible: !old"><a href="#"
                                                                   data-bind="disable: $parent.disabled, click: $parent.removeLocation.bind($parent)">Remove</a>
            </td>
        </tr>
        </tbody>
    </table>
    <span data-bind="click: showMore, visible: showShowMore" class="action-show-more">
        show more
    </span>
    <input type="button" data-bind="disable: disabled, click: addOptionLocation" class="add-delivery-location action-add-location"
           value="Add Delivery Location">
</div>