<div data-bind="visible: !disabled(), afterRender: afterRender" class="vendor-location-selection-table">
    <!--  add locations -->
    <table class="custom-table business-address">
        <thead style="display: none">
        <tr>
            <th class="checkbox">Use This Location<span class="required"></span></th>
            <th>Location Name<span class="required" style="color: red">*</span></th>
            <th>Street<span class="required" style="color: red">*</span></th>
            <th>City <span class="required" style="color: red">*</span></th>
            <th>Country <span class="required" style="color: red">*</span></th>
            <th>Business Phone <span class="required" style="color: red">*</span></th>
            <th>State</th>
            <th>ZIP/Postal Code</th>
            <th hidden></th>
        </tr>
        </thead>
        <tbody data-bind="foreach: locations">
        <tr data-bind="attr: {class : used }">
            <td class="checkbox-button">
                <input type="checkbox"
                       class="vendor-checkbox"
                       data-bind="disable: $parent.disabled, checked: used, attr: { name:'groupon[location]['+$index()+'][used]', id:'groupon_location_'+$index()+'_used'}">
                <label class="vendor-forCheckbox" data-bind="attr: { for:'groupon_location_'+$index()+'_used'}"></label>
            </td>
            <td>
                <label class="label-location-new-campaign location-name">
                    <span>Location Name</span>
                    <input type="text"
                           data-bind="disable: $parent.disabled, value: location_name, attr: { name:'groupon[location]['+$index()+'][location_name]'}"
                           class=" input-text admin__control-text required-entry _required location-name" placeholder="Location Name">
                </label>
                <label class="label-location-new-campaign street">
                    <span>Street</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: street, attr: { name:'groupon[location]['+$index()+'][street]'}"
                       class=" input-text admin__control-text required-entry _required street" placeholder="Street">
                </label>
                <label class="label-location-new-campaign city">
                    <span>City</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: city, attr: { name:'groupon[location]['+$index()+'][city]'}"
                       class=" input-text admin__control-text required-entry _required city" placeholder="City">
                </label>
                <label class="label-location-new-campaign country">
                    <span>Country</span>
                    <select data-bind="disable: $parent.disabled, value: country, options: countrylist, optionsText: 'label', optionsValue: 'value' , attr: { name:'groupon[location]['+$index()+'][country]'}"
                        class=" input-text admin__control-text required-entry _required country"></select>
                </label>
                <label class="label-location-new-campaign phone">
                    <span>Phone</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: phone, attr: { name:'groupon[location]['+$index()+'][phone]'}"
                       class=" input-text admin__control-text phone" placeholder="Phone">
                </label>
                <label class="label-location-new-campaign region">
                    <span>Region</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: region, attr: { name:'groupon[location]['+$index()+'][region]'}"
                       class=" input-text admin__control-text region" placeholder="Region">
                </label>
                <label class="label-location-new-campaign postcode">
                    <span>Postcode</span>
                    <input type="text"
                       data-bind="disable: $parent.disabled, value: postcode, attr: { name:'groupon[location]['+$index()+'][postcode]'}"
                       class=" input-text admin__control-text postcode" placeholder="Postcode">
                </label>
                <div hidden>
                    <input type="text"
                           data-bind="disable: $parent.disabled, value: location_id, attr: { name:'groupon[location]['+$index()+'][location_id]'}">
                </div>
            </td>
            <td class="remove-button" data-bind="visible: !old">
                <a href="#" data-bind="disable: $parent.disabled, click: $parent.removeLocation.bind($parent)">
                    Remove
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <span data-bind="click: showMore, visible: showShowMore" class="action-show-more">
        show more
    </span>
    <input type="button" data-bind="disable: disabled, click: addOptionLocation" class="add-business-address action-add-location"
           value="Add new Location">
</div>