div.admin__field.campaign-state label {
    opacity: 1 !important;
    color: rgb(48, 48, 48);
}

div.admin__field.campaign-state input {
    background: #d0e5a9 none repeat scroll 0 0;
    border-color: #5b8116;
    color: #185b00;
    width: 18%;
    font-weight: bold;
    text-align: center;
    cursor: default;
    opacity: 1 !important;
    letter-spacing: 1px;
}