<div class="admin__field admin__field-option" data-bind="visible: visible">
    <input type="checkbox"
           class="admin__control-checkbox"
           simple-checked="checked"
           ko-disabled="disabled"
           ko-focused="focused"
           ko-value="value"
           attr="id: uid, name: inputName"/>

    <label class="admin__field-label" text="description" attr="for: uid"/>
</div>
<div data-bind="afterRender: afterRender"></div>
