<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magenest\CountdownTimer\Block\Product\View */ ?>
<?php
$enable = $block->isCountdownTimerEnabled();
$show = $block->getReadyCountDown();
$productId = $block->getProductId();
$finalDate = $block->getToDate();
if ($finalDate) {
    $date = date_create_from_format('Y-m-d H:i:s', $finalDate);
    $finalDate = $date->format('Y-m-d H:i:s');
    $timeLeft = (strtotime($finalDate) - time()) * 1000;
}
?>
<?php if ($enable && $show && $enable == 1) :?>
<div class="remaining_time remaining_time_<?php echo $productId; ?>">
    <div class="countdown-gift countdown-gift-<?php echo $productId; ?>" id="countdown-gift-<?php echo $productId; ?>">
        <div id="countdown-time-<?php echo $productId; ?>-product" class="countdown countdown-<?php echo $productId; ?>"></div>
        <div class="countdown-time-display-field countdown-time-display-field-<?php echo $productId; ?>-product" style="color: red;"></div>
    </div>
</div>
<script>
    require([
        'jquery',
        'jqueryCountdown',
        "domReady!"
    ], function ($, domReady) {
        'use strict';
        $(document).ready(function () {
            var timeLeft = "<?= $timeLeft ?>";
            timeLeft = parseInt(timeLeft);
            var finalStamp = Date.now() + timeLeft;
            var finalDate = new Date(finalStamp);
            $('#countdown-time-<?php echo $productId ?>-product').first().countdown(finalDate, function (event) {
                let format = '<p class="countdown-text">' +
                    '<span class="hours">%H</span><span class="text">h</span> ' +
                    '<span class="minutes">%M</span><span class="text">m</span> ' +
                    '<span class="secs">%S</span><span class="text">s</span> ' +
                    'left</p>';
                var time = event.strftime(format);
                $('.countdown-time-display-field-<?php echo $productId ?>-product').first().html(time);
            }).on('finish.countdown', function () {
                $('button#product-addtocart-button').attr("disabled", "disabled");
                $('button#buy-now-btn').attr("disabled", "disabled");
            });
        });
    });
</script>
<?php else: ?>
<div class="remaining_time_placeholder"></div>
<?php endif; ?>
