<!--@subject Cancelled Hotel Order @-->
{{template config_path="design/email/header_template"}}
<h1>Hello {{var customer_name}},</h1>
<p>Your hotel order has been cancelled</p>
<p>Your order id #: {{var order_id}}</p>
{{template config_path="design/email/footer_template"}}