.payments-title{
    font-size: 26px;
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    margin-top: 19px;
    margin-bottom: 60px;
}
.block-point.payments-points{
    padding: 0 48px;
    margin: 0 0 63px;
}
.payments-nav{
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0 16px;
}
.payments-nav > .tabcontrol{
    display: inline-block;
    width: 120px;
    height: 40px;
    float: left;
    padding: 0;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #465a6f;
    background: none;
    border: 1px solid #e4e5e8;
    border-bottom: none;
    border-radius: 0;
    font-size: 16px;
    overflow: hidden;
    margin: 0 -1px 0 0;
    text-align: center;
    cursor: pointer;
}
.payments-nav > .tabcontrol.active{
    color: #fff;
    background: #22DDC3;
    border-color: #22DDC3;
}
.payments-nav > .tabcontrol:nth-child(1){
    border-radius: 4px 0 0 0;
}
.payments-nav > .tabcontrol:nth-last-child(1){
    border-radius: 0 4px 0 0;
}
.payments-print-head{
    margin: 0;
    border: 1px solid #e4e5e8;
    border-radius: 4px 4px 0 0;
    padding: 11px 24px 15px;
    text-align: end;
}
.payments-print-head:after{
    content: "";
    display: block;
    clear: both;
}
.payments-print-head button.payments-print{
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: none;
    width: 163px;
    height: 40px;
    float: left;
    font-size: 16px;
    font-family: Gotham;
    color: #7e858d;
    padding: 7px 24px 10px;
    text-align: left;
    margin-top: 4px;
}
.payments-print-head button.payments-print svg{
    width: 19px;
    fill: #b0b9c2;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
}
.payments-print-head .payments-toolbar{
    display: inline-block;
}
.payments-tabcontent table.data-table{
    border: 1px solid #e4e5e8;
    border-top: none;
    margin: 0;
}
.payments-tabcontent table.data-table thead{
    border-bottom: 1px solid #e4e5e8;
    font-size: 16px;
    color: #465A6F;
}
.payments-tabcontent table.data-table thead tr th{
    padding: 14px 16px 16px;
    background: none;
    font-weight: bold;
}
.payments-tabcontent table.data-table tbody{
    font-size: 14px;
    color: #465A6F;
}
.payments-tabcontent table.data-table tbody tr,
.payments-tabcontent table.data-table tfoot tr{
    border: none !important;
    box-shadow: none !important;
}
.payments-tabcontent table.data-table tbody tr:nth-child(3n){
    background-color: #F5F5F5 !important;
}
.payments-tabcontent table.data-table tbody tr td,
.payments-tabcontent table.data-table tfoot tr td{
    padding: 16px 16px;
}
.payments-tabcontent table.data-table tfoot{
    border-top: 1px solid #e4e5e8;
    color: #465A6F;
}
.payments-tabcontent table.data-table tfoot td{
    font-weight: bold;
}
.payments-tabcontent table.data-table tfoot .text{
    font-weight: 400;
}
.payments-tabcontent table.data-table thead tr th .sort{
    display: inline-block;
    position: relative;
    top: 2px;
}
.payments-tabcontent table.data-table thead tr th .sort i{
    display: block;
    height: 8px;
    overflow: hidden;
    color: #B0B9C2;
    cursor: pointer;
}
.payments-tabcontent table.data-table thead tr th .sort i:hover{
    color: #465A6F;
}
.payments-tabcontent table.data-table thead tr th .sort i.fa-sort-asc{
    line-height: 16px;
}
.payments-tabcontent table.data-table thead tr th .sort i.fa-sort-desc{
    line-height: 3px;
}