<?php
/** @var  $block \Magenest\RewardPoints\Block\PointInfo */
$product = $block->getCurrentProduct();
$productId = $product->getId();
$point = $block->getProductPoint($product);
$canShowPoints = $block->getIsShowProductDetailEnabled();
if ($point > 0 && $block->getIsShowProductDetailEnabled()) {
    $canShowPoints = true;
}
$rewardPointRule = json_encode($block->getProductRule($productId));
?>
<?php
if ($point > 0 && $canShowPoints) : ?>
    <script>
        require([
            "jquery"
        ], function ($) {
            'use strict';
            var value = '<?php echo " < + " . $point . " points>"; ?>';
            $('div.product-info-main>div.product-info-price').append('<div id="product-detail-rewardpoint" ><span>' + value + '</span></div>');
        });
    </script>
<?php endif; ?>
<script>
    require([
        "Magento_Ui/js/modal/modal",
        "jquery",
        "jquery/ui",
        "mage/calendar"
    ], function (modal,
                 $) {
        'use strict';
        var rewardPointRule = null;
        <?php if ($rewardPointRule) : ?>
        rewardPointRule = JSON.parse('<?php echo $rewardPointRule; ?>');
        <?php endif; ?>
        var product_price = document.getElementById('product-price-' + '<?php echo $productId ?>');
        $(product_price).on('DOMSubtreeModified', function () {
            var priceSpan = $(product_price).find('span')[0];
            var product_price_current_html = $(priceSpan).html();
            if (typeof(product_price_current_html) === 'string') {
                product_price_current_html = product_price_current_html.replace(/,/g, "");
                var finalRewardPoint = getFinalRewardPoint(product_price_current_html.substr(1), rewardPointRule);
                $('#point-show').text('You will earn ' + finalRewardPoint + '  points when buying this product');
                $('#product-detail-rewardpoint').html("<strong><em style='color: #ff6711;'>" + "<+" + finalRewardPoint + "points>" + "</em></strong>");
            }
        });

        function getFinalRewardPoint(price, rule) {
            var earnedPoint = 0;
            var i;
            var productPrice = parseInt(price);
            for (i = 0; i < rule.length; i++) {
                var point = parseFloat(rule[i].point);
                if (rule[i].steps == null) {
                    earnedPoint += point;
                } else {
                    var steps = parseFloat(rule[i].steps);
                    var bonusPoints = Math.floor(productPrice * point / steps);
                    earnedPoint += bonusPoints;
                }
            }
            return earnedPoint;
        }
    })
</script>
<style>
    #product-detail-rewardpoint {
        display: table-row;
        color: #ff6711;
        font-style: italic;
        font-weight: bold;
    }
    #product-detail-rewardpoint>span {
        display: block;
        width: 120px;
        margin-bottom: 10px;
    }
</style>