<?php
/** @var $block \Magenest\Profile\Block\Delivery\Edit */
$delivery = $block->getDelivery()->getData();
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
?>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>&callback=initAutocompleteDE">
</script>
<style>
    div.location_input {
        position: relative;
    }
</style>
<script>
    var circle = '';

    function updateRadius() {
        circle.setRadius(document.getElementById('distance').value * 1000);
    }
</script>
<div class="popup-left">
    <div id="map">
    </div>
    <input type="hidden" id="lat" readonly="yes"><br>
    <input type="hidden" id="lng" readonly="yes">
</div>
<div class="textarea popup-right">
    <div class="location_input">
        <label for="address"><?= __("Address"); ?></label>
        <input value="<?php echo @$delivery['address'] ?>" type="text" autocomplete="off" id="address" name="address"
               class="input-address"/>
        <label for="distance"><?= __("Radius (km)"); ?></label>
        <input onkeyup="updateRadius()" value="<?php echo @$delivery['distance'] ?>" type="text" id="distance"
               name="distance"
               class="input-radius"
               placeholder="Distance"/>
    </div>
    <label for="note"><?= __("Specify additional details such as hours / exclusions"); ?></label>
    <textarea  name="note" id="note" value=""><?php echo @$delivery['note'] ?></textarea>
</div>
<script>
    var routeDE = '', positionDE = false;
    var placeDE = '';

    function initAutocompleteDE() {
        // Create the address object, restricting the search to geographical
        // location types.
        routeDE = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('address')),
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        routeDE.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the placeDE details from the address object.
        placeDE = routeDE.getPlace();
        positionDE = placeDE.geometry.location;
        // Get each component of the address from the placeDE details
        // and fill the corresponding field on the form.
        initMapDE();
    }

    //Set up some of our variables.
    var mapDE; //Will contain mapDE object.
    var markerDE = false; ////Has the user plotted their location markerDE?

    //Function called to initialize / create the mapDE.
    //This is called when the page has loaded.
    function initMapDE() {
        if (!positionDE) {
            var map_info = "<?php echo @$delivery['map_info'] ?>";
            if (map_info.length > 0)
                positionDE = new google.maps.LatLng(<?php echo @$delivery['map_info'] ?>);
            else
                positionDE = new google.maps.LatLng(33.89340415905593, 35.50159554000834);
        }
        //Map optionsDE.
        var optionsDE = {
            center: {lat: positionDE.lat(), lng: positionDE.lng()}, //Set center.
            zoom: 12 //The zoom value.
        };
        //Create the mapDE object.
        mapDE = new google.maps.Map(document.getElementById('map'), optionsDE);
        //Init markerDE
        markerDE = new google.maps.Marker({
            position: {lat: positionDE.lat(), lng: positionDE.lng()},
            map: mapDE,
            draggable: true //make it draggable
        });

        circle = new google.maps.Circle({
            map: mapDE,
            fillColor: '#0000FF',
            fillOpacity: 0.2,
            strokeColor: '#0000FF',
            strokeOpacity: 0.6
        });
        circle.bindTo('center', markerDE, 'position');
        updateRadius();
        markerLocationDE();

        //Listen for any clicks on the mapDE.
        google.maps.event.addListener(mapDE, 'click', function (event) {
            var clickedLocation = event.latLng;
            markerDE.setPosition(clickedLocation);
            circle.setCenter(clickedLocation);
            markerLocationDE();
        });

        markerDE.addListener('drag', function (event) {
                markerLocationDE();
            }
        );
        markerDE.addListener('dragend', function (event) {
                markerLocationDE();
            }
        );
    }

    //This function will get the markerDE's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocationDE() {
        //Get location.
        var currentLocation = markerDE.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
    }

    // google.maps.event.addDomListener(window, 'load', initMapDE);
    initMapDE();
</script>
