* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #747474;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
    background: #fff;
}
body, #sidebar .slide-excerpt h2, .footer-area .slide-excerpt h2 {
    font-size: 13px;
    line-height: 20px;
}
body, #nav ul li ul li a, .more, .avada-container h3, .meta .date, .review blockquote q, .review blockquote div strong, .image .image-extras .image-extras-content h4, .project-content .project-info h4, .post-content blockquote, .button.large, .button.small, .ei-title h3 {
    font-family: "Times New Roman", Times, serif;
}
.maplist-index-index .page-main,
.maplist-view-index .page-main{
    max-width: 100%;
}
.map-panel:after {
    content: "";
    display: block;
    clear: both;
}

.box-search{
    width:100%;
    display: inline-block;

}

.tab {
    overflow: hidden;

}

/* Style the buttons inside the tab */
.tab button {
    background-color: #ececec;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    border: 1px solid #ccc;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #dcddd1;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #7f7f7f;
    color: white;
}

/* Style the tab content */

.paper-wrapper{
    background-color: lightgrey;
}

.columns{
    max-width: 102%;
    overflow: visible;
    position: relative;
}

#close_direction_panel{
    float: right;
    margin-right: 1.7%;
}
#floating-panel{
    float: right;
    margin: 10px 0 0;
    display: inline-block;
    width: 100%;
    text-align: right;
}

.container .showDirection{
    width: 294px;
    float: right;
    overflow: auto;
    z-index: 10;
    position: absolute;
    padding-top: 10px;
    padding-right: 10px;
    right: 0;
    top: 360px;
    max-height: 364px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid grey;
    border-radius: 2px;
}

.container .detailShowDirection{
    width: 294px;
    float: right;
    overflow: auto;
    z-index: 10;
    position: absolute;
    padding-top: 10px;
    padding-right: 10px;
    right: 0;
    top: 220px;
    max-height: 364px;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid grey;
    border-radius: 2px;
}

#map {
    width:100%;
    height:800px;
    min-height: 300px;
    max-height: 90vh;
    position: relative;
    overflow: visible;
    border: none;
}

.descrip .box-image{
    width:100%;
    border: none;
    margin-bottom: 30px;
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    height :auto;
}

/* Hide the images by default */
.slideshow-container > .mySlides {
    position: relative;
    display: none;
    height:400px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.slideshow-container > .mySlides img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    text-decoration: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dots{
    border: #0a6c9f;
    height:15px;
    width:100%;
    float: right;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.8s;
    animation-name: fade;
    animation-duration: 1.8s;
}

@-webkit-keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

/*END Cycling slideshow*/


.box-map{
    width: 72%;
    min-width: calc(100% - 380px);
    float: right;
    margin-top: 27px;
    padding-left: 25px;
}
#right-panel {
    width:100%;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 5px;
    padding-right: 5px;

}

#pac-input{
    width: 50%;
    margin-top: 7px;
}

#directions_panel{
    top: 90px;
    position: absolute;
    z-index: 10;
    margin-top: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid gray;
    border-radius: 2px;
    padding: 2px;
    width: 310px;
}

#travel_mode{
    width: 100%;
}

#start_route{

}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}
#right-panel {
    height: 100%;
    float: right;
    /*width: 390px;*/
    overflow: auto;
}
@media print {
    #map {
        height: 625px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}

.prettyMapList ul.unstyled, .prettyMapList ul.unstyled {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    overflow: auto;
}
.prettyMapList .prettyListItems {
    min-height: 150px;
}

.prettyMapList .corePrettyStyle {
    background: #ffffff;
    border-radius: 5px;
    text-shadow: 0px 2px 0px #fff;
    border: solid 1px #ccc;
    color: #ffffff;
    height: auto;
}
.prettyMapList .map {
    float: none;
    display: block;
}
.prettyMapList .map {
    float: none;
    display: block;
}
.prettyMapList .prettylink {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.2em;
    padding: 10px;
    position: relative;
    text-decoration: none;
    zoom: 1;
}

body, #sidebar .slide-excerpt h2, .footer-area .slide-excerpt h2 {
    line-height: 20px !important;
}
body, #sidebar .slide-excerpt h2, .footer-area .slide-excerpt h2 {
    font-size: 13px;
    line-height: 20px;
}
body, #nav ul li ul li a, .more, .avada-container h3, .meta .date, .review blockquote q, .review blockquote div strong, .image .image-extras .image-extras-content h4, .project-content .project-info h4, .post-content blockquote, .button.large, .button.small, .ei-title h3 {
    font-family: "Times New Roman", Times, serif;
}
body {
    margin: 0;
    color: #3b3b3b;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px 'PTSansRegular', Arial, Helvetica, sans-serif;
    background: #fff;
}

.prettyMapList .prettylink:after {
    content: "";
    display: block;
    height: 20px;
    left: 10px;
    margin-right: 2px;
    position: absolute;
    top: 11px;
    width: 20px;
}

.viewLocationDetail {
    font-size: 16px;
    line-height: 1.35;
    font-weight: bold;
}

.viewLocationDetail h3{
    color: #990000 !important;
    text-shadow: 0 0 1px grey;
}

.prettyMapList .corePrettyStyle {
    color: #363636;
    overflow: visible;
    border: 0;
    background: none;
    text-shadow: none;
    margin-bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-title-wrapper{
    text-align: center;
}

.prettyMapList .viewLocationPage {
    margin-top: 10px;
}

#MaplistBack, .prettyMapList .btn {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    text-decoration: none;
    zoom: 1;
}
.prettyMapList .btn{
    background: #fff;
    border: 1px solid;
}
.infoWindow {
    font-size: 14px;
    height : 320px;
}

.infoWindow{
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 0
}

.infoWindow > .tabs{
    width:auto;
    margin:0 auto 50px;
    position:relative;
}

.infoWindow > .tabs input{
    position:absolute;
    top:0;
    left:0;
    display:none;
}

.infoWindow > .tabs label{
    display:block;
    float:left;
    position:relative;
    padding:10px 30px;
    margin-top:-14px;
    margin-left:-14px;
    line-height:1.5em;
    min-width:55px;
    text-align:center;
    color: #22403f;
    font-size:13px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    cursor:pointer;
    text-shadow:1px 1px 1px rgba(255, 255, 255, 0.39);
    background:#00b1ee;
    border-radius:5px 5px 0 0;
    box-shadow:5px 0px 3px rgba(0,0,0,0.3),-2px 0 2px rgba(0,0,0,0.1)/*0.1*/;
}
.infoWindow > .tabs label:hover{
    background: whitesmoke;
}

.infoWindow > .tabs label:after{
    content:"";
    display:block;
    position:absolute;
    width:100%;
    height:5px;
    background: #ffffff;
    left:0;
    bottom:-5px;
}

.clear-shadow{
    clear:both;
}

.infoWindow > .content{
    position:relative;
    width:100%;
    z-index:5 !important;
}

.infoWindow > .content div{
    position:absolute;
    overflow:hidden;
    top:0;
    left:0px;
    opacity:0;
    background:#fff;
    padding:10px 40px 30px;
    border-radius:0 5px 5px 5px;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
    transition:opacity .4s;
}

.infoWindow > .content div h2{
    color: #183131;
    font-size:22px;
}
.infoWindow > .content div h3{
    color: #183131;
    font-size:17px;
}
.infoWindow > .content div > p {
    font-style:italic;
    color: #333333;
    font-size:13px;
    line-height:1.5em;
    margin:0;
    padding-left:20px;
    border-left:8px solid rgba(63,148,148, 0.1);
}

.tabs input:checked + label{
    background: #ffffff;
    z-index:6;
}

.content > .content-1{

}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2{
    opacity:1;
    z-index:100 !important;
}




.prettyMapList {
    max-width: 100%;
    overflow: visible;
}

#directionsPanel input{
    color: #990000 !important;
    font-weight: bold;
    width: 80%;
    overflow: hidden;
}

#map_travel_mode {
    width: 320px;
    margin: 3px;
    display: inline-flex;
}

#map_travel_mode label {
    float: left;
    background-color: white;
    overflow:auto;

}

#map_travel_mode label span {
    text-align:center;
    font-size: 20px;
    display: block;
    width: 40px;
    height: 30px;
}

#map_travel_mode label input {
    top: 10px;
    display: none;
}

#map_travel_mode label:hover {
    background-color: rgba(255,255,255,0);
    color: #00b1ee;
}

#map_travel_mode input:hover + span {
    background-color: rgba(255,255,255,0);
    color: #00b1ee;
    border-bottom: 2px solid #00b1ee;
    height: 28px;
}

#map_travel_mode input:checked + span {
    background-color: rgba(255,255,255,0);
    color: #00b1ee;
    border-bottom: 2px solid #00b1ee;
    height: 28px;
}

#map_travel_mode .driving {
    background-color:rgba(255,255,255,0);
    color:#333;
    margin-left: 10px;
}

#map_travel_mode .walking {
    background-color:rgba(255,255,255,0);
    color:#333;
}

#map_travel_mode .bicycling {
    background-color:rgba(255,255,255,0);
    color:#333;
}

#map_travel_mode .transit {
    background-color:rgba(255,255,255,0);
    color:#333;
    margin-right: 3px;
}

.listStore{
    width: 28%;
    max-width: 380px;
    float: left;
    color: #313131;
}

/* Webkit override Scrollbar with CSS3 */
.listStore ::-webkit-scrollbar {
    width: 8px; height:8px;
}
.listStore ::-webkit-scrollbar-track {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.listStore ::-webkit-scrollbar-thumb {
    background: #37b2ee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.listStore ::-webkit-scrollbar-thumb:window-inactive {
    background: #37b2ee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.listStore .contact{
    height: auto;
}
.listStore .contact .heading{
    font-weight: bold;
    border-bottom: solid 1px #dedede;
    line-height: 28px;
    font-size: 2.0rem;
    padding-bottom: 13px;
    margin-top:26px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.listStore .contact ul {
    padding-top: 0px;
}

.listStore .contact li{
    color: #313131;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6rem;
    /*line-height: 22px;*/
    width: 100%;
    list-style:none;
    padding-bottom: 0.1px;
    margin-left: -39px;

}

.listStore .contact li.phone{
    font-weight: bold;
}

.listStore .contact li.website p>a{
    color:#313131;
}
.listStore .contact li.email p>a{
    color: #313131;
}


.listStore .hours{
    height: auto;
}
.listStore .hours .heading{
    font-weight: bold;
    border-bottom: solid 1px #dedede;
    line-height: 28px;
    font-size: 2.0rem;
    padding-bottom: 13px;
    margin-top:20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.listStore .hours table>tbody>tr>td{
    padding:1px 1px;
}
.listStore .hours table>tbody>tr>td>p{
    margin-top: 0rem;
    margin-bottom: 0.5em;
}

.listStore .special-date{
    height: auto;
    /*z-index:3;*/
}

.listStore .special-date .heading{
    font-weight: bold;
    border-bottom: solid 1px #dedede;
    line-height: 28px;
    font-size: 2.0rem;
    padding-bottom: 13px;
    margin-top: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.listStore .special-date li {
    padding-bottom: 5px;
    border-bottom: solid 1px #dedede;
    margin-left: -35px;
}

.listStore .pagination{
    float: right;
    width: 210px;
}

.listStore .pagination a{
    border: 1px solid grey;
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
}

.descrip {
    float :right;
    width : 100%;
    margin-top: 70px;
    margin-bottom: 10px;
    color: #313131;
}

.descrip .heading {
    font-weight: bold;
    border-bottom: solid 1px #c2bfbf;
    line-height: 20px;
    font-size: 2.4rem;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 31px;
}

.descrip .contentDes {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.6rem;
    line-height: 24px;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.descrip .contentDes p {
    padding-bottom: 5px;
}

.listStore .findStore{
    font-weight: bold;
    line-height: 30px;
    font-size: 21px;
    padding-top: 23px;
    padding-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}

.listStore .box-search .tabcontent {
    background-color: #fafafa;
    display: none;
    padding: 20px 20px;
    border: 1px solid #979e96;
    width: 100%;

}

.gm-style-iw {
    top: 0px !important;
    left: 0px !important;
}
.gm-style-iw > div:first-child{
    width: 100% !important;
}

#dung1, #dung2, #dung3, #dung4 {
    left: 76px !important;
}

.infoWindow .btn{
    font-weight: bolder;
    margin-right: 10px;
    border-color: #00b1ee;
    background: #00b1ee;
    color: white;
}

.infoWindow img{
    float: right;
    height: 130px;
    width: 100px;
    padding-left: 10px;
}

.ml {
    display: none !important;
}

.content-1 > .bodyContent{
}
.content-1 > .bodyContent a.from{
    /*width: 60px;*/
    /*float: left;*/
    border-color: #00b1ee;
    background: #00b1ee;
    color: white;

}
.content-1 > .bodyContent a.to{
    /*width: 60px;*/
    /*float: right;*/
    border-color: #00b1ee;
    background: #00b1ee;
    color: white;
}
.content-1> div#address {
}
.content-1 .infowindowContent{
    font-weight: normal;
    text-align: justify;
    max-height: 75px;
    margin-top: 10px;
    /*margin-right: 120px;*/
    overflow: hidden;
}
.content-1 .infowindowContent #description{
    padding-right: 10px;
}
.content-1 #address{
    font-style: italic;
}
.map-panel #list_listitem > li{
    height: auto;
    border-radius: 5px;
    text-shadow: 0px 2px 0px #fff;
    /*border-bottom: solid 1px #dedede;*/
    background: #ffffff;
    /*background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed));*/
    /*background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
    /*background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
    /*background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
    /*background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 );*/
    text-shadow: 0px 2px 0px #fff;
    padding: 15px 0;
    margin: 0;
}
.map-panel #list_listitem > li + li {
    border-top: 1px dashed #dedede;
}
.listStore #ListContainer{
    height: 640px;
    min-height: 140px;
    max-height: calc(90vh - 160px);
    margin-top : 24px;
    overflow-x:hidden;
    overflow-y: auto;
}

.range-slider .input-range {
    margin-left: 0px;
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background: #00b1ee;
    outline: none;
    margin-top:30px;
}
.range-slider .input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00b1ee;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #00b1ee;
    cursor: pointer;
    -webkit-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}
.range-slider .input-range::-moz-range-thumb:hover {
    background: #00b1ee;
}
.range-slider .input-range:active::-moz-range-thumb {
    background: #00b1ee;
}
.range-slider .range-value {
    display: block;
    position: relative;
    width: 100%;
    color: #313131;
    font-size: 16px;
    font-weight:bold;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 7px;
    margin-top:5px;
}

::-moz-range-track {
    background: #00b1ee;
    border: 0;
}

input::-moz-focus-inner {
    border: 0;
}
div.form-inline{
    float: left
}
div.field-search-area {
    float: left;
    width: 50%;
    padding-right: 30px
}
#ajax-loadding{
    height: 45px;
    width: 45px;
    margin: 0 auto;
    margin-top: 10px;
}
.prettyMapList .map .gm-iv-address{
    height: 56px;
}

/* style search distance block in map page */
.range-slider.form-inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
.range-slider .input-range{
    flex-basis: 70%;
    margin-top: 15px;
}
.range-slider .input-range:focus{
    box-shadow: none!important;
}
.range-slider .range-value{
    flex-basis: 25%;
}
.btn-wap .btn-reset-search-distance, .btn-wap .btn-search-distance{
    border-color: #00b1ee;
    background: #00b1ee;
    color: white;
    float: right;
    margin-top: 24px;
    width: 48%;
    height:35px;
    text-transform: uppercase;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;

}
.btn-wap .btn-reset-search-distance:hover, .btn-wap .btn-search-distance:hover,.btn-wap .btn-reset-search-distance:focus, .btn-wap .btn-search-distance:focus{
    border-color: #00b1ee;
    background: #00b1ee;
    color: white;
}
.box-search .input-search-distance{
    border-radius: 4px;
}
.box-search .input-search-distance:focus{
    box-shadow: none!important;
}

#select_radius {
    margin-top:24px;
    width :48%;
    height:35px;
    border-radius:4px;
    float: left;
}
.viewStore{
    background: #37b2ee;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 12px 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    cursor: pointer;
}
.viewStore a{
    color : #ffffff;
    text-decoration: none;
    padding: 15px 17% 11px 17%;
}
.viewStore:hover{
    background: rgba(98, 203, 244, 0.91);
}
@media only screen and (max-width: 991px) {
    .listStore {
        width: 100%;
        max-width: 100%;
    }
    .box-map{
        width: 100%;
        min-width: 100%;
        padding: 0;
    }
    .listStore #ListContainer {
        height: auto;
        min-height: auto;
        max-height: 90vh;
    }
    #map {
        height: 550px;
    }
    .descrip .heading {
        margin-left: 42%;
        margin-right: 42%;
    }
    .slideshow-container > .mySlides {
        display: none;
        height:230px;
    }
}
@media (max-width: 767px) {
    .box-map,
    form.prettyMapListSearch{
        display: none;
    }
    .listStore #ListContainer {
        height: auto;
        min-height: auto;
        max-height: none;
        overflow: auto;
    }
}
@media only screen and (max-width: 710px) {
    .descrip .heading {
        margin-left: 42%;
        margin-right: 42%;
    }
    .special-date{
        padding: 0px 13% 0px 13%;
    }
    .slideshow-container > .mySlides {
        display: none;
        height:226px;
    }
}
@media only screen and (max-width: 425px) {
    .descrip .heading {
        margin-left: 37%;
        margin-right: 37%;
    }
    .special-date{
        padding: 0px;
    }
    .slideshow-container > .mySlides {
        display: none;
        height:136px;
    }
}
