.col-main{
    width: calc(100% - 311px);
    padding: 0 0 23px;
    margin-left: 48px;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
}
h4.page-title{
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    padding: 30px 23px 38px;
}
.col-main > form{
    width: calc(40% - 3px);
    border: 1px solid #e4e5e8;
    margin-left: -1px;
    margin-right: 4px;
    float: left;
}
.col-main > form:after{
    content: "";
    display: block;
    clear: both;
}
/*
*
*** Ticket Vendor Campaign Detail ***
*
*/
.ticket-vendor-campaign-detail .main > .col-main,
.ticket-vendor-campaign-session-detail .main > .col-main{
    padding: 10px 23px;
    color: #465A6F;
}
.ticket-vendor-campaign-detail .vendor-breadcrumbs a,
.ticket-vendor-campaign-detail .vendor-breadcrumbs span,
.ticket-vendor-campaign-session-detail .vendor-breadcrumbs a,
.ticket-vendor-campaign-session-detail .vendor-breadcrumbs span{
    color: #0096C3;
    text-decoration: underline;
}
.ticket-vendor-campaign-detail .vendor-breadcrumbs .breadcrumbs-content,
.ticket-vendor-campaign-session-detail .vendor-breadcrumbs .breadcrumbs-content{
    display: inline-block;
    max-width: calc(100% - 200px);
}
.ticket-vendor-campaign-detail .vendor-breadcrumbs .campaign-id,
.ticket-vendor-campaign-detail .vendor-breadcrumbs .campaign-id,
.ticket-vendor-campaign-session-detail .vendor-breadcrumbs .campaign-id,
.ticket-vendor-campaign-session-detail .vendor-breadcrumbs .campaign-id{
    display: inline-block;
    max-width: 200px;
    float: right;
    color: #7E858D;
    text-decoration: none;
}
.ticket-vendor-campaign-detail .product-info,
.ticket-vendor-campaign-session-detail .product-info{
    width: calc(100% - 480px);
    padding-right: 23px;
    min-width: 60%;
    float: left;
    margin-bottom: 26px;
}
.ticket-vendor-campaign-detail .product-info h4.product-name,
.ticket-vendor-campaign-session-detail .product-info h4.product-name{
    color: #1F2135;
    font-weight: 400;
    font-family: Montserrat;
    margin: 10px 0 1px;
}
.ticket-vendor-campaign-detail .product-status,
.ticket-vendor-campaign-session-detail .product-status{
    margin-bottom: 0;
}
.ticket-vendor-campaign-detail .product-status span.Active,
.ticket-vendor-campaign-detail .product-status span.Live,
.ticket-vendor-campaign-session-detail .product-status span.Active,
.ticket-vendor-campaign-session-detail .product-status span.Live{
    color: #4FDD6C;
}
.ticket-vendor-campaign-detail .product-status span.Close,
.ticket-vendor-campaign-detail .product-status span.Sold.out,
.ticket-vendor-campaign-session-detail .product-status span.Close,
.ticket-vendor-campaign-session-detail .product-status span.Sold.out{
    color: #F74040;
}
.ticket-vendor-campaign-detail .product-status span.Pending.Review,
.ticket-vendor-campaign-session-detail .product-status span.Pending.Review{
    color: #FFC939;
}
.ticket-vendor-campaign-detail .product-information,
.ticket-vendor-campaign-session-detail .product-information{
    margin-top: 16px;
}
.ticket-vendor-campaign-detail .product-action-edit,
.ticket-vendor-campaign-session-detail .product-action-edit{
    width: 480px;
    max-width: 40%;
    float: right;
    background: #D6F5F1;
    border: 1px solid #B4DBD6;
    border-radius: 4px;
    padding: 10px 23px;
    margin-top: 11px;
    margin-bottom: 26px;
}
.ticket-vendor-campaign-detail .product-action-edit .div-action,
.ticket-vendor-campaign-session-detail .product-action-edit .div-action{
    display: table-cell;
    width: 112px;
    float: none;
    vertical-align: middle;
}
.ticket-vendor-campaign-detail .product-action-edit .div-content,
.ticket-vendor-campaign-session-detail .product-action-edit .div-content{
    display: table-cell;
    width: calc(100% - 112px);
    float: none;
    padding-left: 32px;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 27px;
}
.ticket-vendor-campaign-detail .product-action-edit a.btn.btn-edit,
.ticket-vendor-campaign-session-detail .product-action-edit a.btn.btn-edit{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #B4DBD6;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    padding: 0 8px;
    color: #465A6F;
    text-decoration: none;
}
.ticket-vendor-campaign-detail .product-action-edit .div-content .title,
.ticket-vendor-campaign-session-detail .product-action-edit .div-content .title{
    display: block;
    font-size: 16px;
    color: #38C3C9;
    font-weight: bold;
    margin-bottom: 10px;
}
.ticket-vendor-campaign-detail .overview,
.ticket-vendor-campaign-session-detail .overview{
    margin-bottom: 27px;
    padding-left: 0;
    padding-right: 0;
}
.ticket-vendor-campaign-detail .overview.active-campaign,
.ticket-vendor-campaign-detail .overview.payment,
.ticket-vendor-campaign-detail .overview.feedback,
.ticket-vendor-campaign-detail .overview.question,
.ticket-vendor-campaign-session-detail .overview.active-campaign,
.ticket-vendor-campaign-session-detail .overview.payment,
.ticket-vendor-campaign-session-detail .overview.feedback,
.ticket-vendor-campaign-session-detail .overview.question{
    padding-left: 23px;
    padding-right: 17px;
}
.ticket-vendor-campaign-detail .overview.active-campaign,
.ticket-vendor-campaign-detail .overview.payment,
.ticket-vendor-campaign-session-detail .overview.active-campaign,
.ticket-vendor-campaign-session-detail .overview.payment{
    margin-bottom: 16px;
}
.ticket-vendor-campaign-detail .product-action-edit + .overview,
.ticket-vendor-campaign-session-detail .product-action-edit + .overview {
    clear: both;
}
.ticket-vendor-campaign-detail .overview > .header,
.ticket-vendor-campaign-session-detail .overview > .header{
    padding-left: 23px;
    padding-right: 17px;
}
.ticket-vendor-campaign-detail .overview.active-campaign > .header,
.ticket-vendor-campaign-detail .overview.payment > .header,
.ticket-vendor-campaign-detail .overview.feedback > .header,
.ticket-vendor-campaign-detail .overview.question > .header,
.ticket-vendor-campaign-session-detail .overview.active-campaign > .header,
.ticket-vendor-campaign-session-detail .overview.payment > .header,
.ticket-vendor-campaign-session-detail .overview.feedback > .header,
.ticket-vendor-campaign-session-detail .overview.question > .header{
    padding-left: 0;
    padding-right: 0;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar{
    border: none;
    padding-left: 23px;
    padding-right: 17px;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table,
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table{
    border-left: none;
    border-right: none;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-child(1){
    padding-left: 23px;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-last-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-last-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-last-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-last-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-last-child(1),
.ticket-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-last-child(1),
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-last-child(1){
    padding-right: 17px;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar button.btn-download,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar button.btn-download{
    height: 48px;
    margin-right: 24px;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar{
    float: left;
    margin-right: 16px;
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-webkit-input-placeholder,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-webkit-input-placeholder {
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-moz-placeholder,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-moz-placeholder { /* older Firefox*/
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-moz-placeholder,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-ms-input-placeholder,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-ms-input-placeholder {
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar .search-filter{
    float: left;
    margin-right: 24px;
    height: 48px;
    width: 168px;
    border: 2px solid #465A6F;
    background: #fff;
    font-size: 16px;
    color: #465A6F;
    font-weight: bold;
    font-family: Gotham;
    padding: 4px 8px 10px;
}
.ticket-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter svg,
.ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar .search-filter svg{
    width: 16px;
    height: 16px;
    fill: #465A6F;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar,
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar-track,
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper::-webkit-scrollbar-track {
    background: #E4E5E8;
    border: 1px solid #fff;
}
.ticket-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar-thumb,
.ticket-vendor-campaign-session-detail .grid-vendor-wrapper::-webkit-scrollbar-thumb{
    width: 6px;
    background: #445a6f;
    border-radius: 4px;
}
.ticket-vendor-campaign-detail .overview .area-chart,
.ticket-vendor-campaign-session-detail .overview .area-chart{
    padding-left: 23px;
    padding-right: 17px;
    padding-bottom: 36px;
}
.ticket-vendor-campaign-detail .overview .area-chart .google-visualization-tooltip,
.ticket-vendor-campaign-session-detail .overview .area-chart .google-visualization-tooltip{
    width: 200px;
    font-size: 22px;
    color: #465A6F;
    padding: 8px 16px;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
}
.ticket-vendor-campaign-detail .overview .area-chart .google-visualization-tooltip b,
.ticket-vendor-campaign-session-detail .overview .area-chart .google-visualization-tooltip b{
    font-weight: 400;
}
@media (max-width: 1400px){
    .ticket-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar,
    .ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar input[type="text"].search-bar{
        clear: both;
        margin-top: 8px;
        max-width: 35%;
    }
    .ticket-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter,
    .ticket-vendor-campaign-session-detail .vendor-toolbar.toolbar .search-filter{
        margin-top: 8px;
    }
}
.col-main > form > .generic-box.images{
    margin-top: 17px;
}
.col-main > form > .generic-box.images > .box-head{
    margin-bottom: -17px;
}
.col-main > form > .generic-box.images .image.item {
    width: 168px;
    height: 168px;
}
.col-main > form > .generic-box.images .image.image-placeholder{
    max-width: 100%;
    margin: 0 4px 16px;
    width: 168px;
    height: 168px;
    background-size: 80px;
    background-position: center 15px;
    background-color: #fff;
}
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text{
    font-size: 14px;
    color: #0096C3;
    margin-bottom: 16px;
    line-height: 1.2;
    padding: 0 16px;
}
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:before,
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:after{
    display: none;
}
a.btn.customer-view-vendor-campaign {
    max-width: 200px;
    display: block;
    height: 32px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    padding: 0 16px;
    color: #465A6F;
    text-decoration: none;
    float:  right;
    margin: -5px 0 0 10px;
}