<?php
/**
 * @var $block Magenest\Groupon\Block\Product\View\GrouponDeal
 */
?>

<?php if ($block->hasDeal()) {
    $deal         = $block->getDeal();
    $json         = json_decode($deal->getData('term'), true);
    if($block->getMaximunRedeemCoupon() > 0){
        echo __('May redeem maximum '.$block->getMaximunRedeemCoupon().' coupons per customer<br>');
    }
    if (@$json['reservation']['enable'] === 1 && @$json['reservation']['days'] !== 0) {
        echo __("Reservation Required " . $json['reservation']['days'] . " days in advance.<br>");
    }
    if (@$json['age_limit']['enable'] === 1 && @$json['age_limit']['age_number'] !== 0) {
        echo __("No Coupon required for kids below " . $json['age_limit']['age_number'] . " years of age.<br>");
    }
    if (@$json['combine'] === 1) {
        echo __("May combine coupons for greater value.<br>");
    }
    if (@$json['sharing'] === 1) {
        echo __("Coupons cannot be shared.<br>");
    }
    if (isset($json['vendor_specify']) && trim($json['vendor_specify']) !== '') {
        echo "Addition terms: ". $json['vendor_specify'] ."<br>";
    }
}
?>

