<?php
/**@var $block \Magenest\Groupon\Block\Product\View\Info */

$timeCountdown = $block->getTimeDeal();
$options       = $block->getOptions();
$numberOrder   = $block->getNumberOrder();
$symbol        = $block->getCurrencySymbol();

$giftDetails = $block->getGiftDetails();

$optionsNumber = count(\Magenest\Groupon\Helper\Data::getChildIds($block->getProductId()));
//$timeCountdown[0]['end_time'] = '2018-02-22 15:59:20';
?>
<?php if (\Magenest\Groupon\Helper\Data::isDeal($block->getProductId())) : ?>
    <?php if ($optionsNumber > 4) : ?>
        <div class="groupon-option-scroll">
            <div class="actions">
                <span class="scroll-up"><span class="action"></span></span>
                <span class="scroll-down"><span class="action"></span></span>
            </div>
        </div>
    <?php endif; ?>
    <div class="groupon-options-count">
        <a class="count"
           style="cursor: pointer"><?php echo $optionsNumber ?><?php echo $optionsNumber == 1 ? __(" buy option") : __(" buy options"); ?></a>
    </div>
<?php endif; ?>
<?php if ($block->isConfigurableProduct()) : ?>
    <div class="groupon-options-wrapper" id="groupon-options-wrapper" data-hasrequired="* Required Fields">
        <div class="fieldset" tabindex="0">
            <div class="deal_discount_block clearfix" style="display: none">
                <table style="text-align: center;background-color: #cfeef6;">
                    <tr>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Value') ?></b></p>
                            <p id="value"><?php echo __('0.00') ?></p>
                        </td>
                        <td style="color: white;background-color: #0a6c9f; width: 25%;">
                            <p><b><?php echo __('Discount') ?></b></p>
                            <p id="discount"><?php echo __('0.00 %') ?></p>
                        </td>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Your Save') ?></b></p>
                            <p id="you_save"><?php echo __('0.00') ?></p>
                        </td>
                        <td id="qty" style="color: white; background-color: #0a6c9f; width: 25%;" hidden>
                            <p><b><?php echo __('Qty') ?></b></p>
                            <p id="qtyValue"><?php echo __('0') ?></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>
    <!--    <input id="product_groupon_location_id" name="additional_options[groupon_location_id]" style="display: none">-->

    <script>
        require([
            'mage/url'
        ], function (url) {
            url.tempVar = '<?php echo $block->getGoogleApiKey() ?>';
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        });
    </script>

    <?php //Disable another countdown timer, please specified if this countdown below is needed (by Sam) ?>
    <?php //Daniel deleted ?>
    <script>
        require([
            'jquery',
            'jqueryCountdown',
            "domReady!"
        ], function ($, domReady) {
            'use strict';
            var giftform = "";

            giftform += ' <div class="fieldset" id="giftform">';
            giftform += ' <div class="field required giftform-item"><label class="label">To</label>';
            giftform += ' <input id="recipient_name" value="<?= @$giftDetails['name'] ?>" data-validate="{required:true }" type="text" name="additional_options[To]"></div>';
            giftform += ' <div class="field required giftform-item"><label class="label">Recipient\'s Email</label>';
            giftform += ' <input id="recipient_mail" value="<?= @$giftDetails['email'] ?>" data-validate="{required:true, \'validate-mail\':true}" type="text" name="additional_options[Email]"></div>';
            giftform += ' <div class="field required giftform-item"><label class="label">Your Gift Message</label>';
            giftform += ' <input id="recipient_message" value="<?= @$giftDetails['message'] ?>" data-validate="{required:true }" type="text" name="additional_options[Message]"></div>\n';
            // giftform += ' <input type="radio" id="print_gift_option" name="additional_options[Type]" value="Print " checked>';
            // giftform += ' <label>Print Coupon</label>';
            giftform += ' <input type="radio" id="mail_gift_option" name="additional_options[Type]" style="display: none" value="Mail" checked>';
            giftform += ' <label for="mail_gift_option" style="display: none">Send Email Directly</label>';
            giftform += ' </div>';

            $("#coupon_id_gift").click(function () {
                if ($(this).is(":checked")) {
                    $('#product-addtocart-button > span').html('Add as Gift');
                    $("label[for=coupon_id_gift]").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">\n' +
                        '                <g transform="translate(-603 -28)">\n' +
                        '                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"></path>\n' +
                        '                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"></path>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"></rect>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"></rect>\n' +
                        '                </g>\n' +
                        '            </svg>' + ' Cancel');
                    $("#gift_recipient").append(giftform);
                    $(".product-options-bottom .box-tocart").css("clear", "left");
                } else {
                    $('#product-addtocart-button > span').html('Add to Cart');
                    $("label[for=coupon_id_gift]").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">\n' +
                        '                <g transform="translate(-603 -28)">\n' +
                        '                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"></path>\n' +
                        '                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"></path>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"></rect>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"></rect>\n' +
                        '                </g>\n' +
                        '            </svg>' + ' Give as a Gift');
                    $("#giftform").remove();
                    $(".product-options-bottom .box-tocart").css("clear", "none");
                }
            });
            <?php foreach ($giftDetails as $detail) : ?>
                <?php if(!empty($detail)) : ?>
            $("#coupon_id_gift").click();
                <?php endif;?>
            <?php endforeach;?>
        });
    </script>
    <div class="field coupon-gift-field">
        <input style="display: none" id="coupon_id_gift" type="checkbox">
        <label style="display: none" for="coupon_id_gift">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">
                <g transform="translate(-603 -28)">
                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"/>
                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z"
                          transform="translate(603 16.419)"/>
                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"/>
                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"/>
                </g>
            </svg>
            Give as a Gift
        </label>
    </div>
    <div id="gift_recipient">
    </div>
<?php endif; ?>

