<?php
/** @var $block \Magenest\Groupon\Block\Product\View\Location */

$deal = $block->getDeal();
$productType = $block->getProductType();
$vendorId = @$deal['vendor_id'];
$vendorName = \Magento\Framework\App\ObjectManager::getInstance()->create(\Unirgy\Dropship\Model\Vendor::class)->load($vendorId)->getVendorName();
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
$locations = [];
if ($deal) {
    if ($productType == 'ticket') {
        $locations = $block->getLocation();
    } elseif ($productType == 'configurable') {
        $locationIds = $deal['location_ids'];
        $locationIds = explode(',', $locationIds);
        $locations = $block->getLocation($locationIds);
    }
}
?>
<?php if (count($locations) > 0) : ?>
    <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>"></script>
    <div class="item title">
        <div class="switch">
            <?php if ($productType == 'ticket'): ?>
                <?php echo __($locations['venue_title']); ?>
            <?php elseif ($productType == 'configurable'): ?>
                <?php echo $vendorName; ?>
                <a><?php echo count($locations); ?><?php echo count($locations) == 1 ? __(" location") : __(" locations") ?></a>
            <?php endif; ?>
        </div>
        <?php if ($productType == 'ticket'): ?>
            <div class="groupon_map" style="height: 320px;">
                <div id="map-<?= @$locations['location_id'] ?>" style="height: 100%"></div>
                <script>
                    var map; //Will contain map object.
                    var marker = false; ////Has the user plotted their location marker?

                    function initMap<?= @$locations['location_id'] ?>(position) {
                        //Map options.
                        var options = {
                            center: position, //Set center.
                            zoom: 15 //The zoom value.
                        };
                        var icon = '<?php echo $this->getViewFileUrl('Magenest_Groupon::template/location/locationmarker.png')?>';

                        //Create the map object.
                        map = new google.maps.Map(document.getElementById('map-<?= @$locations['location_id'] ?>'), options);

                        //Init marker
                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            draggable: false, //make it draggable
                            icon: icon
                        });
                    }

                    //Function called to initialize / create the map.
                    //This is called when the page has loaded.
                    function initPosition<?= @$locations['location_id'] ?>() {
                        <?php if (@$locations['longitude'] && @$locations['latitude']) : ?>
                        var position = new google.maps.LatLng(<?= @$locations['latitude'] . ',' . @$locations['longitude'] ?>);
                        return initMap<?= @$locations['location_id'] ?>(position);
                        <?php else : ?>
                        geocoder = new google.maps.Geocoder();
                        geocoder.geocode({
                            'address': '<?= @trim(preg_replace('/\s+/', ' ', $locations['address']))?>'
                        }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK)
                                return initMap<?= @$locations['location_id'] ?>(results[0].geometry.location);
                            else
                                return initMap<?= @$locations['location_id'] ?>(new google.maps.LatLng(0, 0));
                        });
                        <?php endif; ?>
                    }

                    initPosition<?= @$locations['location_id'] ?>();
                </script>
            </div>
        <?php elseif ($productType == 'configurable'): ?>
            <div class="groupon_map" style="height: 320px;">
                <div id="map-<?= @$locations[0]['location_id'] ?>" style="height: 100%"></div>
                <script>
                    var map; //Will contain map object.
                    var marker = false; ////Has the user plotted their location marker?

                    function initMap<?= @$locations[0]['location_id'] ?>(position) {
                        //Map options.
                        var options = {
                            center: position, //Set center.
                            zoom: 15 //The zoom value.
                        };
                        var icon = '<?php echo $this->getViewFileUrl('Magenest_Groupon::template/location/locationmarker.png')?>';

                        //Create the map object.
                        map = new google.maps.Map(document.getElementById('map-<?= @$locations[0]['location_id'] ?>'), options);

                        //Init marker
                        marker = new google.maps.Marker({
                            position: position,
                            map: map,
                            draggable: false, //make it draggable,
                            icon: icon
                        });
                    }

                    //Function called to initialize / create the map.
                    //This is called when the page has loaded.
                    function initPosition<?= @$locations[0]['location_id'] ?>() {
                        <?php if (@$locations[0]['map_info']) : ?>
                        var position = new google.maps.LatLng(<?= @$locations[0]['map_info']?>);
                        return initMap<?= @$locations[0]['location_id'] ?>(position);
                        <?php else : ?>
                        geocoder = new google.maps.Geocoder();
                        geocoder.geocode({
                            'address': '<?= @trim(preg_replace('/\s+/', ' ', $locations[0]['street']))?>'
                        }, function (results, status) {
                            if (status == google.maps.GeocoderStatus.OK)
                                return initMap<?= @$locations[0]['location_id'] ?>(results[0].geometry.location);
                            else
                                return initMap<?= @$locations[0]['location_id'] ?>(new google.maps.LatLng(0, 0));
                        });
                        <?php endif; ?>
                    }

                    initPosition<?= @$locations[0]['location_id'] ?>();
                </script>
            </div>
        <?php endif; ?>
    </div>

    <div class="locations-list">
        <?php echo $block->getChildHtml('product.service') ?>
        <?php if (count($locations) > 4 && $productType == 'configurable'): ?>
            <span class="view-more"></span>
        <?php endif; ?>
    </div>
<?php endif; ?>

<script>

    require([
        'jquery'
    ], function ($) {
        'use strict';
        $('.product-info-box .locations-list .view-more').click(function () {
            $(this).parents('.locations-list').toggleClass('show-all')
        });
    })
</script>