<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magenest\Groupon\Block\Product\View\Rating $block */
$_objectLoader = \Magento\Framework\App\ObjectManager::getInstance();
$_urlBuilder
    = $_objectLoader->get('Magento\Framework\View\Element\Context')
    ->getUrlBuilder();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
$collection = $block->getReviewCollection();
$items = $collection->getItems();
$avg = $block->getAvgRate($collection->getColumnValues('review_id'));
$allowedRatingAttr = $block->getAllowedRatingAttribute();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
if ($block->checkGrouponProduct()):
    ?>
    <div class="data item title" aria-labelledby="tab-label-additional-title"
         data-role="collapsible" id="tab-label-review" role="tab"
         data-collapsible="true" aria-controls="additional"
         aria-selected="false" aria-expanded="false" tabindex="0">
            <a class="data switch" tabindex="-1" data-toggle="switch"
           href="#review" id="tab-label-additional-title"
           style="text-decoration: none">
            Customer Review </a>
    </div>
    <div class="product-info-rating">
        <div class="rating-value" >
            <h4><?php echo  number_format((float) $avg, 1, '.', '');; ?></h4>
            <div class="rating-result" title="<?php /* @escapeNotVerified */
            echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="bestRating" content="100"/>
                <span class="rating-result-number" style="width:<?php /* @escapeNotVerified */
                echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                            <span itemprop="ratingValue"><?php /* @escapeNotVerified */
                                echo number_format(((float)$avg / 5) * 100,
                                    2); ?>%</span>
                        </span>
            </div>
            <p class="rating-quantity"><?php echo $collection->getSize(); ?> <?php echo $collection->getSize() > 1 ? __("Ratings") : __("Rating") ?></p>
        </div>

        <div class="rating-details">
            <ul class="items review-items owl-carousel">
                <?php $countRating = 0; ?>
                <?php foreach ($allowedRatingAttr as $ratingAttrId): ?>
                    <?php $_review = $block->getNewestReview($ratingAttrId, $collection->getColumnValues('review_id')); ?>
                    <?php if ($countRating === 0 && $_review->getId()): ?>
                        <?= '<div class="item-row">' ?>
                        <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                            <div class="review-ratings">
                                <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span class="label rating-label">
                                        <span><?php echo $block->escapeHtml($_review->getRatingCode()) ?></span>
                                    </span>
                                    <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_review->getPercent() ?>%">
                                        <meta itemprop="worstRating" content="1"/>
                                        <meta itemprop="bestRating" content="100"/>
                                        <span style="width:<?php /* @escapeNotVerified */
                                        echo $_review->getPercent() ?>%">
                                            <span itemprop="ratingValue"><?php /* @escapeNotVerified */echo $_review->getPercent() ?>%</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <div></div>
                                </div>
                            </div>
                            <div class="review-content" itemprop="description" style="margin-left: 400px">
                                <?php echo $block->escapeHtml($_review->getDetail()) ?>
                            </div>
                        </li>
                        <?php $countRating = 1; ?>
                    <?php elseif ($countRating === 1 && $_review->getId()): ?>
                        <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                            <div class="review-ratings">
                                <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span class="label rating-label">
                                        <span><?php echo $block->escapeHtml($_review->getRatingCode()) ?></span>
                                    </span>
                                    <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_review->getPercent() ?>%">
                                        <meta itemprop="worstRating" content="1"/>
                                        <meta itemprop="bestRating" content="100"/>
                                        <span style="width:<?php /* @escapeNotVerified */
                                        echo $_review->getPercent() ?>%">
                                            <span itemprop="ratingValue"><?php /* @escapeNotVerified */echo $_review->getPercent() ?>%</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <div></div>
                                </div>
                            </div>
                            <div class="review-content" itemprop="description" style="margin-left: 400px">
                                <?php echo $block->escapeHtml($_review->getDetail()) ?>
                            </div>
                        </li>
                        <?= '</div>' ?>
                        <?php $countRating = 0; ?>
                    <?php endif; ?>
                <?php endforeach;?>
            </ul>
        </div>
        <ol class="items review-items">
            <?php foreach ($items as $_review): ?>
                <li class="item review-item" itemscope itemprop="review"
                    itemtype="http://schema.org/Review">
                    <div class="review-title"
                         itemprop="name"><?php echo $block->escapeHtml($_review->getTitle()) ?></div>
                    <?php
                    $_naVotes = $_votes = [];
                    foreach ($_review->getRatingVotes() as $_vote) {
                        $_votes[] = $_vote;
                    }
                    ?>
                    <div class="review-ratings">
                        <?php if (count($_votes)): ?>
                            <?php
                            $percent = 0;
                            foreach($_votes as $_vote):
                                $percent = $percent + $_vote->getPercent();
                            endforeach;
                            $percent = $percent / count($_votes);
                            ?>
                            <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                <div class="rating-result" title="<?php echo $percent ?>%">
                                    <meta itemprop="worstRating" content="1"/>
                                    <meta itemprop="bestRating" content="100"/>
                                    <span style="width:<?php echo $percent ?>%">
                                        <span itemprop="ratingValue"><?php echo $percent ?>%</span>
                                    </span>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if (count($_naVotes)): ?>
                            <?php foreach($_naVotes as $_vote): ?>
                                <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                    <span class="label rating-label">
                                        <span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span>
                                    </span>
                                    <div>
                                        <span>
                                            <span itemprop="ratingValue"><?php echo $_vote->getValue() ? __('Yes') : __('No') ?></span>
                                        </span>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <div class="review-nickname">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="6422 252 38.901 40">
                            <path d="M114.325,106.368a13.714,13.714,0,1,0-19.75,0A19.451,19.451,0,0,0,85,123.126h6.924a12.568,12.568,0,0,1,9.082-12.041v6.9h6.906V111.1a12.547,12.547,0,0,1,9.082,12.038H123.9A19.45,19.45,0,0,0,114.325,106.368Zm-6.422,4.71H101V102.7a6.787,6.787,0,1,1,6.906,0Z" transform="translate(6337 168.862)"/>
                        </svg>
                        <?php echo $block->escapeHtml($_review->getNickname()) ?>
                        </div>
                        <div class="review-quantity"><?php echo $block->getTotalReview($_review->getCustomerId()); ?> Reviews</div>
                        <div class="review-redeem"><?= __("Redeemed %1", date("F j, Y", strtotime($_review->getCreatedAt()))); ?></div>
                    </div>
                    <div class="review-content" itemprop="description"
                         style="margin-left: 400px">
                        <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
                    </div>
                </li>
            <?php endforeach; ?>
        </ol>
    </div>
    <script>
        require([
            'jquery',
            'js/owl.carousel',
        ],function($){
            $(document).ready(function(){
                if($("ul.items.review-items.owl-carousel").children().length){
                    $('ul.items.review-items').owlCarousel({
                        margin: 40,
                        items: 2,
                        loop: false,
                        nav: true,
                        dots: false,
                        autoWidth: true,
                    });
                }
            })
        });
    </script>
<?php else: ?>
    <div id="product-review-container" data-role="product-review"></div>
    <?= $block->getChildHtml() ?>

    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeJs($block->escapeUrl($block->getProductReviewUrl())) ?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }

    </script>
<?php endif; ?>
