<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: isAvailable() -->
<tr class="totals rewardpoints">
    <th class="mark" scope="row">
        <a data-bind="attr: {href: rewardPointsRemoveUrl, title: $t('Remove')}" class="action delete">
            <span data-bind="text: $t('Remove')"></span>
        </a>
        <!-- ko text: getRewardPoints() + ' ' + $t(title)--><!-- /ko -->
    </th>
    <td class="amount">
        <span data-bind="text: getValue(), attr: {'data-th': $t(title)}" class="price"></span>
    </td>
</tr>
<!-- /ko -->
