<?php
/** @var $block \Magenest\Overview\Block\Index\Campaign */
$blockFixed = $block->getBlockFixed();
$productType = $block->getProductTypeTitle();
if ($productType != "Hotel"):
    $activeCampaign = $blockFixed->getActiveCampaignCollection();
    $ids = $blockFixed->getActiveCampaignCollectionIds();
    if ($productType === "Inventory") {
        $percentRedeemed = $blockFixed->getSold($ids) <= 0 ? 0 : $blockFixed->getRedeemed($ids) / ($blockFixed->getSold($ids) + $blockFixed->getRefunded($ids)) * 100;
        $percentRefunded = $blockFixed->getSold($ids) <= 0 ? 0 : $blockFixed->getRefunded($ids) / ($blockFixed->getSold($ids) + $blockFixed->getRefunded($ids)) * 100;
    } else {
        $percentRedeemed = $blockFixed->getSold($ids) <= 0 ? 0 : $blockFixed->getRedeemed($ids) / ($blockFixed->getSold($ids) + $block->getRefunded($ids)) * 100;
        $percentRefunded = $blockFixed->getSold($ids) <= 0 ? 0 : $block->getRefunded($ids) / ($blockFixed->getSold($ids) + $block->getRefunded($ids)) * 100;
    }
    if ($productType == "Events") {
        $liveCampaignUrl = $block->getUrl('ticket/vendor/manage', ['filter' => '5']);
    } elseif ($productType == "Inventory") {
        $liveCampaignUrl = $block->getUrl('udsell/inventory/index');
    } else {
        $liveCampaignUrl = $block->getUrl('groupon/vendor/campaign', ['filter' => '5']);
    }
    ?>
    <span class="header">
    <?php echo __("Active " . $productType) ?>
        <?php if ($productType === 'Campaigns'): ?>
            <span class="count"><?php echo __("(%1)", (int)@count($activeCampaign->getData())) ?></span>
        <?php else: ?>
            <span class="count"><?php echo __("(%1)", (int)@count($activeCampaign)) ?></span>
        <?php endif; ?>
</span>
    <div class="piechart-container">
        <div class="piechart-wrapper">
            <div id="piechart" style="width: 212px; height: 212px;"></div>
            <div class="piechart-value">
                <div class="piechart-value-text">
                    <span class="value"><?php echo number_format($percentRedeemed, 2)?>%</span>
                    <?php if ($productType === "Inventory"): ?>
                        <span class="unit"><?php echo __("Fulfilled") ?></span>
                    <?php else: ?>
                        <span class="unit"><?php echo __("Redeemed") ?></span>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
    <div class="redeem-number">
        <p class="annotation-chart redeemed">
            <span class="annotation-square" style="background-color: #22ddc3"></span>
            <span class="count"><?php echo $blockFixed->getRedeemed($ids) ?></span>
            <?php if ($productType === "Inventory"): ?>
                <span>&nbsp;<?php echo __("fulfilled") ?></span>
            <?php else: ?>
                <span>&nbsp;<?php echo __("redeemed") ?></span>
            <?php endif; ?>
        </p>
        <p class="annotation-chart available">
            <span class="annotation-square" style="background-color: #c7fff7"></span>
            <span class="count"><?php echo $blockFixed->getRemaining($ids) ?></span>
            <?php if ($productType === "Inventory"): ?>
                <span>&nbsp;<?php echo __("pending shipment") ?></span>
            <?php else: ?>
                <span>&nbsp;<?php echo __("available") ?></span>
            <?php endif; ?>
        </p>
        <p class="annotation-chart refunded">
            <span class="annotation-square" style="background-color: #ffc939"></span>
            <?php if ($productType === "Inventory"): ?>
            <span class="count"><?php echo $blockFixed->getRefunded($ids) ?></span>
            <?php elseif ($productType === "Events"): ?>
            <span class="count"><?php echo $blockFixed->getRefunded($ids) ?></span>
            <?php else: ?>
            <span class="count"><?php echo $block->getRefunded($ids) ?></span>
            <?php endif; ?>
            <?php if ($productType === "Inventory"): ?>
                <span>&nbsp;<?php echo __("returns") ?></span>
            <?php else: ?>
                <span>&nbsp;<?php echo __("refunded") ?></span>
            <?php endif; ?>
        </p>
        <p class="annotation-chart sold">
            <span class="count"><?php echo $blockFixed->getSold($ids) ?></span>
            <?php if ($productType === "Inventory"): ?>
            <span><?php echo __("units sold") ?>
            <?php else: ?>
                <span><?php echo __("Sold") ?>
            <?php endif; ?>
                    <?php if ($productType == "Inventory"): ?>
                <br><small>(excluding returns)</small>
                    <?php else: ?>
                        <br><small>(excluding refunds)</small>
                <?php endif; ?>
        </span>
        </p>
    </div>
    <p class="overview-link">
        <a href="<?php echo $liveCampaignUrl ?>"><?php echo __("Manage " . $productType) ?> &rarr;</a>
    </p>
    <script type="text/javascript">
        google.charts.load("current", {packages: ["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['PieChart', 'Percentage'],
                ['', <?php echo $percentRedeemed ?>], //enter value
                ['', <?php echo 100 - $percentRedeemed - $percentRefunded ?>],  //enter value
                ['', <?php echo $percentRefunded ?>]
            ]);
            var options = {
                legend: 'none',
                pieSliceText: 'none',
                pieStartAngle: 0,
                tooltip: {trigger: 'none'},
                chartArea: {width: '100%', height: '100%'},
                slices: {
                    0: {color: '#22ddc3'},
                    1: {color: '#e4e5e8'},
                    2: {color: '#ffc939'}
                }
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
<?php else: //Hotel
    $options[7] = $blockFixed->getOptionAvailability(7);

    ?>
    <script>
        var count = 0;
    </script>
    <?php foreach ($options as $key => $option) : ?>
    <span class="header">
        <?php echo __("Availability ") ?>
            <span class="count"><?php echo __("(next %1 days)", $key) ?></span>
    </span>
    <div class="column-chart column-chart-content-<?php echo $key ?>">
        <div id="chart_div_availability_reservation" class="content-chart-block"></div>
        <div class="annotation-chart-block">
            <p class="annotation-chart reservation">
                <span class="annotation-square" style="background-color: #22ddc3"></span>
                <span>&nbsp;<?php echo __("reserved") ?></span>
            </p>
            <p class="annotation-chart available">
                <span class="annotation-square" style="background-color: #c7fff7"></span>
                <span>&nbsp;<?php echo __("available") ?></span>
            </p>
            <p class="annotation-chart annotation-chart-count reservation-count">
                <span class="count"><?php echo $blockFixed->getReservationsNext($key) ?></span>
                <span>&nbsp;<?php echo __("reservations") ?></span>
            </p>
            <p class="annotation-chart annotation-chart-count available-count">
                <span class="count"><?php echo $blockFixed->getAvailableNext($key) ?></span>
                <span><?php echo __("available") ?></span>
            </p>
        </div>

        <p class="overview-link">
            <a href="<?php echo $block->getUrl('hotel/rate/availability') ?>"><?php echo __("Manage Availability") ?>
                &rarr;</a>
        </p>
    </div>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawStacked);

        function drawStacked() {
            var pointsData = JSON.parse('<?= json_encode($option[2]) ?>');
            var points = [];
            for (var i = 0; i < pointsData.length; i++) {
                var tooltipForm = '<div style="width: 100px">' +
                    'Available <b>' + (parseInt(pointsData[i][1]) - parseInt(pointsData[i][2])) + '</b> ' +
                    '<br> Reserved <b>' + pointsData[i][2] + '</b>' +
                    '<br> Inventory <b>' + parseInt(pointsData[i][1]) + '</b></div>';
                points.push([
                    new Date(pointsData[i][0]),
                    parseInt(pointsData[i][1]) - parseInt(pointsData[i][2]),
                    tooltipForm,
                    parseInt(pointsData[i][2]),
                    tooltipForm
                ]);
            }

            var chartData =
                [
                    ['Day',
                        'Reserved',
                        {
                            type: 'string',
                            role: 'tooltip',
                            'p': {'html': true}
                        },
                        'Available',
                        {
                            type: 'string',
                            role: 'tooltip',
                            'p': {'html': true}
                        }
                    ]
                ];

            chartData = chartData.concat(points);
            var data = google.visualization.arrayToDataTable(chartData);

            var options = {
                isStacked: true,
                chartArea: {width: '78%'},
                hAxis: {
                    format: 'd',
                    baselineColor: '#95989A',
                    gridlines: {
                        color: 'transparent'
                    },
                    textStyle: {
                        color: '#465A6F',
                        fontSize: '22',
                        fontName: 'Gotham'
                    },
                    viewWindow: {}
                },
                tooltip: {isHtml: true},
                vAxis: {
                    baselineColor: '#95989A',
                    gridlines: {
                        color: '#e4e5e8'
                    },
                    textStyle: {
                        color: '#465A6F',
                        fontSize: '22',
                        fontName: 'Gotham'
                    },
                },
                series: [
                    {color: '#22ddc3'},
                    {color: '#c7fff7'}

                ],
                legend: {position: 'none'}
            };

            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_availability_reservation'));
            chart.draw(data, options);
            count++;
        }
    </script>
<?php endforeach; ?>
    <script>
        var interval = setInterval(function () {
            if (count === 3) {
                jQuery('div[class^="column-chart-content-"]').hide();
                // jQuery('div.chart-nav span').on('click', function () {
                //     var name = jQuery(this).attr('name');
                //     jQuery('div[class^="chart-content-"]').hide();
                //     jQuery('div[class^="chart-content-' + name + '"]').show();
                // });
                jQuery('div.chart-nav span[name="7"]').click();
                clearInterval(interval);
            }
        }, 500);
    </script>
<?php endif; ?>
