<?php
/**
 * @var $block \Magenest\Overview\Block\Index\Feedback
 */
$_items = $block->getReviewsCollection();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
if ($block->getVendorPromoteProduct() !== '4'):
?>
<span class="header">
    <?php echo __("Feedback") ?>
    <span class="line"></span>
</span>

<?php
if ($_items->getSize() > 0) {
    foreach ($_items as $_review):?>
        <li style="padding: 17px 0; list-style-type: none;" class="item review-item" itemscope itemprop="review"
            itemtype="http://schema.org/Review">
            <?php
            $_naVotes = $_votes = [];
            foreach ($_review->getRatingVotes() as $_vote) {
                if ($_vote->getIsAggregate()) {
                    $_votes[] = $_vote;
                } else {
                    $_naVotes[] = $_vote;
                }
            }
            ?>
            <div class="review-ratings">
                <?php if (count($_votes)): ?>
                    <?php foreach ($_votes as $_vote): ?>
                        <div class="rating-summary item" itemprop="reviewRating" itemscope
                             itemtype="http://schema.org/Rating">
                            <div class="rating-result" title="<?php /* @escapeNotVerified */
                            echo $_vote->getPercent() ?>%">
                                <meta itemprop="worstRating" content="1"/>
                                <meta itemprop="bestRating" content="100"/>
                                <span style="width:<?php /* @escapeNotVerified */
                                echo $_vote->getPercent() ?>%">
                                <span itemprop="ratingValue"><?php /* @escapeNotVerified */
                                    echo $_vote->getPercent() ?>%</span>
                            </span>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
                <span><i class="fa fa-4 fa-user-circle"
                         aria-hidden="true"></i> <?php echo $block->escapeHtml($_review->getNickname()) ?></span>
<!--                <p>Redeemed on xx/xx/xxx</p>-->
            </div>
            <div class="review-content" itemprop="description" style="margin-left: 45%;">
                <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
            </div>
        </li>
    <?php
    endforeach;
} else {
    echo '<li style="text-align: center; padding: 17px 0; list-style-type: none;"> No Feedback </li>';
} ?>
<p class="overview-link">
    <a href="<?php echo $block->getFeedbackUrl() ?>"><?php echo __("See all feedbacks ") ?> &rarr;</a>
</p>
<style>
    .review-content{
        display: block;
        text-align: left;
        text-overflow: ellipsis;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
    }

    div.overview.feedback li.item.review-item:last-of-type{
        border-bottom: none;
    }
</style>
<?php endif; ?>
