<?php
/** @var $block \Magenest\Overview\Block\Index\PaymentChart */
$productType = $block->getProductTypeTitle();
$blockFixed = $block->getBlockFixed();
$options["all_time"] = $blockFixed->getOption("all_time");
$options["this_month"] = $blockFixed->getOption("this_month");
$options[7] = $blockFixed->getOption(7);
$options[30] = $blockFixed->getOption(30);
$options[90] = $blockFixed->getOption(90);
if ($productType == "Inventory") {
    $urma = 'Returns ';
    $urmaTitle = 'Returned';
} else {
    $urma = 'Refunds ';
    $urmaTitle = 'Refunded';
}
?>
<span class="header">
    <?php if ($productType == "Hotel" || $productType == "Inventory") echo __("Total Sales");
    elseif ($productType == "Events") echo __("All Events Sales");
    else echo __("All Campaign Sales");
    ?>
    <span class="line"></span>
</span>
<div class="chart-nav">
    <span name="all_time"><?php echo __("All Time") ?></span>
    <span name="this_month"><?php echo __("This Month") ?></span>
    <span name="7"><?php echo __("Last 7 days") ?></span>
    <span name="30"><?php echo __("Last 30 days") ?></span>
    <span name="90"><?php echo __("Last 90 days") ?></span>
</div>
<script>
    var countOptions = 0;
</script>
<?php foreach ($options as $key => $option) : ?>
    <div class="chart-content-<?php echo $key ?>">
        <div class="summary-chart">
        <?php if ($productType == "Events"): ?>
            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getSaleValue($key) ?></span>
                <span><?php echo __("sales value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($blockFixed->getSoldFromDay($key)) ?></span>
                <span><?php echo __("tickets sold") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($blockFixed->getRedeemedFromDay($key)) ?></span>
                <span><?php echo __("tickets redeemed") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getRefundedValueFromDay($key) ?></span>
                <span><?php echo __("refunds value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($blockFixed->getRefundedFromDay($key)) ?></span>
                <span><?php echo __("refunds quantity") ?></span>
            </span>
        <?php elseif ($productType == "Hotel"): ?>
            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getSaleValuePreviousXDay($key) ?></span>
                <span><?php echo __("sales value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($blockFixed->getReservationsCollectionSaleFromDay($key)) ?></span>
                <span><?php echo __("reservations sold") ?></span>
            </span>
                <!---->
                <!--                <span>--><?php //echo count($blockFixed->getRedeemedFromDay($key)) ?><!--</span>-->
                <!--                <span>--><?php //echo __("reservations fulfilled") ?><!--</span>-->

            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getRefundedValueFromDay($key) ?></span>
                <span><?php echo __("refunds value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($blockFixed->getRefundedFromDay($key)) ?></span>
                <span><?php echo __("refunds quantity") ?></span>
            </span>
        <?php elseif ($productType == "Inventory"): ?>
            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getSaleValue($key) ?></span>
                <span><?php echo __("sales value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getUnitsSoldFromDay($key) ?></span>
                <span><?php echo __("units sold") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php try {
                        echo $blockFixed->getFulfilledFromDay($key);
                    } catch (\Magento\Framework\Exception\LocalizedException $e) {
                    } catch (Exception $e) {
                    } ?></span>
                <span><?php echo __("units fulfilled") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo $blockFixed->getRefundedValueFromDay($key) ?></span>
                <span><?php echo __("returns value") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php try {
                        echo $blockFixed->getRefundedFromDayQty($key);
                    } catch (\Magento\Framework\Exception\LocalizedException $e) {
                    } catch (Exception $e) {
                    } ?></span>
                <span><?php echo __("returns quantity") ?></span>
            </span>
        <?php else: ?>
            <span class="count-box">
                <span class="count"><?php echo count($block->getSoldFromDay($key)) ?></span>
                <span><?php echo __("Sold Vouchers") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo count($block->getRedeemedFromDay($key)) ?></span>
                <span><?php echo __("Redeemed Vouchers") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo $block->getProductCount($key)?></span>
                <span><?php echo __("Campaign Page Views") ?></span>
            </span>

            <span class="count-box">
                <span class="count"><?php echo $block->getFeedbackCount($key) ?></span>
                <span><?php echo __("Customer Feedback Reviews") ?></span>
            </span>
        <?php endif; ?>
        </div>
        <div id="chart_div_<?php echo $key ?>" class="column-chart"></div>
        <script type="text/javascript" defer>
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(drawChart_<?php echo $key ?>);
            var returnLabel = '<?php echo $urma; ?>';
            var returnTitle = '<?php echo $urmaTitle; ?>';

            function drawChart_<?php echo $key ?>() {
                var pointsData = JSON.parse('<?= json_encode($option[2]) ?>');
                var points = [];
                for (var i = 0; i < pointsData.length; i++) {
                    points.push([
                        new Date(pointsData[i][0]),
                        pointsData[i][1],
                        '<div style="width: auto">Sales <b>' + pointsData[i][1] + '</b> <br> Qty <b>' + pointsData[i][2] + '</b></div>',
                        pointsData[i][3],
                        '<div style="width: auto">'+ returnLabel + '<b>' + pointsData[i][3] + '</b> <br> Qty <b>' + pointsData[i][4] + '</b></div>'
                    ]);
                }
                var chartData = [
                    [
                        'Day',
                        'Sales',
                        {
                            type: 'string',
                            role: 'tooltip',
                            'p': {'html': true}
                        },
                        returnTitle,
                        {
                            type: 'string',
                            role: 'tooltip',
                            'p': {'html': true}
                        }
                    ]
                ];
                chartData = chartData.concat(points);

                var data = google.visualization.arrayToDataTable(chartData);

                var options = {
                    pointSize: <?php if ($key == 7) echo 10; elseif ($key == 30) echo 6; else echo 3; ?>,
                    chartArea: {width: '92%'},
                    hAxis: {
                        format: 'MMM d',
                        baselineColor: '#95989A',
                        gridlines: {
                            color: 'transparent'
                        },
                        textStyle: {
                            color: '#465A6F',
                            fontSize: '22',
                            fontName: 'Gotham'
                        }
                    },
                    tooltip: {isHtml: true},
                    vAxis:
                        {
                            baselineColor: '#95989A',
                            gridlines: {color: '#e4e5e8'},
                            textStyle: {
                                color: '#465A6F',
                                fontSize: '22',
                                fontName: 'Gotham'
                            }
                        },
                    series: [
                        {color: '#0096c3', areaOpacity: 0.3},
                        {color: '#FFC939', areaOpacity: 0.3}
                    ]
                };
                var chart = new google.visualization.AreaChart(document.getElementById('chart_div_<?php echo $key ?>'));
                chart.draw(data, options);
                countOptions++;
            }
        </script>
    </div>
<?php endforeach; ?>
<script>
    var interval = setInterval(function () {
        if (countOptions === 5) {
            jQuery('div[class^="chart-content-"]').hide();
            jQuery('div.chart-nav span').on('click', function () {
                var name = jQuery(this).attr('name');
                jQuery('div[class^="chart-content-"]').hide();
                jQuery('div.chart-nav span').removeClass('active');
                jQuery('div[class^="chart-content-' + name + '"]').show();
                jQuery(this).addClass('active');
            });
            jQuery('div.chart-nav span[name="7"]').click();
            jQuery('div.chart-nav span[name="7"]').addClass('active');
            clearInterval(interval);
        }
    }, 500);
</script>
