<?php
/** @var \Magenest\Overview\Block\Index\Payment $block */
$data = $block->getPayoutCollection();
$storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface');
$currencyCode = $storeManager->getStore()->getCurrentCurrencyCode();
$currency = \Magento\Framework\App\ObjectManager::getInstance()->create('Magento\Directory\Model\Currency');
$currency->load($currencyCode);
$_vendor = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session')->getVendor();
$paymentUrl = $block->getUrl('payments');
if ($block->getVendorPromoteProduct() !== '4'):
?>
<span class="header">
    <?php echo __("Latest Payments") ?>
    <span class="line"></span>
</span>

<table class="last-payment-grid">
    <?php if ($data->getSize() > 0): ?>
    <?php foreach ($data as $item) : ?>
        <?php
        $otherStatus = false;
        switch ($item->getPayoutStatus()) {
            case 'pending' :
                $state =  __("Processing");
                $amount = $currency->getCurrencySymbol() . number_format((float)$item->getData('total_due'), 2);
                break;
            case 'paid' :
                $state = __("Processed");
                $amount = $currency->getCurrencySymbol() . number_format((float)$item->getData('total_paid'), 2);
                break;
            case 'canceled' :
                $state = __("Cancelled");
                $amount = $currency->getCurrencySymbol() . number_format((float)$item->getData('total_due'), 2);
                break;
            default:
                $otherStatus = true;
        }
        ?>
        <?php //If status is not in there type above, do not show in payment block, overview page. Need fix this if the requirement changes. ?>
        <?php if (!$otherStatus): ?>
        <tr>
            <td class="payment-date"><?php echo date("F j, Y", strtotime($item->getData('created_at'))) ?></td>
            <td class="payment-amount <?php echo $item->getPayoutStatus() ?>"><?= $amount ?></td>
        </tr>
        <tr class="hr">
            <td class="payment-state" colspan="2">
                <span>#<?= $item->getId() ?> - </span>
                <span><?= $state?></span>
            </td>
        </tr>
        <?php endif; ?>
    <?php endforeach; ?>
    <?php else: ?>
        <tr>
            <td colspan="2" style="text-align: center">No payments</td>
        </tr>
    <?php endif; ?>
</table>
<p style="margin-top: 22px;" class="overview-link">
    <a href="<?php echo $paymentUrl ?>"><?php echo __("See all payments ") ?> &rarr;</a>
</p>
<style>
    .last-payment-grid tr.hr {
        border-bottom: #DDDDDD 1px solid;
        line-height: 3px;
    }

    .last-payment-grid tr:last-of-type {
        border-bottom: none;
    }

    .last-payment-grid .payment-date {
        font-weight: bold
    }

    .last-payment-grid .payment-amount {
        font-weight: bold;
        text-align: right;
        padding-right: 0;
    }

    .last-payment-grid .payment-amount.pending {
        color: #FAC65B;
    }

    .last-payment-grid .payment-amount.paid {
        color: #639A3C;
    }

    .last-payment-grid .payment-amount.canceled {
        color: red;
    }
</style>
<?php endif; ?>