<?php
/**
 * @var $block \Magenest\Overview\Block\Index\Question
 */
$data = $block->getRecentQuestion();
if ($block->getVendorPromoteProduct() !== '4'):
?>
<span class="header">
    <?php echo __("Unanswered Questions") ?>
    <span class="line"></span>
</span>
<?php if (count($data) > 0): ?>
<?php foreach ($data as $item) : ?>
    <span style="padding-left: 20px; width: 50%; display: inline-block; float: left;">
        <i class="fa fa-4 fa-user-circle" aria-hidden="true"></i> <?php echo @$item['customer_name'] ?>
    </span>
    <span align="right"
          style="width: 49%; display: inline-block; float: right;"><?php echo __("Asked on ") . $item['question_date']; ?></span>
    <span class="question-content"><?php echo $item['question_text']; ?></span>
    <hr>
<?php endforeach; ?>
<?php else: ?>
    <span style="padding-left: 278px; display: inline-block; float: left; padding-top: 20px;"><?= ("No Questions") ?></span>
<?php endif; ?>
<p class="overview-link">
    <a href="<?php echo $block->getQuestionUrl() ?>"><?php echo __("See all questions ") ?> &rarr;</a>
</p>
<style>
    span.question-content {
        display: block;
        clear: both;
        text-align: left;
        text-overflow: ellipsis;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        font-size: 14px;
        font-weight: bold;
        padding: 0 20px 40px 20px;
    }

    overview.question hr:last-of-type {
        display: none
    }
</style>
<?php endif; ?>
