<?php
/** @var $block \Magenest\RewardPoints\Block\Adminhtml\Order\Totals\RewardPoints */
?>
<?php if($block->getRewardAmount()): ?>
    <tr class="col-magenest-rewardpoints-rewardamount ?>">
        <td class="label">
            <?php echo __('Reward Amounts Invoice 1'); ?>
        </td>
        <td>
            <?php echo $block->displayPrices(-$block->getRewardAmount(), -$block->getRewardAmount()) ?>
        </td>
    </tr>
<?php endif; ?>