.questions-index-index .page-title{
    border: none;
    box-shadow: none;
    /* border-bottom: 1px solid #e4e5e8; */
    margin-bottom: 20px;
}
.questions-index-index .page-title h1{
    font-size: 24px;
    font-weight: 400;
}
.questions-index-index .feedback-filter button{
    border: none!important;
    box-shadow: none;
    height: 40px;
    width: 100%!important;
    padding: 0px!important;
    background-color: transparent;
}
.questions-index-index .filter-item{
    border: 1px solid #e4e5e8;
    width: 160px;
    border-left: none;
    margin-lefT: 0px!important;
}

.questions-index-index .filter-item:hover {
    background: #22ddc3;
}
.questions-index-index .filter-item:hover button{
    color: white!important;
}
.questions-index-index .filter-item:first-child{
    border-left: 1px solid #e4e5e8;
}
.questions-index-index .filter-item:last-child{
}
.questions-index-index .feedback-filter{
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    max-width: 100%;
}
.questions-index-index #comment-area-vendor-dashboard{
    max-width: initial!important;
    margin-top: 20px;
}
.questions-index-index .pager {
    font-size: 16px;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    position: relative;
}
.questions-index-index .pager .pages li{
    display: inline-block;
}
.questions-index-index .order-products-toolbar .toolbar-amount{
    position: absolute;
    left: 0px;
}
.questions-index-index .order-products-toolbar .limiter{
    position: absolute;
    top: 0px;
    right: 0px;
}
.questions-index-index .pager .pages{
    margin: 0;
}
.questions-index-index .pager:after{
    display: none;
}
.questions-index-index .pager .limiter select{
    padding: 10px;
    background-image: none;
}
.questions-index-index .comment-area-vendor-dashboard{
    display: flex;
    flex-wrap: wrap;
}
.questions-index-index .comment-area-vendor-dashboard .comment-item{
    flex-basis: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    position: relative;
}
.questions-index-index .toolbar.bottom{
    flex-basis: 100%;
    margin-top: 20px;
}
.questions-index-index .question-content{
    display: flex;
    flex-wrap: wrap;
}
.questions-index-index .question-content .status{
    order: 2;
    flex-basis: 40%;
    max-width: initial!important;
    text-align: right;
    font-size: 16px!important;
}
.questions-index-index .question-content .title{
    order: 1;
    flex-basis: 60%;
}
.questions-index-index .question-content .title span p{
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 30px;
}
.questions-index-index .question-content .title span .question-name-text{
    font-size: 14px;
}
.questions-index-index .question-content .title span .product-name{
    font-size: 18px!important;
    font-weight: 600;
    text-decoration: none!important;
}
.questions-index-index .question-content .question-text{
    order: 3;
    flex-basis: 100%;
    font-size: 16px!important;
    font-weight: 400!important;
}
.questions-index-index .comment-area-vendor-dashboard .question-content{
    width: calc(100% - 40px)!important;
}
.questions-index-index #submit-comment, .questions-index-index #submit-comment-email{
    width:80px!important;
    height: 40px!important;
    background: #22ddc3;
    font-size: 16px!important;
}
.questions-index-index #submit-comment-email{
    width: 160px!important;
    margin-left: 20px;
}

.questions-index-index .buttons-set{
    border: none!important;
    width: initial!important;
    float: none!important;
    position: absolute;
    bottom: 10px;
    left: 10px;
    heighT: 40px!important;
}
.questions-index-index textarea{
    resize: none;
    margin-bottom: 50px!important;
    font-size: 16px;
    padding: 10px;
}
input[type="checkbox"][class*=download-checkbox] + label.download-forCheckbox, input[type="checkbox"].vendor-checkbox + label.vendor-forCheckbox{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #b0b9c2;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 8px;
}
input[type="checkbox"][class*=download-checkbox]:checked + label.download-forCheckbox:before, input[type="checkbox"].vendor-checkbox:checked + label.vendor-forCheckbox:before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: #22ddc3;
    float: left;
    margin-top: 3px;
    margin-left: 3px;
}
#comment-area-vendor-dashboard form:after{
    display: none!important;
}
.questions-index-index .buttons-set:after{
    display: none!important;
}
.questions-index-index .checkbox{
    position: absolute;
    bottom: 15px;
    right: 10px;
    padding: 0px;
    width: 200px!important;
}
.questions-index-index .checkbox .control{
    position: relative;
}
.questions-index-index .checkbox .control > label.for-checkbox-custom{
    position: absolute;
    left: -25px;
    top: -5px;
}
.questions-index-index #answer{
    padding: 10px!important;
    border: 1px solid #e4e5e8;
    margin-left: 40px!important;
    border-radius: 5px;
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}
.questions-index-index #answer .vendor-name,.questions-index-index #answer .answer-text{
    font-size: 16px!important;
    font-weight: 400!important;
}
