<?php
/** @var $block \Magenest\Ticket\Block\Order\CustomerTicket */

$tickets = $block->getTicket();
$ticketByProduct = $block->getDataByProduct($tickets);
$baseUrl = $block->getBaseUrl();
$recipient = null;
$currentTime = $block->getCurrentTime();
$prodIdsCollection = $block->getProductIdsCollection();
$productShowCollection = $prodIdsCollection->setFlag('has_stock_status_filter', true)->getColumnValues('entity_id');
?>
<?//= var_dump($ticketByProduct)?>
<div class="accountPrd-filter">
    <ul class="accountPrd_option">
        <li <?= $block->getStatus() === 1 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusTicketUrl(1)?>">Available <span class="count">(<?php echo $block->getNumberOfStatusTicket(\Magenest\Ticket\Model\Ticket::STATUS_AVAILABLE); ?>)</span></a></li>
        <li <?= $block->getStatus() === 2 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusTicketUrl(2)?>">Used <span class="count">(<?php echo $block->getNumberOfStatusTicket(\Magenest\Ticket\Model\Ticket::STATUS_USED); ?>)</span></a></li>
        <li <?= $block->getStatus() === 5 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusTicketUrl(5)?>">Expired <span class="count">(<?php echo $block->getNumberOfStatusTicket(\Magenest\Ticket\Model\Ticket::STATUS_EXPIRED); ?>)</span></a></li>
        <li <?= $block->getStatus() === 4 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusTicketUrl(4)?>">Expired Soon <span class="count">(<?php echo $block->getNumberOfStatusTicket(4); ?>)</span></a></li>
        <li <?= $block->getStatus() === 10 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusTicketUrl(10)?>">Gifted <span class="count">(<?php echo $block->getNumberOfStatusTicket(10); ?>)</span></a></li>
    </ul>
    <div class="accountPrd_search">
        <div class="field">
            <input type="text" value="<?php echo $block->getRequest()->getParam('key_word');?>" id="search-keyword" name="search-coupons" placeholder="Search Tickets">
        </div>
        <div class="action">
            <button class="search-btn" id="search-button">Search</button>
        </div>
    </div>
    <div class="accountPrd_sortBy">
        <label>Sort By</label>
        <select id="sort_order">
            <option value="expire" <?php echo $block->filterSelected('expire');?>>Expiry Date</option>
            <option value="purchase" <?php echo $block->filterSelected('purchase');?>>Purchase Date</option>
        </select>
    </div>
</div>
<div class="accountPrd-list">
    <?php if (count($ticketByProduct) === 0 || count($productShowCollection) === 0): ?>
        <div class="message info">
            <p style="display: table-cell;">There is no ticket in this section.</p>
        </div>
    <?php else: ?>
    <?php foreach ($ticketByProduct as $parentId => $tickets):
	    if (!in_array((string)$parentId, $productShowCollection)) continue;
        /** @var \Magento\Catalog\Model\Product $product */
        $product = $block->getItems($parentId);
        ?>
        <div class="accountPrd-item">
            <span class="open"></span>
            <div class="accountPrd-product">
                <div class="product-image">
                    <?php if ($product->getData('image') && $product->getData('image') !== 'no_selection'): ?>
                        <img src="<?php echo $block->getBaseMediaUrl() . 'catalog/product' . $product->getData('image'); ?>" alt="">
                    <?php else: ?>
                        <img src="<?php echo $block->getDefaultPlaceholderImageUrl(); ?>" alt="">
                    <?php endif; ?>
                </div>
                <div class="product-info">
                    <span class="count-item" ><?php echo count($tickets);?> <?php echo count($tickets) > 1 ? __("tickets") : __("ticket") ?></span>
                    <p class="product-vendor" ><?php echo $block->getVendorName($product);?></p>
                    <p class="product-name" ><?php echo $product->getName();?></p>
                    <!--<p class="product-sku">SKU: <?php /*echo $product->getSku(); */?></p>-->
                </div>
            </div>
            <div class="accountPrd-orders">
                <ol>
                    <?php
                    $serial = 0;
                    foreach ($tickets as $ticket):
                        $serial ++;
                        $ticketProduct = $block->getItems($ticket->getProductId());
                        $orderId = $block->getOrderId($ticket->getId());
                        ?>
                        <li class="order-item">
                            <span class="serial"><?php echo $serial;?></span>
                            <div class="order-info">
                                <p class="ticket-code groupon-code"><?php echo $ticket->getData('code');?></p>
                                <p style="font-size: 18px; margin-bottom: 5px; <?= @$ticket->getSessionId() ? '' : 'display: none;' ?>"><span>Session: </span><?= $block->getSessionTime($ticket->getSessionId()) ?></p>
                                <p class="order-name"><span>Name:</span> <?php echo $ticket->getData('customer_name');?>
                                </p>
                                <p class="order-date">
                                    <span class="date">Purchased <?php echo date('D, M j, Y ',strtotime($ticket->getData('created_at')));?></span>
                                    <a href="<?php echo $block->getUrl("sales/order/view",['order_id' => $orderId]);?>" class="action-view">View Order &rarr;</a>
                                </p>

                                <?php $ticketSession = $block->getTicketSessionBySessionId($ticket->getData('session_id'))?>
                                <?php if(strtotime($currentTime) < strtotime($ticketSession->getData('session_to')) && $ticket->getStatus() === "1"):?>
                                    <p>Valid<?php echo ' from '.$ticketSession->getData('session_from');?> until <?php echo $ticketSession->getData('session_to');?></p>
                                    <span>
                                    (<?= floor((strtotime($ticketSession->getData('session_to')) - strtotime($currentTime))/86400)?> days left to Redeem)
                                </span>
                                <?php else: ?>
                                    <p>
                                    <?= __("Ticket is expired"); ?>
                                </p>
                                <?php endif; ?>
                            </div>
                            <div class="order-actions">
                                <a href="<?php echo $block->printUrl($ticket->getData('ticket_id')); ?>" class="action-viewPrd" target="_blank">View Ticket</a>
                                <?php if ($block->isRedeemable((int)$ticket->getStatus(), $ticket->getSessionId(), (int)$ticket->getCustomerStatus())): ?>
                                    <a href="#" class="action-markUsed mark_as_used" name="<?php echo $ticket->getData('ticket_id'); ?>">Mark as Used</a>
                                <?php else: ?>
                                    <a href="javascript:void(0)" class="action-markUsed <?= $block->getDisplayTextNonAvailable((int)$ticket->getData('status'), (int)$ticket->getData('customer_status')) ?>" name="<?php echo $ticket->getData('ticket_id'); ?>"><?= $block->getDisplayTextNonAvailable((int)$ticket->getData('status'), (int)$ticket->getData('customer_status')) ?></a>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    <?php endforeach;  ?>
    <?php endif; ?>
</div>
<!--END tickets-list-->


<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>

<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Magento_Ui/js/modal/confirm'
        ],
        function(
            $,
            modal,
            confirm
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Rating this Vendor',
                buttons: [
                    {
                        text: $.mage.__('Not Now'),
                        class: '',
                        click: function () {
                            jQuery("#popup-modal-coupon").modal(options).modal('closeModal');
                            window.location.reload();
                        }
                    },
                    {
                        text: $.mage.__('Submit'),
                        class: '',
                        click: function () {
                            jQuery('button.button.single-review-groupon-customer-page').click();
                            jQuery("#popup-modal-coupon").modal(options).modal('closeModal');
                        }
                    }
                ]
            };

            $(".mark_as_used").on('click',function(event){
                event.preventDefault();
                let ticketId = $(event.target).attr('name');
                confirm({
                    content: "<?php echo __("Are you sure you want to mark this ticket as Used?") ?>",
                    actions: {
                        confirm: function () {
                            $("body").trigger("processStart");
                            $.ajax({
                                url: '<?php echo $block->getUrl('ticket/order/markasused') ?>',
                                type: 'POST',
                                data: {
                                    'ticket_id': ticketId
                                },
                                showLoader: true,
                                success: function (response) {
                                    if (response.success === true) {
                                        $('a.mark_as_used[name=' + ticketId + ']').hide();
                                        if (response.has_review === true) {
                                            var popup = modal(options, $('#popup-modal-coupon'));
                                            if (response.review_modal !== undefined) {
                                                $("#popup-modal-coupon").html(response.review_modal);
                                            }
                                            $("#popup-modal-coupon").modal("openModal");
                                        } else {
                                            window.location.reload();
                                        }
                                    } else {
                                        window.location.reload();
                                    }
                                },
                                error: function (response) {

                                }
                            });
                        },
                        cancel: function () {
                            return false;
                        }
                    }
                });
            });
        }
    );
</script>
<div id="popup-modal-coupon" style="display:none;"></div>
<script>
    require([
        "jquery",
        "mage/url"
    ], function ($, urlBulder) {

        var display;
        var params = {};
        urlBulder.setBaseUrl('<?php echo $block->getBaseUrl();?>');
        var url = urlBulder.build('ticket/order/history');

        $('.coupon_filter select').change(function () {
            display = $(this).find('option:selected').data('xyz');
            params['status'] = display;
            var query = $.param(params);
            window.location.href = url + '?' + query;
        });
        $('select#sort_order').on('change',function () {
            var filter = $(this).val();
            var status  = "<?php echo $block->getRequest()->getParam('status')!=''?$block->getRequest()->getParam('status'):'all';?>";
            var params = {};
            params["status"] = status;
            params["filter"] = filter;
            var query = $.param(params);
            window.location.href = urlBulder.build('ticket/order/history') + '?' + query;
        });

        $("#search-button").click(function () {
            var params = {};
            var status  = "<?php echo $block->getRequest()->getParam('status')!=''?$block->getRequest()->getParam('status'):'all';?>";
            var filter = "<?php echo $block->getRequest()->getParam('filter');?>";
            params["status"] = status;
            if(filter=="expire"||filter=="purchase"){
                params['filter'] = filter;
            }
            var keyword = $("#search-keyword").val();
            params['key_word'] = keyword;
            var query = $.param(params);
            window.location.href = encodeURI(urlBulder.build('ticket/order/history') + '?' + query);
        });

        $('input[name="check_filter"]').change(function(){
            var filter =  $('input[name="check_filter"]:checked').val();
            display = $('.coupon_filter select').find('option:selected').data('xyz');
            params['status'] = display;
            params['filter'] = filter;
            // console.log(params);
            var query = $.param(params);
            window.location.href = url + '?' + query;
        });

        $('input#search-keyword').keypress(function (e) {
            if (e.which === 13) {
                $("#search-button").click();
                return false;
            }
        });

        $('.accountPrd-item .open').click(function () {
            $(this).parents('.accountPrd-item').toggleClass('active');
        });
    });
</script>

<style>
    input.star { display: none; }

    button.single-review-groupon-customer-page {
        display: none !important;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #444;
        transition: all .2s;
    }


    input.star-value:checked ~ label.star-value:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-food:checked ~ label.star-food:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-service:checked ~ label.star-service:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-ambiance:checked ~ label.star-ambiance:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }


    input.star-3-value:checked ~ label.star-value:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-food:checked ~ label.star-food:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-service:checked ~ label.star-service:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-ambiance:checked ~ label.star-ambiance:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1-value:checked ~ label.star-value:before { color: #F62; }
    input.star-1-food:checked ~ label.star-food:before { color: #F62; }
    input.star-1-service:checked ~ label.star-service:before { color: #F62; }
    input.star-1-ambiance:checked ~ label.star-ambiance:before { color: #F62; }

    label.star-value:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-food:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-service:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-ambiance:hover { transform: rotate(-15deg) scale(1.3); }

    label.star-value:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-food:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-service:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-ambiance:before {
        content: '\f006';
        font-family: FontAwesome;
    }

    label {
        display: inline-block;
        font-weight: normal;
    }

    input[name='check_filter'] {
        display: none;
    }

    input[value='expire']:checked + label.expired_date_filter {
        font-weight: bold;
    }

    input[value='purchase']:checked + label.purchased_date_filter {
        font-weight: bold;
    }
</style>
