<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * @see \Magento\Sales\Block\Adminhtml\Items\Column\Name
 */
?>

<?php if ($_item = $block->getItem()): ?>
    <div id="order_item_<?php /* @escapeNotVerified */ echo $_item->getId() ?>_title"
         class="product-title">
        <?php echo $block->escapeHtml($_item->getName()) ?>
    </div>

    <div class="product-sku-block">
        <span><?php /* @escapeNotVerified */ echo __('SKU') ?>:</span> <?php echo implode('<br />', $this->helper('Magento\Catalog\Helper\Data')->splitSku($block->escapeHtml($block->getSku()))); ?>
    </div>

    <?php if ($_item->getProductOptions()): ?>
        <dl class="item-options">
            <?php foreach ($_item->getProductOptions() as $_option): ?>
                <?php if (isset($_option['additional_options']) && !empty($_option['additional_options'])) {?>
                    <div class="product-option-block">
                        <?php $data = $block->getInfoTicket($_option['additional_options']); ?>
                        <?php if (!empty($data['title'])) {?>
                            <span><?php echo 'Option :'.$data['title']; ?></span><br>
                        <?php } ?>
                        <?php if (!empty($data['session'])) {?>
                            <span><?php echo 'Session :'.$data['session']; ?></span><br>
                        <?php } ?>
                        <br>
                    </div>
                    <?php } ?>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
    <?php echo $block->escapeHtml($_item->getDescription()) ?>
<?php endif; ?>
