<?php
/**
 * @var $block \Magenest\Questions\Block\Questions\Index
 */

use Magento\Framework\App\ObjectManager;

$dataCount = $block->getNumStatusQuestion();
$all = $dataCount['answer'] + $dataCount['unanswer'];
$type = $block->getRequestType();
?>
<style>
    div.avatar {
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: #22ddc3;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    .question-active {
        background: #22ddc3 !important;
        color: white !important;
    }
</style>
<div id="box" class="feedback-filter">
    <div id="box1" class="filter-item">
        <div class="filter-btn">
            <button id="filter-btn-all" <?php if ($type === false || $type === 'all') echo 'class="question-active"' ?>
                    name="all">All (<?php echo $all; ?>)
            </button>
        </div>
    </div>
    <div id="box2" class="filter-item">
        <div class="filter-btn">
            <button id="filter-btn-unanswered" <?php if ($type === 'unanswered') echo 'class="question-active"' ?>
                    name="unanswered">Unanswered (<?php echo $dataCount['unanswer']; ?>)
            </button>
        </div>
    </div>
    <div id="box3" class="filter-item">
        <div class="filter-btn">
            <button id="filter-btn-answered" name="answered">Answered (<?php echo $dataCount['answer']; ?>)</button>
        </div>
    </div>
    <div id="box5" class="filter-item">
        <div class="filter-btn">
            <button id="filter-btn-private" name="private">Private (<?php echo $dataCount['private']; ?>)</button>
        </div>
    </div>
    <div id="box6" class="filter-item">
        <div class="filter-btn">
            <button id="filter-btn-public" name="public">Public (<?php echo $dataCount['public']; ?>)</button>
        </div>
    </div>
</div>
<?php
$_hlp = ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data');
$_prHlp = ObjectManager::getInstance()->get('Unirgy\DropshipVendorAskQuestion\Helper\Data');
$_session = ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session');
$_vendor = $_session->getVendor();

$allQuestions = $block->getQuestions($type)->getData();
?>

<div id="comment-area-vendor-dashboard" class="comment-area-vendor-dashboard">
    <?php if (count($allQuestions) == 0): ?>
        <div style="text-align: center; width: 100%; margin-top: 50px;"><span>No question in this stage.</span></div>
    <?php else: ?>
        <?php foreach($allQuestions as $question): $state = 0; ?>
            <div class="comment-item">
                <div id="question">
                    <div class="avatar"
                         align="center"><?php $count = 0; ?><?php foreach(explode(' ', $question['customer_name']) as $word) : ?><?php if ($count == 2) break; ?><?php echo $word[0] ?><?php $count++; ?><?php endforeach; ?></div>
                    <div class="question-content">
                        <div class="status">
                    <span><?php
                        if ($question['question_status'] == 1 && $question['answer_status'] == 1 && ($question['answer_text'] !== null && $question['answer_text'] !== "")) {
                            echo __("Answered");
                            $state = 1;
                        } else {
                            echo __("Unanswered");
                        }
                        echo " | ";
                        if ($question['question_status'] == 1 && $question['visibility'] == 0) {
                            echo __("Private");
                        } else {
                            echo __("Public");
                        }
                        ?></span>
                        </div>
                        <div class="title">
                    <span>
                        <p class="question-name-date"><?php echo $question['customer_name'];
                            echo " - " . $question['question_date']; ?></p>
                        <?php
                        if ($question['product_id'] != null) {
                            $productData = $block->getProductInfoByID($question['product_id']);
                            echo "<a class='product-name' href='" . $productData[1] . "'>" . "Product: " . $productData[0] . "</a>";
                        }
                        if ($question['magento_order_id'] !== null): ?>
                            <p class="product-name"><?= __("Order #") . $block->getOrderIncrementId($question['magento_order_id']) ?></p>
                        <?php endif; ?>
                    </span>
                        </div>
                        <div class="question-text">
                            <span>"<?php echo $question['question_text']; ?>"</span>
                        </div>
                    </div>
                </div>
                <?php if ($question['question_status'] == 1 && $question['answer_status'] == 1 && ($question['answer_text'] !== null && $question['answer_text'] !== "")): ?>
                    <div id="answer">
                        <span class="reply"></span>
                        <div class="answer-content">
                            <span class="vendor-name"><?php echo $block->getVendorNameByID($question['vendor_id']);
                                echo " - " . $question['answer_date']; ?></span>
                            <br>
                            <span class="answer-text">"<?php echo $question['answer_text']; ?>"</span>
                        </div>
                    </div>
                <?php endif; ?>
                <form action="<?php echo $block->getUrl('udqa/vendor/questionPost', ['_current' => true]) ?>"
                      method="post" id="question-edit-form-<?php echo $question['question_id']; ?>">
                    <input type="hidden" name="id" value="<?php echo $question['question_id']; ?>"/>
                    <input id="vendor_id" name="question[vendor_id]" value="1" type="hidden"
                           class="udvalidate-vendor_id">

                    <textarea required rows="3" cols="6" id="answer_text" name="question[answer_text]" title="Answer Text"
                              class="required-entry _required udvalidate-answer_text textarea admin__control-textarea"></textarea>
                    <div class="checkbox">
                        <div class="control">
                            <label for="visibility">
                                <div class="text ">
                                    <p><span>&nbsp;<?php echo __("Make response public"); ?></span></p>
                                </div>
                            </label>
                            <input class="checkbox-custom" id="visibility-<?php echo $question['question_id']; ?>"
                                   type="checkbox" name="question[visibility]">
                            <label class="for-checkbox-custom"
                                   for="visibility-<?php echo $question['question_id']; ?>"></label>
                        </div>

                    </div>
                    <?php if ($question['is_customer_notified'] == "1"): ?>
                        <input name="send_email" value="1" type="hidden">
                    <?php else: ?>
                        <input name="send_mail" value="0" type="hidden">
                    <?php endif; ?>
                    <?php if ($state == 0): ?>
                        <div class="buttons-set">
                            <span class="question-edit-form-loader" style="display:none"
                                  id="question-edit-form-loader"><?php echo __('Please wait, submitting...') ?></span>
                            <button class="form-button" id="submit-comment" type="submit">
                                <span><?php echo __('Reply') ?></span></button>
                            <?php if ($question['is_customer_notified']): ?>
                                <button class="form-button" id="submit-comment-email" type="submit">
                                    <span><?php echo __('Reply And Email') ?></span></button>
                            <?php endif ?>
                        </div>
                    <?php else: ?>
                        <div class="buttons-set">
                            <span class="question-edit-form-loader" style="display:none"
                                  id="question-edit-form-loader"><?php echo __('Please wait, submitting...') ?></span>
                            <button class="form-button" id="submit-comment" type="submit">
                                <span><?php echo __('Modify') ?></span></button>
                            <?php if ($question['is_customer_notified']): ?>
                                <button class="form-button" id="submit-comment-email" type="submit">
                                    <span><?php echo __('Modify And Email') ?></span></button>
                            <?php endif ?>
                        </div>
                    <?php endif; ?>
                </form>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
</div>
<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<script>
    window.reindexQuestionUrl = '<?php echo $block->getReindexUrl(); ?>';
</script>