<?php /** @var $block  \Magenest\Groupon\Block\Adminhtml\Option\Edit\Tab\Main */ ?>

<?php
$data = $block->getOptionData();
$currencySymbol = $block->getCurrencySymbol();
?>
<fieldset class="fieldset" id="option_rule_information">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('General') ?></span></legend>
    <div class="information">
        <fieldset  class="admin__fieldset">
            <input type="text" name="info[option_id]" value="<?php echo $data->getOptionId(); ?>" hidden>
            <div class="admin__field  name">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Name'); ?></span></label>
                <div class="admin__field-control">
                    <input type="text" name="info[name]"  class="input-text" value="<?php echo $data->getName(); ?>" size="50" />
                </div>
            </div>
            <div class="admin__field title">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Short Title'); ?></span></label>
                <div class="admin__field-control">
                    <input type="text" name="info[title]" class="input-text" value="<?php echo $data->getTitle(); ?>" size="50" />
                </div>
            </div>
            <div class="admin__field  description">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Short Description'); ?></span></label>
                <div class="admin__field-control">
                    <textarea name="info[description]"  rows="5" cols="50"><?php echo $data->getDescription(); ?></textarea>
                </div>
            </div>
            <div class="admin__field  groupon_price">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Groupon Price'); ?></span></label>
                <div class="admin__field-control">
                    <span><?php echo $currencySymbol; ?></span>
                    <input type="text" name="info[groupon_price]" class="input-text" value="<?php echo $data->getgrouponPrice(); ?>" size="20" />
                </div>
            </div>
            <div class="admin__field  deal_value">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Campaign Value'); ?></span></label>
                <div class="admin__field-control">
                    <span><?php echo $currencySymbol; ?></span>
                    <input type="text" name="info[deal_value]" class="input-text" value="<?php echo $data->getDealValue(); ?>" size="20" /><br>
                    <span> This is how much product/service originally costs</span>
                </div>
            </div>
            <div class="admin__field  description">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Deal Price'); ?></span></label>
                <div class="admin__field-control">
                    <span><?php echo $currencySymbol; ?></span>
                    <input type="text" name="info[deal_price]" class="input-text" value="<?php echo $data->getDealPrice(); ?>" size="20" /><br>
                    <span>If you want to sell groupon that give a discount rather then service or product itselft-use
                    the field above to specify special price of the product/service</span>
                </div>
            </div>
        </fieldset>
    </div>
</fieldset>
<fieldset class="fieldset" id="commission_rule_information">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Commission') ?></span></legend>
    <div class="commission">
        <fieldset  class="admin__fieldset">
            <div class="admin__field  commit">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Commission'); ?></span></label>
                <div class="admin__field-control">
                    <input type="text" name="info[commission]" class="input-text" min="0" value="<?php echo $data->getCommission(); ?>" size="20" />
                    <span> % </span>
                </div>
            </div>
        </fieldset>
    </div>
</fieldset>
<fieldset class="fieldset" id="credit_rule_information">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Credit on purchase') ?></span></legend>
    <div class="credit">
        <fieldset  class="admin__fieldset">
            <div class="admin__field  credit">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Credit on purchase'); ?></span></label>
                <div class="admin__field-control">
                    <span><?php echo $currencySymbol; ?></span>
                    <input type="text" name="info[credit_on_purchase]" class="input-text" value="<?php echo $data->getCreditOnPurchase(); ?>" size="18" />
                </div>
            </div>
            <div class="admin__field  quantity">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('For quantity purchase'); ?></span></label>
                <div class="admin__field-control">
                    <input type="text" name="info[quantity_purchase]" class="input-text" value="<?php echo $data->getQuantityPurchase(); ?>" size="20" />
                </div>
            </div>
            <div class="admin__field  set">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Set this option as main'); ?></span></label>
                <div class="admin__field-control">
                    <input type="checkbox" name="info[as_main]"  value="1"
                        <?php if ($data->getAsMain() == 1) {
                            echo 'checked';
} ?>>
                </div>
            </div>
            <div class="admin__field  affiliate">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Affiliate'); ?></span></label>
                <div class="admin__field-control">
                    <input type="text"  name="info[affiliate]" class="input-text" value="<?php echo $data->getAffiliate(); ?>" size="20" />
                    <span> % </span>
                </div>
            </div>
        </fieldset>
    </div>
</fieldset>
<fieldset class="fieldset" id="extra_rule_information">
    <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Extra Options') ?></span></legend>
    <div class="extra">
        <fieldset  class="admin__fieldset">
            <div class="admin__field  sequence">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Sequence'); ?></span></label>
                <div class="admin__field-control">
                    <input type="number" name="info[sequence]" class="input-text" min="0" value="<?php echo $data->getSequence(); ?>" size="20" />
                </div>
            </div>
            <div class="admin__field  limit">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Maximum By Limit'); ?></span></label>
                <div class="admin__field-control">
                    <input type="number" name="info[max_limit]" class="input-text" min="0" value="<?php echo $data->getMaxLimit(); ?>" size="20" />
                </div>
            </div>
            <div class="admin__field  person_limit">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Maximum Per Person Limit'); ?></span></label>
                <div class="admin__field-control">
                    <input type="number" name="info[max_person_limit]" class="input-text" min="0" value="<?php echo $data->getMaxPersonLimit(); ?>" size="20" />
                </div>
            </div>
            <div class="admin__field  code_type">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Code Type'); ?></span></label>
                <div class="admin__field-control">
                    <input type="radio" name="info[code_type]" value="fixed" <?php if ($data->getCodeType() == 'fixed') {
                        echo 'checked';
} ?> > Fixed Code per quantity <br>
                    <input type="radio" name="info[code_type]" value="unit" <?php if ($data->getCodeType() == 'unit') {
                        echo 'checked';
} ?>> Per-Unit (kg/lb) per quantity<br>
                    <input type="radio" name="info[code_type]" value="flat" <?php if ($data->getCodeType() == 'flat') {
                        echo 'checked';
} ?>> Flat rate for any Qty this item
                </div>
            </div>
            <div class="admin__field  code_value">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Code Value'); ?></span></label>
                <div class="admin__field-control">
                    <span><?php echo $currencySymbol ?> (enter -1 to ignore shipping at this level)</span>
                    <input type="text" name="info[code_value]" class="input-text" value="<?php echo $data->getCodeValue(); ?>" size="10" />
                </div>
            </div>
            <div class="admin__field  active">
                <label for="additional_info" class="admin__field-label"><span><?php /* @escapeNotVerified */ echo  __('Active'); ?></span></label>
                <div class="admin__field-control">
                    <input type="checkbox" name="info[active]" value="1" <?php if ($data->getActive() == 1) {
                        echo 'checked';
} ?>>
                </div>
            </div>
        </fieldset>
    </div>
</fieldset>
<script>
    require([
        "jquery",
        "mage/calendar"
    ], function($){

    });
</script>