<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product additional attributes template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Attributes
 */
?>
<?php
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_product = $block->getProduct();
?>
<?php if ($_additional = $block->getAdditionalData()): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */
                __('More Information') ?></caption>
            <tbody>
            <?php $i = 1; ?>
            <?php foreach ($_additional as $_data): ?>
                <?php if ($i == 1): echo "<tr>";
                    $i++; ?>
                    <td class="col-specification-left">
                        <div class="label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></div>
                        <div class="col data"
                             data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */
                            $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></div>
                    </td>
                <?php else:;
                    $i--; ?>
                    <td class="col-specification-right">
                        <div class="label" scope="row"><?= $block->escapeHtml(__($_data['label'])) ?></div>
                        <div class="col data"
                             data-th="<?= $block->escapeHtml(__($_data['label'])) ?>"><?= /* @escapeNotVerified */
                            $_helper->productAttribute($_product, $_data['value'], $_data['code']) ?></div>
                    </td>
                    <?php echo "</tr>";
                endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <span class="additional-attributes-view-more">View More</span>
<?php endif; ?>
<style>
    .additional-attributes-wrapper .additional-attributes{
        width: 100%!important;
    }
    .additional-attributes-wrapper .additional-attributes tr{
        display: flex;
        flex-wrap: wrap;
    }
    .additional-attributes-wrapper .additional-attributes tr td {
        width: calc(50% - 10px);
        display: flex;
        flex-wrap: wrap;
        padding: 10px!important;
    }
    .additional-attributes-wrapper .additional-attributes tr td .label{
        flex-basis: calc(70% - 20px);
        margin-right: 20px;
        color: #465a6f;
        padding: 0px!important;
    }
    .additional-attributes-wrapper .additional-attributes tr td .col.data{
        flex-basis: 30%;
    }
    .additional-attributes-wrapper .additional-attributes tr td:first-child{
        margin-right: 20px;
    }
    .additional-attributes-wrapper .additional-attributes tr:nth-child(2n+1) td{
        background-color: #f5f5f5;
    }
    .additional-attributes tr:nth-child(n+6){
        display: none;
    }
    .additional-attributes.active tr:nth-child(n+6){
        display: flex;
    }
    .additional-attributes-view-more{
        padding: 10px 15px;
        display: inline-block;
        border: 1px solid #e4e5e8;
        border-radius: 4px;
        cursor: pointer;
    }
</style>
<script>
    require([
        'jquery'
    ], function($){
        var status = false;
        if($('table.additional-attributes tbody').children().length <= 5){
            $(".additional-attributes-view-more").css('display','none');
        }
        $(".additional-attributes-view-more").click(function(){
            if(!status){
                $(this).html('View Less');
            }
            else{
                $(this).html('View More');
            }
            $(this).prev().children().toggleClass('active');
            status = !status;
        })
    })
</script>