<?php
/** @var \Magenest\SellYours\Block\Catalog\ProductView $block */
?>
<?php if ($block->isSimpleProduct()): ?>
    <script>
        require([
            "jquery",
            "Magento_Ui/js/modal/modal",
            "jquery/ui",
            "prototype",
            'varien/form'
        ], function ($, modal, Ui) {
            $('#tab-label-product\\.vendors').hide();
            var vendorList = $('#product\\.vendors');
            var isShow = false,
                showVendors = function () {
                    if (isShow) {
                        vendorList.prop('style', 'display: none !important');
                    } else {
                        vendorList.prop('style', 'display: block !important');
                        vendorList.prependTo('#vendors-list');
                    }
                    isShow = !isShow;
                };

            var fotorama_scroll = 0;
            setInterval(function () {
                if ($('.fotorama__nav-wrap.fotorama__nav-wrap--horizontal').length > 0 && fotorama_scroll == 0) {
                    //    OptionsScroll
                    jQuery('.fotorama__nav-wrap.fotorama__nav-wrap--horizontal').append('<span id="fotorama__scroll-up"></span><span id="fotorama__scroll-down"></span>');
                    var iScrollPos = 0;

                    function show_scroll() {
                        var iCurScrollPos = jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").scrollTop();
                        if (iCurScrollPos > iScrollPos) {
                            //Scrolling Down
                        } else {
                            //Scrolling Up
                        }
                        iScrollPos = iCurScrollPos;
                        var scrollHeight = jQuery(".simple-product-view .fotorama__nav__shaft").height() - jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").height();
                        if (iScrollPos <= 0) {
                            jQuery('#fotorama__scroll-up').fadeOut();
                        }
                        else {
                            jQuery('#fotorama__scroll-up').fadeIn();
                        }
                        if (iScrollPos >= scrollHeight) {
                            jQuery('#fotorama__scroll-down').fadeOut();
                        }
                        else {
                            jQuery('#fotorama__scroll-down').fadeIn();
                        }
                    }

                    show_scroll();
                    jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").scroll(function () {
                        show_scroll();
                    });
                    jQuery('#fotorama__scroll-up').on({
                        'mousedown touchstart': function () {
                            jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").animate({scrollTop: 0}, 2000);
                        },
                        'mouseup touchend': function () {
                            jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").stop(true);
                        }
                    });
                    jQuery('#fotorama__scroll-down').on({
                        'mousedown touchstart': function () {
                            var scrollHeight = jQuery(".simple-product-view .fotorama__nav__shaft").height() - jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").height();
                            jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").animate({
                                scrollTop: scrollHeight
                            }, 2000);
                        },
                        'mouseup touchend': function () {
                            jQuery(".simple-product-view .fotorama__nav.fotorama__nav--thumbs").stop(true);
                        }
                    });
                    //    END OptionsScroll
                    fotorama_scroll = 1;
                }
            }, 500);

        });
    </script>

<?php endif; ?>
<style>
    .product.data.items .product-info-box .item.content#product\.vendors {
        display: none !important;
    }
</style>