<?php /** @var \Magenest\SellYours\Block\Catalog\ProductView $block */
//<!-- $block->getOfferNumber() > 1 --> ?>
<?php if ($block->isSimpleProduct()): ?>
    <?php $currencyCode = $block->getCurrencyCode(); ?>
    <?php if ($block->getOfferNumber() > 1): ?>
    <?php $offerWord = $block->getOfferNumber() > 2 ? __("offers") : __("offer") ?>
        <div class="gsw_offer">
            <span class="gsw_offer-text">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 26">
                  <g transform="translate(0 -411.7)">
                    <rect width="3.142" height="3.133" transform="translate(5.617 422.625)"/>
                    <rect width="3.142" height="3.133" transform="translate(15.241 422.625)"/>
                    <path d="M27.127,419.492H23.984v-1.449a3.221,3.221,0,0,0-6.442,0v1.449H14.4v-1.449a6.363,6.363,0,0,1,12.727,0Z" transform="translate(-8.744 0)"/>
                    <g transform="translate(0 419.492)">
                      <rect width="6.481" height="3.133" transform="translate(8.759)"/>
                      <path d="M18.383,431.6v3.132h2.475v11.943H3.142V434.733H5.617V431.6H0v18.208H24V431.6Z" transform="translate(0 -431.6)"/>
                    </g>
                  </g>
                </svg>
                <?= __("<span class='font-italic font-medium'>%1</span> more " . $offerWord . " from " . $currencyCode . " <span class='font-italic font-medium'>%2</span>", $block->getOfferNumber() - 1, number_format($block->getLowestPrice(), 2)); ?>
            </span>
            <div id="vendor-list-toggle" style="cursor: pointer">
                <a><?= __("View all offers &rarr;"); ?></a>
            </div>
            <div id="vendors-list"></div>
        </div>
    <?php endif; ?>
<?php endif; ?>