<?php
/** @var \Unirgy\Dropship\Helper\Data $_hlp */
$_hlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data');
$_prHlp = $_hlp->getObj('Unirgy\DropshipVendorProduct\Helper\Data');
$_prSrc = $_hlp->getObj('Unirgy\DropshipVendorProduct\Model\Source');
$typeOfProduct = $_hlp->getObj('Unirgy\DropshipVendorProduct\Helper\Data')->getVendorTypeOfProductConfig();
$typeOfProductConfig = ['Simple' => $typeOfProduct['Simple'], 'Virtual' => $typeOfProduct['Virtual']];
/**
 * @var $block \Magenest\SellYours\Block\ProductType
 */
?>
<div class="page-title title-buttons">
    <h4 class="vendor-header">
        <?php echo __('New Product') ?>
    </h4>
</div>
<div id="product_categories-container" class="wide select-sellyours-category">
    <div class="select-category-block">
        <label class="label admin__field-label" for="product_categories"
               data-ui-id="vendor-product-renderer-fieldsetelement-0-hidden-product-category-ids-label">
            <span>
                <?= __('What type of Product would you like to add?') ?>
            </span>
        </label>
        <select id="product_categories" name="product[category_ids][]" size="10"
                class=" hidden udvalidate-product_categories select multiselect admin__control-multiselect"
                data-ui-id="vendor-product-renderer-fieldsetelement-0-hidden-product-category-ids" multiple="multiple"
                style="display: none;">
        </select>
        <div class="mage-suggest category-select">
            <div class="mage-suggest-inner">
                <ul class="mage-suggest-choices">
                    <li class="mage-suggest-search-field" data-role="parent-choice-element">
                        <label class="mage-suggest-search-label">
                            <input id="product_categories-suggest" placeholder="start typing to search category"
                                   autocomplete="off" class="">
                        </label>
                    </li>
                </ul>
                <div class="mage-suggest-dropdown" style="display: none;"></div>
            </div>
            <span id="notification"></span>
        </div>
    </div>
    <div class="select-category-block">
        <label class="label admin__field-label" for="choose-attribute-set">
            <span>Select Attribute Set</span>
            <span class="required"> *</span>
        </label>
        <br>
        <select id="choose-attribute-set" name="product[attribute-set]" class="select admin__control-select" required>
            <option value=""></option>
            <?php foreach ($block->getAttributesSet() as $attributeSet): ?>
                <option value="<?= __($attributeSet['value']) ?>"><?= __($attributeSet['label']) ?></option>
            <?php endforeach; ?>
        </select>
        <div class="validation-advice" id="advice-required-entry-choose-attribute-set"
             style="margin: 20px 0px 0; font-size: 13px;display: none">This is a required field.
        </div>
    </div>
    <div class="custom-block-widget">
        <div class="box">
            <div class="content">
                <p class="title"><?= __('Product Type') ?></p>
                <div><?= __('It is important to choose the correct product type as it impacts the attribute you will fill the next step as well as category placement.') ?></div>
            </div>
        </div>
    </div>
</div>
<div class="sellyours-actions">
    <button type="button" class="cancel"><?= __("Cancel") ?></button>
    <button type="button" class="next" id="submit_category_selection"><?= __("Next") ?></button>
</div>
<script>
    require(["jquery", "mage/mage"], function ($) {
        $('#product_categories-suggest').mage('treeSuggest', {
            "source": '<?= $block->getUrl('udsell/index/suggestCategories') ?>',
            "valueField": "#product_categories",
            "className": "category-select",
            "multiselect": true,
            "showAll": true
        });

        $('#submit_category_selection').click(function () {
            var selectCategory = $('#product_categories').find(':selected');
            if (selectCategory === undefined) {
                $('#notification').html('You need to select category.');
                return;
            } else {
                $('#notification').html('');
            }
            var selectAttributeSet = $('#choose-attribute-set').val();
            if (selectAttributeSet === "") {
                $('#advice-required-entry-choose-attribute-set').show();
                return;
            }else{
                $('#advice-required-entry-choose-attribute-set').hide();
            }
            var select = [];
            $.each(selectCategory, function (index, element) {
                select.push(element.value);
            });
            var url = '<?= $block->getUrl('udsell/index/productaddurl') ?>'
                + 'category/' + JSON.stringify(select)+'/attribute_set/'+selectAttributeSet;
            $.ajax({
                url: url,
                type: "POST",
                contentType: false,
                cache: false,
                processData: false,
                success: function (response) {
                    window.location.href = response.url;
                },
                showLoader: true,
                error: function (response) {
                }
            });
        });
    });
</script>
