<div class="container" id="price-report" data-bind="scope:'userReport'">
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "userReport": {
                            "component" : "Magenest_UsersReportPrice/js/product/price/report",
                            "template" : "Magenest_UsersReportPrice/report",
                            "base_url" : "<?= $block->getBaseUrl(); ?>",
                            "product" : <?= json_encode($block->getProductId()); ?>
                        }
                    }
                }
            }
        }
</script>