<!--
* Copyright (c) 2018 Magenest. All rights reserved.
* See COPYING.txt for license details.
-->
<table>
    <tbody>
    <tr>
        <td>
            <!--ko if: (isShippingNeeded) -->
            <div class="shipping-vendor-method">
                <span data-bind="i18n: 'Select Shipping Method:'"></span>
                <div class="select-shipping-method">
                    <select disabled data-bind="attr: {'id': 'select-shipping-vendor-' + vendorId}, event: { change: selectVendorShippingMethod.bind($data) }"
                            title="Select Shipping Method">
                    </select>
                    <div class="message error shipping-message-error" style="margin-top: 5px; display: none" data-bind="attr: {'id' : 'shipping-error-' + vendorId}"></div>
                </div>
            </div>
            <!-- /ko -->
        </td>
        <td>
            <div class="vendor-total">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <span data-bind="i18n: 'Subtotal: '"></span>
                        </td>
                        <td>
                            <span data-bind="attr: {'id' : 'vendor-subtotal-' + vendorId}, text: currencyCode + ' ' + currency + subtotal().formatMoney(2, '.', ',')"></span>
                        </td>
                    </tr>
                    <!--ko if: (isShippingNeeded) -->
                    <tr style="display: none;">
                        <td>
                            <span data-bind="i18n: 'Vendor Coupon: '"></span>
                        </td>
                        <td>
                            <span data-bind="i18n: 'Add'"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span data-bind="i18n: 'Shipping: '"></span>
                        </td>
                        <td>
                            <span data-bind="attr: {'id' : 'vendor-shipping-' + vendorId}, text: currencyCode + ' ' + currency + shipping().formatMoney(2, '.', ',')"></span>
                        </td>
                    </tr>
                    <!--/ko-->
                    <tr>
                        <td>
                            <span data-bind="i18n: 'Tax: '"></span>
                        </td>
                        <td>
                            <span data-bind="attr: {'id' : 'vendor-tax-' + vendorId}, text: currencyCode + ' ' + currency + tax().formatMoney(2, '.', ',')"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span data-bind="i18n: 'Total: '"></span>
                        </td>
                        <td>
                            <span data-bind="attr: {'id' : 'vendor-total-' + vendorId}, text: currencyCode + ' ' + currency + total().formatMoney(2, '.', ',')"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>