<?php
/** @var \Magenest\OneSignal\Block\Notification\History $block */
$_items = $block->getCollection();
?>
<style>
    tr.unread {
        font-weight: bold;
    }
</style>
<?php if ($_items && count($_items)): ?>
    <div class="table-wrapper notification-history">
        <table>
            <?php foreach ($_items as $item) { ?>
                <tr class="<?= $item->getStatus() ? 'read' : 'unread'; ?>">
                    <td width="36px"><img src="<?= $item->getIcon(); ?>" width="36px" height="36px"></td>
                    <td>
                        <a href="<?= $item->getUrl() ? $item->getUrl() : '#'; ?>">
                            <?= $item->getHeading(); ?>
                        </a>
                    </td>
                    <td><p><?= $item->getContent(); ?></p></td>
                    <td><img src="<?= $item->getImage(); ?>"></td>
                    <?php $item->setStatus(\Magenest\OneSignal\Api\Data\NotificationInterface::STATUS_READ)->save(); ?>
                </tr>
            <?php } ?>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="tickets-events-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */
            echo __('You have not any notifications yet.'); ?></span></div>
<?php endif ?>
