<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
// Rating product form created by Core
/** @var \Magenest\FixUnirgy\Block\Product\ProductReview $block */
?>
<div class="block review-add">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Write Your Own Review')) ?></strong></div>
    <div class="block-content">
        <?php if ($block->getAllowWriteReviewFlag()): ?>
            <form action="<?= $block->escapeUrl($block->getAction()) ?>" class="review-form" method="post"
                  id="review-form_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>" data-role="product-review-form"
                  data-bind="scope: 'review-form'">
                <?= $block->getBlockHtml('formkey') ?>
                <input name="rel_entity_pk_value" value="<?= $block->getRelEntityPkValue() ?>" type="hidden"/>
                <fieldset class="fieldset review-fieldset"
                          data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <legend class="legend review-legend"><span><?= $block->escapeHtml(__("You're reviewing:")) ?></span><strong style="display: inline-block; margin-left: 10px;"><?= $block->escapeHtml($block->getProductInfo()->getName()) ?></strong>
                    </legend>
                    <br/>
                    <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                        <span id="input-message-box"></span>
                        <fieldset class="field required review-field-ratings">
                            <legend class="label"><span><?= $block->escapeHtml(__('Your Rating')) ?></span></legend>
                            <br/>
                            <div class="control">
                                <div class="nested" id="product-review-table_<?= $block->getProductId() ?>">
                                    <?php foreach($block->getRatings() as $_rating): ?>
                                        <?php if ($block->checkCategory($_rating)): ?>
                                            <div class="field choice review-field-rating">
                                                <label class="label"
                                                       id="<?= $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></label>
                                                <div class="control review-control-vote">
                                                    <?php $options = $_rating->getOptions(); ?>
                                                    <?php $iterator = 1;
                                                    foreach($options as $_option): ?>
                                                        <input
                                                                type="radio"
                                                                name="ratings[<?= $block->escapeHtmlAttr($_rating->getId()) ?>]"
                                                                id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>"
                                                                value="<?= $block->escapeHtmlAttr($_option->getId()) ?>"
                                                                class="radio"
                                                                data-validate="{'rating-required':true}"
                                                                aria-labelledby="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label"/>
                                                        <label
                                                                class="rating-<?= $block->escapeHtmlAttr($iterator) ?>"
                                                                for="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>"
                                                                title="<?= $block->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?>"
                                                                id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label">
                                                            <span><?= $block->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?></span>
                                                        </label>
                                                        <?php $iterator++; ?>
                                                    <?php endforeach; ?>
                                                </div>
                                            </div>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                                </div>
                                <input type="hidden" name="validate_rating" class="validate-rating" value=""/>
                            </div>
                        </fieldset>
                    <?php endif ?>
                    <div class="field review-field-nickname required">
                        <label for="nickname_field" class="label"><span><?= $block->escapeHtml(__('Nickname')) ?></span></label>
                        <div class="control">
                            <input type="text" name="nickname" id="nickname_field_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>"
                                   class="input-text" data-validate="{required:true}"
                                   data-bind="value: nickname()"/>
                        </div>
                    </div>
                    <div class="field review-field-summary required">
                        <label for="summary_field"
                               class="label"><span><?= $block->escapeHtml(__('Summary')) ?></span></label>
                        <div class="control">
                            <input type="text" name="title" id="summary_field_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>"
                                   class="input-text" data-validate="{required:true}"
                                   data-bind="value: review().title"/>
                        </div>
                    </div>
                    <div class="field review-field-text required">
                        <label for="review_field"
                               class="label"><span><?= $block->escapeHtml(__('Review')) ?></span></label>
                        <div class="control">
                            <textarea name="detail" id="review_field_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>" cols="5" rows="3"
                                      data-validate="{required:true}"
                                      data-bind="value: review().detail"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="actions-toolbar review-form-actions">
                    <div class="primary actions-primary">
                        <button type="submit" class="action submit primary">
                            <span><?= $block->escapeHtml(__('Submit Review')) ?></span></button>
                    </div>
                </div>
            </form>
            <script type="text/x-magento-init">
                {
                    "[data-role=product-review-form]": {
                        "Magento_Ui/js/core/app": {
                            "components":{
                                "review-form":{
                                    "component":"Magento_Review/js/view/review"
                                }
                            }
                        }
                    },
                    "#review-form_<?= $block->getProductId() ?>_<?= $block->getRelEntityPkValue() ?>_<?= $block->getVendorId() ?>": {
                        "Magento_Review/js/error-placement": {},
                        "Magento_Review/js/validate-review": {}
                    }
                }
            </script>
        <?php else: ?>
            <div class="message info notlogged" id="review-form">
                <div>
                    <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
                </div>
            </div>
        <?php endif ?>
    </div>
</div>
