<?php
/** @var $block \Magenest\Insight\Block\Index\Index */
$options = $block->getCampaign();
$product_id = $this->getRequest()->getParam('coupon_product_id');
?>
<div class="box-head">
    <div class="col3-set">
        <div class="col-1"></div>
        <div class="col-2"><?php echo __('Insights') ?></div>
        <div class="col-3">&nbsp;</div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="campaignselector-container">
    <label>Filter by campaign</label>
    <select id="campaign-selector">
        <option>Please Select Campaign</option>
        <option value="-1">All</option>
        <?php foreach ($options as $option) : ?>
            <option <?php echo @$option['product_id'] == $product_id ? 'selected' : '' ?>
                    value="<?php echo @$option['product_id'] ?>"><?php echo __("Campaign ID") ?>
                #<?php echo @$option['deal_id'] ?> - <?php echo @$option['product_name'] ?></option>
        <?php endforeach; ?>
    </select>
</div>
<div id="insight-container"></div>
<script type="text/x-magento-init">
{
    "*": {
        "Magenest_Insight/js/fetch-data": {
            "url": "<?php echo $block->getUrl('insight/index/info') ?>",
            "product_id": "<?php echo $product_id !== null ? $product_id : '' ?>"
        }
    }
}

</script>
