<?php
/** @var $block Magenest\Insight\Block\Index\Info */
echo $block->getChildHtml('active-campaign');
?>

<div class="campaign-chart">
    <?php echo $block->getChildHtml('campaign.chart'); ?>
</div>

<div class="sale-chart">
    <?php echo $block->getChildHtml('sale.chart'); ?>
</div>

<div class="map-chart">
    <?php echo $block->getChildHtml('map.chart'); ?>
</div>

<div class="gender-chart">
    <?php echo $block->getChildHtml('gender.chart'); ?>
</div>

<div class="survey-chart">
    <?php echo $block->getChildHtml('survey.chart'); ?>
</div>

<div class="age-chart">
    <?php echo $block->getChildHtml('age.chart'); ?>
</div>
