<?php
/** @var $block \Magenest\Groupon\Block\Order\CustomerGroupon */
//$block->getGrouponCollection();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
try {
    $groupons = $block->getGroupon();
	$productShowCollection = $block->getProductIdsCollection()->getColumnValues('entity_id');
} catch (Exception $e) {
	$productShowCollection = [];
}
$grouponByProduct = $block->getDataByProduct($groupons);
$datas = $groupons->getData();
$status = $block->getStatus();
$filter = $block->getFilter();
$feedBackArr = ['value','food','service','ambiance'];
$baseUrl = $block->getBaseUrl();
$recipient = null;
?>
<div class="accountPrd-filter">
    <ul class="accountPrd_option">
        <li <?= $block->getStatus() === 1 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusGrouponUrl(1)?>">Available <span class="count">(<?php echo $block->getNumberOfStatusGroupon(\Magenest\Groupon\Model\Groupon::STATUS_AVAILABLE); ?>)</span></a></li>
        <li <?= $block->getStatus() === 2 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusGrouponUrl(2)?>">Used <span class="count">(<?php echo $block->getNumberOfStatusGroupon(\Magenest\Groupon\Model\Groupon::STATUS_USED); ?>)</span></a></li>
        <li <?= $block->getStatus() === 3 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusGrouponUrl(3)?>">Expired <span class="count">(<?php echo $block->getNumberOfStatusGroupon(\Magenest\Groupon\Model\Groupon::STATUS_EXPIRED); ?>)</span></a></li>
        <li <?= $block->getStatus() === 4 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusGrouponUrl(4)?>">Expired Soon <span class="count">(<?php echo $block->getNumberOfStatusGroupon(4); ?>)</span></a></li>
        <li <?= $block->getStatus() === 5 ? 'class="active"' : '' ?>><a href="<?php echo $block->getStatusGrouponUrl(5)?>">Gifted <span class="count">(<?php echo $block->getNumberOfStatusGroupon(5); ?>)</span></a></li>
    </ul>
    <div class="accountPrd_search">
        <div class="field">
            <input type="text" value="<?php echo $block->getRequest()->getParam('key_word');?>" id="search-keyword" name="search-coupons" placeholder="Search Coupons">
        </div>
        <div class="action">
            <button class="search-btn" id="search-button">Search</button>
        </div>
    </div>
    <div class="accountPrd_sortBy">
        <label>Sort By</label>
        <select id="sort_order">
            <option value="expire" <?php echo $block->filterSelected('expire');?>>Expiry Date</option>
            <option value="purchase" <?php echo $block->filterSelected('purchase');?>>Purchase Date</option>
        </select>
    </div>
</div>
<!--coupons-list-->
<div class="accountPrd-list">
    <?php if (count($grouponByProduct) === 0): ?>
        <div class="message info">
            <p style="display: table-cell;">There is no coupon in this section.</p>
        </div>
    <?php else: ?>
    <?php foreach ($grouponByProduct as $parentId => $groupons):
        if (!in_array((string)$parentId, $productShowCollection)) continue;
        /** @var \Magento\Catalog\Model\Product $parentProduct */
        $parentProduct = $block->getItems($parentId);
        $parentDealData = $block->getDealData($parentProduct->getId());
        ?>
        <div class="accountPrd-item">
            <span class="open"></span>
            <div class="accountPrd-product">
                <div class="product-image">
                    <?php if ($parentProduct->getData('image') && $parentProduct->getData('image') !== 'no_selection'): ?>
                        <img src="<?php echo $block->getBaseMediaUrl() . 'catalog/product' . $parentProduct->getData('image'); ?>" alt="">
                    <?php else: ?>
                        <img src="<?php echo $block->getDefaultPlaceholderImageUrl(); ?>" alt="">
                    <?php endif; ?>
                </div>
                <div class="product-info">
                    <span class="count-item" ><?php echo count($groupons);?> <?php echo count($groupons) > 1 ? __("coupons") : __("coupon") ?></span>
                    <p class="product-vendor" ><?php echo $block->getVendorName($parentProduct);?></p>
                    <p class="product-name" ><?php echo $parentProduct->getName();?></p>
                    <!--<p class="product-sku">SKU: <?php /*echo $parentProduct->getSku(); */?></p>-->
                    <?php if(($parentDealData->getData('redeemable_after')!='' || $parentDealData->getData('groupon_expire') != null) && $block->isAllRedeemed($groupons)):?>
                        <p class="product-expiration">Valid
                        <?php if($parentDealData->getData('redeemable_after')!=''):?>
                            <?php echo 'from '.date('D, M j, Y ',strtotime($parentDealData->getData('redeemable_after')));?>
                        <?php endif;?>
                        <?php if ($parentDealData->getData('groupon_expire') != ''): ?>
                            until <?php echo date('D, M j, Y ',strtotime($parentDealData->getData('groupon_expire')));?>  <span class="count-days"><?php echo $block->getRedeemable($parentId)?'('.$block->getRedeemable($parentId).' days left to Redeem)':''; ?></span></p>
                        <?php endif;?>
                    <?php endif;?>
                </div>
            </div>
            <div class="accountPrd-orders">
                <ol>
                    <?php
                    $serial = 0;
                    foreach ($groupons as $groupon):
                        $serial ++;
                        $grouponProduct = $block->getItems($groupon->getProductId());
                        $orderId = $block->getOrderId($groupon->getId());
                        ?>
                        <li class="order-item">
                            <span class="serial"><?php echo $serial;?></span>
                            <div class="order-info">
                                <p class="groupon-code"><?php echo $groupon->getData('groupon_code');?></p>
                                <p style="font-size: 18px; margin-bottom: 5px;"><span>Coupon Option:</span> <?php echo $groupon->getData('product_name');?></p>
                                <p class="order-name"><span>Name:</span> <?php echo $groupon->getData('customer_name');?></p>
                                <p class="order-date">
                                    <span class="date">Purchased <?php echo date('D, M j, Y ',strtotime($groupon->getData('created_at')));?></span>
                                    <a href="<?php echo $block->getUrl("sales/order/view",['order_id' => $orderId]);?>" class="action-view">View Order &rarr;</a>
                                </p>
                            </div>
                            <div class="order-actions">
                                <a href="<?php echo $block->printUrl($groupon->getData('groupon_id')); ?>" class="action-viewPrd" target="_blank">View Coupon</a>
                                <?php if ($block->isRedeemable((int)$groupon->getData('status'), $groupon->getProductId(), (int)$groupon->getData('customer_status'))): ?>
                                    <a href="#" class="action-markUsed mark_as_used" name="<?php echo $groupon->getData('groupon_id'); ?>" about="<?= $parentId ?>">Mark as Used</a>
                                <?php else: ?>
                                    <a href="javascript:void(0)" class="action-markUsed <?= $block->getDisplayTextNonAvailable((int)$groupon->getData('status'), (int)$groupon->getData('customer_status')) ?>" name="<?php echo $groupon->getData('groupon_id'); ?>"><?= $block->getDisplayTextNonAvailable((int)$groupon->getData('status'), (int)$groupon->getData('customer_status')) ?></a>
                                <?php endif; ?>
                            </div>
                        </li>
                    <?php endforeach; ?>
                </ol>
            </div>
        </div>
    <?php endforeach;  ?>
    <?php endif; ?>
</div>
<!--END coupons-list-->


<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php endif ?>
<script>
    require([
        "jquery",
        "mage/url"
    ], function ($, urlBulder) {

        var display;
        var params = {};
        urlBulder.setBaseUrl('<?php echo $block->getBaseUrl();?>');
        var url = urlBulder.build('groupon/order/groupon');

        $('.coupon_filter select').change(function () {
            display = $(this).find('option:selected').data('xyz');
            params['status'] = display;
            var query = $.param(params);
            window.location.href = url + '?' + query;
        });
        $('select#sort_order').on('change',function () {
            var filter = $(this).val();
            var status  = "<?php echo $block->getRequest()->getParam('status')!=''?$block->getRequest()->getParam('status'):'all';?>";
            var params = {};
            params["status"] = status;
            params["filter"] = filter;
            var query = $.param(params);
            window.location.href = urlBulder.build('groupon/order/groupon') + '?' + query;
        });

        $("#search-button").click(function () {
            var params = {};
            var status  = "<?php echo $block->getRequest()->getParam('status')!=''?$block->getRequest()->getParam('status'):'all';?>";
            var filter = "<?php echo $block->getRequest()->getParam('filter');?>";
            params["status"] = status;
            if(filter=="expire"||filter=="purchase"){
                params['filter'] = filter;
            }
            var keyword = $("#search-keyword").val();
            params['key_word'] = keyword;
            var query = $.param(params);
            window.location.href = urlBulder.build('groupon/order/groupon') + '?' + query;
        });

        $('input[name="check_filter"]').change(function(){
            var filter =  $('input[name="check_filter"]:checked').val();
            display = $('.coupon_filter select').find('option:selected').data('xyz');
            params['status'] = display;
            params['filter'] = filter;
            console.log(params);
            var query = $.param(params);
            window.location.href = url + '?' + query;
        });

        $('input#search-keyword').keypress(function (e) {
            if (e.which === 13) {
                $("#search-button").click();
                return false;
            }
        });

        $('.accountPrd-item .open').click(function () {
            $(this).parents('.accountPrd-item').toggleClass('active');
        });
    });
</script>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
            'Magento_Ui/js/modal/confirm'
        ],
        function(
            $,
            modal,
            confirm
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Rating this Vendor',
                buttons: [
                    {
                        text: $.mage.__('Not Now'),
                        class: '',
                        click: function () {
                            jQuery("#popup-modal-coupon").modal(options).modal('closeModal');
                            window.location.reload();
                        }
                    },
                    {
                        text: $.mage.__('Submit'),
                        class: '',
                        click: function () {
                            jQuery('button.button.single-review-groupon-customer-page').click();
                            jQuery("#popup-modal-coupon").modal(options).modal('closeModal');
                        }
                    }
                ]
            };

            $(".mark_as_used").on('click',function(event){
                event.preventDefault();
                let grouponId = $(event.target).attr('name');
                let productParentId = $(event.target).attr('about');
                confirm({
                    content: "<?php echo __("Are you sure you want to mark this coupon as Used?") ?>",
                    actions: {
                        confirm: function () {
                            $("body").trigger("processStart");
                            $.ajax({
                                url: '<?php echo $block->getUrl('groupon/order/markasused') ?>',
                                type: 'POST',
                                data: {
                                    'groupon_id': grouponId,
                                    'parent_id': productParentId,
                                    'groupon_list': '<?php echo $block->prepareDataSend($grouponByProduct) ?>'
                                },
                                showLoader: true,
                                success: function (response) {
                                    if (response.success === true) {
                                        $('a.mark_as_used[name=' + grouponId + ']').hide();
                                        if (response.has_review === true) {
                                            $("body").trigger("processStop");
                                            var popup = modal(options, $('#popup-modal-coupon'));
                                            if (response.review_modal !== undefined) {
                                                $("#popup-modal-coupon").html(response.review_modal);
                                            }
                                            $("#popup-modal-coupon").modal("openModal");
                                        } else {
                                            window.location.reload();
                                        }
                                    } else {
                                        window.location.reload();
                                    }
                                },
                                error: function (response) {

                                }
                            });
                        },
                        cancel: function () {
                            return false;
                        }
                    }
                });
            });
        }
    );
</script>

<div id="recipient_edit_modal" style="display:none;">
    <form id="recipient_edit_form" action="">
        <label>To</label>
        <input class="recipient_name" type="text" name="recipient_name">
        <label>Recipient's Email</label>
        <input class="recipient_mail" type="text" name="recipient_mail">
        <label>Your Gift Message</label>
        <input class="recipient_msg" type="text" name="recipient_msg">
        <label>From</label>
        <input class="recipient_from" type="text" name="recipient_from">
        <input id="coupon-gift-id" type="hidden" name="coupon-gift-id">
    </form>
</div>
<div id="popup-modal-coupon" style="display:none;"></div>
<script>
    require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal'
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true,
                title: 'Recipient Detail',
                buttons: [{
                    text: $.mage.__('Save'),
                    class: '',
                    click: function () {
                        var form_data = jQuery("#recipient_edit_form").serialize();
                        var from = jQuery(".recipient_mail").val();
                        console.log(form_data);
                        jQuery.ajax({
                            url: "<?php  echo $block->getUrl('groupon/recipient/update');?>",
                            type: 'POST',
                            data : form_data,
                            showLoader: true,
                            success: function(data){
                                console.log(data);
                                $("#recipient_edit_modal").modal(options).modal('closeModal');
                                location.reload();
                            },
                            error: function(result){
                                console.log('failed');
                            }
                        });
                        this.closeModal();
                    }
                }]
            };

            var popup = modal(options, $('#recipient_edit_modal'));
            $(".recipient_coupon_edit").on('click',function(event){
                var grouponId = $(event.target).attr('name');
                $('#coupon-gift-id').remove();
                var newinput = '<div><input type="hidden" id="coupon-gift-id" name="coupon-gift-id" value="'+ grouponId +'"/></div>';
                $("#recipient_edit_form").append(newinput);//add input box

                jQuery.ajax({
                    url: "<?php  echo $block->getUrl('groupon/recipient/get');?>",
                    type: 'POST',
                    data : {id: grouponId},
                    showLoader: true,
                    success: function(result){
                        console.log(result);
                        result = $.parseJSON(result);
                        $(".recipient_from").val(result.from);
                        $(".recipient_name").val(result.name);
                        $(".recipient_mail").val(result.mail);
                        $(".recipient_msg").val(result.msg);

                        if(result.sent == '1'){
                            $(".recipient_msg").attr('disabled','disabled');
                            $(".recipient_mail").attr('disabled','disabled');
                            $(".recipient_name").attr('disabled','disabled');
                            $(".recipient_from").attr('disabled','disabled');
                        }
                        $("#recipient_edit_modal").modal("openModal");
                    }
                });
            });
        }
    );
</script>

<style>
    input.star { display: none; }

    button.button.single-review-groupon-customer-page {
        display: none !important;
    }

    label.star {
        float: right;
        padding: 10px;
        font-size: 36px;
        color: #444;
        transition: all .2s;
    }


    input.star-value:checked ~ label.star-value:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-food:checked ~ label.star-food:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-service:checked ~ label.star-service:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }
    input.star-ambiance:checked ~ label.star-ambiance:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
    }


    input.star-3-value:checked ~ label.star-value:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-food:checked ~ label.star-food:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-service:checked ~ label.star-service:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }
    input.star-3-ambiance:checked ~ label.star-ambiance:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
    }

    input.star-1-value:checked ~ label.star-value:before { color: #F62; }
    input.star-1-food:checked ~ label.star-food:before { color: #F62; }
    input.star-1-service:checked ~ label.star-service:before { color: #F62; }
    input.star-1-ambiance:checked ~ label.star-ambiance:before { color: #F62; }

    label.star-value:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-food:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-service:hover { transform: rotate(-15deg) scale(1.3); }
    label.star-ambiance:hover { transform: rotate(-15deg) scale(1.3); }

    label.star-value:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-food:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-service:before {
        content: '\f006';
        font-family: FontAwesome;
    }
    label.star-ambiance:before {
        content: '\f006';
        font-family: FontAwesome;
    }




    label {
        display: inline-block;
        font-weight: normal;
    }

    input[name='check_filter'] {
        display: none;
    }

    input[value='expire']:checked + label.expired_date_filter {
        font-weight: bold;
    }

    input[value='purchase']:checked + label.purchased_date_filter {
        font-weight: bold;
    }
</style>
