<?php
/** @var $block \Magenest\Groupon\Block\Adminhtml\Product\Form\CampaignStatusHistory */
$histories = $block->getCampaignStatusHistories();

if (!$histories->getSize()) {
    ?>
    <div class="message message-notice">
        No history records were found
    </div>
    <?php
} else {
    ?>
    <div style="width: 100%">
        <table id="campaign_history_table" style="width: 60%; margin:auto">
            <thead>
                <th>Status</th>
                <th>Updated At</th>
                <th>Comment</th>
            </thead>
            <tbody>
            <?php
            foreach ($histories as $history) {
                ?>
                <tr>
                    <td><?= \Magenest\Groupon\Model\Product\Attribute\CampaignStatus::getStatusLabelByCode($history->getStatusCode()) ?></td>
                    <td><?= $history->getCreatedAt() ?></td>
                    <td><?= $history->getComment() ?></td>
                </tr>
                <?php
            }
            ?>
            </tbody>
        </table>
    </div>
    <style>
        table#campaign_history_table tr td {
            text-align: center;
            border:1px solid black;
        }
    </style>
    <?php
}
?>
