<?php
$countries = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Directory\Model\Config\Source\CountryFactory')->create()->toOptionArray();
unset($countries[0]);
/** @var $block \Magenest\Profile\Block\Business\Index */
$vendor = $block->getVendor()->getData();
if ($block->getVendorPromoteProduct() !== 4) {
    $locations = $block->getLocation();
    $deliveries = $block->getDelivery();
}
$primaryLocationId = $vendor['primary_location_id'];
$primaryLocation = $block->getLocationById($primaryLocationId);
$countryCode = $vendor['country_id'];
$countryLabel = '';
$swapLocationUrl = $block->getUrl('profile/location/swap');
$swapDeliveryUrl = $block->getUrl('profile/delivery/swap');
$collection = $this->getLayout()->addBlock('Magenest\Groupon\Block\Vendor\Campaigns')->getDeal();
$campaignImages = $block->getCampaignImages($collection);
$uploadImageURLs = $block->getUploadedImages();
$uploadImageURLs = array_diff($uploadImageURLs, $campaignImages);
$documents = $block->getUploadedDocuments();
foreach ($countries as $_country) {
    if ($_country['value'] == $countryCode)
        $countryLabel = $_country['label'];
}
?>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "imgUpload": {
                    "component": "Magenest_Profile/js/imgupload",
                    "url" : <?php
                        echo json_encode($uploadImageURLs);
                        ?>
                }
            }
        }
    }
}
</script>
<script>
    window.ORIGIN_BASE_URL = '<?php echo $block->getBaseUrl(); ?>';
</script>
<div class="general_business_title">
    <fieldset class="fieldset_business">
        <h4>Business Profile</h4>
    </fieldset>
</div>
<div class="general_business_content">
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>General Business Information</span>
            <span class="general-business-action">Edit</span>
        </h4>
        <div class="general_business general_business_text general ">
            <fieldset class="fieldset fieldset_business">
                <div class="field">
                    <label class="label">Business Name</label>
                    <div class="text vendor_name"><?php echo $vendor['vendor_name'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Business Category</label>
                    <div class="text business_category"><?php echo $vendor['business_category'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Website</label>
                    <div class="text website"><?php echo $vendor['website'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Description</label>
                    <div class="text business_des"><?php echo $vendor['business_des'] ?></div>
                </div>
            </fieldset>
        </div>
        <div class="general_business general_business_form general_form">
            <fieldset>
                <fieldset class="fieldset fieldsetcatalog_pricing">
                    <div class="field id">
                        <label class="label" for="vendor_name"><span>Business Name</span><span class="required">&nbsp*</span></label>
                        <div class="control">
                            <input type="text" class="admin__control-text required" autofocus=""
                                   id="vendor_name"
                                   value="<?php echo $vendor['vendor_name'] ?>"
                                   name="vendor_name" data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>
                    <div class="field id">
                        <label class="label" for="business_category"><span>Business Category</span><span class="required">&nbsp*</span></label>

                        <div class="control">
                            <input type="text" class="admin__control-text required" id="business_category"
                                   name="business_category" data-validate="{required:true}" placeholder=""
                                   value="<?php echo $vendor['business_category'] ?>"
                                   aria-required="true" >
                        </div>
                    </div>

                    <div class="field id ">
                        <label class="label" for="website"><span>Website</span></label>

                        <div class="control">
                            <input type="text" class="input-text" id="website" name="website"
                                   value="<?php echo $vendor['website'] ?>"
                                   data-validate="{required:true}" aria-required="true">
                        </div>
                    </div>

                    <div class="field id ">
                        <label class="label" for="business_des"><span>Description</span></label>
                        <div class="control">
                            <textarea class="input-text" id="business_des" name="business_des" data-validate="{required:true}"
                                      aria-required="true"><?php echo $vendor['business_des'] ?></textarea>
                        </div>
                    </div>
                </fieldset>
                <div>
                    <button id="save-general">
                        <span>Save</span>
                    </button>
                    <button class="button_cancel general-form-cancel">
                        <span>Cancel</span>
                    </button>
                </div>
            </fieldset>
        </div>
        <script type="text/javascript">
            require(["jquery", "mage/mage"], function ($) {
                $('#business_category').parents('div').append('<div class="mage-suggest-dropdown" style="display: none;"></div>');
                $('#business_category').mage('treeSuggest', {
                    "source": '<?= $block->getUrl('udsell/index/suggestCategories') ?>',
                    "valueField": "#business_category",
                    "className": "mage-suggest",
                    "multiselect": false
                });
            });
        </script>
        <style>
            span.category-path {
                font-size: 11px;
                margin-left: 10px;
                color: #9ba8b5;
            }
        </style>
    </div>
    <?php if ($block->getVendorPromoteProduct() !== 4): ?>
        <div class="general_business_box">
            <h4 class="general-business-head">
                <span>Locations</span>
            </h4>
            <div class="general_business location">
                <fieldset class="fieldset_business">
                    <?php foreach ($locations as $location) : ?>
                        <div location-id="<?php echo $location->getData('location_id') ?>" class="location_information location-<?php echo $location->getData('location_id') ?> dragdrop-location">
                            <div class="location_information-container">
                                <div class="general_information">
                                    <strong><?php echo $location->getData('location_name') ?></strong>
                                    <p><?php echo ($location->getData('street') ? $location->getData('street') : '') . ', ' .
                                            ($location->getData('street_two') ? $location->getData('street_two') . ', ' : '') .
                                            ($location->getData('city') ? $location->getData('city') . ', ' : '') .
                                            ($location->getData('region') ? $location->getData('region') . ', ' : '') .
                                            ($location->getData('postcode') ? $location->getData('postcode') . ', ' : '') .
                                            ($location->getData('country') ? $location->getData('country') . ', ' : '')
                                        ?>
                                    </p>
                                </div>
                                <a href="<?php echo $block->getUrl('profile/location/edit/', ['location_id' => $location->getData('location_id')]) ?>">
                                    <div class="location_button">
                                        <span class="span_location_button">Manage location</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    <div class="location_information add-location">
                        <div class="location_information-container">
                            <a href="<?php echo $block->getUrl('profile/location/addnew'); ?>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                    <g transform="translate(0 0)">
                                        <rect width="12.555" height="2.511" transform="translate(0 5.022)"/>
                                        <rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"/>
                                        <rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"/>
                                    </g>
                                </svg>
                                <div class="location_button add_new_location">
                                    <span class="span_location_button">Add new location</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="general_business_box">
            <h4 class="general-business-head">
                <span>Delivery Areas</span>
            </h4>
            <div class="general_business delivery_area">
                <fieldset class="fieldset_business">
                    <?php foreach ($deliveries as $delivery) : ?>
                        <div delivery-id="<?php echo $delivery->getData('delivery_id') ?>" class="location_information dragdrop-delivery_area">
                            <div class="location_information-container">
                                <div class="general_information">
                                    <strong><?php echo $delivery->getData('address') ?></strong>
                                    <p><?php echo $delivery->getData('distance') ?>km delivery radius</p>
                                </div>
                                <div class="location_button" style="cursor: pointer">
                                    <span class="span_delivery_button" id="delivery_<?php echo $delivery->getData('delivery_id') ?>">Edit delivery area</span>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                    <div class="location_information add-delivery_area">
                        <div class="location_information-container">
                            <div class="location_button add_new_location" style="cursor: pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                    <g transform="translate(0 0)">
                                        <rect width="12.555" height="2.511" transform="translate(0 5.022)"/>
                                        <rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"/>
                                        <rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"/>
                                    </g>
                                </svg>
                                <span class="span_delivery_button" id="delivery_">Add new delivery area</span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    <?php endif; ?>
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>Point of Contact</span>
            <span class="general-business-action">Edit</span>
        </h4>
        <div class="general_business general_business_text contact">
            <fieldset class="fieldset fieldset_business">
                <div class="field">
                    <label class="label">First Name</label>
                    <div class="text firstname"><?php echo $vendor['firstname'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Last Name</label>
                    <div class="text lastname"><?php echo $vendor['lastname'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Role / Position</label>
                    <div class="text business_role"><?php echo $vendor['business_role'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="text email"><?php echo $vendor['email'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Phone</label>
                    <div class="text telephone"><?php echo $vendor['telephone'] ?></div>
                </div>
            </fieldset>
        </div>
        <div class="general_business general_business_form contact_form">
            <fieldset class="fieldset_business">
                <fieldset class="fieldset fieldsetcatalog_pricing">
                    <div class="field id input_left">
                        <label class="label" for="firstname"><span>First Name *</span></label>
                        <div class="control">
                            <input type="text" required class="admin__control-text" id="firstname"
                                   name="firstname" data-validate="{required:true}" placeholder="" autofocus=""
                                   aria-required="true" value="<?php echo $vendor['firstname'] ?>">
                        </div>
                    </div>
                    <div class="field id input_right">
                        <label class="label" for="lastname"><span>Last Name *</span></label>
                        <div class="control">
                            <input type="text" required class="input-text" id="lastname" name="lastname"
                                   data-validate="{required:true}" aria-required="true"
                                   value="<?php echo $vendor['lastname'] ?>">
                        </div>
                    </div>
                    <div class="field id input_left ">
                        <label class="label" for="business_role"><span>Role / Position *</span></label>
                        <div class="control">
                            <input type="text" required class="input-text" id="business_role" name="business_role"
                                   data-validate="{required:true}" aria-required="true"
                                   value="<?php echo $vendor['business_role'] ?>">
                        </div>
                    </div>
                    <div class="field id input_right">
                        <label class="label" for="email"><span>Email *</span></label>
                        <div class="control">
                            <input type="text" required class="input-text" id="email" name="email"
                                   data-validate="{required:true}" aria-required="true"
                                   value="<?php echo $vendor['email'] ?>">
                        </div>
                    </div>
                    <div class="field id input_left">
                        <label class="label" for='telephone'><span>Phone *</span></label>
                        <div class="control">
                            <input type="text" required class="admin__control-text" id='telephone'
                                   name='telephone' data-validate="{'validate-digits':true}" aria-required="true"
                                   value="<?php echo $vendor['telephone'] ?>">
                        </div>
                    </div>
                </fieldset>
                <div>
                    <button id="save-contact">
                        <span>Save</span>
                    </button>
                    <button class="button_cancel contact-form-cancel">
                        <span>Cancel</span>
                    </button>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>Mailing Address</span>
            <span class="general-business-action">Edit</span>
        </h4>
        <div class="general_business general_business_text mailing">
            <fieldset class="fieldset fieldsetcatalog_pricing">
                <div class="field">
                    <label class="label">Street Address</label>
                    <div class="text street"><?php echo $vendor['street'] ?></div>
                </div>
                <div class="field">
                    <label class="label">City</label>
                    <div class="text city"><?php echo $vendor['city'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Country</label>
                    <div class="text country_id"><?php echo $countryLabel ?></div>
                </div>
                <div class="field">
                    <label class="label">State</label>
                    <div class="text region"><?php echo $vendor['region'] ?></div>
                </div>
                <div class="field">
                    <label class="label">ZIP / Postal Code</label>
                    <div class="text zip"><?php echo $vendor['zip'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Phone Number</label>
                    <div class="text telephone"><?php echo $vendor['telephone'] ?></div>
                </div>
            </fieldset>
        </div>
        <div class="general_business general_business_form mailing_form">
            <fieldset class="fieldset fieldsetcatalog_pricing">
                <div class="field id ">
                    <div class="control">
                        <input id="copy-from-primary-location" type="checkbox" class="vendor-checkbox">
                        <label class="vendor-forCheckbox" for="copy-from-primary-location"></label>
                        <label class="label" for="copy-from-primary-location"><span>Copy from primary location</span></label>
                    </div>
                </div>
                <div class="field id input_left">
                    <label class="label" for="route"><span>Street Address</span></label>
                    <div class="control">
                        <input type="text" class="admin__control-text" onFocus="geolocate()" id="route"
                               name="route" data-validate="{required:true}" placeholder="" autocomplete="off"
                               aria-required="true"
                               value="<?php echo $vendor['street'] ?>">
                    </div>
                </div>
                <div class="field id input_right">
                    <label class="label" for="oar-order-id"><span>City</span></label>
                    <div class="control">
                        <input type="text" class="input-text" id="administrative_area_level_1" name="city"
                               data-validate="{required:true}"
                               value="<?php echo $vendor['city'] ?>"
                               aria-required="true">
                    </div>
                </div>

                <div class="field id input_left">
                    <label class="label" for="oar-order-id"><span>Country</span></label>

                    <div class="control">
                        <?php if (count($countries) > 0): ?>
                            <select name="country" id="country" style="width: 100%;">
                                <?php foreach ($countries as $country): ?>
                                    <option <?php echo $country['value'] == $vendor['country_id'] ? 'selected' : '' ?>
                                            value="<?php echo $country['value'] ?>"><?php echo $country['label'] ?></option>
                                <?php endforeach; ?>
                            </select>
                        <?php endif; ?>
                    </div>
                </div>

                <div class="field id input_right">
                    <label class="label" for="administrative_area_level_2"><span>State</span></label>
                    <div class="control">
                        <input type="text" class="admin__control-text" id="administrative_area_level_2"
                               value="<?php echo $vendor['region'] ?>"
                               name="administrative_area_level_2"
                               aria-required="true">

                    </div>
                </div>

                <div class="field id  input_left">
                    <label class="label" for="postal_code"><span>ZIP / Postal Code</span></label>
                    <div class="control">
                        <input type="text" class="admin__control-text" id="postal_code" name="postal_code"
                               value="<?php echo $vendor['zip'] ?>"
                               data-validate="{'validate-digits':true}"
                               aria-required="true">
                    </div>
                </div>
                <div class="field id input_right">
                    <label class="label" for="phone_number"><span>Phone Number</span></label>

                    <div class="control">
                        <input type="text" class="input-text" id="phone_number" name="phone_number"
                               value="<?php echo $vendor['telephone'] ?>"
                               data-validate="{required:true, 'validate-phoneLax':true}" aria-required="true">
                    </div>
                </div>

            </fieldset>
            <div>
                <button id="save-mailing">
                    <span>Save</span>
                </button>
                <button class="button_cancel mailing-form-cancel">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>Payment Detail</span>
            <span class="general-business-action">Edit</span>
        </h4>
        <div class="general_business general_business_text payment">
            <fieldset class="fieldset fieldsetcatalog_pricing">
                <div class="field">
                    <label class="label">Bank Name</label>
                    <div class="text bank_name"><?php echo $vendor['bank_name'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Swift Code</label>
                    <div class="text bank_swiftcode"><?php echo $vendor['bank_swiftcode'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Bank Account Name</label>
                    <div class="text bank_account_name"><?php echo $vendor['bank_account_name'] ?></div>
                </div>
                <div class="field">
                    <label class="label">IBAN</label>
                    <div class="text bank_iban"><?php echo $vendor['bank_iban'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Your Legal Business Name</label>
                    <div class="text legal_business_name"><?php echo $vendor['legal_business_name'] ?></div>
                </div>
                <div class="field">
                    <label class="label">Tax Registration Number</label>
                    <div class="text tax_number"><?php echo $vendor['tax_number'] ?></div>
                </div>
            </fieldset>
        </div>
        <div class="general_business general_business_form payment_form">
            <fieldset class="fieldset fieldsetcatalog_pricing">
                <div class="field id input_left">
                    <label class="label" for="bank_name"><span>Bank Name *</span></label>
                    <div class="control">
                        <input type="text" required class="admin__control-text" id="bank_name" name="bank_name"
                               data-validate="{required:true}" placeholder="" autofocus="" aria-required="true"
                               value="<?php echo $vendor['bank_name'] ?>">
                    </div>
                </div>
                <div class="field id input_right">
                    <label class="label" for="bank_swiftcode"><span>Swift Code</span></label>

                    <div class="control">
                        <input type="text" class="input-text" id="bank_swiftcode" name="bank_swiftcode"
                               data-validate="{required:true}" aria-required="true"
                               value="<?php echo $vendor['bank_swiftcode'] ?>">
                    </div>
                </div>
                <div class="field id input_left">
                    <label class="label" for="bank_account_name"><span>Bank Account Name *</span></label>
                    <div class="control">
                        <input type="text" required class="input-text" id="bank_account_name" name="bank_account_name"
                               data-validate="{required:true}" aria-required="true"
                               value="<?php echo $vendor['bank_account_name'] ?>">
                    </div>
                </div>
                <div class="field id input_right">
                    <label class="label" for="bank_iban"><span>IBAN *</span></label>
                    <div class="control">
                        <input type="text" required class="admin__control-text" id="bank_iban" name="bank_iban"
                               data-validate="{required:true}" aria-required="true"
                               value="<?php echo $vendor['bank_iban'] ?>">
                    </div>
                </div>
                <div class="field id input_left">
                    <label class="label" for="legal_business_name"><span>Your Legal Business Name *</span></label>
                    <div class="control">
                        <input type="text" required class="input-text" id="legal_business_name" name="legal_business_name"
                               data-validate="{required:true}" aria-required="true"
                               value="<?php echo $vendor['legal_business_name'] ?>">
                    </div>
                </div>
                <div class="field id  input_right">
                    <label class="label" for="tax_number"><span>Tax Registration Number</span></label>
                    <div class="control">
                        <input type="text" class="admin__control-text" id="tax_number" name="tax_number"
                               data-validate="{'validate-digits':true}" aria-required="true"
                               value="<?php echo $vendor['tax_number'] ?>">
                    </div>
                </div>
            </fieldset>
            <div>
                <button id="save-payment">
                    <span>Save</span>
                </button>
                <button class="button_cancel payment-form-cancel">
                    <span>Cancel</span>
                </button>
            </div>
        </div>
    </div>
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>Bussiness Images</span>
        </h4>
        <div class="general_business images">
            <fieldset class="fieldsetcatalog_images">
                <div data-bind="scope: 'imgUpload'">
                    <div class="business-images">
                        <?php if (count($campaignImages) > 0): ?>
                        <h5>Product Images</h5>
                        <?php
                            foreach ($campaignImages as $image) {
                                echo ("<div class='img-wrap'><img src=".$image." height='100' width='100'></div>");
                            }
                        ?>
                        <?php endif; ?>
                        <h5 data-bind="visible: photos().length > 0">Upload Images</h5>
                        <!-- ko foreach: photos -->
                        <div class="img-wrap">
                            <span class="close" title="Remove" data-bind="click: $parent.rmImg.bind($parent, $index())"></span>
                            <img data-bind="attr: {src: $data, alt: $t('haha')}" height="100" width="100">
        <!--                    <a href="#" data-bind="i18n: 'Remove', click: $parent.rmImg.bind($parent, $index())"></a>-->
                        </div>
                        <!-- /ko -->
                    </div>
                    <form>
                        <label for="img-selector" class="button-add-photo">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                <g transform="translate(0 0)">
                                    <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                                    <rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect>
                                    <rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect>
                                </g>
                            </svg>
                            <span>Add Photos</span>
                        </label>
                        <input type="file" id="img-selector" name="image" style="display: none"
                               data-bind="event: {change: uploadImage}"/>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="general_business_box">
        <h4 class="general-business-head">
            <span>Uploaded Documents</span>
            <span class="general-business-action">Edit</span>
        </h4>
        <div class="general_business general_business_text documents">
            <fieldset class="fieldsetcatalog_document">
                <div>
                    <?php if (isset($documents['commercial_circular'])): ?>
                    <label class="label" for="commercial_circular">
                        <a href="<?php echo $documents['commercial_circular']; ?>" target="_blank">
                            <span>Commercial Circular</span>
                        </a>
                    </label>
                    <?php endif; ?>
                    <?php if (isset($documents['registration_document'])): ?>
                    <label class="label" for="registration_document">
                        <a href="<?php echo $documents['registration_document']; ?>" target="_blank">
                            <span>Company Registration Document</span>
                        </a>
                    </label>
                    <?php endif; ?>
                    <?php if (isset($documents['commercial_number'])): ?>
                    <label class="label" for="commercial_number">
                        <a href="<?php echo $documents['commercial_number']; ?>" target="_blank">
                            <span>Company Commercial Number or VAT Papers</span>
                        </a>
                    </label>
                    <?php endif; ?>
                    <?php if (isset($documents['mof_register'])): ?>
                    <label class="label" for="mof_register">
                        <a href="<?php echo $documents['mof_register']; ?>" target="_blank">
                            <span>Mof Register</span>
                        </a>
                    </label>
                    <?php endif; ?>
                </div>
            </fieldset>
        </div>
        <div class="general_business general_business_form documents">
            <form class="form-finaldetails" action="<?= $block->getUrl('profile/business_document/update'); ?>"
                  method="post" name="guest_post" enctype="multipart/form-data" id="document-form">
                <fieldset class="fieldsetcatalog_document upload">
                    <div>
                        <div class="field required">
                            <label class="label" for="commercial_circular">
                                <span class="span_icon">Commercial Circular</span></label>
                            <br>
                            <div class="control">
                                <input type="file" id="commercial_circular" name="commercial_circular">
                                <div class="control-ui ">
                                    <span class="control-ui-button"></span>
                                    <span class="control-ui-text commercial_circular">Upload File</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field required">
                            <label class="label" for="registration_document">
                                <span class="span_icon">Company Registration Document</span>
                            </label>
                            <br>
                            <div class="control">
                                <input type="file" id="registration_document" name="registration_document">
                                <div class="control-ui">
                                    <span class="control-ui-button"></span>
                                    <span class="control-ui-text registration_document">Upload File</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field required">
                            <label class="label" for="commercial_number">
                                <span class="span_icon">Company Commercial Number or VAT Papers</span>
                            </label>
                            <br>
                            <div class="control">
                                <input type="file" id="commercial_number" name="commercial_number">
                                <div class="control-ui">
                                    <span class="control-ui-button"></span>
                                    <span class="control-ui-text commercial_number">Upload File</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="field required">
                            <label class="label" for="mof_register"><span class="span_icon">Mof Register</span></label>
                            <br>
                            <div class="control">
                                <input type="file" id="mof_register" name="mof_register">
                                <div class="control-ui">
                                    <span class="control-ui-button"></span>
                                    <span class="control-ui-text mof_register">Upload File</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button id="save-documents" type="submit">
                    <span>Save</span>
                </button>
            </form>
        </div>
    </div>
</div>
<div class="popup_delivery" style="display: none;width: 100%; height: 500px; float: left;">

</div>
<script type="text/javascript">
    require([
        'jquery',
        "Magento_Ui/js/modal/alert",
        'mage/mage'
    ], function ($, alert) {
        var dataForm = $('form#document-form');
        dataForm.mage('validation', {});

        var alertButtons = [{
            text: $.mage.__('OK'),
            class: 'action-primary action-accept',
            click: function () {
                window.location.reload();
            }
        }];

        $('#save-documents').on('click', function (event) {
            event.preventDefault();

            var inputs = $('form#document-form input[type="file"]');
            var formData = new FormData($('form#document-form')[0]);
            var i = 0;
            $.each(inputs, function (index, input) {
                if (input.files[0] !== undefined) {
                    i++;
                    formData.append($(input).attr('id'), input.files[0]);
                }
            });

            if (i > 0) {
                $.ajax({
                    url: '<?= $block->getUrl('profile/business_document/update'); ?>',
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    cache: false,
                    showLoader: true,
                    success: function (r) {
                        if (r.success)
                            alert({
                                content: '<?= __('Submitted documents successfully.'); ?>',
                                buttons: alertButtons
                            });
                        else alert({
                            content: r.msg,
                            buttons: alertButtons
                        });
                    },
                    error: function (r) {
                        alert({
                            content: r.msg,
                            buttons: alertButtons
                        });
                    }
                });
            } else {
                alert({
                    content: '<?= __('Please select at least 1 document.'); ?>'
                });
            }
        });
    });
</script>
<script>
    require([
        'jquery',
    ], function ($) {
        $('#commercial_circular').change(function(){
            let path = $('#commercial_circular').val();
            path = path.slice(12);
            $(".commercial_circular").html(path);
        });
        $('#registration_document').change(function(){
            let path = $('#registration_document').val();
            path = path.slice(12);
            $(".registration_document").html(path);
        });
        $('#commercial_number').change(function(){
            let path = $('#commercial_number').val();
            path = path.slice(12);
            $(".commercial_number").html(path) ;
        });
        $('#mof_register').change(function(){
            let path = $('#mof_register').val();
            path = path.slice(12);
            $(".mof_register").html(path) ;
        });
    });
</script>
<script type="text/javascript">
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/mage',
        'mage/adminhtml/wysiwyg/tiny_mce/setup'
    ], function ($, modal) {
        window.onload = function () {
            tinyMCE.init({
                mode: "exact",
                elements: "business_des",
                theme: "advanced",
                plugins: "inlinepopups,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras",
                theme_advanced_buttons1: "newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
                theme_advanced_buttons2: "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
                theme_advanced_buttons3: "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
                theme_advanced_buttons4: "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,|,visualchars,nonbreaking",
                theme_advanced_toolbar_location: "top",
                theme_advanced_toolbar_align: "left",
                theme_advanced_path_location: "bottom",
                extended_valid_elements: "a[name|href|target|title|onclick],img[class|src|border=0|alt|title|hspace|vspace|width|height|align|onmouseover|onmouseout|name],hr[class|width|size|noshade],font[face|size|color|style],span[class|align|style]",
                theme_advanced_resize_horizontal: 'true',
                theme_advanced_resizing: 'true',
                apply_source_formatting: 'true',
                convert_urls: 'false',
                force_br_newlines: 'true',
                doctype: '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">'

            });
        };
        $("#save-general").on('click', function (event) {
            var vendorName = $('input#vendor_name');
            var businessCategory = $('input#business_category');
            vendorName.removeClass('validation-failed');
            businessCategory.removeClass('validation-failed');
            event.preventDefault();
            if (vendorName.val() === '') {
                vendorName.addClass('validation-failed');
                $('body, html').animate({scrollTop: vendorName.offset().top - 140})
            }
            if (businessCategory.val() === '') {
                businessCategory.addClass('validation-failed');
                $('body, html').animate({scrollTop: vendorName.offset().top - 140})
            }
            if (vendorName.val() !== '' && businessCategory.val() !== '') {
                $.ajax({
                    url: '<?php echo $block->getUrl('profile/business/save')?>',
                    dataType: "json",
                    showLoader: true,
                    type: 'POST',
                    data: {
                        vendor_name: vendorName.val(),
                        business_category: businessCategory.val(),
                        website: $('input#website').val(),
                        business_des: tinyMCE.get('business_des').getContent()
                    },
                    success: function (response) {
                        $('.general_business.general .text.vendor_name').html(vendorName.val());
                        $('.general_business.general .text.business_category').html(businessCategory.val());
                        $('.general_business.general .text.website').html($('input#website').val());
                        $('.general_business.general .text.business_des').html(tinyMCE.get('business_des').getContent());
                        $(".general").parents('.general_business_box').removeClass('show-form');
                    },
                    error: function (response) {
                        $(".general").parents('.general_business_box').removeClass('show-form');
                    }
                })
            }
        });
        $("#save-contact").on('click', function (event) {
            event.preventDefault();
            $.ajax({
                url: '<?php echo $block->getUrl('profile/business/save')?>',
                dataType: "json",
                showLoader: true,
                type: 'POST',
                data: {
                    firstname: $('input#firstname').val(),
                    lastname: $('input#lastname').val(),
                    email: $('input#email').val(),
                    telephone: $('input#telephone').val(),
                    business_role: $('input#business_role').val()
                },
                success: function (response) {
                    $('.general_business.contact .text.firstname').html($('input#firstname').val());
                    $('.general_business.contact .text.lastname').html($('input#lastname').val());
                    $('.general_business.contact .text.email').html($('input#email').val());
                    $('.general_business.contact .text.telephone').html($('input#telephone').val());
                    $('.general_business.contact .text.business_role').html($('input#business_role').val());
                    $(".contact").parents('.general_business_box').removeClass('show-form');
                },
                error: function (response) {
                    $(".contact").parents('.general_business_box').removeClass('show-form');
                }
            })
        });
        $("#save-mailing").on('click', function (event) {
            event.preventDefault();
            $.ajax({
                url: '<?php echo $block->getUrl('profile/business/save')?>',
                dataType: "json",
                showLoader: true,
                type: 'POST',
                data: {
                    street: $('input#route').val(),
                    city: $('input#administrative_area_level_1').val(),
                    country_id: $('select#country option:selected').val(),
                    region: $('input#administrative_area_level_2').val(),
                    zip: $('input#postal_code').val(),
                    telephone: $('input#phone_number').val()
                },
                success: function (response) {
                    $('.general_business.mailing .text.street').html($('input#route').val());
                    $('.general_business.mailing .text.city').html($('input#administrative_area_level_1').val());
                    $('.general_business.mailing .text.country_id').html($('select#country option:selected').html());
                    $('.general_business.mailing .text.region').html($('input#administrative_area_level_2').val());
                    $('.general_business.mailing .text.zip').html($('input#postal_code').val());
                    $('.general_business.mailing .text.telephone').html($('input#phone_number').val());
                    $(".mailing").parents('.general_business_box').removeClass('show-form');
                },
                error: function (response) {
                    $(".mailing").parents('.general_business_box').removeClass('show-form');
                }
            })
        });
        $("#save-payment").on('click', function (event) {
            event.preventDefault();
            $.ajax({
                url: '<?php echo $block->getUrl('profile/business/save')?>',
                dataType: "json",
                showLoader: true,
                type: 'POST',
                data: {
                    bank_name: $('input#bank_name').val(),
                    bank_swiftcode: $('input#bank_swiftcode').val(),
                    bank_account_name: $('input#bank_account_name').val(),
                    bank_iban: $('input#bank_iban').val(),
                    legal_business_name: $('input#legal_business_name').val(),
                    tax_number: $('input#tax_number').val()
                },
                success: function (response) {
                    $('.general_business.payment .text.bank_name').html($('input#bank_name').val());
                    $('.general_business.payment .text.bank_swiftcode').html($('input#bank_swiftcode').val());
                    $('.general_business.payment .text.bank_account_name').html($('input#bank_account_name').val());
                    $('.general_business.payment .text.bank_iban').html($('input#bank_iban').val());
                    $('.general_business.payment .text.legal_business_name').html($('input#legal_business_name').val());
                    $('.general_business.payment .text.tax_number').html($('input#tax_number').val());
                    $(".payment").parents('.general_business_box').removeClass('show-form');
                },
                error: function (response) {
                    $(".payment").parents('.general_business_box').removeClass('show-form');
                }
            })
        });
        $(".general-business-action").click(function () {
            $(this).parents('.general_business_box').toggleClass('show-form');
        });
        $(".general_business .button_cancel").click(function () {
            $(this).parents('.general_business_box').removeClass('show-form');
        });
        $("#copy-from-primary-location").on('change', function (event) {
            if ($("#copy-from-primary-location:checked").length) {
                $('div.mailing_form .input_right, div.mailing_form .input_left').hide();
                $('div.general_business.mailing_form input#route').val('<?php echo $primaryLocation['street'] ?>');
                $("div.general_business.mailing_form select#country option[value = '" + "<?php echo $primaryLocation['country'] ?>" + "']").attr('selected', 'selected');
                $('div.general_business.mailing_form input#phone_number').val('<?php echo $primaryLocation['phone'] ?>');
                $('div.general_business.mailing_form input#administrative_area_level_1').val('<?php echo $primaryLocation['city'] ?>');
                $('div.general_business.mailing_form input#administrative_area_level_2').val('<?php echo $primaryLocation['region'] ?>');
                $('div.general_business.mailing_form input#postal_code').val('<?php echo $primaryLocation['postcode'] ?>');
            }
            else {
                $('div.mailing_form .input_right, div.mailing_form .input_left').show();
            }
        });
        var delivery_id;
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: 'Please choose a central location point and radius for your delivery / visitation service',
            buttons: [
                {
                    text: $.mage.__('Save'),
                    class: 'save-delivery',
                    click: function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: '<?php echo $block->getUrl('profile/delivery/savemap')?>',
                            dataType: "json",
                            showLoader: true,
                            type: 'POST',
                            data: {
                                distance: $('input#distance').val(),
                                delivery_id: delivery_id,
                                address: $('input#address').val(),
                                note: $('textarea#note').val(),
                                map_info: {
                                    lat: $('#lat').val(),
                                    lng: $('#lng').val()
                                }
                            },
                            success: function () {
                                window.location.reload(true);
                            },
                            error: function () {
                                window.location.reload(true);
                            }
                        });
                        this.closeModal();
                    }
                },
                {
                    text: $.mage.__('Close'),
                    click: function () {
                        this.closeModal();
                    }
                }
            ]
        };
        var popup = modal(options, $('.popup_delivery'));

        function loadDelivery(delivery_id) {
            $.ajax({
                url: '<?php echo $block->getUrl('profile/delivery/edit')?>',
                showLoader: true,
                type: 'POST',
                data: {
                    delivery_id: delivery_id
                },
                success: function (response) {
                    $('.popup_delivery').html(response);
                    $('.popup_delivery').modal("openModal");
                }
            })
        }

        $('.span_delivery_button').on('click', function (event) {
            event.preventDefault();
            delivery_id = $(this).attr('id');
            if (delivery_id.length > 9)
                delivery_id = parseInt(delivery_id.substr(9));
            else
                delivery_id = null;
            loadDelivery(delivery_id);
        })

    });

    var route;
    var componentForm = {
        route: 'long_name',
        administrative_area_level_1: 'long_name',
        administrative_area_level_2: 'short_name',
        country: 'short_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        route = new google.maps.places.Autocomplete(
            (document.getElementById('route')),
            {types: ['geocode']});
        route.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the address object.
        var place = route.getPlace();
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (jQuery.isArray(place.address_components)) {
            var street = '';
            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (addressType === "locality") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "sublocality_level_1") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "route") {
                    street = street + place.address_components[i][componentForm[addressType]];
                    continue;
                }
                if (addressType === "street_number") {
                    street = place.address_components[i]['long_name'] + ' ';
                    continue;
                }
                if (componentForm[addressType]) {
                    document.getElementById(addressType).value = place.address_components[i][componentForm[addressType]];
                }
            }
            if (street !== '')
                document.getElementById('route').value = street;
        }
    }

    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                route.setBounds(circle.getBounds());
            });
        }
    }
</script>

<?php
if (!isset($apiKey)) {
    $apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
}
?>
<script src="https://maps.googleapis.com/maps/api/js?key=<?= $apiKey; ?>&libraries=places&callback=initAutocomplete"></script>

<script type="text/javascript">
    require([
        'jquery',
        'jquery/ui'
    ], function ($) {
        jQuery.fn.swap = function (b) {
            b = jQuery(b)[0];
            var a = this[0];
            var t = a.parentNode.insertBefore(document.createTextNode(''), a);
            b.parentNode.insertBefore(a, b);
            t.parentNode.insertBefore(b, t);
            t.parentNode.removeChild(t);
            return this;
        };
        $('body').mousemove(function (event) {
            $('.dragdrop-location.ui-draggable-dragging').width($(".dragdrop-location").width());
            $('.dragdrop-delivery_area.ui-draggable-dragging').width($(".dragdrop-delivery_area").width());
        });
        $(".dragdrop-location").draggable({
            revert: true,
            helper: "clone",
        });
        $(".dragdrop-location").droppable({
            accept: ".dragdrop-location",
            activeClass: "ui-state-hover",
            hoverClass: "ui-state-active",
            drop: function (event, ui) {
                var draggable = ui.draggable, droppable = $(this),
                    dragPos = draggable.position(), dropPos = droppable.position();
                draggable.css({
                    left: dropPos.left + 'px',
                    top: dropPos.top + 'px'
                });
                droppable.css({
                    left: dragPos.left + 'px',
                    top: dragPos.top + 'px'
                });
                draggable.swap(droppable);
                $('.dragdrop-location.ui-draggable-dragging').hide();
                var draging = $('.dragdrop-location.ui-draggable-dragging').attr('location-id');
                var target = $(this).attr('location-id');
                $.ajax({
                    url: '<?php echo $swapLocationUrl ?>',
                    type: 'POST',
                    data: {
                        id1: draging,
                        id2: target
                    },
                    showLoader: true
                });
            }
        });
        $(".dragdrop-delivery_area").draggable({
            revert: true,
            helper: "clone",
        });
        $(".dragdrop-delivery_area").droppable({
            accept: ".dragdrop-delivery_area",
            activeClass: "ui-state-hover",
            hoverClass: "ui-state-active",
            drop: function (event, ui) {
                var draggable = ui.draggable, droppable = $(this),
                    dragPos = draggable.position(), dropPos = droppable.position();
                draggable.css({
                    left: dropPos.left + 'px',
                    top: dropPos.top + 'px'
                });
                droppable.css({
                    left: dragPos.left + 'px',
                    top: dragPos.top + 'px'
                });
                draggable.swap(droppable);
                $('.dragdrop-delivery_area.ui-draggable-dragging').hide();
                var draging = $('.dragdrop-delivery_area.ui-draggable-dragging').attr('delivery-id');
                var target = $(this).attr('delivery-id');
                $.ajax({
                    url: '<?php echo $swapDeliveryUrl ?>',
                    type: 'POST',
                    data: {
                        id1: draging,
                        id2: target
                    },
                    showLoader: true
                });
            }
        });
    });
</script>
