<?php
    $id = "ves_widgets_swiper_".rand().time();
    $title = $this->getConfig("title", "");
    $freemode = $this->getConfig("freemode");
    $loop = $this->getConfig("loop");
    $stylecls = $this->getConfig("stylecls");
    $slider_height = (int)$this->getConfig("slider_height",0);
?>
<?php if($items = $this->getDataItems() ): ?>
<div id="<?php echo $id; ?>" class="ves-widget widget-swiper block <?php echo $this->getConfig("addition_cls"); ?> <?php if (isset($stylecls)&&$stylecls) echo 'block-'.$stylecls;?>" data-interval="<?php echo (int)$this->getConfig("interval", 2500); ?>" data-autoplay="<?php echo $this->getConfig("auto_play", 0); ?>" data-speed="<?php echo (int)$this->getConfig("speed", 300); ?>" data-limitview="<?php echo $this->getConfig("slide_by", 'auto'); ?>" data-space="<?php echo (int)$this->getConfig("space", 0); ?>" data-direction="<?php echo $this->getConfig("direction", "horizontal") ?>" data-loop="<?php echo $loop; ?>" data-freemode="<?php echo $freemode; ?>" data-effect="<?php echo $this->getConfig("effect", "slide");?>" <?php if($this->getConfig("show_pagination")): ?> data-pagination=".swiper-pagination"<?php endif; ?> <?php if($this->getConfig("show_navigator")): ?>data-nextbutton=".swiper-button-next" data-prevbutton=".swiper-button-prev"<?php endif; ?> <?php if($this->getConfig("show_scrollbar")): ?>data-scrollbar=".swiper-scrollbar"<?php endif; ?> <?php echo $this->getConfig("rtl", 0)?' dir="rtl"':''; ?>>

    <?php if( $title != '' && !$title){ ?>
    <div class="block-title">
        <strong><span><?php echo $title; ?></span></strong>
    </div>
    <?php } ?>
    <div class="widget-inner block-content">
<!-- Swiper -->
    <div class="swiper-container slider banners masterslider" <?php echo $slider_height?' style="height:'.$slider_height.'px;"':'';?>>
        <div class="swiper-wrapper">
            <?php foreach($items as $item): ?>
                <div class="swiper-slide <?php echo ($item['size'])?'swiper-slide-'.$item['size']:''; ?>" <?php echo $slider_height?' style="height:'.$slider_height.'px;"':'';?>><div class="slide-inner"><?php echo $item['content']; ?></div></div>
            <?php endforeach; ?>
        </div>
        <?php if($this->getConfig("show_pagination")): ?>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <?php endif; ?>
        <?php if($this->getConfig("show_navigator")): ?>
         <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <?php endif; ?>
        <?php if($this->getConfig("show_scrollbar")): ?>
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
        <?php endif; ?>
    </div>
<!-- Initialize Swiper -->
    </div>
</div>
<script type="text/javascript">
require(['jquery'],function($){
    $(document).ready(function(){
    require([
            'jquery',
            'Ves_BaseWidget/js/swiper/swiper.min'
            ],function($, Swiper){
                if($("#<?php echo $id; ?>").length > 0) {
                    $("#<?php echo $id; ?>").each(function() {
                        var object_id = $(this).attr("id");
                        var autoplay = $(this).data("autoplay");
                        var interval = $(this).data("interval");
                        var speed = $(this).data("speed");
                        var limitview = $(this).data("limitview");
                        var space = $(this).data("space");
                        var direction = $(this).data("direction");
                        var loop = $(this).data("loop");
                        var effect = $(this).data("effect");
                        var pagination = $(this).data("pagination"); 
                        var nextButton = $(this).data("nextbutton");
                        var prevButton = $(this).data("prevbutton");
                        var scrollbar = $(this).data("scrollbar");
                        var freemode = $(this).data("freemode");
                        var slide_in_col = $(this).data("slideincol");
                        var slide_col_fill = $(this).data("slidecolfill");
                        var slide_group = $(this).data("slidegroup");
                        var mousewheel = $(this).data("mousewheel");

                        slide_in_col = (""==slide_in_col)?'1':slide_in_col;
                        slide_col_fill = (""==slide_col_fill)?'column':slide_col_fill;
                        slide_group = (""==slide_group)?'1':slide_group;
                        mousewheel = (1==mousewheel)?true:false;

                        limitview = (""==limitview)?'auto':limitview;
                        direction = (""==direction)?'horizontal':direction;
                        loop = (1==loop)?true:false;
                        effect = (""==effect)?'slide':effect;
                        freemode = (1==freemode)?true:false;
                        pagination = pagination?pagination:null;
                        nextButton = nextButton?nextButton:null;
                        prevButton = prevButton?prevButton:null;
                        scrollbar = scrollbar?scrollbar:null;

                        var options = {class_filter: "#"+object_id+" .swiper-container",
                                            object_id: object_id,
                                            autoplay: autoplay,
                                            interval: parseInt(interval),
                                            speed: parseInt(speed),
                                            slide_by: limitview,
                                            space: parseInt(space),
                                            freemode: freemode,
                                            direction: direction,
                                            loop: loop,
                                            effect: effect,
                                            slide_in_col: slide_in_col,
                                            slide_col_fill: slide_col_fill,
                                            slide_group: slide_group,
                                            mousewheel: mousewheel,
                                            pagination: pagination,
                                            nextButton: nextButton,
                                            prevButton: prevButton,
                                            scrollbar: scrollbar,
                                            tabletHorCol: 3,
                                            tabletVerCol: 2,
                                            mobileHorCol: 2,
                                            mobileVerCol: 1
                                        };
                        initSwiperCarousel( options, Swiper );
                    });
                }
        });
    });
});
</script>
<?php endif; ?>