.redeem-title{
    font-size: 26px;
    color: #1F2135;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 11px;
}
ul.redeem-menu{
    border-bottom: 1px solid #E4E5E8;
}
ul.redeem-menu li{
    display: inline-block;
    margin: 10px 40px -1px 0;
}
ul.redeem-menu li button,
ul.redeem-menu li button:focus{
    font-size: 16px;
    color: #7E858D;
    background: none;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    box-shadow: none;
    padding-top: 9px;
}
ul.redeem-menu li button._active,
ul.redeem-menu li button._active:focus{
    color: #22DDC3;
    border-color: #22DDC3;
}
.fieldset.enter-redemption{
    background: none;
    border: 1px solid #E4E5E8;
    padding: 21px 23px 21px 23px;
    margin-top: 40px;
    margin-bottom: 69px;
}
.fieldset.enter-redemption > .field{
    margin: 0;
    min-width: 55%;
    width: calc(100% - 488px);
    max-width: 940px;
    float: left;
}
.fieldset.enter-redemption label{
    font-size: 16px;
    color: #465A6F;
    display: block;
    margin-top: 21px;
    margin-bottom: 13px;
}
.fieldset.enter-redemption input[type="text"]{
    width: 80%;
    max-width: calc(100% - 278px);
    margin-right: 58px;
}
.fieldset.enter-redemption button{
    width: 162px;
    height: 48px;
}
.fieldset.enter-redemption .custom-block-widget{
    max-width: 45%;
    width: 488px;
    float: left;
}
.fieldset.enter-redemption .custom-block-widget > .box{
    padding-left: 15px;
}
.fieldset.enter-redemption .custom-block-widget > .box:nth-last-child(1){
    margin-bottom: 0;
}
.fieldset.enter-redemption .custom-block-widget > .box:before{
    background-image: url(../../images/important-info.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 48px;
}
.fieldset.enter-redemption .custom-block-widget > .box > .content{
    line-height: 1.45;
    padding-left: 24px;
    padding-top: 1px;
    padding-bottom: 5px;
}
h4.redemption-log-title{
    font-size: 26px;
    color: #1F2135;
    font-weight: 500;
    font-family: Montserrat;
    margin-bottom: 32px;
}
.redemption-log > ul.redemption-log-nav,
.verification-log > ul.verification-log-nav{
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    -webkit-flex-wrap: wrap-reverse;
    margin: 0;
    padding: 0 16px;
}
.redemption-log > ul.redemption-log-nav > li,
.verification-log > ul.verification-log-nav > li{
    display: inline-block;
    list-style: none;
    width: 120px;
    height: 40px;
    float: left;
    padding: 0;
    line-height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #465a6f;
    background: none;
    border: 1px solid #e4e5e8;
    border-bottom: none;
    border-radius: 0;
    font-size: 16px;
    overflow: hidden;
    margin: 0 -1px 0 0;
    text-align: center;
}
.redemption-log > ul.redemption-log-nav > li > span,
.verification-log > ul.verification-log-nav > li > span {
    display: block;
    cursor: pointer;
}
.redemption-log > ul.redemption-log-nav > li > span.active,
.verification-log > ul.verification-log-nav > li > span.active{
    background-color: #22ddc3;
    color: #fff;
}
.redemption-log > ul.redemption-log-nav > li:nth-child(1),
.verification-log > ul.verification-log-nav > li:nth-child(1){
    border-radius: 4px 0 0 0;
}
.redemption-log > ul.redemption-log-nav > li:nth-last-child(1),
.verification-log > ul.verification-log-nav > li:nth-last-child(1){
    border-radius: 0 4px 0 0;
}
.redemption-log-head,
.verification-log-head{
    margin: 0;
    border: 1px solid #e4e5e8;
    border-radius: 4px 4px 0 0;
    padding: 11px 24px 15px;
    text-align: end;
}
.redemption-log-head:after, .verification-log-head:after{
    content: "";
    display: block;
    clear: both;
}
.redemption-log-head button.download,
.verification-log-head button.download{
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: none;
    width: 152px;
    height: 40px;
    float: left;
    font-size: 16px;
    font-family: Gotham;
    color: #7e858d;
    padding: 7px 28px 10px;
    text-align: left;
    margin-top: 4px;
}
.redemption-log-head button.download svg,
.verification-log-head button.download svg{
    width: 19px;
    fill: #b0b9c2;
    float: left;
    margin-top: 3px;
    margin-right: 8px;
}
.redemption-toolbar,
.verification-toolbar{
    display: inline-block;
}
.redemption-toolbar button,
.verification-toolbar button{
    color: #7E858D;
    font-size: 0;
    background: none;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
    float: left;
    margin-left: 16px;
    box-shadow: none;
    display: inline-block;
    padding: 13px 10px;
    width: 40px;
}
.redemption-toolbar button:active,
.verification-toolbar button:active{
    background: none;
    box-shadow: none;
    border: 1px solid #e4e5e8;
    font-size: 0;
}
.redemption-toolbar button.prev:before,
.verification-toolbar button.prev:before{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #B0B9C2;
}
.redemption-toolbar button.next:before,
.redemption-toolbar button.last:before,
.verification-toolbar button.next:before,
.verification-toolbar button.last:before{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #B0B9C2;
}
.redemption-toolbar button.first:before,
.verification-toolbar button.first:before{
    content: "";
    width: 2px;
    height: 12px;
    display: inline-block;
    background: #B0B9C2;
    margin-right: 1px;
}
.redemption-toolbar button.first:after,
.verification-toolbar button.first:after{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #B0B9C2;
}
.redemption-toolbar button.last:after,
.verification-toolbar button.last:after{
    content: "";
    width: 2px;
    height: 12px;
    display: inline-block;
    background: #B0B9C2;
    margin-left: 1px;
}
.redemption-toolbar-text,
.verification-toolbar-text{
    color: #7E858D;
    font-size: 16px;
    float: left;
    line-height: 40px;
    margin-left: 16px;
}
table.redemption-log-table,
table.verification-log-table{
    border: 1px solid #e4e5e8;
    border-top: none;
}
table.redemption-log-table thead,
table.verification-log-table thead{
    border-bottom: 1px solid #e4e5e8;
    font-size: 16px;
    color: #465A6F;
}
table.redemption-log-table tbody,
table.verification-log-table tbody{
    font-size: 14px;
    color: #465A6F;
}
table.redemption-log-table tbody tr:nth-child(2n),
table.verification-log-table tbody tr:nth-child(2n){
    background-color: #F5F5F5;
}
table.redemption-log-table thead tr th,
table.verification-log-table thead tr th{
    padding: 14px 16px 16px;
}
table.redemption-log-table tbody tr td,
table.verification-log-table tbody tr td{
    padding: 16px 16px;
}
.redemption-toolbar button:hover,
.verification-toolbar button:hover{
    border-color: #465A6F;
}
.redemption-toolbar button.prev:hover:before,
.redemption-toolbar button.first:hover:after,
.verification-toolbar button.prev:hover:before,
.verification-toolbar button.first:hover:after{
    border-right-color: #465A6F;
}
.redemption-toolbar button.next:hover:before,
.redemption-toolbar button.last:hover:before,
.verification-toolbar button.next:hover:before,
.verification-toolbar button.last:hover:before{
    border-left-color: #465A6F;
}
.redemption-toolbar button.first:hover:before,
.redemption-toolbar button.last:hover:after,
.verification-toolbar button.first:hover:before,
.verification-toolbar button.last:hover:after{
    background-color: #465A6F;
}
.redemption-toolbar button:disabled,
.verification-toolbar button:disabled{
    opacity: 1;
    background-color: #e4e5e8;
}
@media (max-width: 1199px){
    .fieldset.enter-redemption > .field,
    .fieldset.enter-redemption .custom-block-widget{
        width: 100%;
        max-width: none;
    }
    .fieldset.enter-redemption .custom-block-widget{
        margin-top: 24px;
    }
}