.admin__menu .item-pagebuilder > a:before {
  content: '\e602'!important;
  font-size: 2.4rem!important;
  position: relative!important;
  top: -0.2rem!important;
}
#html-body .clearlooks2{
  z-index: 1100 !important
}
#catalog-wysiwyg-editor.popup-window.dialog{
  z-index: 1000 !important;
}
.modal-slide.magento._show{
  z-index: 12000 !important;
} 
.elfinder-cwd input{background-color: #3875d7;}
/***/
/*
#form img{
  display: none;
}*/
.wpo-copy, .wpo-edit{
  /*display: none!important;*/
}
#form .wpo-row .img-thumbnail img{
  display: block;
}
#form .img-thumbnail{
  width: 110px;
  height: 110px;
  overflow: hidden;
  margin-left: 30px;
}
#form .img-thumbnail img{
  max-width: 100%
}
.bootstrap .popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
.bootstrap  .popover.top {
  margin-top: -10px;
}
.bootstrap .popover.right {
  margin-left: 10px;
}
.bootstrap .popover.bottom {
  margin-top: 10px;
}
.bootstrap .popover.left {
  margin-left: -10px;
}
.bootstrap .popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.bootstrap .popover-content {
  padding: 9px 14px;
}
.bootstrap .popover > .arrow,
.bootstrap .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.bootstrap .popover > .arrow {
  border-width: 11px;
}
.bootstrap .popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.bootstrap .popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.bootstrap .popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.bootstrap .popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.bootstrap .popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.bootstrap .popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.bootstrap .popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.bootstrap .popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.bootstrap .popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.inpt-setting{
  position: relative;
}
.fly-buttons .btn-danger{
  position: absolute;
  top: 22px;
  right: 0;
  z-index: 3
}
 
.inpt-setting .input-group-addon img{ margin-right: 10px;}
#listprofiles {
  left: inherit;
  right: 0
}
#listprofiles  > li {
  width: 300px;
  position: relative;
}
#listprofiles  > li a {
  display: block;
  margin:2px 0;

}
#listprofiles  > li a.setdefault{
  position: absolute;
  top: 0;
  right: 30px;
  z-index: 10;

}
 .setdefault span{ color:#000 ;}
 .setdefault.active span{ color:#F4C178 ;}

#listprofiles  > li:hover a.setdefault{
  background: #D65C4F
}

#listprofiles  > li a.delete{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10
}
#listprofiles   li:hover a.delete {
  background:#D9534F;
}
/***/
.layout-builder-wrapper{
  position: relative;
  min-height: 100px;
  width: 100%;

  background: url(images/preload.gif) no-repeat center center;
  padding-top: 10px;
}
.ajaxloader{
  background: url(images/preload.gif) no-repeat center center #F3F3F3;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  width: 50px;
  height: 100%;

}

/* page layout */
.pagebuilder-editor{
  position: relative;
}
.layout-builder{
  margin:0 auto;
  display: none;
  min-height: 600px;
  background-color:#FFF;  
  
}
.grid-editor1{
  background: url(grid_978.png) no-repeat center center;
  background-size: cover!important;
}

.grid-editor{
  background: url(bootstrap-1170.png) no-repeat center center;
  background-size: contain!important;
}

.grid24-editor{
  background: url(bootstrap24-1170.png) no-repeat center center;
}
  

 .bootstrap .popover .popover-title{
  font-weight: bold;
 }
.bootstrap .popover *{
  font-weight: normal;
  font-size: 12px;
}
.bootstrap .popover .wpo-close{
  width: 30px;
  height: 20px;
  float: right;
  background:url(images/close.png) no-repeat center center;
  cursor: hand;cursor: pointer;
}
/***/
.input-wrap {
  position: relative;
}
.input-wrap .group-langs{
  position: absolute;
  top: 0;
  right: 0;
}
#wpo-widgetform .modal-header{
   padding: 5px 12px;
}
.widgets-filter > div{
  width: 100%;
}

.wpo-widgets{
  clear: both;

}
.wpo-widgets .wpo-wg-button{
  width: 24%;
  float: left;
  margin: 3px!important;
 
  padding:6px!important;
  background: #f3f3f3;
  position: relative;
  cursor: hand; cursor: pointer;  
  height: 70px;
  overflow: hidden;
  list-style-type: none;
}
.wpo-widgets .wpo-wg-button:hover{
  background: #E6E6E6;
}

.wpo-widgets .wpo-wg-button:hover .wpo-wicon{
  background-color:#F3F3F3;
}

.wpo-widgets .wpo-wg-button > div{
  position: relative;
  height: 100%;
}
.wpo-widgets .widget-title{
  font-weight: bold;
  font-size: 10px;
}
.wpo-widgets  .widget-desc{
  font-size: 10px;
}
 


.wpo-widget-form .panel-footer{
  display: none;
}
.wpo-widget-form .form-group{
  clear: both;
  width: 100%;
  display: block;
}
.wpo-widget-form  .panel{
  padding-bottom: 40px
}

#layout-builder{
  position: relative;
  background-color: #FFF;
  max-width: 100%;
  width: auto!important;
}
.loading-setting{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
  background: url(images/preload.gif) no-repeat center center #F3F3F3;
}
/***/
  

  .sg-row{
    height: 100px;
    width: 100%;
    border: dotted 1px #f3f3f3;
    background: url(images/add_row.png) no-repeat center center;
    clear: both;
  }

  .sg-row:hover{
    background: url(images/add_row.png) no-repeat center center #f2f2f2;
    cursor: hand;cursor: pointer;
  }

  .wpo-row:hover .sg-col{
    display: block; 
  }

  .sg-col{
    display: block;
  } 


  .sg-col , .lg-col{
    padding: 10px 15px;
    
    float: left;
  } 
  .sg-col {
    width: 30px;
    background: url(images/add_column.png) no-repeat center center #297BB3;
    position: absolute;
    top: -20px;
    left: 0px ;
    display: none;
    cursor: hand;cursor: pointer;
    height: 20px;z-index: 99
  }

  .wpo-row:hover > .inner > .sg-col{
    display: block
  }

  .wpo-row:hover .sg-element{
    display: block; 
  }

  .sg-element{
    display: block;
  } 


  .sg-element {
    padding: 10px 15px;
    float: left;
  } 
  .sg-element {
    width: 30px;
    background: url(images/add_element.png) no-repeat center center #f5f5f5;
    position: absolute;
    top: -20px;
    left: 66px ;
    display: none;
    cursor: hand;cursor: pointer;
    height: 22px;z-index: 99
  }

  .wpo-row:hover .sg-block{
    display: block; 
  }

  .sg-block{
    display: block;
  } 


  .sg-block {
    padding: 10px 15px;
    float: left;
  } 
  .sg-block {
    width: 30px;
    background: url(images/add_block.png) no-repeat center center #f5f5f5;
    position: absolute;
    top: -20px;
    left: 33px ;
    display: none;
    cursor: hand;cursor: pointer;
    height: 22px;z-index: 99
  }
  
/* row styles */
.wpo-row{
  
  position: relative;

}
.wpo-row > .inner {
  position: relative;
  
}
.wpo-row > .inner{
  min-height: 60px;
  padding: 18px 0px
}

.wpo-row .wpo-row > .inner {
  
}

.wpo-row .wpo-row > .inner .inner{
    border:1px dashed #dadada 
}
.wpo-row{
  background: url(images/bg.png);
  min-height: 100px;
  margin-bottom: 12px;
/*  margin-right: -15px;
  margin-left: -15px;*/
        margin-right: 0px;
  margin-left: 0px;
  clear: both;
  margin-top: 15px;
}
.wpo-row.active{

}
.wpo-row .wpo-tool{
  width: 100%;
  height: 20px;
  display: none;
  top: -20px;
  position: absolute;
  right: 0;
  z-index: 99
}
.wpo-row:hover > .wpo-tool{
  display: block
}
.inner{
  position: relative;
}
.wpo-row .wpo-row {
 
}
.wpo-row .wpo-row .wpo-addrow {
  display: none!important
}
 
.wpo-row .wpo-tool > div{
  height: 19px;
  width: 30px;
  float: right;
  margin-right: 1px;
  cursor: hand;cursor: pointer;
}
 .ui-state-highlight { height: 100px;    }

.wpo-tool .wpo-delete{
  background: url(images/remove_row.png)no-repeat center center #D65C4F;
}
.wpo-tool .wpo-edit{
  background: url(images/config.png)no-repeat center center #65B688;
}

.wpo-tool .wpo-copy{
  background: url(images/copy.png)no-repeat center center #3CA2BB;
}

.wpo-row:hover .wpo-tool .wpo-sortable,.wpo-row:hover .wpo-tool .wpo-child-sortable{
  display: block;
}
.wpo-row .wpo-tool .wpo-sortable,.wpo-row .wpo-tool .wpo-child-sortable{
  position: relative;
 
  background: url(images/drag.png) no-repeat center center #65B688;
  margin-left: 12px;
  cursor: move;
 
}

/** COLUMN STYLE **/
.lg-col > .inner {
  background: #FFF;
  position: relative;
  border:1px dashed #dadada
  
}
.lg-col .inner{  
  padding: 6px 0;

}

.lg-col >  .hd-widgets-func{
  border: dashed 1px #FFF ;
}
.hd-widgets-func > .wpo-addwidget, .hd-widgets-func > .wpo-content{
  /*display: none!important;*/
}

.lg-col > .inner > .wpo-delete  {
  left: 0;
  /*z-index: 10;*/
  background: url(images/col_delete.png)no-repeat center center #D65C4F;

}
 
.lg-col > .inner > .wpo-edit{
  background: url(images/col_config.png)no-repeat center center #65B688;
  left:16px;
}
.lg-col > .inner > .wpo-addwidget{
  background: url(images/add_widget.png)no-repeat center center #297bb3;
  position: absolute;
  right: 0;
}

.lg-col > .inner >.wpo-addrow{
  background: url(images/add_widget.png)no-repeat center center red;
  left: 32px;
}


.lg-col.active > .inner{ }

.lg-col > .inner > .wpo-icon{
  display: none;
  height:15px;
  width: 15px;
  position: absolute;
  top:-15px;
}
.lg-col:hover > .inner > .wpo-icon{
  display: block;

  
}
.lg-col > .inner > .wpo-icon:hover{
  background-color: #7f8d8e;
  cursor: hand; cursor: pointer;
}

.lg-col .wpo-content{
  min-height: 26px;
  width: 100%;
}

.lg-col .ui-resizable-handle{
  background:url(images/bg-handle-resize-h.png) no-repeat center center #DDD;
  right: 0;
  height: 20px;
  bottom: 10px;
  top: inherit;
  z-index: 10!important;


}
.lg-col .lg-col .ui-resizable-handle{
  background:url(images/bg-handle-resize-h.png) no-repeat center center #CCC;
  z-index: 100!important
}
.lg-col:hover .ui-resizable-handle{ 
 
}
/**/
.ui-state-highlight-widget{
    background: #f3f3f3;
    height: 30px;
    margin: 8px;
  padding: 6px 12px;
}
.ui-state-highlightcol{
  background: #FCF8E3;
  height: 50px;
  float: left;
}


.wpo-ijwidget{
  margin: 8px;
  padding: 10px 12px;
  background: #efefef;
  position: relative;
  cursor: hand; cursor: pointer;  
  border: solid 1px #e9e7e7;
  min-height: 100px;
}
.wpo-ijwidget:hover{
  border-color:#f3eeee;
  background: #f6f6f6 
}
.wpo-ijwidget .wpo-wedit,.wpo-wcopy-shortcode,.wpo-wedit-shortcode,.wpo-ijwidget .wpo-wsetting, .wpo-ijwidget .wpo-wdelete, .wpo-ijwidget .wpo-wcopy{
  width: 14px;
  height: 16px;
  position: absolute;
  top: 0;
  display: none;
}
.wpo-ijwidget:hover .wpo-wedit, .wpo-ijwidget:hover .wpo-wedit-shortcode,.wpo-ijwidget:hover .wpo-wcopy-shortcode, .wpo-ijwidget:hover .wpo-wsetting, .wpo-ijwidget:hover .wpo-wdelete, .wpo-ijwidget:hover .wpo-wcopy {
  display: block;
}
.wpo-ijwidget .wpo-wedit{
  right: 25px;
  background: url(images/col_edit.png)no-repeat center center transparent;
}
.wpo-wcopy-shortcode{
  right: 75px;
  background: url(images/clippy.svg)no-repeat center center transparent;
  background-size: contain!important;
}
.wpo-wedit-shortcode{
  right: 95px;
  background: url(images/col_shortcode.png)no-repeat center center transparent;
}
.wpo-ijwidget .wpo-wsetting{
  right: 55px;
  background: url(images/col_config.png)no-repeat center center #3293d8;
}
.wpo-ijwidget .wpo-wdelete{
  right: 10px;
  background: url(images/col_delete.png)no-repeat center center #D65C4F;
}

.wpo-ijwidget .wpo-wcopy{
  right: 40px;
  background: url(images/widget_copy.png)no-repeat center center #3CA2BB;
}

.wpo-ijwidget  .widget-title{
  font-weight: bold;
  font-size: 11px;
}
.wpo-wicon{
    text-align: center;
  width: 32px;
  height: 32px;
  background-color: #e6e6e6;
  float: left;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius:10%;
  border-radius: 10%;
  -moz-border-radius:10%;
}
.wpo-wicon > i {
    font-size: 20px;
    margin-top: 6px;
}

.wpo-ijwidget i{
  font-size: 10px;
}
.wpo-ijwidget i.fa{
  font-size: 20px;
}
.wpo-ijwidget textarea{
  height: 0;
  width: 0;
  border: 0;
  background: none;
  padding:0;
  margin: 0;
  visibility: hidden;
}
.hidden-layout-input{
  height: 0;
  width: 0;
  border: 0;
  background: none;
  padding:0;
  margin: 0;
  visibility: hidden;
}




.wpo-icon-accordion{ background-image: url(icons/accordion.png); }
.wpo-icon-map{ background-image: url(icons/map.png); }
.wpo-icon-alert{ background-image: url(icons/alert.png);}
.wpo-icon-facebook{ background-image: url(icons/facebook.png);}
.wpo-icon-pinterest{ background-image: url(icons/pinterest.png);}

.wpo-icon-gallery{ background-image: url(icons/gallery.png);}

.wpo-icon-image{ background-image: url(icons/image.png);}
.wpo-icon-html{ background-image: url(icons/html.png);}
.wpo-icon-manufacture{ background-image: url(icons/manufacture.png);}
.wpo-icon-product, .wpo-icon-product_category,.wpo-icon-product_list{ background-image: url(icons/product.png);}

.wpo-icon-progress_bar{ background-image: url(icons/processbar.png);}

.wpo-icon-raw_html{ background-image: url(icons/html.png);}
.wpo-icon-separator_text{ background-image: url(icons/processbar.png);}
 
.wpo-icon-twitter{ background-image: url(icons/twitter.png);}
.wpo-icon-video_code{ background-image: url(icons/video.png);}
.wpo-icon-tab{ background-image: url(icons/tab.png);}

.wpo-icon-button{ background-image: url(icons/button.png);}
.wpo-icon-newsletter{ background-image: url(icons/email.png);}
.wpo-icon-links{ background-image: url(icons/link.png);}
.wpo-icon-sub_categories{ background-image: url(icons/category.png);}
.wpo-icon-addthis{ background-image: url(icons/addthis.png);}
.wpo-icon-googleplus{ background-image: url(icons/googleplus.png);}
.wpo-icon-flickr{ background-image: url(icons/flickr.png);} 
.wpo-icon-review{ background-image: url(icons/star.png);}
.wpo-icon-mail{ background-image: url(icons/mail.png);}
.wpo-icon-treemenu{ background-image: url(icons/treemenu.png);}
.wpo-icon-text{ background-image: url(icons/text.png);}
.wpo-icon-testimonial{ background-image: url(icons/testimonial.png);}
.wpo-icon-column{ background-image: url(icons/column.png);}
.wpo-icon-links2{ background-image: url(icons/link2.png);}
.wpo-icon-cmsblock{ background-image: url(icons/block_pencil.png);}
.wpo-icon-service{ background-image: url(icons/service.png);}
.wpo-icon-deal{ background-image: url(icons/deal.png);}
.wpo-icon-block{ background-image: url(icons/block.png);}
.wpo-icon-html{ background-image: url(icons/html2.png);}
.wpo-icon-carousel{ background-image: url(icons/carousel.png);}
.wpo-icon-faq{ background-image: url(icons/faq.png);}
.wpo-icon-blog{ background-image: url(icons/blog.png);}
.wpo-icon-contact{ background-image: url(icons/contact.png);}
.wpo-icon-popup{ background-image: url(icons/popup.png);}
.wpo-icon-blockbuilder{ background-image: url(icons/blockbuilder.png);}
.wpo-icon-pagebuilder{ background-image: url(icons/pagebuilder2.png);}
.wpo-icon-counting_number{ background-image: url(icons/countdown.png); }
.wpo-icon-product-builder{ background-image: url(icons/product2.png);}
.wpo-icon-product_list{ background-image: url(icons/product_listing.png);}
.wpo-icon-magento{ background-image: url(icons/magento.png);}

/* sortable */
.ui-dialog{
  z-index: 999999999!important
}
.ui-widget-overlay{
  z-index: 9999999!important;
}
 

 .col4{
  width: 90px;
  float: left;
  height: 90px;
  margin: 3px;
  border: solid 5px #CCC;
 }
.image-item{
  overflow: hidden;
}

 .image-item.active{
  border-color:red;
 }
 .col4 img{
  max-width: 100%;
  width: 100%;
 }
/*
body {
    color: #2f2f2f;
    font: 12px/1.5em!important;
}*/
.form-list {width: 100%!important}
.form-list td.label {
  width:25%!important;
}
.columns .form-list td.value {
    padding-right: 5px !important;
    width: 75%!important;
}
/*
label {
  font-weight: normal!important;
}
.label{
    border-radius: 0em!important;
    color: #ffffff;
    display: inline;
    font-size: 100%!important;
    font-weight: normal!important;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: left!important;
    vertical-align: baseline;
    white-space: nowrap;
}*/
.float-left-element{
  float:left;
  margin-right: 5px;
}

.modal.fade.in{
  z-index: 3000!important
 }
#row-modal .modal-content, .bootmodal .modal-content {
    background: #fff;
    width: 880px!important;
}

textarea.form-control.input-text {
    width: 100%;
}
 .modal-content .modal-body{
  min-height: 300px;
  overflow-y: auto;
 }
 .img-thumbnail img{
  width: 100px;
 }

 #myModal > img{
  display: none;
 }
 .hidden-block{ display: none!important;}

.row-form{ 
  margin:auto!important;
}
.inpt-setting { min-width: 200px}
.inpt-setting label{ width: 100%;}

#searchwidgets{ width: 100%;}
.widgets-filter{ float: left; width: 85%;}
.form-group label{ padding: 0px !important;}

.system-fieldset-sub-head-tabs h4{
  background: #5BC0DE;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: 10px;
  color: #FFF;
}

.system-fieldset-sub-head-tabs h5{
  font-weight: bold;
  margin-top: 20px;
  padding: 4px 12px;
  margin-bottom: 10px;
  margin-top: 20px;
  border-left: 5px solid #CCC;
  border-bottom: 1px solid #CCC;
}

.tab-content {
    margin-top: 10px;
}

#effect-preview-block{position:absolute;display:none;background:#fff;border:1px solid #ccc;border-radius:0 10px 10px 10px;width:310px;height:120px;padding:10px;z-index:5000;overflow: hidden;}
#effect-preview-block>.demo-block{height:100%;background:#1e6696;}
#demo-effect-block{background:#51abdf;border-bottom:1px solid #4caef5;border-radius:5px 5px 5px 5px;color:#fff;font-size:23px;font-weight:bold;height:40px;left:20%;padding:30px 10px;position:absolute;text-align:center;top:25%;width:200px;line-height:0px}

#loading-mask{z-index:9000;}
.inpt-setting{ margin-top: 10px;}
/*hr{ margin-top: 0px!important; margin-bottom: 0px!important;}*/

.modal-backdrop {
    background-color: #000;
    height: 100%!important;
    left: 0;
    position: fixed!important;
    right: 0;
    top: 0;
    width: 100%!important;
    z-index: 1000;
}

.modal-dialog{
  position: relative!important;
}
.elfinder{z-index: 100000!important;}
.dialogelfinder.elfinder .elfinder-button{
  box-sizing: initial;
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
}
.actions{ margin-bottom: 10px}
.pull-left{ float: left;}
.pull-right{ float: right;}
.wpo-row > .wpo-tool .wpo-wedit-shortcode{
  display: block;
  right:175px;
  background: url(images/col_shortcode.png)no-repeat center center #65B688;
}
.wpo-row > .wpo-tool .wpo-wcopy-shortcode{
  display: block;
  right:136px;
  background: url(images/clippy.svg)no-repeat center center #F0f0f0;
}
/*Jquery UI Custom*/

.lg-col.ui-resizable { position: relative;}
.lg-col .ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block; }
.lg-col .ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.lg-col .ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.lg-col .ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.lg-col .ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.lg-col .ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.lg-col .ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.lg-col .ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.lg-col .ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.lg-col .ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


.bootmodal .modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
@media (min-width: 768px) {

 .bootmodal .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }

}
.bootmodal .tab-pane.fade{
  position:relative;
  background:#fff!important;
}
.bootmodal .nav-tabs.nav{
  display: block!important;
  padding: auto!important;
  background-color: transparent!important;
  border-top:0px solid!important;
  border-bottom:1px solid #ddd!important;
}
.bootmodal .nav-tabs.nav > li > a {
  display: block!important;
}
.bootmodal .form-control{
  width: 100%!important;
}
.bootmodal .modal-header {
   border-bottom: 1px solid #e5e5e5;
   min-height: 10.43px;
}
.label{
    color: #303030!important;
    text-align: right!important;
}
.content-footer {
    margin-top: 10px;
}
.widgets-filter .nav{ display:  block; background-color: transparent;border: 0px solid; padding: 0px}
.form-group .control-label{ line-height: 40px;}
.vesbasewidget-basewidget-imagemanager .main-col{ padding-left: 10px; float:left!important; }
.elfinder-quicklook-info-wrapper{display:  block!important;}
.elfinder-quicklook .ui-resizable-se{float: right;}
.vesbasewidget-basewidget-imagemanager .dialogelfinder.elfinder{ z-index: 10!important; }
.modal.fade{ z-index: -10!important; }
.modal.fade.in{ z-index: 3000!important; }
#filemanager-modal.fade.in{ z-index: 100000!important; }
.wpo-cfginput{min-height: 0px!important; line-height: 0px!important; padding: 0px!important; margin: 0px!important}
.widget-title > span {
    color: #007bdb;
}
.widget-desc-wrap{overflow: hidden; min-height: 32px;}
.hidden-textarea{height: 0px!important;width:0px!important;min-height: 1px!important;opacity: 0!important;padding: 0px!important;margin: 0px!important}
.widget-loading {
    background: rgba(0,0,0,0.1);
}
.widget-loading .widget-desc-wrap {
    background: url(images/ajax-loader.gif) no-repeat center center;
}
.wpo-no-icon-bg{background: transparent!important;}

.wpo-ijwidget .wpo-icon-image:hover img {
    -webkit-transform: scale(4);
    -moz-transform: scale(4);
    -o-transform: scale(4);
    transform: scale(4);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    border: 2px #eee solid;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}
.wrapper-width-cols24{ width: 1260px!important; }
.wrapper-width-cols24 #layout-builder,.wrapper-width-cols24 #top-grid-pattern{ margin-right: 60px; }
.modal-popup .modal-header, .modal-popup .modal-content, .modal-popup .modal-footer {
    border: 0px;
    box-shadow: 0 0px 0px transparent;
    -webkit-box-shadow: 0 0px 0px transparent;
    padding-left: 3rem;
    padding-right: 3rem;
}

.show-block {
    width: 100%;
    display: block!important;
    background: #fff;
}
.show-block textarea{ width: 100%!important; }
/*body {
    background: #e6e6e6 none repeat scroll 0 0!important;
    color: #2f2f2f;
    font: 12px/1.5em Arial,Helvetica,sans-serif!important;
}*/