<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
$_helper = $this->helper('Magenest\RememberMe\Helper\Data');
?>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
/** @var \Magento\Framework\App\Response\RedirectInterface $redirect */
$redirect   = $objectManager->get(\Magento\Framework\App\Response\RedirectInterface::class);
$refererUrl = $redirect->getRefererUrl();
/** @var \Magento\Framework\Stdlib\Cookie\PublicCookieMetadata $publicCookieMetaData */
$publicCookieMetaData = $objectManager->create(\Magento\Framework\Stdlib\Cookie\PublicCookieMetadata::class);
$publicCookieMetaData->setPath('/')->setDuration(600);
/** @var \Magento\Framework\Stdlib\CookieManagerInterface $cookieManager */
$cookieManager = $objectManager->get(\Magento\Framework\Stdlib\CookieManagerInterface::class);
try {
    $cookieManager->setPublicCookie(\Magento\Customer\Model\Account\Redirect::LOGIN_REDIRECT_URL, $refererUrl, $publicCookieMetaData);
} catch (\Exception $e) {
}
?>
<div class="block block-customer-login">
    <div class="block-title">
        <strong id="block-customer-login-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Log in')) ?></strong>
        <a href="<?php echo $storeManager->getStore()->getBaseUrl() ?>customer/account/create/" class="signup-link"><span>Sign Up</span></a>
    </div>
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="field email required">
                    <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?php echo $block->escapeHtml($_helper->getCookieloginName()) ?>"  id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?php /* @escapeNotVerified */ echo __('Password') ?></span></label>
                    <div class="control">
                        <span class="show-password">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 7.963">
                                <path id="Path_314" data-name="Path 314" class="cls-1" d="M12,0H4L0,3.982,4,7.963h8l4-3.982ZM9.735,5.717H6.265V2.247h3.47Z"/>
                            </svg>
                        </span>
                        <input name="login[password]" type="password" value="" class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}">
                    </div>
                </div>
                <div class="field rememberme">
                    <div class="control">
                        <input name="login[remember]" type="checkbox"  class="input-checkbox checkbox-custom" id="rememberme" <?php if ($_helper->getCookieloginChk()){ ?>checked="checked"<?php } ?>>
                        <label for="rememberme" class="for-checkbox-custom"></label>
                        <label for="rememberme" class="for-checkbox-custom-text">Keep me signed in on this computer</label>
                    </div>
                </div>
                <?php echo $block->getChildHtml('form_additional_info'); ?>
                <div class="actions-toolbar">
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Password?')) ?></span></a></div>
                    <br>
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<span class="hr-or">Or</span>
<span style="padding-right: 20px; float: left; display: none">Sign in with</span>
<script>
    require(['jquery'],function($){
        let status = false;
        $(".show-password").on("click",function(){
            if(status){
                $(this).next().attr("type","text");
                $(this).addClass("hide-password");
            }
            else{
                $(this).next().attr("type","password");
                $(this).removeClass("hide-password");
            }
            status = !status;
        })
    })
</script>