<?php /** @var $block \Magenest\SellYours\Block\Inventory\Index */?>
<?php echo $block->getLayout()->getMessagesBlock()->toHtml(); ?>
<div data-bind="scope: 'inventory'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "inventory": {
                    "component": "Magenest_SellYours/js/view/vendor/inventory",
                    "baseUrl": "<?php echo $block->getBaseUrl(); ?>",
                    "currencySymbol": "<?php echo $block->getCurrencySymbol();?>",
                    "counterStatus": <?= json_encode($block->getProductCounterStatus(), JSON_FORCE_OBJECT) ?>,
                    "isAllowedVendorDelete": <?= $block->isAllowedVendorDeleteProduct() ?>
                }
            }
        }
    }
}
</script>