<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */

$product = $block->getProduct();
$product->load($product->getId());
$value = 0;
$productType = $product->getTypeId();

/** @var $product \Magento\Catalog\Model\Product */
if ($productType != 'wrapper') {
    $attribute = $product->getResource()->getAttribute('can_be_wrapped');
    if ($attribute) {
        $value = $product->getData('can_be_wrapped');
    }
}
?>
<?php /** @var $block \Magento\Catalog\Block\Product\AbstractProduct */ ?>


<?php //echo $block->getReviewsSummaryHtml($block->getProduct(), false, true) ?>
<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var \Magenest\SellYours\Helper\RatingHelper $ratingHelper */
$ratingHelper     = $objectManager->create('Magenest\SellYours\Helper\RatingHelper');
if ($productType === 'simple') {
    $ratingCollection = $ratingHelper->getProductReviewCollection($product->getId());
} else {
    $ratingCollection = $ratingHelper->getReviewCollection($product->getId());

}
$avg              = $ratingHelper->getAvgRate($ratingCollection->getColumnValues('review_id'));
?>

<?php
if ($productType === 'simple') {
    $attributeId = $product->getResource()->getAttribute('brand');
    if ($attributeId->usesSource()) {
        $data = $attributeId->getSource()->getAttribute()->getData();
        if ($product->getBrand()) {
            $optionText = $attributeId->getSource()->getOptionText($product->getBrand());
        } else {
            $optionText = $attributeId->getSource()->getOptionText($data['default_value']);
        }
    } else {
        $optionText = "";
    }
} else {
    $optionText = false;
}
?>
<?php if ($optionText): ?>
    <span class="product-brand" style="float:  left; padding: 3px 40px 3px 0;"><?= $optionText ?></span>
<?php endif; ?>
<div class="catalog-header-rating">
    <div class="product-reviews-summary short">
        <div class="rating-summary">
            <div class="rating-result" title="<?php echo number_format(((float)$avg / 5) * 100, 2); ?>%">
            <span style="width: <?php echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                <span><?php echo number_format(((float)$avg / 5) * 100, 2); ?>%</span>
            </span>
            </div>
        </div>
        <div class="reviews-actions">
            <span class="action view">(<?php echo $ratingCollection->getSize(); ?>)</span>
        </div>
    </div>
</div>
<?php
if ($value && !in_array($productType, ['ticket', 'configurable'])) {
    ?>
    <div style=" display: inline-block; float: left; padding: 4px 0 2px; ">
        <img src="<?php echo $block->getViewFileUrl('Magenest_Wrapper::images/favicon.ico'); ?>" style="vertical-align: text-top;"/>
        <?php echo __('Gift Wrap Available');?>
    </div>
<?php } ?>
