<?php
/**
 * @var $block \Magenest\VendorTicket\Block\Grid\VenueMap
 */
$venueMapList = $block->getVenueMapCollection();
?>
<div class="page-title box-head">
    <div class="col3-set">
        <div class="col-1"></div>
        <div class="col-6"><?php echo __('Venue Map Management') ?></div>
        <div class="col-3"></div>
    </div>
</div>
<div class="box-head sesion_map-btnbox">
    <button class="form-button" id="save_venue_sesion_map" onclick="location.href = '<?php echo $block->getUrl('vendorticket/venuemap/index');?>';">
        <span>Add New Map</span>
    </button>
</div>
<div class="generic-box">
    <?php echo $this->getChildHtml('toolbar'); ?>
    <table cellspacing="0" class="data-table" id="statement-grid">
        <?php if (count($venueMapList)): ?>
            <col/>
            <col/>
            <col/>
            <col/>
            <thead>
            <tr>
                <th style="text-align: center;"><?php echo __('ID') ?></th>
                <th style="text-align: center;"><?php echo __('Venue Map Name') ?></th>
                <th style="text-align: center;"><?php echo __('Created') ?></th>
                <th style="text-align: center;"><?php echo __('Actions') ?></th>
            </tr>
            </thead>
            <tbody>
            <?php /** @var $venueMapList \Magenest\VendorTicket\Model\ResourceModel\VenueMap\Collection */ ?>
            <?php foreach ($venueMapList as $_id => $_venueMap): ?>
                <tr id="row-<?php echo $_id ?>" class="trigger">
                    <td><?php echo $_venueMap->getVenueMapId(); ?></td>
                    <td><?php echo $_venueMap->getVenueMapName(); ?></td>
                    <td><?php echo $_venueMap->getCreated(); ?></td>
                    <td class="dropdown-box">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="<?php echo $block->getUrl('vendorticket/venuemap/index') . 'venue_map_id/' . $_venueMap->getVenueMapId(); ?>">Edit</a></li>
                            <li><a href="<?php echo $block->getUrl('vendorticket/venuemap/delete') . 'venue_map_id/' . $_venueMap->getVenueMapId(); ?>">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <tr style="height: 12px;"></tr>
            <?php endforeach ?>
            </tbody>
        <?php else: ?>
        <span>No record found!!!</span>
        <?php endif; ?>
    </table>
    <?php echo $this->getChildHtml('toolbar'); ?>
</div>
<style>
    .box-head.sesion_map-btnbox{
        border: none;
        height: auto;
    }
    .box-head.sesion_map-btnbox button#save_venue_sesion_map{
        float: right;
    }
    #statement-grid button.dropdown-toggle{
        background: none;
        border: none;
    }
    #statement-grid button.dropdown-toggle:before {
        content: "\f107";
        font-family: FontAwesome;
        font-size: 18px;
    }
    #statement-grid button.dropdown-toggle.active:before {
        content: "\f106";
        font-family: FontAwesome;
        font-size: 18px;
    }
    #statement-grid button.dropdown-toggle + ul.dropdown-menu{
        display: none;
    }
    #statement-grid button.dropdown-toggle + ul.dropdown-menu.active{
        display: block;
    }
    #statement-grid td.dropdown-box{
        position: relative;
    }
    #statement-grid td.dropdown-box ul.dropdown-menu{
        position: absolute;
        z-index: 9;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        margin-top: -5px;
        background-color: #fff;
        border: 1px solid #ddd;
        box-shadow: 1px 1px 1px 0 #ddd;
        padding: 10px 15px;
        text-align: left;
        min-width: 75px;
    }
    #statement-grid td.dropdown-box ul.dropdown-menu a{
        text-decoration: none;
        color: #333;
    }
</style>
<script>
    require([
        'jquery'
    ], function ($) {
        'use strict';

        $('#statement-grid button.dropdown-toggle').click(function () {
            $(this).toggleClass('active');
            $(this).next('ul.dropdown-menu').toggleClass('active');
        });

    });
</script>