<?php
/** @var $block \Magenest\SalesAgent\Block\Adminhtml\Payout\Total */
?>
<ul>
    <li>
        <span class="earned-title">Gosawa Total Earned: </span>
        <span class="earned-amount"><?= $block->getLocaleCurrency()->getCurrency($block->getBaseCurrency())->toCurrency($block->getSiteTotalEarned()) ?></span>
    </li>
    <li>
        <span class="earned-title">Your Total Earned: </span>
        <span class="earned-amount"><?= $block->getLocaleCurrency()->getCurrency($block->getBaseCurrency())->toCurrency($block->getSelfTotalEarned()) ?></span>
        <span class="earned-percent">(<?= $block->getCommissionPercent() ?>%)</span>
    </li>
</ul>
<style>
    ul {
        list-style-type: none;
    }
    .earned-title {
        font-size: 14pt;
    }
    .earned-amount {
        font-size: 13pt;
        color: #ef672f;
    }
    .earned-percent {
        font-size: 12pt;
    }
</style>
