<?php
/**
 * @var $block \Magenest\Overview\Block\Category\Categories
 */
$treesCategory = $block->getCategoriesTree();
?>
<div class="row shop-all-container">
    <?php if (count($treesCategory) > 0): ?>
        <?php $rowCategory = ceil(count($treesCategory) / 3) ?>
        <?php $countCategory = 1; ?>
        <?php foreach($treesCategory as $item) : ?>
                <?php if ($countCategory == 1) : ?>
                    <?php echo '<div class="large-4 columns">'; ?>
                <?php endif; ?>
                    <div class="category-item">
                    <h3 class="shop-all-title"><a href="<?= __($block->getCategoryLink($item['id'])) ?>"><?= __($block->prepareCategoryName($item['text'])) ?></a></h3>
                    <?php if (isset($item['children'])): ?>
                        <?php echo $block->renderChildrenBlock($item['children']); ?>
                    <?php endif; ?>
                    </div>

                <?php if ($countCategory == $rowCategory) : ?>
                    <?php echo '</div>'; ?>
                <?php endif; ?>
                <?php if ($countCategory == $rowCategory) $countCategory = 1; else $countCategory++; ?>
        <?php endforeach; ?>
    <?php else: ?>
        <div class="large-4 columns">
            <span class="no-category"><?= __("No category found.") ?></span>
        </div>
    <?php endif; ?>
</div>
<script>
    require([
        'jquery'
    ],function($){
        const listPlus = $("a.sub-shop-title i.fa.fa-plus");
        listPlus.map(function(item){
            $(listPlus[item]).on('click',function(event){
                event.preventDefault();
                event.stopPropagation();
                $(listPlus[item]).parent().next().toggleClass('active');
            })
        })
    })
</script>