<?php
/** @var \Magenest\Overview\Block\Index\Index $block */
$storeManager = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Store\Model\StoreManagerInterface');
$currencyCode = $storeManager->getStore()->getCurrentCurrencyCode();
$blockFixed = $block->getBlockFixed();
$productTypeNumber = $block->getVendor()->getPromoteProduct();
$productType = $block->getProductTypeTitle();
?>
<div class="block-point">
    <div class="points-slider owl-carousel owl-theme">
        <div class="point-item">
            <div class="point-box">
                <p>
                    <span class="point"><?php echo $blockFixed->getTodaySale() ?></span>
                    <span class="unit"><?php echo $currencyCode ?></span>
                </p>
                <p class="text">
                    today's sales
                </p>
            </div>
        </div>
        <div class="point-item">
            <div class="point-box">
                <p>
                    <span class="point"><?php echo $block->countProductsSaleToday() ?></span>
                    <span class="unit"></span>
                </p>
                <p class="text">
                    <?php echo $productType ?> sold today
                </p>
            </div>
        </div>
        <?php if ($productTypeNumber !== '4'): ?>
            <div class="point-item">
                <div class="point-box">
                    <p>
                        <span class="point"><?php echo $blockFixed->getTodayRedeemed() ?></span>
                        <span class="unit"></span>
                    </p>
                    <p class="text">
                        <?php
                        if ($productType == "tickets")
                            echo "tickets redeemed";
                        elseif ($productType == "reservations")
                            echo "check-ins for";
                        else echo "coupons redeemed"; ?>
                        today
                    </p>
                </div>
            </div>
        <?php endif; ?>
        <div class="point-item">
            <div class="point-box">
                <p>
                    <span class="point"><?php echo $blockFixed->getSoldOutOption() ?></span>
                    <span class="unit"></span>
                </p>
                <p class="text">
                    sold-out <?php if ($productType == "reservations")
                        echo "inventory";
                    else echo "options" ?>
<!--                    --><?php //if ($productTypeNumber !== '4') { ?><!-- today --><?php //} ?>
                </p>
            </div>
        </div>
        <div class="point-item">
            <div class="point-box">
                <p>
                    <?php if ($productTypeNumber === "1"): ?>
                        <span class="point"><?php echo count($blockFixed->getActiveCampaignCollection()->getData()) ?></span>
                    <?php else: ?>
                        <span class="point"><?php echo count($blockFixed->getActiveCampaignCollection()) ?></span>
                    <?php endif; ?>
                    <span class="unit"></span>
                </p>
                <p class="text">
                    active
                    <?php if ($productTypeNumber === "4") {
                        echo "inventory items";
                    } elseif ($productType == "tickets")
                        echo "events";
                    elseif ($productType == "reservations")
                        echo "inventory";
                    else echo "campaigns" ?>
                </p>
            </div>
        </div>
        <div class="point-item">
            <div class="point-box">
                <p>
                    <span class="point"><?php echo $block->getPendingBalance(); ?></span>
                    <span class="unit"><?php echo $block->getCurrentCurrency() ?></span>
                </p>
                <p class="text">
                    pending balance
                </p>
            </div>
        </div>
        <div class="point-item">
            <div class="point-box">
                <p>
                    <span class="point"><?php echo $block->getReviewsCollection(); ?></span>
                    <span class="unit"></span>
                </p>
                <p class="text">
                    your rating
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    require([
        'jquery',
        'js/owl.carousel'
    ], function ($) {
        'use strict';
        $('.points-slider.owl-carousel').owlCarousel({
            loop: false,
            margin: 8,
            nav: true,
            dots: false,
            items: 7,
            responsive: {
                0: {
                    items: 2
                },
                1200: {
                    items: 3
                },
                1500: {
                    items: 5
                },
                1800: {
                    items: 7
                }
            }
        })
    })
</script>
