.udratings-customer-index .page-title > span {
    font-size: 24px;
    font-weight: 400;
    padding: 10px;
    height: auto;
    cursor: pointer;
    border-bottom: 1px solid #e4e5e8;
}
.udratings-customer-index .page-title > span.active{
    border-bottom: 4px solid #22ddc3;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
}
.udratings-customer-index .page-title{
    margin-bottom: 40px;
    display: flex!important;
}
#my_vendor_review_tabs{
    display: none;
}
#my_vendor_review_tabs.active{
    display: block;
}
#my-product-review_tabs{
    display: none;
}
#my-product-review_tabs.active{
    display: block;
}
#my_vendor_review_tabs .item.review-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-color: #e4e5e8;
}
#my_vendor_review_tabs .review-title{
    flex-basis: 100%;
}
#my_vendor_review_tabs .review-info{
    flex-basis: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
#my_vendor_review_tabs .review-info .review-ratings{
    float: none;
    max-width: initial;
    margin-bottom: 0px;
}
#my_vendor_review_tabs .review-info .review-details{
    margin-left: 0px!important;
}
#my_vendor_review_tabs .review-content{
    margin-left: 0px!important;
    flex-basis: 70%;
    padding-left: 40px;
}
#my_vendor_review_tabs .review-info .review-ratings .rating-label{
    font-size: 16px;
    font-weight: 600;
    color: #465a6f;
    padding: 0;
}
#my_vendor_review_tabs .item.review-item:first-child{
    border-top: 1px solid #e4e5e8;
}
#my_vendor_review_tabs .item.review-item:last-child{
    border-bottom: 1px solid #e4e5e8;
}
@media only screen and (max-width: 1120px){
    #my_vendor_review_tabs .review-content{
        padding-left: 0px;
        margin-top: 20px;
    }
}
.pending_review_number{
    line-height: 30px;
    vertical-align: bottom;
    font-size: 18px;
    color: #38C3C9;
    min-width: 30px;
    display: inline-block;
    text-align: center;
    border: 2px solid;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.pending_review_name{
    display: inline-block;
    margin: 0;
    line-height: 30px;
    vertical-align: bottom;
    font-size: 24px;
    max-width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.pending_review_vendor_name{
    display: block;
    margin: 0;
    line-height: 30px;
    vertical-align: bottom;
    margin-left: 45px;
    font-size: 20px;
}
.table-wrapper.order-items.pending_review_item_row_body{
    padding: 20px 40px;
    border: 1px solid #e4e5e8;
    margin-top: 20px;
    border-radius: 4px;
    display: none;
}
.table-wrapper.order-items.pending_review_item_row_body .form-list{
    padding: 0;
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.table-wrapper.order-items.pending_review_item_row_body.open{
    display: block;
}
.table-wrapper.order-items.pending_review_item_row_body .form-list .review-form-nickname,.table-wrapper.order-items.pending_review_item_row_body .form-list .review-form-summary{
    width: calc(50% - 20px);
}
.review-form-content label,.review-form-summary label,.review-form-nickname label{
    font-size: 18px;
    margin-bottom: 5px;
    display: inline-block;
}
.table-wrapper.order-items.pending_review_item_row_body .form-list .review-form-content{
    width: 100%;
}
.button.single-review-groupon-customer-page{
    background: #22ddc3;
    color: white;
    font-weight: 600;
    border: none;
}
.pending_product_review_item_row_header{
    cursor: pointer;
    position: relative;
    padding-left: 45px;
}
.pending_product_review_item_row_header:after{
    content: "\f078";
    position: absolute;
    right: 20px;
    display: block;
    font-family: FontAwesome;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.pending_product_review_item_row_header.content-open:after{
    content: '\f077';
}
.pending_vendor_review_item_row_header{
    cursor: pointer;
    position: relative;
    padding-left: 45px;
}
.pending_vendor_review_item_row_header:after{
    content: "\f078";
    position: absolute;
    right: 20px;
    display: block;
    font-family: FontAwesome;
    font-size: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.pending_vendor_review_item_row_header.content-open:after{
    content: '\f077';
}
.pending_review_message{
    margin: 0 0 10px;
    padding: 12px 20px 12px 25px;
    display: block;
    font-size: 1.3rem;
    background: #fdf0d5;
    color: #6f4400;
    padding-left: 45px;
    position: relative;
    margin-bottom: 30px;
}
.pending_review_message:before{
    content: '';
    width: 21px;
    height: 16px;
    background-image: url("../images/important-warning.svg");
    position: absolute;
    background-size: contain;
    top: 10px;
    left: 14px;
    background-repeat: no-repeat;
}
.pending_review_item_rows{
    margin-bottom: 20px;
}
@media screen and (max-width: 950px){
    .table-wrapper.order-items.pending_review_item_row_body .form-list .review-form-nickname,.table-wrapper.order-items.pending_review_item_row_body .form-list .review-form-summary{
        width: 100%;
    }
}
.review-form-content textarea{
    resize: none;
}