ul.feature_tab {
    list-style: none;

}

ul.feature_tab li{
    display: inline;

}
.block-wishlist h3{
    line-height: 20px;
    padding-bottom: 10px;
    margin: 0;
}
.block-wishlist #canvas{
    margin-bottom: 20px;
}
.block-wishlist .position-map{
    float: right;
    width: 50%;
    padding-top: 30px;
}
.block-wishlist .feature_detail{
    float: left;
    width: 50%;
}
.block-wishlist label{
    width: 125px;
    display: inline-block;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 10px;
}
.block-wishlist input{
    height: 30px;
    margin-bottom: 10px;
    width: 153px;
}
.block-wishlist .feature_detail,
.block-wishlist .feature_detail .tab-content{
    margin: 0;
}
.block-wishlist .feature_detail .edit-seat > .button,
.block-wishlist .position-map #submit_stage_size{
    display: inline-block;
    float: left;
    margin-right: 15px;
    background: #e3e3e3;
    border: 1px solid #adadad;
    color: #514943;
    font-weight: 600;
    text-align: center;
    line-height: 1.36;
    padding: 0.6rem 1em 0.6rem;
    cursor: pointer;
    border-radius: 0;
    font-size: 14px;
}