<?php
/**
 * @var $block \Magenest\FixUnirgy\Block\Product\BuyNow
 */
?>
<div class="buy-now-div">
    <button type="submit" id="buy-now-btn" class="btn btn-default gosawa-buy-now">
        <span><?= __("Buy Now") ?></span>
    </button>
</div>
<script type="text/javascript">
    require(["jquery", "Magento_Customer/js/customer-data", "mage/validation"], function ($, customerData) {
        var deferred = $.Deferred();
        var body = $("body");
        $('#buy-now-btn').click(function (e) {
            e.preventDefault();
            body.trigger('processStart');
            $.ajax({
                url: '<?= $block->getUrl('fixunirgy/customer/buynow') ?>',
                method: 'POST',
                dataType: 'json',
                data: {'product_id' : '5'},
                success: function (response) {
                    if (response.success) {
                        let dataForm = $('#product_addtocart_form');
                        let ignore = null;
                        dataForm.mage('validation', {
                            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
                        }).find('input:text').attr('autocomplete', 'off');
                        if (!dataForm.validation('isValid')) {
                            body.trigger('processStop');
                            return;
                        }
                        if($('.ticket_select_session_select').length){
                            var ticketSelectSessionSelect = document.getElementsByClassName('ticket_select_session_select');
                            var checker = false;
                            for(var i = 0; i < ticketSelectSessionSelect.length; i++){
                                if(ticketSelectSessionSelect[i].checked){
                                    checker = true;
                                }
                            }
                           if(checker === false){
                               body.trigger('processStop');
                               return;
                           }
                        }
                        $('#product-addtocart-button').trigger('click');
                        let sections = ['cart'];
                        customerData.invalidate(sections);
                        customerData.reload(sections, true);
                        setTimeout(function () {
                            deferred.resolve();
                        }, 2000);
                    }
                },
                error: function (error) {
                    console.log('Buy Now Error' + error.responseText);
                }
            });
        });
        $.when(deferred).done(function () {
            let url = '<?= $block->getUrl('checkout/cart') ?>';
            window.location.href = url;
        });
    });
</script>