<?php
/** @var \Magenest\FixUnirgy\Block\Product\Service $block */
$locations   = $block->getDealDetails();
$weekdays    = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'];
$productType = $block->getProduct()->getTypeId();
?>
<div id="vendor-service" data-bind="scope:'vendorService'">
    <?php if ($productType == 'ticket'): ?>
        <div class="location-item">
            <div class="location-header">
                <div class="location-text location-text-ticket">
                    <?php if (@$locations->getAddress() ?: @$locations->getAddress2()):
                        echo(@$locations->getAddress() ?: @$locations->getAddress2());
                        echo('<br/>');
                    endif; ?>
                    <?php if (@$locations->getCity()):
                        echo(@$locations->getCity());
                        echo('<br/>');
                    endif; ?>
                    <?php if (@$locations->getState()):
                        echo(@$locations->getState());
                        echo(',');
                    endif; ?>
                    <?php if (@$locations->getCountry()):
                        echo(@$locations->getCountry());
                    endif; ?>
                </div>
                <div class="location-links">
                    <?php $ticketInfo = $locations->getLatitude() . ',' . $locations->getLongitude() ?>
                    <btn target="_blank" class="btn btn-directions"
                         data-bind="click: redirectAfterClickAction.bind($data, '<?php echo $ticketInfo ?>')">
                        Directions
                    </btn>
                </div>
            </div>
        </div>
    <?php else: ?>
        <?php foreach ($locations as $location): ?>
            <div class="location-item">
                <div class="location-header">
                    <div class="location-text">
                        <?php if (@$location->getStreet() ?: @$location->getStreetTwo()):
                            echo(@$location->getStreet() ?: @$location->getStreetTwo());
                            echo('<br/>');
                        endif; ?>
                        <?php if (@$location->getCity()):
                            echo(@$location->getCity());
                            echo('<br/>');
                        endif; ?>
                        <?php if (@$location->getRegion()):
                            echo(@$location->getRegion());
                            echo(',');
                        endif; ?>
                        <?php if (@$location->getCountry()):
                            echo(@$location->getCountry());
                        endif; ?>
                    </div>

                    <div class="location-links">
                        <?php if ($location->getAttachedFile()): ?>
                            <div class="links">
                                <?php $artifacts = json_decode($location->getAttachedFile(), true);
                                $url             = $block->getArtifact($location);
                                foreach ($artifacts as $key => $value) {
                                    echo("<a data-bind='click: popupModal.bind(\$data, \"" . $url . $value . "\")'>View " . $key . "</a>");
                                }
                                ?>
                            </div>
                        <?php endif; ?>
                        <btn target="_blank" class="btn btn-directions"
                             data-bind="click: redirectAfterClickAction.bind($data, '<?php echo $location->getMapInfo() ?>')">
                            Directions
                        </btn>
                    </div>
                </div>
                <div class="location-content">
                    <?php if ($location->getBusinessHour()) : ?>
                        <div class="time-open">
                            <p class="title">Hours:</p>
                            <ul>
                                <?php $businessHour = json_decode($location->getBusinessHour(), true);
                                foreach ($weekdays as $day) {
                                    $index = strtolower($day);
                                    $hour  = "<li><span class='weekday'>" . $day . "</span>";
                                    if (isset($businessHour[$index])) {
                                        $start = $block->convertTime($businessHour[$index]['row1']['from']);
                                        $end   = $block->convertTime($businessHour[$index]['row1']['to']);
                                        $hour  .= "<span class=\"time\">" . $start . ' - ' . $end . "</span>";

                                        if (isset($businessHour[$index]['row2'])) {
                                            $start = $block->convertTime($businessHour[$index]['row2']['from']);
                                            $end   = $block->convertTime($businessHour[$index]['row2']['to']);
                                            $hour  .= "<br><span class=\"time\">" . $start . ' - ' . $end . "</span>";
                                        }
                                    } else
                                        $hour .= "<span class=\"time\">Closed</span>";
                                    $hour .= "</li>";
                                    echo($hour);
                                }
                                ?>
                            </ul>
                        </div>
                    <?php endif; ?>
                    <p class="telephone">Telephone: <span><?php echo $location->getPhone() ?></span></p>
                </div>
            </div>
        <?php endforeach; ?>
    <?php endif; ?>
    <!-- ko template: getTemplate() -->
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "vendorService": {
                            "component" : "Magenest_FixUnirgy/js/vendor/service",
                            "template" : "Magenest_FixUnirgy/view"
                        }
                    }
                }
            }
        }


</script>
