<?php

use Magenest\SMS\Helper\Constant;

/** @var $block \Magenest\SMS\Block\SMS\Verify */
$verifyPageIns = $block->getDataHelper()->getVerifyPageIns();
$otpPageIns = $block->getDataHelper()->getOtpPageIns();
?>
<div class="field sms">
    <label for="sms-number" class="label"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
    <div class="field">
        <p>
            <?php echo isset($verifyPageIns) ? $verifyPageIns : ''; ?>
        </p>
    </div>
    <div class="control">
        <input type="tel" name="sms_number" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>"
               id="sms-number"
               class="input-text">
        <button class="action primary" id="sms-number-submit" style="float: right">Verify</button>
        <p class="use-another" style="display: none">
            <?php echo __("Your phone number was verified.") . "<a id='use-other'>" . __("Use another ?") . "</a>" ?>
        </p>
        <input type="hidden" name="sms_verified" value="0" id="sms-verify">
    </div>
    <div class="field error">
        <p></p>
    </div>
</div>
<h1 id="timer"></h1>
<div id="otp-div">
    <div align="center">
        <p><?php echo isset($verifyPageIns) ? $verifyPageIns : ''; ?></p>
        <label for="otp-input"></label>
        <br/>
        <input id="otp-input" type="text" placeholder="******" maxlength="6" minlength="6">
        <br/>
        <br/>
        <div class="field error">
            <p></p>
        </div>
        <button id="submit" class="action primary">Submit</button>
        <button id="resend" class="action primary">Resend</button>
    </div>
</div>
<script>
    require([
        'jquery',
        "Magento_Ui/js/modal/modal"
    ], function ($, modal) {
        'use strict';

        function otpMatch() {
            var phoneInput = $('input#sms-number');
            var submitButton = $('button#sms-number-submit');

            if (phoneInput.val()) {
                window.localStorage.smsNumber = phoneInput.val();
            } else if (window.localStorage.smsNumber && window.localStorage.isSmsVerified) {
                phoneInput.val(window.localStorage.smsNumber);
            } else {
                return;
            }
            $('input#sms-verify').val('1');
            window.localStorage.isSmsVerified = true;
            submitButton.hide();
            phoneInput.css('opacity', '0.5');
            phoneInput.prop('readonly', true);
            $('p.use-another').show();
        }
        <?php if (!$block->customerSession->isLoggedIn()) : ?>
        otpMatch();
        <?php else:?>
        window.localStorage.isSmsVerified = '<?php echo $block->customerSession->getCustomer()->getData('sms_verified') ?>';
        window.localStorage.smsNumber = '<?php echo $block->customerSession->getCustomer()->getData('sms_number') ?>';
        otpMatch();
        <?php endif; ?>
    });
</script>