<!--@subject Your ticket from {{var store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}

<ul>
    <li><strong>{{trans "Deal Option: "}}</strong> <em> {{var deal_option}}</em></li>
    <li><strong>{{trans "Recipient Name: "}}</strong> {{var recipient_name}}</li>
    <li><strong>{{trans "Recipient Email: "}}</strong> {{var recipient_email}}</li>
    <li><strong>{{trans "Message: "}}</strong> {{var message}}</li>
    <li><strong>{{trans "Vendor: "}}</strong> {{var vendor}}</li>
</ul>

{{template config_path="design/email/footer_template"}}