<!--@subject Your ticket from {{var store.getFrontendName()}} @-->
{{template config_path="design/email/header_template"}}

<p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>
<ul>
    <li><strong>{{trans "My Code: "}}</strong> {{var groupon_code}}</li>
    <li><strong>{{trans "Created At: "}}</strong> {{var create}}</li>
    <li><strong>{{trans "Quantity: "}}</strong> {{var qty}}</li>
</ul>

{{template config_path="design/email/footer_template"}}
