/**
 * Nestable
 */
.dd {
    min-height: 200px;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 40%;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    float: left;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    border: 1px solid #dfdfdf;
    padding: 6px 15px;
    height: auto;
    min-height: 50px;
    width: 100%;
    line-height: 30px;
    word-wrap: break-word;
    cursor: move;
    background: #fafafa;
    color: #23282d;
    margin: 9px 0 0;
}

.dd-handle:hover {
    border-color: #999;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item > button[data-action="collapse"] {
    text-indent: 0;
    margin: 15px 5px 5px 5px;
    position: absolute;
    right: 150px;
}

.dd-item > button[data-action="expand"] {
    text-indent: 0;
    margin: 13px 5px 5px 5px;
    position: absolute;
    right: 150px;
}

.dd-placeholder, .dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */
#nestable .btn-add {
    background: #CCC;
    color: #41362f;
    position: relative;
    z-index: 9;
}

#nestable .btn-add:hover {
    background: #eb5202;
    color: #FFF;
}

.nestable-lists {
    display: block;
    float: left;
    width: 100%;
    border: 0;
    position: relative;
}

#nestable-menu {
    padding: 0;
    margin: 20px 0;
}

#nestable-output, #nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover {
    background: #bbb;
}

#nestable2 .dd-item > button:before {
    color: #fff;
}

.dd-hover > .dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */
.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel > .dd3-item > .dd3-content {
    margin: 0;
}

.dd3-item > button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: pointer;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background: linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '.';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

/** SPINNER */
.spinner-overlay {
    width: 100%;
    height: 100%;
    background: #FFF;
    position: absolute;
    opacity: .4;
    top: 0;
    left: 0;
    z-index: 99;
}

.animation-1 {
    width: 55px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    margin: 0 auto;
    z-index: 199;
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
}

.animation-1 div {
    display: inline-block;
    background-color: #0088d0;
    background-color: #eb5202;
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.animation-1 .box1 {
    -webkit-animation: animation1-box1 1s infinite;
    animation: animation1-box1 1s infinite;
}

.animation-1 .box2 {
    -webkit-animation: animation1-box2 0.7s infinite;
    animation: animation1-box2 1s infinite;
}

.animation-1 .box3 {
    -webkit-animation: animation1-box3 0.7s infinite;
    animation: animation1-box3 1s infinite;
}

.animation-1 .box4 {
    -webkit-animation: animation1-box4 0.7s infinite;
    animation: animation1-box4 1s infinite;
}

@keyframes animation1-box1 {
    40% {
        transform: translate(-15px, -15px) rotate(85deg);
    }

    50% {
        transform: translate(-15px, -15px) rotate(90deg);
    }

    100% {
        transform: translate(-0px, -0px) rotate(180deg);
    }
}

@keyframes animation1-box2 {
    40% {
        transform: translate(30px, -15px) rotate(85deg);
    }

    50% {
        transform: translate(30px, -15px) rotate(90deg);
    }

    100% {
        transform: translate(-0px, -0px) rotate(180deg);
    }
}

@keyframes animation1-box3 {
    40% {
        transform: translate(-30px, 15px) rotate(85deg);
    }

    50% {
        transform: translate(-30px, 15px) rotate(90deg);
    }

    100% {
        transform: translate(-0px, -0px) rotate(180deg);
    }
}

@keyframes animation1-box4 {
    40% {
        transform: translate(15px, 15px) rotate(85deg);
    }

    50% {
        transform: translate(15px, 15px) rotate(90deg);
    }

    100% {
        transform: translate(-0px, -0px) rotate(180deg);
    }
}

.btn-remove:hover, .btn-edit:hover {
    cursor: pointer
}

.btn-remove:hover {
    background-color: #e74c3c;
    color: #FFF;
}

.btn-save, .btn-save:focus {
    background: #27ae60;
    color: #FFF;
    border-color: #27ae60;
}

.btn-delete, .btn-delete:focus {
}

.btn-save:hover {
    background-color: #26a65b;
    color: #FFF;
    border-color: #26a65b;
}

.btn-cancel {
    background: #f1c40f;
    color: #FFF;
    border-color: #f1c40f;
}

.btn-cancel:hover {
    background: #d9b00d;
    color: #FFF;
    border-color: #d9b00d;
}

.btn-delete, .btn.btn-remove {
    background: #e74c3c;
    color: #FFF;
    border-color: #e74c3c
}

.btn-delete:hover, .btn.btn-remove:hover {
    background: #e3301c;
    color: #FFF
}

#megamenu-editor .btn-save i, #megamenu-editor .btn-delete i, #megamenu-editor .btn-cancel i, #megamenu-editor .item-structure i {
    margin-right: 6px
}

.editor-btn {
    float: right;
    padding: 2px 8px;
    margin: 12px 5px 5px 5px;
    background: #CCC;
    width: auto;
    cursor: pointer;
}

.btn-edit:hover {
    color: #FFF;
    background-color: #eb5202;
    background-color: #3498db
}

.btn-add, .btn-add:focus {
    background: #eb5202;
    border-color: #eb5202;
    color: #FFF;
    font-weight: normal;
}

.btn-add:hover {
    background: #ca4802;
    border-color: #ca4802;
    color: #FFF;
}

.item-structure, .item-structure:focus, #preview, #preview:focus {
    background: #95a5a6;
    border-color: #95a5a6;
    color: #FFF !important;
}

.item-structure:hover, #preview:hover {
    background: #829597
}

#load-category, #load-category:focus {
    background: #1897d3;
    border-color: #1897d3;
    color: #FFF;
}

#load-category:hover {
    background: #1484b8
}

#load-category i, #add-item i, #preview i {
    margin-right: 10px;
}

.ves-megamenu-editor .editor-right {
    width: 70%;
    float: right;
}

.ves-megamenu-editor .editor-left {
    float: left;
    width: 30%;
}

.vitem {
    display: none;
}

.vitem.active {
    display: block;
}

.ves-megamenu-editor .m-label {
    width: 20%;
    text-align: right;
    display: inline-block;
    font-size: 15px;
    font-size: 1.4rem;
    font-weight: 600;
    /*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
}

.ves-megamenu-editor .m-box {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
}

.ves-megamenu-editor .m-box input, .ves-megamenu-editor .m-box select, .ves-megamenu-editor .m-box textarea {
    width: 100%;
}

.ves-megamenu-editor .m-box input, .ves-megamenu-editor .m-box select {
    box-sizing: border-box;
    border: 1px solid #adadad;
    border-radius: 1px;
    padding: 4px;
    color: #303030;
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    height: 33px;
}

.ves-megamenu-editor .m-box input:focus, .ves-megamenu-editor .m-box select:focus {
    border-color: #007bdb;
    box-shadow: none;
    outline: 0;
}

.ves-megamenu-editor .m-row {
    margin-bottom: 3rem;
    margin-top: 1.5rem;
}

.ves-megamenu-editor #params {
    display: none;
}

.megamenu-editor {
    float: left;
    width: 57%;
    margin-top: 10px;
    position: relative;
    margin-left: 3%;
}

#nestable .animation-1, .megamenu-editor .animation-1 {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 9;
    top: 20px;
}

#nestable li.active>.dd-handle {
    border-color: #eb5202;
}

.megamenu-editor input {
    width: 100%;
}

.megamenu-editor select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-image: url('../images/arrows-bg.svg'), linear-gradient(#e3e3e3, #e3e3e3), linear-gradient(#adadad, #adadad);
    background-position: calc(100% - 12px) -34px, 100%, calc(100% - 3.2rem) 0;
    background-size: auto, 3.2rem 100%, 1px 100%;
    max-width: 100%;
    min-width: 8.5rem;
    padding-bottom: .5rem;
    padding-right: 4.4rem;
    padding-top: .5rem;
    transition: border-color .1s linear;
    padding-right: 4.4rem !important;
}

.megamenu-editor select:focus {
    background-image: url('../images/arrows-bg.svg'), linear-gradient(#e3e3e3, #e3e3e3), linear-gradient(#eb5202, #eb5202);
    background-position: calc(100% - 12px) 13px, 100%, calc(100% - 3.2rem) 0;
}

.megamenu-editor select, .megamenu-editor input, .megamenu-editor textarea {
    border: 1px solid #ccc;
    padding: .6rem 1rem .6rem;
    margin-top: 2px;
    margin-bottom: 10px;
    transition: border-color .1s linear;
    vertical-align: baseline;
}

.megamenu-editor textarea {
    width: 100%;
    min-height: 100px;
}

#edit_form input:focus, #edit_form textarea:focus, #edit_form select:focus {
    border-color: #eb5202;
}

.megamenu-editor .ves-hidden {
    display: none;
}

.megamenu-editor .input-file {
    border: 0;
    width: auto;
    padding: 0;
    margin: 0;
    float: none;
    margin-left: 20px;
}

.megamenu-editor .preview-image {
    float: left;
    width: 100%;
}

.megamenu-editor .preview-image img {
    float: left;
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 3px;
    margin-top: 3px;
}

.megamenu-editor .control-group {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.megamenu-editor .control-group .control-label {
    width: 17%;
    float: left;
    text-align: right;
    margin-right: 3%;
    padding-top: 5px;
    color: #303030;
}

.megamenu-editor .control-group .controls {
    float: left;
    width: 80%;
}

#megamenu-editor > button, .megamenu-editor .control-group .controls button {
    font-size: 15px;
    font-weight: normal;
}

.megamenu-editor .input-media input {
    width: 77%;
    margin-right: 1%;
}

.megamenu-editor .ves-separator {
    border-bottom: 1px solid #dfdfdf;
    font-size: 15px;
    color: #666;
    border-left: #CCC solid 5px;
    padding: 2px 12px;
    text-align: left;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
}

.megamenu-editor .field-cm {
    font-size: 1.3rem;
}

.megamenu-editor .ves-fieldset {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.megamenu-editor .ves-fieldset .ves-fieldset-title {
    clear: both;
    color: #303030;
    cursor: pointer;
    display: block;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .025em;
    padding: 1.9rem 2.7rem 1.9rem 0;
    position: relative;
    text-decoration: none;
    transition: color .15s linear;
}

.megamenu-editor .ves-fieldset .ves-fieldset-title:after {
    content: "\f078";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 10px;
    top: 40%;
}

.megamenu-editor .ves-fieldset.active .ves-fieldset-title:after {
    content: "\f077";
}

.ves-field-list {
    float: left;
    margin: 0 0 20px;
    position: relative;
}

.admin__data-grid-loading-mask {
    z-index: 100;
    background: #FFF;
}

.admin__data-grid-loading-mask .spinner {
    top: 150px;
}

.megamenu-editor .input-media {
    float: left;
    width: 100%;
}

.cat-label {
    color: #fff;
    display: inline-block;
    font-size: 11px;
    padding: 0 4px;
    text-transform: none;
    vertical-align: middle;
    line-height: 16px;
}

.cat-label-v1 {
    background: #5bd2ec none repeat scroll 0 0;
}

.cat-label-v2 {
    background: #d52462 none repeat scroll 0 0;
}

.cat-label-v3 {
    background: #0cc485 none repeat scroll 0 0;
}

.child-translate {
    position: fixed;
    left: 33%;
    transform: translateX(-20%) translateY(-20%);
    max-width: 1100px;
}

.slide {
    top: -100%;
    transition: top 1s;
}

.slide.in {
    top: 30%;
    z-index: 99999;
}

#edit_form {
    position: relative;
}

.child-translate .btn-close {
    float: right;
    padding: 6px 10px;
    background: #FFF;
    border-radius: 30px;
    margin-right: -33px;
    margin-top: -10px;
    cursor: pointer;
    position: absolute;
    z-index: 9999;
    right: 0;
    background-color: #000;
}

.child-translate .btn-close:hover {
    background: #F00
}

.child-translate .btn-close i {
    color: #FFF;
}

.child-translate img {
    max-width: 100%;
    max-height: 100%;
}

.ves-overlay {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
    background: url(../images/overlay.png);
    bottom: 0;
    right: 0;
}

.veseditor-header {
    padding-left: calc(100% * 0.333333 + 10px);
    font-weight: bold;
    font-size: 18px;
    margin-top: 70px;
    margin-bottom: 50px;
}

.ves-notify {
    position: fixed;
    top: 50%;
    right: -450px;
    z-index: 5000;
    background: #27ae60;
    color: #FFF;
    padding: 15px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 2px rgba(0,0,0,.2);
    border-radius: 2px;
}

.ves-notify.in {
    right: 45px;
}

.ves-notify.out {
    right: -450px;
    opacity: 0.2
}

#editor-top {
    background: #f1f1f1;
    padding-left: 10px;
    margin-bottom: 40px
}

#editor-top li {
    display: inline-block
}

#editor-top a {
    padding: 20px;
    display: inline-block;
    color: #333
}

#editor-top a:hover {
    text-decoration: none;
}

#editor-top a.active {
    border-top: 4px solid #eb5202;
    background: #FFF;
}

#menudesign, #menueditor {
    display: none;
    position: relative;
}

#preview-form button {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #FFF;
}

#preview-form button:hover {
    background-color: #ba4000;
    border-color: #b84002;
    color: #FFF;
}

.vesmegamenu-menu-edit .modal-slide.magento._show {
    z-index: 900 !important;
}

#menu-note {
    display: none;
}

.ves-fieldset-content {
    display: none;
}

.ves-fieldset.active .ves-fieldset-content {
    display: block !important;
}

.ves-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    text-align: center;
}

#myiFrame, #preview-form, #import-form, #icon-form {
    display: none;
    float: none;
}

#myiFrame {
    margin-top: 20px;
    height: 800px;
}

#preview-form {
    text-align: center;
}

#icon-form .icon-list {
    list-style: none;
}

#icon-form .icon-list li i {
    width: 8.3%;
    float: left;
    font-size: 32px;
    border: 3px solid transparent;
    background: #ddd;
    -webkit-transition: background .1s;
    transition: background .1s;
    border-radius: .3125em;
    padding: 19px 20px;
    text-align: center;
    margin-bottom: 12px;
    margin-right: 12px;
    position: static;
    cursor: pointer;
}

#icon-form .icon-list li i.active, #icon-form .icon-list li i:hover {
    border-color: #eb5202;
    background: #FFF;
}

.vesmodal .modal-footer {
    display: none;
}

#icon-search input {
    border: 2px solid #ddd;
    padding: 10px 10px 10px 40px;
    width: 300px;
    margin-bottom: 10px;
}

#icon-search .search-wrapper {
    position: relative;
}

#icon-search i {
    position: absolute;
    font-size: 20px;
    top: 10px;
    left: 12px
}

#icon-search input:focus {
    border-color: #eb5202;
}

.input-media button:focus, .input-media button {
    width: 22%;
}

.input-media button:hover {
    background-color: #eb5202;
    border-color: #eb5202;
    color: #FFF;
}

.menu-note li span {
    color: #41362f
}

.menu-note {
    margin-left: 20px;
}

.ves-tooltip {
    margin-left: 5px;
}

.ves-caret > i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 50px;
    float: left;
    margin-right: 20px;
    width: 100%;
    cursor: pointer;
}

.ves-caret input {
    width: 77%;
    margin-right: 5px;
}

.ves-caret button {
    width: 22%;
}

.ves-preview.modal-popup .modal-inner-wrap iframe {
    border: 2px solid #DDD;
    box-shadow: none !important;
    margin-top: 5px;
}

.ves-preview.modal-popup .modal-inner-wrap {
    width: 1340px;
    height: 900px;
}

.preview-devices {
    display: inline-block;
    float: left;
    padding: 5px 0;
}

.preview-option {
    display: inline-block;
    float: right;
}

.preview-devices input {
    margin-right: 5px;
    margin-left: 10px;
}

.preview-devices input:first-child {
    margin-left: 0;
}

#preview-form .animation-1, #import-form .animation-1 {
    margin-top: 80px;
    position: absolute;
    left: 0;
    right: 0
}

.megamenu-editor .admin__actions-switch {
    margin-bottom: 10px;
}

.megamenu-editor .admin__actions-switch-label:before {
    width: 30px;
    height: 30px;
}

.megamenu-editor .admin__actions-switch-label:after {
    height: 30px;
    width: 50px;
}

.megamenu-editor .admin__actions-switch-checkbox:checked + .admin__actions-switch-label:before {
    left: 24px
}

.megamenu-editor .admin__actions-switch-text:before {
    padding-left: 61px;
    font-size: 16px;
}

.menu_type {
    position: absolute;
    right: 0;
    top: 0;
}

.menu_type button {
    background: #fff;
    border: 1px solid #adadad;
    border-radius: 2px;
    font-weight: normal;
    float: left;
}

.menu_type button._active {
    background: #fffbbb;
    border-color: #878787;
    z-index: 10;
}

.menu_type button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.menu_type button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/*HOZI*/
.horizontal #nestable {
    width: 100%;
}

.horizontal .dd-item, .horizontal .dd-empty, .horizontal .dd-placeholder {
    width: 145px;
}

.horizontal .dd-item {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.horizontal .dd-item .editor-btns {
    position: absolute;
    right: 5px;
    top: -28px;
    display: none;
    padding-bottom: 5px;
}

.horizontal .dd-item:hover > .btn-wrapper > .editor-btns {
    display: block;
}

.horizontal .dd-item .editor-btn {
    margin: 0 0 0 5px;
}

.horizontal .dd-item:hover > .editor-btns {
    display: block;
}

.horizontal .dd-item > button[data-action="collapse"], .horizontal .dd-item > button[data-action="expand"] {
    position: absolute;
    margin: 0 0 0 5px;
    right: 5px;
    background: #CCC;
    color: #41362f;
    padding: 2px 8px;
    top: 10px;
    padding: 0;
    width: 30px;
    height: 30px;
}

.horizontal .dd-handle {
    margin: 0;
}

.horizontal .dd-placeholder {
    display: inline-block;
}

.horizontal .dd-list .dd-list {
    padding-left: 0;
    position: absolute;
    z-index: 99;
    background: #FFF;
    padding: 10px;
    width: 100%;
    border: 1px solid #DDD;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 5px 10px;
    display: none;
}

.horizontal .dd-list .dd-list.subgroup {
    position: static;
    float: left;
    width: 100%;
    box-shadow: none;
}

.horizontal .dd-list .dd-list.level2.subgroup {
    display: block !important;
}

.horizontal .megamenu-editor {
    width: 100%;
    margin: 0;
}

.horizontal .ves-field-list {
    width: 100%;
}

.horizontal .ves-fieldset {
    float: left;
    width: 48%;
}

.horizontal .ves-fieldset {
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all .2s ease-in-out;
    background: #FFF;
}

.horizontal .ves-fieldset.even {
    margin-left: 1px;
    margin-right: 2%;
}

.horizontal .control-group .control-label {
    width: 100%;
    text-align: left
}

.horizontal .control-group .controls {
    width: 100%;
}

.horizontal .ves-column1 > .dd-item {
    width: 100% !important;
    float: left;
}

.horizontal .ves-column2 > .dd-item {
    width: 50% !important;
    float: left;
}

.horizontal .ves-column3 > .dd-item {
    width: 31.3333%;
    float: left;
}

.horizontal .ves-column4 > .dd-item {
    width: 25% !important;
    float: left;
}

.horizontal .ves-column5 > .dd-item {
    width: 20% !important;
    float: left;
}

.horizontal .ves-column6 > .dd-item {
    width: 16.6666% !important;
    float: left;
}

.horizontal .ves-column7 > .dd-item {
    width: 14.2857% !important;
    float: left;
}

.horizontal .ves-column8 > .dd-item {
    width: 12.5% !important;
    float: left;
}

.horizontal .ves-column9 > .dd-item {
    width: 11.1111% !important;
    float: left;
}

.horizontal .ves-column10 > .dd-item {
    width: 10% !important;
    float: left;
}

.horizontal .ves-column11 > .dd-item {
    width: 9.0909% !important;
    float: left;
}

.horizontal .ves-column12 > .dd-item {
    width: 8.3333% !important;
    float: left;
}

.horizontal .dd-list.dropdown-align3 {
    left: 0;
    right: auto;
}

.horizontal .dd-list.dropdown-align4 {
    left: auto;
    right: 0;
}

.horizontal .dd-item.parent-align1 {
}

.horizontal .dd-item.parent-align1 > .dd-list.dropdown-align1 {
    left: 0;
}

.horizontal .editor-area {
    position: relative;
    display: block;
    float: right;
    right: 0;
    padding: 25px;
}

.ves-column1 > .dd-item:nth-child(1n+1), .ves-column2 > .dd-item:nth-child(2n+1), .ves-column3 > .dd-item:nth-child(3n+1), .ves-column4 > .dd-item:nth-child(4n+1), .ves-column5 > .dd-item:nth-child(5n+1), .ves-column6 > .dd-item:nth-child(6n+1), .ves-column7 > .dd-item:nth-child(7n+1), .ves-column8 > .dd-item:nth-child(8n+1), .ves-column9 > .dd-item:nth-child(9n+1), .ves-column10 > .dd-item:nth-child(10n+1), .ves-column11 > .dd-item:nth-child(11n+1), .ves-column12 > .dd-item:nth-child(12n+1) {
    clear: left;
}

.design_margin {
    border: 1px dashed #bababa;
    margin: 1px;
}

.menu-design {
    float: left;
    margin-top: 40px;
}

.menu-design .design_margin input {
    position: absolute;
    text-align: center;
    width: 38px;
    margin: 0;
    border: 1px solid #bdbdbd;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: .6rem 0.6rem .6rem;
}

.menu-design .design_margin input.margin_top {
    top: 11px;
    left: 50%;
    margin-left: -17px;
}

.menu-design .design_margin input.design_top {
    top: 10px;
    left: 50%;
    margin-left: -17px;
}

.menu-design .design_margin input.design_left {
    top: 50%;
    left: 10px;
    margin-top: -12px;
}

.menu-design .design_margin input.design_right {
    top: 50%;
    right: 10px;
    margin-top: -12px;
}

.menu-design .design_margin input.design_bottom {
    bottom: 10px;
    left: 50%;
    margin-left: -17px;
}

.menu-design .design_border {
    border: 1px solid #d7d7d7;
    background: #f6f6f6;
    margin: 64px;
    position: relative;
}

.menu-design .design_margin label {
    position: absolute;
    line-height: 9px;
    top: 6px;
    left: 5px;
    color: #2C2C2C;
    margin: 0;
    padding: 0;
}

.menu-design .design_padding {
    border: 1px solid #bababa;
    background: #ebebeb;
    margin: 64px;
    position: relative;
}

.design_margin {
    margin: 0;
    width: 450px;
    float: left;
    position: relative;
}

.lof-design .dd {
    min-height: auto;
    margin-bottom: 40px
}

.menu-design .design_content {
    text-align: center;
    margin: 64px;
    position: relative;
}

.menu-design .design_margin select {
    margin: 0;
    min-width: 65px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.menu-design .design_margin > select, .menu-design .design_border > select {
    left: 2px;
    bottom: 2px;
    position: absolute;
}

.design_settings {
    float: left;
    width: 500px;
    padding-left: 40px;
}

.design_settings label {
    width: 30% !important;
    padding-right: 20px;
}

.design_settings .minicolor {
    padding-left: 35px !important;
}

.design_settings .field {
    float: left;
    width: 100%;
}

.menu-design .design_margin.design_borderradius .input1 {
    top: 5px;
    left: 5px;
    margin-left: 0;
}

.menu-design .design_margin.design_borderradius .input2 {
    top: 5px;
    margin-top: 0;
    right: 5px;
}

.menu-design .design_margin.design_borderradius .input3 {
    margin-left: 0;
    right: 5px;
    left: auto;
    bottom: 5px;
}

.menu-design .design_margin.design_borderradius .input4 {
    bottom: 5px;
    left: 5px;
    margin-top: 0;
    top: auto;
}

.lof-design .dd-handle {
    margin-top: 0;
    border: 0;
    background: none;
    padding: 0;
    line-height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.lof-design .btn-wrapper {
    display: none;
}

.lof-design .dd-list button {
    display: none !important;
}
.lof-design .horizontal .dd-item {
    margin-right: 5px;
    font-size: 16px;
}
.lof-design .horizontal .dd-item, .lof-design .horizontal .dd-empty, .lof-design .horizontal .dd-placeholder {
    width: auto;
    margin-bottom: 0;
}
.lof-design .design-overlay {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}
.lof-design #nestable {
    background: url('../images/transparent.png');
    margin-bottom: 0;
}
.lof-design .dd-list {
    width: auto;
}

.boxshadow-options input,
.boxshadow-options select,
.boxshadow-options .boxshadow-inset{
    display: inline-block !important;
    float: none;
    width: auto;
    min-width: auto;
    margin-bottom: 5px;
    float: left;
    margin-right: 5px;
}

.boxshadow-options input {
    width: 80px !important;
}

.boxshadow-inset {
    background: #f6f6f6;
    padding: 5px 15px;
    cursor: pointer;
}

.boxshadow-options .minicolors {
    display: inline-block;
}
.boxshadow-options .control {
    width: 70% !important;
}
.boxshadow-options .boxshadow-text {
    float: left;
    line-height: 30px;
    margin-right: 5px;
}

.boxshadow-options .boxshadow-inset.active {
    background: #EB5201;
    color: #FFF;
}
.horizontal .dd-placeholder {
    width: 100%!important;
}
.horizontal .ves-column3 > .dd-item {
    width: 100%!important;
    float: none!important;
}