<?php
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
?>
<script>
    require(['jquery'], function ($) {
        var url = "https://maps.googleapis.com/maps/api/staticmap?center=STATICINFO_CENTER&zoom=17&size=560x560&markers=color:red%7CSTATICINFO_MARKER&key=<?php echo $apiKey ?>"
        var interval = setInterval(function () {
            var lat = $('input[name="lat"]');
            var long = $('input[name="long"]');
            if (lat.val() != undefined && lat.val() != undefined) {
                clearInterval(interval);
                $('div[data-index="location_map"]').append(
                    '<div class="maps_location_details" align="center">' +
                    '    <img id="static-map" src="">' +
                    '   <input type="hidden" name="map_info">' +
                    '</div>'
                )
                if ($.isNumeric(lat.val()) && $.isNumeric(long.val()))
                    var new_url = url.replace('STATICINFO_CENTER', lat.val() + ',' + long.val()).replace('STATICINFO_MARKER', lat.val() + ',' + long.val());
                $('#static-map').prop('src', new_url);
                $('input[name="lat"],input[name="long"]').on('keyup', function () {
                    var lat = $('input[name="lat"]');
                    var long = $('input[name="long"]');
                    if ($.isNumeric(lat.val()) && $.isNumeric(long.val())) {
                        var new_url = url.replace('STATICINFO_CENTER', lat.val() + ',' + long.val()).replace('STATICINFO_MARKER', lat.val() + ',' + long.val());
                        $('#static-map').prop('src', new_url);
                        $('input[name="map_info"]').val(lat.val() + ',' + long.val());
                    }
                });
            }
        }, 200)
    })
</script>