<?php
/**
 * Created by Magenest.
 * Author: Pham Quang Hau
 * Date: 12/08/2016
 * Time: 23:52
 */
/** @var $block \Magenest\Profile\Block\Adminhtml\Editing\View */
$editings = $block->getEditing();
unset($editings['id']);
unset($editings['primary_location_id']);
$vendor    = $block->getVendor();
$documents = \Magenest\Profile\Helper\Document::FILES;
?>

<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $block->escapeHtml(__('Review changes')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item">
            <div class="admin__page-section-item-content">
                <h2>
                    <a href="<?php echo $block->getUrl('udropship/vendor/edit', ['id' => $editings['vendor_id']]) ?>"><?php echo __("Vendor ID: %1", $editings['vendor_id']) ?></a>
                </h2>
                <?php unset($editings['vendor_id']); ?>
                <table class="admin__table-secondary review-editing-table">
                    <tr>
                        <th style="width: 200px;"></th>
                        <th class="mid-td"><?php echo __('New Information'); ?></th>
                        <th><?php echo __('Old Information'); ?></th>
                    </tr>
                    <?php foreach ($editings as $key => $editing) : ?>
                        <tr>
                            <th class="field-head"><?php echo $block->getLabel($key) ?> </th>
                            <td class="mid-td"><?php echo @$editing == null ? @$vendor[$key] : @$editing ?> </td>
                            <td><?php echo @$vendor[$key] ?> </td>
                        </tr>
                    <?php endforeach; ?>
                    <?php foreach ($documents as $document): ?>
                        <tr>
                            <th class="field-head"><?= $block->getLabel($document); ?> </th>
                            <?php for ($pending = 1; $pending >= 0; $pending--): ?>
                                <?php $doc = $block->getDocument($document, !!$pending); ?>
                                <td class="mid-td">
                                    <?php if ($doc): ?>
                                        <label class="label">
                                            <a href="<?= $doc; ?>" target="_blank">
                                                <span><?= __("View"); ?></span>
                                            </a>
                                        </label>
                                    <?php else: ?>
                                        <label class="label">
                                            <span><?= __("Empty"); ?></span>
                                        </label>
                                    <?php endif; ?>
                                </td>
                            <?php endfor; ?>
                        </tr>
                    <?php endforeach; ?>
                </table>
            </div>
        </div>
    </div>
</section>
<style>
    .field-head {
        text-transform: capitalize;
    }

    .mid-td {
        border-left: 1px solid silver !important;
        border-right: 1px solid silver !important;
    }

    .review-editing-table th {
        font-weight: bold;
    }
</style>