<?php
/**
 * @var \Magenest\Profile\Block\Adminhtml\CampaignEditing\View $block
 */
$productId = $block->getProductId();
$newProductData = $block->getNewProductData();
$newCouponData = $block->getNewCouponOptionData();
$newLocationData = $block->getNewLocationData();
$ticketInfoChange = $block->getTicketInfoChange();
$productType = $block->getProductType();
/**
 * $currentProductData - Data from magento core
 */
$currentProductData = $block->getCurrentProductData();
$currentDealData = $block->getCurrentDealData();
$currentEventData = $block->getCurrentEventData();
?>
<section class="admin__page-section">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $block->escapeHtml(__('Review changes')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <h2>
            <a href="<?php echo $block->getUrl('catalog/product/edit', ['id' => $block->getCampaign()->getProductId()]) ?>"><?php echo __("Product ID: %1", $block->getCampaign()->getProductId()) ?></a>
        </h2>
        <form id="editting_form" method="POST" action="<?= $block->getUrl('profile/campaignEditing/approve'); ?>">
            <table class="admin__table-secondary review-editing-table">
                <tbody>
                <tr>
                    <td width="200px">
                        <label for="campaign_status_comment"><?= __("Comment/Reason"); ?></label>
                    </td>
                    <td>
                        <textarea id="campaign_status_comment" name="campaign_status_comment"
                                  style="width: 100%; height: 84px"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <input name="form_key" type="hidden" value="<?= $block->getFormKey(); ?>">
            <input type="hidden" name="id" value="<?= $block->getRequest()->getParam('id'); ?>">
        </form>
    </div>
    <div class="admin__page-section-content">
        <div class="admin__page-section-item">
            <div class="admin__page-section-item-content">
                <table class="admin__table-secondary review-editing-table">
                    <thead>
                    <tr>
                        <th style="width: 200px;"></th>
                        <th class="mid-td" style="font-weight: bolder; text-align: center;"><?= __('Old Information') ?></th>
                        <th style="font-weight: bolder; text-align: center;"><?= __('New Information') ?></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><?= __("Categories") ?></th>
                        <th><?= $block->getCategoriesName(@$currentProductData['category_ids']) ?></th>
                        <th><?= $block->getCategoriesName(@$newProductData["product"]["category_ids"]) ?></th>
                    </tr>
                    <tr>
                        <th><?= __("Product Name") ?></th>
                        <th><?= @$currentProductData['name'] ?></th>
                        <th><?= @$newProductData["product"]["name"] ?></th>
                    </tr>
                    <?php if ($productType === 'groupon'): ?>
                        <tr>
                            <th><?= __("Buy Options") ?></th>
                            <th>
                                <?php $currentCouponData = $block->getCurrentCouponOptionData(); ?>
                                <?php if (!empty($currentCouponData)): ?>
                                    <?php foreach($currentCouponData as $productDatum): ?>
                                        <span><?= "Coupon Name: " . @$productDatum['name'] ?></span>
                                        <ul style="margin-left: 40px;">
                                            <li><?= "Original Value: " . number_format(@(float)$productDatum['vendor_price'], 2) . " " . $block->getCurrentCurrencyCode() ?></li>
                                            <li><?= "Customer Pay: " . number_format(@(float)$productDatum['special_price'], 2) . " " . $block->getCurrentCurrencyCode() ?></li>
                                            <li><?= "Maximum Quantity Per Person Can Redeem: " ?><?= @(int)$productDatum['maximum_buyers_limit'] !== 0 ? (int)$productDatum['maximum_buyers_limit'] : "None" ?></li>
                                            <li><?= "Max Qty: " ?><?= @(int)$productDatum['stock_qty'] !== 0 ? (int)$productDatum['stock_qty'] : 'None' ?></li>
                                        </ul>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <?= __("No Options") ?>
                                <?php endif; ?>
                            </th>
                            <th>
                                <?php if (@$newProductData["product"]["_cfg_attribute"]["quick_create"] && is_array($newProductData["product"]["_cfg_attribute"]["quick_create"])): ?>
                                    <?php foreach($newProductData["product"]["_cfg_attribute"]["quick_create"] as $key => $productDatum): ?>
                                        <?php if ($key === '$ROW') continue; ?>
                                        <span><?= "Coupon Name: " . @$productDatum['name'] ?></span>
                                        <ul style="margin-left: 40px;">
                                            <li><?= "Original Value: " . number_format(@(float)$productDatum['price'], 2) . " " . $block->getCurrentCurrencyCode() ?></li>
                                            <li><?= "Customer Pay: " . number_format(@(float)$productDatum['special_price'], 2) . " " . $block->getCurrentCurrencyCode() ?></li>
                                            <li><?= "Maximum Quantity Per Person Can Redeem: " ?><?= @(int)$newCouponData[$productDatum['groupon_option']]['maximum_buyers_limit'] !== 0 ? (int)$newCouponData[$productDatum['groupon_option']]['maximum_buyers_limit'] : "None" ?></li>
                                            <li><?= "Max Qty: " ?><?= @(int)$productDatum['udmulti']['stock_qty'] !== 0 ? (int)$productDatum['udmulti']['stock_qty'] : 'None' ?></li>
                                        </ul>
                                    <?php endforeach; ?>
                                <?php else: ?>
                                    <?= __("No Options") ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <th><?= __("Campaign Description") ?></th>
                        <th><?= @$currentProductData["description"] ?></th>
                        <th><?= @$newProductData["product"]["description"] ?></th>
                    </tr>
                    <?php if ($productType === 'groupon'): ?>
                        <tr>
                            <th><?= __("Campaign Terms") ?></th>
                            <th><?= $block->prepareTermsData(@$currentDealData['term'], false) ?></th>
                            <th><?= $block->prepareTermsData(@$newCouponData["terms"], true) ?></th>
                        </tr>
                    <?php endif; ?>
                    <tr>
                        <th><?= __("Campaign Images") ?></th>
                        <th>
                            <div>
                                <?php if (@$currentProductData["media_gallery"]["images"] && is_array($currentProductData["media_gallery"]["images"])): ?>
                                    <?php foreach($currentProductData["media_gallery"]["images"] as $image): ?>
                                        <img src="<?= $block->getImageDisplayPath(@$image['file']) ?>" height="100"
                                             width="100">
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                        </th>
                        <th>
                            <div>
                                <?php if (@$newProductData["product"]["media_gallery"]["images"] && is_array($newProductData["product"]["media_gallery"]["images"])): ?>
                                    <?php foreach($newProductData["product"]["media_gallery"]["images"] as $image): ?>
                                        <img src="<?= $block->getImageDisplayPath(@$image['file']) ?>" height="100"
                                             width="100">
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                        </th>
                    </tr>
                    <?php if ($productType === 'groupon'): ?>
                        <tr>
                            <th><?= __("Redeem Location(s)") ?></th>
                            <th>
                                <?php if (@$currentDealData['is_online_coupon'] && $currentDealData['is_online_coupon'] === '1'): ?>
                                    <span><?= __("Online Service - No visitation required") ?></span>
                                <?php else: ?>
                                    <?php if (@$currentDealData['customer_specify_location'] && $currentDealData['customer_specify_location'] === '1'): ?>
                                        <span><?= "Customer need to specify a redemption location on purchase: Yes" ?><br></span>
                                    <?php elseif (@$currentDealData['customer_specify_location'] === '0'): ?>
                                        <span><?= "Customer need to specify a redemption location on purchase: No" ?><br></span>
                                    <?php endif; ?>
                                    <?php if (@$currentDealData["is_business_address"] && $currentDealData["is_business_address"] === '1'): ?>
                                        <span><?= "Business Address: " ?></span>
                                        <ul style="margin-left: 40px;">
                                            <?php foreach($block->getOldLocationData(@$currentDealData["location_ids"]) as $location): ?>
                                                <li><?= $location ?></li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                    <?php if (@$currentDealData["is_delivery_address"] && $currentDealData["is_delivery_address"] === '1'): ?>
                                        <span><?= "Delivery Service: " ?></span>
                                        <ul style="margin-left: 40px;">
                                            <?php foreach($block->getOldDeliveryData(@$currentDealData["delivery_ids"]) as $location): ?>
                                                <li><?= $location ?></li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </th>
                            <th>
                                <?php if (@$newCouponData['is_online_coupon'] && $newCouponData['is_online_coupon'] === '1'): ?>
                                    <span><?= __("Online Service - No visitation required") ?></span>
                                <?php else: ?>
                                    <?php if (@$newCouponData['customer_specify_location'] && $newCouponData['customer_specify_location'] === '1'): ?>
                                        <span><?= "Customer need to specify a redemption location on purchase: Yes" ?><br></span>
                                    <?php elseif ((@$newCouponData['customer_specify_location'] === '0')): ?>
                                        <span><?= "Customer need to specify a redemption location on purchase: No" ?><br></span>
                                    <?php endif; ?>
                                    <?php if (@$newCouponData["is_business_address"] && $newCouponData["is_business_address"] === '1' && is_array($newLocationData)): ?>
                                        <span><?= "Business Address: " ?></span>
                                        <ul style="margin-left: 40px;">
                                            <?php foreach($newLocationData as $locationDatum): ?>
                                                <?php if (@$locationDatum['used'] && $locationDatum['used'] === 'on'): ?>
                                                    <li><?= $block->prepareLocationDisplayData($locationDatum) ?></li>
                                                <?php endif; ?>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                    <?php if (@$newCouponData["is_delivery_address"] && $newCouponData["is_delivery_address"] === '1' && @$newCouponData["delivery_location"] && is_array($newCouponData["delivery_location"])): ?>
                                        <span><?= "Delivery Service: " ?></span>
                                        <ul style="margin-left: 40px;">
                                            <?php foreach($newCouponData["delivery_location"] as $location): ?>
                                                <li><?= "Address: " . $location['address'] . " - " . "Distance: " . $location['distance'] ?></li>
                                            <?php endforeach; ?>
                                        </ul>
                                    <?php endif; ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                        <tr>
                            <?php
                            $timeFormat = 'M d, Y H:i:s';
                            ?>
                            <th><?= __("Coupon Validity") ?></th>
                            <th>
                                <span><?= @$currentDealData["redeemable_after"]
                                        ? __("Customers benefit from their coupon from %1", date($timeFormat, strtotime(@$currentDealData["redeemable_after"])))
                                        : __("Customers benefit from their coupon immediately after Purchase"); ?>
                                </span><br>
                                <span><?= __("Coupon validate until %1", date($timeFormat, strtotime(@$currentDealData['groupon_expire']))) ?></span>
                            </th>
                            <th>
                                <span><?= @$newCouponData["redeemable_after"] !== ""
                                        ? __("Customers benefit from their coupon from %1", date($timeFormat, strtotime(@$newCouponData["redeemable_after"])))
                                        : __("Customers benefit from their coupon immediately after Purchase"); ?>
                                </span><br>
                                <span><?= __("Coupon validate until %1", date($timeFormat, strtotime(@$newCouponData['groupon_expire']))) ?></span>
                            </th>
                        </tr>
                        <tr>
                            <th><?= __("Campaign Schedule") ?></th>
                            <th>
                                <span><?= @$currentDealData["start_time"] !== ""
                                        ? __("Campaign starts date from %1", date($timeFormat, strtotime(@$currentDealData["start_time"])))
                                        : __("Campaign starts date as soon as possible."); ?>
                                </span><br>
                                <span><?= __("Campaign ends date: %1", date($timeFormat, strtotime(@$currentDealData['end_time']))) ?></span>
                            </th>
                            <th>
                                <span><?= @$newCouponData["start_time"] !== ""
                                        ? __("Campaign starts date from %1", date($timeFormat, strtotime(@$newCouponData["start_time"])))
                                        : __("Campaign starts date as soon as possible."); ?></span><br>
                                <span><?= __("Campaign ends date: %1", date($timeFormat, strtotime(@$newCouponData['end_time']))) ?></span>
                            </th>
                        </tr>
                    <?php endif; ?>
                    <?php if ($productType === 'ticket'): ?>
                        <tr>
                            <th><?= __("Event Venue:") ?></th>
                            <th>
                                <?php if (@$currentEventData['is_online'] === '1'): ?>
                                    <?= __("Offline Event <br>") ?>
                                    <?php $eventLocation = $block->getTicketEventLocation() ?>
                                    <span><?= __("Event Venue:") ?></span>
                                    <ul style="margin-left: 45px;">
                                        <li><?= __("Location Name: " . @$eventLocation['venue_title']) ?></li>
                                        <li><?= __("Address: " . @$eventLocation['address']) ?></li>
                                        <li><?= __("Address 2: " . @$eventLocation['address2']) ?></li>
                                        <li><?= __("City: " . @$eventLocation['city']) ?></li>
                                        <li><?= __("Region: " . @$eventLocation['state']) ?></li>
                                        <li><?= __("Postcode: " . @$eventLocation['postcode']) ?></li>
                                        <li><?= __("Country: " . @$eventLocation['country']) ?></li>
                                    </ul>
                                <?php else: ?>
                                    <?= __("Online Event") ?>
                                <?php endif; ?>
                            </th>
                            <th>
                                <?php if (@$newCouponData['is_online'] === 'on'): ?>
                                    <?= __("Offline Event <br>") ?>
                                    <span><?= __("Event Venue:") ?></span>
                                    <ul style="margin-left: 45px;">
                                        <li><?= __("Location Name: " . @$newCouponData['location']['venue_title']) ?></li>
                                        <li><?= __("Address: " . @$newCouponData['location']['address']) ?></li>
                                        <li><?= __("Address 2: " . @$newCouponData['location']['address2']) ?></li>
                                        <li><?= __("City: " . @$newCouponData['location']['city']) ?></li>
                                        <li><?= __("Region: " . @$newCouponData['location']['state']) ?></li>
                                        <li><?= __("Postcode: " . @$newCouponData['location']['postcode']) ?></li>
                                        <li><?= __("Country: " . @$newCouponData['location']['country']) ?></li>
                                    </ul>
                                <?php else: ?>
                                    <?= __("Online Event") ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                        <tr>
                            <th><?= __("Event Type") ?></th>
                            <th><?= @$currentEventData['event_type'] ?></th>
                            <th><?= @$newCouponData["event_type"] ?></th>
                        </tr>
                        <tr>
                            <th><?= __("Event Terms") ?></th>
                            <th><?= $block->prepareTicketTermsData($currentEventData); ?></th>
                            <th><?= $block->prepareTicketTermsData($newCouponData); ?></th>
                        </tr>
                        <tr>
                            <th><?= __("Age Suitability") ?></th>
                            <th><?= @$currentEventData['age'] ?></th>
                            <th><?= @$newCouponData['age_suitability'] ?></th>
                        </tr>
                        <tr>
                            <th><?= __("Refund Policy") ?></th>
                            <th>
                                <?php if (@$currentEventData['refund_policy'] && @$currentEventData['refund_policy'] === 'allow_refund'): ?>
                                    <?= __("Allow Refund <br>") ?>
                                    <?php if (@$currentEventData['refund_policy_day']) echo "Refunds allowed if requested " . (int)$currentEventData['refund_policy_day'] . " day(s) before the session start time"; ?>
                                <?php else: ?>
                                    <?= __("Non Refundable") ?>
                                <?php endif; ?>
                            </th>
                            <th>
                                <?php if (@$newCouponData['refund_policy'] && @$newCouponData['refund_policy'] === 'allow_refund'): ?>
                                    <?= __("Allow Refund <br>") ?>
                                    <?php if (@$newCouponData['refund_day']) echo "Refunds allowed if requested " . (int)$newCouponData['refund_day'] . " day(s) before the session start time"; ?>
                                <?php else: ?>
                                    <?= __("Non Refundable") ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                        <tr>
                            <th><?= __("Publish Organizer") ?></th>
                            <th>
                                <?php if (@$currentEventData['public_organizer'] === '1' && @$currentEventData['organizer_name'] && trim($currentEventData['organizer_name']) !== ""): ?>
                                    <?= $currentEventData['organizer_name'] . "<br>" ?>
                                    <?php if (@$currentEventData['organizer_description'] && trim($currentEventData['organizer_description']) !== ""): ?>
                                        <?= "Organizer Description:" . $currentEventData['organizer_description'] ?>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?= __("None") ?>
                                <?php endif; ?>
                            </th>
                            <th>
                                <?php if (@$newCouponData['organizer_detail'] === 'on' && @$newCouponData['organizer_name'] && trim($newCouponData['organizer_name']) !== ""): ?>
                                    <?= $newCouponData['organizer_name'] . "<br>" ?>
                                    <?php if (@$newCouponData['organizer_description'] && trim($newCouponData['organizer_description']) !== ""): ?>
                                        <?= "Organizer Description:" . $newCouponData['organizer_description'] ?>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <?= __("None") ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                        <tr>
                            <th><?= __("Tickets Information") ?></th>
                            <th>
                                <?php $ticketType = $block->getCurrentTicketType(); ?>
                                <?= "Ticket Type: " ?><?php if ($ticketType === "paid") echo "Paid Ticket"; elseif ($ticketType === "free") echo "Free Ticket"; else echo "Donation Ticket"; ?><?= "<br>" ?>
                                <hr>
                                <?php foreach($block->getCurrentTicketInformation() as $item): ?>
                                    <div>
                                        <span><?= __("Ticket Title:" . @$item['title']) ?></span><br>
                                        <span><?= __("Ticket Description:" . @$item['description']) ?></span><br>
                                        <?php if (@$item['sessions'] && is_array($item['sessions'])): ?>
                                            <?php foreach($item['sessions'] as $sessionItem): ?>
                                                <span style="margin-left: 35px;"><?= "Session Time: From " . date('M d, Y - H:i', strtotime(@$sessionItem['session_from'])) . " To " . date('M d, Y - H:i', strtotime(@$sessionItem['session_to'])) ?></span>
                                                <ul style="margin-left: 85px;">
                                                    <li><?= "Qty: " . @$sessionItem['qty'] ?></li>
                                                    <?php if ($ticketType === 'paid'): ?>
                                                        <li><?= "Sale Price: " . number_format((float)@$sessionItem['sale_price'], 2) ?></li>
                                                    <?php endif; ?>
                                                    <?php if ($ticketType === 'donation'): ?>
                                                        <li><?= "Minimum Donation: " . number_format((float)@$sessionItem['sale_price'], 2) ?></li>
                                                    <?php endif; ?>
                                                    <?php if ($ticketType !== 'donation'): ?>
                                                        <li><?= "Original Value: " . number_format((float)@$sessionItem['original_value'], 2) ?></li>
                                                    <?php endif; ?>
                                                    <li><?= "Sale Start: " . date('M d, Y - H:i' , strtotime(@$sessionItem['sell_from'])) ?></li>
                                                    <li><?= "Sale End: " . date('M d, Y - H:i' , strtotime(@$sessionItem['sell_to'])) ?></li>
                                                    <li><?= "Max Qty/Person: " . (int)$sessionItem['max_qty'] ?></li>
                                                    <li><?= "Hide when sold out: " ?><?php if (isset($sessionItem['hide_sold_out']) && $sessionItem['hide_sold_out'] === '1') echo "Yes"; else echo "No"; ?></li>
                                                </ul>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </div>
                                <?php endforeach; ?>
                            </th>
                            <th>
                                <?php $ticketType = @$ticketInfoChange[0]["type"]; ?>
                                <?= "Ticket Type: " ?><?php if ($ticketType === "paid") echo "Paid Ticket"; elseif ($ticketType === "free") echo "Free Ticket"; else echo "Donation Ticket"; ?><?= "<br>" ?>
                                <hr>
                                <?php if (is_array($ticketInfoChange)): ?>
                                    <?php foreach($ticketInfoChange as $item): ?>
                                        <div>
                                            <span><?= __("Ticket Title:" . @$item['title']) ?></span><br>
                                            <span><?= __("Ticket Description:" . @$item['description']) ?></span><br>
                                            <?php if (@$item['sessions'] && is_array($item['sessions'])): ?>
                                                <?php foreach($item['sessions'] as $sessionItem): ?>
                                                    <span style="margin-left: 35px;"><?= "Session Time: From " . date('M d, Y - H:i', strtotime(@$sessionItem['session_start'])) . " To " . date('M d, Y - H:i', strtotime(@$sessionItem['session_end'])) ?></span>
                                                    <ul style="margin-left: 85px;">
                                                        <li><?= "Qty: " . @$sessionItem['qty'] ?></li>
                                                        <?php if ($ticketType === 'paid'): ?>
                                                            <li><?= "Sale Price: " ?><?= @$sessionItem['salePrice'] ? number_format((float)@$sessionItem['salePrice'], 2) : 0.00; ?></li>
                                                        <?php endif; ?>
                                                        <?php if ($ticketType === 'donation'): ?>
                                                            <li><?= "Minimum Donation: " ?><?= @$sessionItem['salePrice'] ? number_format((float)@$sessionItem['salePrice'], 2) : 0.00; ?></li>
                                                        <?php endif; ?>
                                                        <?php if ($ticketType !== 'donation'): ?>
                                                            <li><?= "Original Value: " ?><?= @$sessionItem['orig_value'] ? number_format((float)@$sessionItem['orig_value'], 2) : 0.00; ?></li>
                                                        <?php endif; ?>
                                                        <li><?= "Sale Start: " . date('M d, Y - H:i' , strtotime(@$sessionItem['sale_start'])) ?></li>
                                                        <li><?= "Sale End: " . date('M d, Y - H:i' , strtotime(@$sessionItem['sale_end'])) ?></li>
                                                        <li><?= "Max Qty/Person: " . @$sessionItem['max_qty'] ?></li>
                                                        <li><?= "Hide when sold out: " ?><?php if (isset($sessionItem['is_hide'])) echo "Yes"; else echo "No"; ?></li>
                                                    </ul>
                                                <?php endforeach; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </th>
                        </tr>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>