<?php /** @var \Magenest\Hotel\Block\Adminhtml\Calendar\Form $block */ ?>
<!--<div data-bind="scope: 'calendar_tool'">-->
<!--    <!-- ko template: getTemplate() --><!-- /ko -->
<!--    <span data-bind="text: test"></span>-->
<!--</div>-->
<!--<script type="text/x-magento-init">-->
<!--{-->
<!--    "*": {-->
<!--        "Magento_Ui/js/core/app": {-->
<!--            "components": {-->
<!--                "calendar_tool": {-->
<!--                    "component": "Magenest_Hotel/js/view/calendar",-->
<!--                    "test": "abc"-->
<!--                }-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--}-->
<!--</script>-->
<?php $aadf=$block->getCurrency();?>
<script>
    window.HOTEL_PRICE_URL = '<?= $block->getPricesUrl(); ?>';
    window.PRODUCT_ID = '<?= $block->getProductId(); ?>';
    window.currency = '<?php echo $block->getCurrency(); ?>';

    // require([
    //     'jquery'
    // ], function ($) {
    //     $('body').trigger('contentUpdated');
    // })
</script>
