.admin__field #calendar-div{
    width: 866px;
}
.admin__field #calendar-div #customCalendarField{
    width: calc(100% - 310px);
    float: left;
}
.admin__field #calendar-div .calendar-update-tool{
    width: 300px;
    float: right;
    border: 1px solid #a6a6a6;
    padding: 10px;
    font-size: 13px;
}
.admin__field #calendar-div #customCalendar > .calendar{
    width: 100%;
    max-width: none;
}
.admin__field #calendar-div div.calendar table{
    background: #fff;
    border: none;
}
.admin__field #calendar-div div.calendar thead {
    background-color: white;
}
.admin__field #calendar-div div.calendar table thead th,
.admin__field #calendar-div div.calendar table tbody td{
    background: none;
    border: 1px solid #e7e7e7;
    text-align: left;
}
.admin__field #calendar-div .calendar-update-tool h4 {
    font-size: 16px;
    margin: 10px 0 15px;
}
.admin__field #calendar-div .calendar-update-tool h5 {
    font-size: 14px;
    margin-bottom: 13px;
}
.admin__field #calendar-div .calendar-update-tool label {
    font-weight: 600;
    margin-right: 5px;
    display: inline-block;
    vertical-align: -webkit-baseline-middle;
}
.admin__field #calendar-div .field-startdate,
.admin__field #calendar-div .field-enddate {
    width: 50%;
    float: left;
    display: table;
    margin-bottom: 10px;
    position: relative;
}
.admin__field #calendar-div .field-enddate{
    text-align: right;
}
.admin__field #calendar-div input {
    border: 1px solid #a6a6a6;
    color: #666;
    width: 45%;
    float: right;
    font-size: 13px;
    height: 26px;
    line-height: 26px;
}
.admin__field #calendar-div .field-startdate input,
.admin__field #calendar-div .field-enddate input{
    border-radius: 3px;
    width: calc(100% - 35px);
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
}
.admin__field #calendar-div .field-saleprice,
.admin__field #calendar-div .field-originalprice,
.admin__field #calendar-div .field-roomqty{
    clear: both;
    margin-bottom: 10px;
}
.admin__field #calendar-div input[type="button"] {
    height: 38px;
    border-radius: 8px;
    color: #333;
    background-color: white;
    margin: 15px 0 10px;
}
.admin__field #calendar-div .field-startdate button.ui-datepicker-trigger,
.admin__field #calendar-div .field-enddate button.ui-datepicker-trigger{
    right: 2px;
    height: 26px;
}
.admin__field #calendar-div .field-startdate button.ui-datepicker-trigger:after,
.admin__field #calendar-div .field-enddate button.ui-datepicker-trigger:after{
    line-height: 26px;
    font-size: 18px;
}
