<table cellspacing="0" class="data admin__control-table" cellpadding="0" style="width: 500px">
    <col width="300">
    <col width="100">
    <col width="100">
    <thead>
        <tr class="headings">
            <th>Country</th>
            <th>Commission Percent</th>
            <th>Fixed Rate</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <!-- ko foreach: commissionSettings -->
        <tr>
            <td><select data-bind="options: $parent.countryOptions,
                       optionsText: 'label',
                       optionsValue: 'value',
                       value: country,
                        attr: {name: $parent.getElementName.bind($parent, $index(), 'country')()}"
                        value=""
                        required
                        class="required-entry"></select></td>
            <td><input type="text" value="" data-bind="value: percent, attr: {name: $parent.getElementName.bind($parent, $index(), 'percent')()}"/></td>
            <td><input type="text" value="" data-bind="value: fixed, attr: {name: $parent.getElementName.bind($parent, $index(), 'fixed')()}"/></td>
            <td><button type="button" class="scalable add" data-bind="click: $parent.deleteRow.bind($parent, $data)">Delete</button></td>
        </tr>
        <!-- /ko -->
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><button type="button" class="scalable add" data-bind="click: addNewRow">Add</button> </td>
        </tr>
    </tbody>
</table>