<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
?>


<form class="form-finaldetails" action="<?php echo $block->getUrl('profile/business/save'); ?>" method="post"
      name="guest_post" enctype="multipart/form-data" novalidate>
    <input type="hidden" name="finish_onboarding" value="1">
    <fieldset class="description">
        <h3>Please complete some details so we can run your Campaign and Pay you</h3>
        <br>
    </fieldset>
    <fieldset class="fieldset bank">
        <h4>1. Bank Account Details</h4>
        <br>

        <div class="field required">
            <label class="label" for="oar-order-id"><span>Bank Name</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" autofocus="" id="bank_name" name="bank_name"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>

        <div class="field id">
            <label class="label" for="oar-order-id"><span>Swift Code</span></label>

            <div class="control">
                <input type="text" class="input-text" id="bank_swiftcode" name="bank_swiftcode">
            </div>
        </div>
        <div class="field required">
            <label class="label" for="oar-order-id"><span>Bank Account Name</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" autofocus="" id="bank_account_name"
                       name="bank_account_name" data-validate="{required:true}" aria-required="true">
            </div>
        </div>

        <div class="field required">
            <label class="label" for="oar-order-id"><span>IBAN</span></label>

            <div class="control">
                <input type="text" class="input-text" id="bank_iban" name="bank_iban"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset tax">
        <h4>2. Tax Details</h4>
        <br>

        <div class="field required">
            <label class="label" for="oar-order-id"><span>Your Legal Business Name</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" autofocus="" id="legal_business_name"
                       name="legal_business_name" data-validate="{required:true}" aria-required="true">
            </div>
        </div>

        <div class="field id">
            <label class="label" for="oar-order-id"><span>Tax Registration Number</span></label>

            <div class="control">
                <input type="text" class="input-text" id="tax_number" name="tax_number" data-validate="{}"
                       aria-required="true">
            </div>
        </div>

    </fieldset>
    <fieldset class="fieldset upload">
        <h4>3. Upload Documents</h4>
        <br>
        <div class="field required">
            <label class="label" for="commercial_circular"><span class="span_icon">Commercial Circular</span></label>
            <br>
            <div class="control">
                <input type="file" id="commercial_circular">
                <div class="control-ui ">
                    <span class="control-ui-button"></span>
                    <span class="control-ui-text commercial_circular">Upload File</span>
                </div>
            </div>
        </div>
        <br>
        <div class="field required">
            <label class="label" for="registration_document"><span
                        class="span_icon">Company Registration Document</span></label>
            <br>
            <div class="control">
                <input type="file" id="registration_document">
                <div class="control-ui">
                    <span class="control-ui-button"></span>
                    <span class="control-ui-text registration_document">Upload File</span>
                </div>
            </div>
        </div>
        <br>
        <div class="field required">
            <label class="label" for="commercial_number"><span
                        class="span_icon">Company Commercial Number or VAT Papers</span></label>
            <br>
            <div class="control">
                <input type="file" id="commercial_number">
                <div class="control-ui">
                    <span class="control-ui-button"></span>
                    <span class="control-ui-text commercial_number">Upload File</span>
                </div>
            </div>
        </div>
        <br>
        <div class="field required">
            <label class="label" for="mof_register"><span class="span_icon">Mof Register</span></label>
            <br>
            <div class="control">
                <input type="file" id="mof_register">
                <div class="control-ui">
                    <span class="control-ui-button"></span>
                    <span class="control-ui-text mof_register">Upload File</span>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="fieldset download-print">
        <h4>4. Download / Print your Contract</h4>
        <br>
        <div class="field id">
            <div class="control">
                <div class="download_contract"></div>
                <label class="label" for="oar-order-id"><span class="span_icon">Download your Agreement</span></label>
            </div>
        </div>

        <div class="field id">
            <div class="control">
                <div class="print_agreement"></div>
                <label class="label" for="oar-order-id"><span class="span_icon">Print your Agreement</span></label>
            </div>

        </div>
    </fieldset>

    <fieldset class="fieldset email">
        <h4>5. Check your email</h4>
        <br>
        <div class="control">
            <span>Within a few days, you will receive an email with your Merchant Center Login Details. From the merchant center, you will have all the tools available to Prepare for and Manage your Campaign successfully.</span>
        </div>
        <br>
        <br>

        <div class="control" style="text-align: center">
            <h2><b>For urgent enquiries, you may contact the Merchant Support Hotline on 000 000 000</b></h2>
        </div>
    </fieldset>
    <fieldset class="fieldset submit">
        <button id="submit-final-onboard"><span>Submit</span></button>
    </fieldset>
</form>

<script type="text/javascript">
    require([
        'jquery',
        "Magento_Ui/js/modal/alert",
        'mage/mage'
    ], function ($, alert) {
        var dataForm = $('.form-finaldetails');
        dataForm.mage('validation', {});

        $('button#submit-final-onboard').on('click', function (event) {
            event.preventDefault();

            var inputs = $('input[type="file"]');
            var formData = new FormData();
            var i = 0;
            $.each(inputs, function (index, input) {
                if (input.files[0] !== undefined) {
                    i++;
                    formData.append($(input).attr('id'), input.files[0]);
                }
            })
            if (i === 4)
                $.ajax({
                    url: '<?php echo $block->getBaseUrl(); ?>' + 'profile/business/savedocuments',
                    method: 'POST',
                    processData: false,
                    contentType: false,
                    data: formData,
                    showLoader: true,
                    success: function (r) {
                        if (r.success)
                            dataForm.submit();
                        else alert({
                            content: r.msg
                        });
                    },
                    error: function (r) {
                        alert({
                            content: r.msg
                        });
                    }
                });
            else
                alert({
                    content: 'You have to upload all the documents'
                });

        })
    });
</script>
<script>
    require([
        'jquery',
    ], function ($) {
        $('#commercial_circular').change(function(){
            let path = $('#commercial_circular').val();
            path = path.slice(12);
            $(".commercial_circular").html(path);
        });
        $('#registration_document').change(function(){
            let path = $('#registration_document').val();
            path = path.slice(12);
            $(".registration_document").html(path);
        });
        $('#commercial_number').change(function(){
            let path = $('#commercial_number').val();
            path = path.slice(12);
            $(".commercial_number").html(path) ;
        });
        $('#mof_register').change(function(){
            let path = $('#mof_register').val();
            path = path.slice(12);
            $(".mof_register").html(path) ;
        });
    });
</script>

