<?php
/** @var Unirgy\Dropship\Model\Session $_session */
$_session = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session');
$isFinishOnboarding = $_session->getVendor()->getData('finish_onboarding') === '1' ? true : false;
?>
<?php if ($_session->isLoggedIn() && $isFinishOnboarding): ?>
    <script type="text/javascript">
        window.location.replace('<?php echo $this->getUrl('udropship') ?>')
    </script>
<?php else : ?>
    <h1>Sell More,<br/> Grow More</h1>
    <p>Take your Business to new heights. Join the only marketplace where thousands shop each day for new products and experiences</p>
    <a href="<?php echo $this->getUrl('register/vendor/registersecond') ?>" class="getStarted">
        <button>
            <?php echo __("Get Started") ?>
        </button>
    </a>
<?php endif; ?>