<?php
$countries = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Directory\Model\Config\Source\CountryFactory')->create()->toOptionArray();
unset($countries[0]);

$_customCookie = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Groupon\Cookie\AllowAccessLocationCookie');
if (@$_customCookie->get()) {
    $customerLocation = $_customCookie->get();
} else {
    $customerLocation = 'no_location';
}
?>

<form class="form-business2" action="<?php echo $block->getUrl('profile/location/save'); ?>" method="post"
      enctype="multipart/form-data" novalidate>
    <input type="hidden" name="from-onboard" value="1">
    <fieldset class="fieldset business_location">
        <h4><?php echo __("Enter your primary business location?"); ?></h4>
        <div class="field id required" style="float: left;">
            <label class="label" for="name"><span><?php echo __("Location / Branch Name"); ?></span></label>
            <div class="control">
                <input type="text" class="input-text" autofocus="" onFocus="geolocate()" id="name" name="location_name"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field id required" style="float: left; margin-left: 60px">
            <label class="label" for="route"><span><?php echo __("Address"); ?></span></label>
            <div class="control">
                <input type="text" class="admin__control-text" autofocus="" onFocus="geolocate()" id="route"
                       name="street" autocomplete="off"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field id required" style="float: left; clear: both;">
            <label class="label" for="administrative_area_level_2"><span><?php echo __("City"); ?></span></label>
            <div class="control">
                <input type="text" class="input-text" id="administrative_area_level_2" name="city"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field id required" style="float: left; margin-left: 60px">
            <label class="label" for="country"><span><?php echo __("Country"); ?></span></label>
            <div class="control">
                <?php if (count($countries) > 0): ?>
                    <select name="country" id="country">
                        <?php foreach ($countries as $country): ?>
                            <option <?php if ($country['value'] == 'LB') echo 'selected' ?>
                                    value="<?php echo $country['value'] ?>">
                                <?php echo $country['label'] ?>
                            </option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>
        <div class="field id required">
            <label class="label" for="phone_number"><span><?php echo __("Business Phone"); ?></span></label>
            <div class="control">
                <input type="text" class="input-text" id="phone_number" name="phone"
                       data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field id" style="float: left; clear: both;">
            <label class="label" for="administrative_area_level_1"><span><?php echo __("State"); ?></span></label>
            <div class="control">
                <input type="text" class="admin__control-text" id="administrative_area_level_1" name="region">
            </div>
        </div>
        <div class="field id " style="float: left; margin-left: 60px">
            <label class="label" for="postal_code"><span><?php echo __("ZIP / Postal Code"); ?></span></label>
            <div class="control">
                <input type="text" class="input-text" id="postal_code" name="postcode">
            </div>
        </div>
    </fieldset>
    <fieldset class="fieldset about_business">
        <div class="form-group field required" style="max-width: 888px; width: 100%;">
            <h4><label class="label" for="business_des"><?php echo __("Tell us a little about your business"); ?></label></h4>
            <textarea class="form-control" name="business_des" id="business_des" data-validate="{required:true}"
                      aria-required="true"></textarea>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="Continue" class="action submit primary">
                <span><?php echo __("ADD NEW OFFER"); ?></span>
            </button>
        </div>
    </div>
</form>


<script>
    var route;
    var componentForm = {
        route: 'long_name',
        administrative_area_level_1: 'long_name',
        administrative_area_level_2: 'long_name',
        country: 'short_name',
        postal_code: 'short_name'
    };

    function initAutocomplete() {
        // Create the address object, restricting the search to geographical
        // location types.
        route = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('route')),
            {types: ['geocode']});

        // When the user selects an route from the dropdown, populate the route
        // fields in the form.
        route.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the address object.
        var place = route.getPlace();
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (jQuery.isArray(place.address_components)) {
            var street = '';
            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (addressType === "locality") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "sublocality_level_1") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "route") {
                    street = street + place.address_components[i][componentForm[addressType]];
                    continue;
                }
                if (addressType === "street_number") {
                    street = place.address_components[i]['long_name'] + ' ';
                    continue;
                }
                if (componentForm[addressType]) {
                    document.getElementById(addressType).value = place.address_components[i][componentForm[addressType]];
                }
            }
            if (street !== '')
                document.getElementById('route').value = street;
        }
    }

    // Bias the address object to the user's geographical location,
    // as supplied by the browser's 'navigator.geolocation' object.
    function geolocate() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                var circle = new google.maps.Circle({
                    center: geolocation,
                    radius: position.coords.accuracy
                });
                route.setBounds(circle.getBounds());
            });
        }
    }
</script>
<?php
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
?>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>&libraries=places&callback=initAutocomplete"
        defer>

</script>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function ($) {
        var dataForm = $('.form-business2');
        dataForm.mage('validation', {});
    });
</script>