<?php
/** @var Unirgy\Dropship\Model\Session $_session */
$_session = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session');
$isFinishOnboarding = $_session->getVendor()->getData('finish_onboarding') === '1' ? true : false;
?>
<?php if ($_session->isLoggedIn() && $isFinishOnboarding): ?>
    <script type="text/javascript">
        window.location.replace('<?php echo $this->getUrl('udropship') ?>')
    </script>
<?php else : ?>
    <div class="promote_div">
        <p>Let's get started.</p>
        <h3>Select a solution that matches your business.</h3>

        <div class="select-solution">
            <div class="option-solution">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="5853 264 13.304 16" width="56"><path d="M13.3,6.493c0,1.884-1.014,3.971-3.043,6.232a21.634,21.634,0,0,1-2.9,2.725l-.7.551-.7-.551a24.157,24.157,0,0,1-2.9-2.725C1.014,10.464,0,8.377,0,6.493A6.649,6.649,0,0,1,5.275,0V2.406A4.348,4.348,0,0,0,2.319,6.493c0,2.29,2.7,5.1,4.319,6.551,1.652-1.449,4.319-4.261,4.319-6.522A4.32,4.32,0,0,0,8,2.435V0A6.645,6.645,0,0,1,13.3,6.493ZM8.029,5.536H5.275V8.29H8.029Z" transform="translate(5853 264)"/></svg>
                <h4>Local Deals</h4>
                <p>Bring more customers to your Business.</p>
                <a data-type="1" href="<?php echo $this->getUrl('umicrosite/vendor/register/', ['type' => 1]) ?> ">Select</a>
            </div>
            <div class="option-solution" style="opacity: 0.5">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 266.6666666666667" width="72"><path d="M175.467 21.066 L 175.467 42.132 106.067 42.199 L 36.667 42.267 36.599 103.267 L 36.532 164.267 18.266 164.267 L 0.000 164.267 0.000 215.467 L 0.000 266.667 23.600 266.667 L 47.200 266.667 47.200 240.267 L 47.200 213.867 200.133 213.867 L 353.067 213.867 353.067 240.267 L 353.067 266.667 376.533 266.667 L 400.000 266.667 400.000 215.467 L 400.000 164.267 382.000 164.267 L 364.000 164.267 364.000 103.362 C 364.000 48.071,363.961 42.442,363.578 42.295 C 363.346 42.206,332.086 42.133,294.112 42.133 L 225.067 42.133 225.067 21.067 L 225.067 0.000 200.267 0.000 L 175.467 0.000 175.467 21.066 M219.733 66.800 L 219.733 86.400 200.133 86.400 L 180.533 86.400 180.533 66.800 L 180.533 47.200 200.133 47.200 L 219.733 47.200 219.733 66.800 M175.467 128.000 L 175.467 164.267 130.800 164.267 L 86.133 164.267 86.133 128.000 L 86.133 91.733 130.800 91.733 L 175.467 91.733 175.467 128.000 M314.133 128.000 L 314.133 164.267 269.600 164.267 L 225.067 164.267 225.067 128.000 L 225.067 91.733 269.600 91.733 L 314.133 91.733 314.133 128.000 "/></svg>
                <h4>Getaways</h4>
                <p>Get more bookings for your property.</p>
                <a style="cursor: default" data-type="2" href="<?php echo $this->getUrl('umicrosite/vendor/register/', ['type' => 2]) ?> "><?= __("Coming soon"); ?></a>
            </div>
            <div class="option-solution">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 350" width="64"><path d="M72.154 23.643 L 72.154 47.285 36.077 47.285 L 0.000 47.285 0.000 198.774 L 0.000 350.263 200.000 350.263 L 400.000 350.263 400.000 198.774 L 400.000 47.285 364.098 47.285 L 328.196 47.285 328.196 23.643 L 328.196 0.000 300.175 0.000 L 272.154 0.000 272.154 23.643 L 272.154 47.285 250.088 47.285 L 228.021 47.285 228.021 23.643 L 228.021 0.000 200.175 0.000 L 172.329 0.000 172.329 23.643 L 172.329 47.285 150.263 47.285 L 128.196 47.285 128.196 23.643 L 128.196 0.000 100.175 0.000 L 72.154 0.000 72.154 23.643 M122.242 69.002 L 122.242 84.764 100.175 84.764 L 78.109 84.764 78.109 69.002 L 78.109 53.240 100.175 53.240 L 122.242 53.240 122.242 69.002 M72.239 115.674 L 72.329 140.630 100.175 140.630 L 128.021 140.630 128.111 115.674 L 128.201 90.718 243.960 90.718 L 359.720 90.718 359.720 200.350 L 359.720 309.982 200.175 309.982 L 40.630 309.982 40.630 200.350 L 40.630 90.718 56.390 90.718 L 72.149 90.718 72.239 115.674 M247.525 135.079 C 247.393 135.210,247.285 136.626,247.285 138.223 L 247.285 141.129 244.221 141.230 L 241.156 141.331 241.055 144.382 L 240.954 147.434 237.902 147.535 L 234.851 147.636 234.750 150.701 L 234.649 153.765 232.064 153.765 C 228.314 153.765,228.371 153.716,228.371 156.955 L 228.371 159.720 225.607 159.720 C 222.367 159.720,222.417 159.662,222.417 163.413 L 222.417 165.997 219.352 166.098 L 216.287 166.200 216.186 169.251 L 216.085 172.302 213.034 172.403 L 209.982 172.504 209.881 175.556 L 209.780 178.607 206.729 178.708 L 203.678 178.809 203.577 181.860 L 203.476 184.912 200.424 185.013 L 197.373 185.114 197.272 188.165 L 197.171 191.217 194.120 191.318 L 191.068 191.419 190.967 194.469 L 190.866 197.520 187.990 197.622 L 185.114 197.723 185.012 200.613 L 184.910 203.503 181.597 203.503 L 178.284 203.503 178.284 200.738 C 178.284 197.499,178.341 197.548,174.591 197.548 L 172.006 197.548 171.905 194.483 L 171.804 191.419 168.752 191.318 L 165.701 191.217 165.600 188.165 L 165.499 185.114 162.448 185.013 L 159.396 184.912 159.295 181.860 L 159.194 178.809 156.143 178.708 L 153.092 178.607 152.991 175.556 L 152.890 172.504 143.958 172.504 L 135.026 172.504 134.925 175.556 L 134.824 178.607 131.773 178.708 L 128.722 178.809 128.621 181.860 L 128.520 184.912 125.468 185.013 L 122.417 185.114 122.316 188.165 L 122.215 191.217 119.163 191.318 L 116.112 191.419 116.011 194.483 L 115.910 197.548 113.325 197.548 C 109.372 197.548,109.632 197.129,109.632 203.503 C 109.632 209.876,109.372 209.457,113.325 209.457 L 115.910 209.457 116.011 212.522 L 116.112 215.587 119.163 215.688 L 122.215 215.789 122.316 218.840 L 122.417 221.891 125.468 221.992 L 128.520 222.093 128.621 225.145 L 128.722 228.196 131.773 228.297 L 134.824 228.398 134.925 231.450 L 135.026 234.501 138.077 234.602 L 141.128 234.703 141.229 237.579 L 141.331 240.455 144.221 240.557 L 147.110 240.659 147.110 243.584 C 147.110 247.006,147.032 246.935,150.803 246.935 L 153.388 246.935 153.489 250.000 L 153.590 253.065 156.642 253.166 L 159.693 253.267 159.794 256.318 L 159.895 259.370 162.946 259.471 L 165.998 259.572 166.099 262.623 L 166.200 265.674 169.251 265.775 L 172.302 265.876 172.403 268.928 L 172.504 271.979 181.436 271.979 L 190.368 271.979 190.469 268.928 L 190.570 265.876 193.621 265.775 L 196.673 265.674 196.774 262.623 L 196.875 259.572 199.926 259.471 L 202.977 259.370 203.078 256.318 L 203.179 253.267 206.231 253.166 L 209.282 253.065 209.383 250.013 L 209.484 246.962 212.535 246.861 L 215.587 246.760 215.688 243.709 L 215.789 240.658 218.665 240.557 L 221.541 240.455 221.643 237.579 L 221.744 234.703 224.795 234.602 L 227.846 234.501 227.947 231.450 L 228.048 228.398 231.099 228.297 L 234.151 228.196 234.252 225.145 L 234.353 222.093 237.404 221.992 L 240.455 221.891 240.556 218.840 L 240.657 215.789 243.709 215.688 L 246.760 215.587 246.861 212.535 L 246.962 209.484 250.013 209.383 L 253.065 209.282 253.166 206.217 L 253.267 203.152 255.852 203.152 C 259.602 203.152,259.545 203.202,259.545 199.963 L 259.545 197.198 262.309 197.198 C 265.549 197.198,265.499 197.255,265.499 193.505 L 265.499 190.920 268.564 190.819 L 271.629 190.718 271.730 187.667 L 271.831 184.615 274.882 184.514 L 277.933 184.413 278.034 181.362 L 278.135 178.311 281.187 178.210 L 284.238 178.109 284.339 175.057 L 284.440 172.006 287.492 171.905 L 290.543 171.804 290.643 166.550 C 290.782 159.287,290.988 159.720,287.398 159.720 L 284.442 159.720 284.340 156.830 L 284.238 153.940 281.187 153.839 L 278.135 153.738 278.034 150.687 L 277.933 147.636 274.882 147.535 L 271.831 147.434 271.730 144.382 L 271.629 141.331 268.577 141.230 L 265.526 141.129 265.425 138.078 L 265.324 135.026 256.544 134.933 C 251.715 134.881,247.657 134.947,247.525 135.079 "/></svg>
                <h4>Events</h4>
                <p>Attract more and sell tickets to your event.</p>
                <a data-type="3" href="<?php echo $this->getUrl('umicrosite/vendor/register/', ['type' => 3]) ?> ">Select</a>
            </div>
            <div class="option-solution">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 58.892 64" style="fill: #22ddc3;" width="58.892" height="64">
                    <g transform="translate(0 -411.7)">
                        <rect width="7.711" height="7.711" transform="translate(13.783 438.592)"/>
                        <rect width="7.711" height="7.711" transform="translate(37.398 438.592)"/>
                        <path d="M45.629,430.881H37.918v-3.566a7.9,7.9,0,0,0-15.807,0v3.566H14.4v-3.566a15.614,15.614,0,0,1,31.229,0Z" transform="translate(-0.52 0)"/>
                        <g transform="translate(0 430.881)">
                            <rect width="15.904" height="7.711" transform="translate(21.494)"/>
                            <path d="M45.108,431.6v7.711h6.072v29.4H7.711v-29.4h6.072V431.6H0v44.819H58.892V431.6Z" transform="translate(0 -431.6)"/>
                        </g>
                    </g>
                </svg>                <h4>Products</h4>
                <p>Sell more locally and internationally.</p>
                <a data-type="4" href="<?php echo $this->getUrl('umicrosite/vendor/register/', ['type' => 4]) ?> ">Select</a>
            </div>
        </div>
    </div>
<?php endif; ?>

<script>
    require([
        "jquery",
        "Magento_Ui/js/modal/confirm"
    ], function ($, confirmation) {
        $('div.promote_div a').on('click', function (e) {
            var button = $(this);
            var type = $(this).data('type');
            var contentText = "You can only sell this type of product.";
            if (type === 1) {
                contentText = "I am a Local Business and would like to promote offers for my services.";
            } else if (type === 2) {
                // contentText = "I am an Accommodation Provider and would like to offer rooms for booking.";
                e.preventDefault();
                return;
            } else if (type === 3) {
                contentText = "I have an event I would like to sell tickets for.";
            } else if (type === 4) {
                contentText = "I would like to sell my products through your platform";
            }
            if ($(this).val() !== "1") {
                e.preventDefault();
                confirmation({
                    title: contentText,
                    buttons: [{
                        text: $.mage.__('Back'),
                        class: 'action-secondary action-dismiss',

                        /**
                         * Click handler.
                         */
                        click: function (event) {
                            this.closeModal(event);
                        }
                    }, {
                        text: $.mage.__('Proceed'),
                        class: 'action-primary action-accept',

                        /**
                         * Click handler.
                         */
                        click: function (event) {
                            this.closeModal(event, true);
                        }
                    }],
                    actions: {
                        confirm: function () {
                            button.val('1');
                            window.location.replace(button.attr('href'));
                        },
                        cancel: function (){}
                    }
                });
            }
            else return true;
        })
    })
</script>
