<?php
/** @var \Magenest\VendorPage\Block\Profile\Vendor\View\Review $block */
$vendorAvgRate          = $block->getVendorAvgRate(100);
$vendorReviewCollection = $block->getVendorReviewCollection();
$avgRateArr             = array_chunk($block->getAvgRateCollection()->getItems(), 2);
$reviewsArr             = array_chunk($vendorReviewCollection->getItems(), 2);
?>
<div class="data item title" aria-labelledby="tab-label-additional-title" data-role="collapsible" id="tab-label-review"
     role="tab" data-collapsible="true" aria-controls="additional" aria-selected="false" aria-expanded="false"
     tabindex="0">
    <a class="data switch" tabindex="-1" data-toggle="switch"
       href="#review" id="tab-label-additional-title"
       style="text-decoration: none">
        <?= __("Customer Review"); ?>
    </a>
</div>
<div class="product-info-rating">
    <div class="product-info-rating-summary">
        <div class="rating-value">
            <h4><?= $block->getVendorAvgRate(); ?></h4>
            <div class="rating-result" title="<?= $vendorAvgRate; ?>%">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="bestRating" content="100"/>
                <span class="rating-result-number" style="width:<?= $vendorAvgRate; ?>%">
                <span itemprop="ratingValue"><?= $vendorAvgRate; ?>%</span>
            </span>
            </div>
            <p class="rating-quantity"><?= __("%1 Ratings", $vendorReviewCollection->count()); ?></p>
        </div>
        <div class="rating-details">
            <ul class="items review-items owl-carousel">
                <?php foreach ($avgRateArr as $childArr) { ?>
                    <div class="item-row">
                        <?php foreach ($childArr as $item) {
                            $avg = round($item->getAvgValue() * 20, 2);
                            ?>
                            <li class="item review-item" itemscope="" itemprop="review"
                                itemtype="http://schema.org/Review">
                                <div class="review-ratings">
                                    <div class="rating-summary item" itemprop="reviewRating" itemscope=""
                                         itemtype="http://schema.org/Rating">
                                <span class="label rating-label">
                                    <span><?= $item->getRatingCode(); ?></span>
                                </span>
                                        <div class="rating-result" title="<?= $avg; ?>%">
                                            <meta itemprop="worstRating" content="1">
                                            <meta itemprop="bestRating" content="100">
                                            <span style="width:<?= $avg; ?>%">
                                            <span itemprop="ratingValue"><?= $avg; ?>%</span>
                                        </span>
                                        </div>
                                    </div>
                                    <div class="rating-summary item" itemprop="reviewRating" itemscope=""
                                         itemtype="http://schema.org/Rating">
                                        <div>
                                        </div>
                                    </div>
                                </div>
                                <div class="review-content" itemprop="description"
                                     style="margin-left: 400px"><?= $vendorReviewCollection->getFirstItem()->getDetail(); ?></div>
                            </li>
                        <?php } ?>
                    </div>
                <?php } ?>
            </ul>
        </div>
    </div>
    <ol class="items review-items">
        <?php foreach ($reviewsArr as $key => $reviews) { ?>
            <div class="review-blocks<?= $key !== 0 ? ' review-blocks-hidden' : ''; ?>" data-count="<?= $key; ?>">
                <?php foreach ($reviews as $review) {
                    $summaryRate = $block->getSummaryRate($review->getRatingVotes());
                    try {
                        $customerId = $review->getCustomerId();
                        if (!isset($customerId)) {
                            $orderId    = $review->getOrderId();
                            $customerId = $block->orderId2customerId($orderId);
                        }
                        $customerReviewsCollection = $block->getCustomerReviewsCollection($customerId);
                        $customerReviewsCount      = $customerReviewsCollection->count();
                    } catch (\Exception $e) {
                        $customerReviewsCount = 1;
                    }
                    ?>
                    <li class="item review-item" itemscope="" itemprop="review" itemtype="http://schema.org/Review">
                        <div class="review-title" itemprop="name"><?= $review->getTitle(); ?></div>
                        <div class="review-ratings">
                            <div class="rating-summary item" itemprop="reviewRating" itemscope=""
                                 itemtype="http://schema.org/Rating">
                                <div class="rating-result" title="<?= $summaryRate; ?>%">
                                    <meta itemprop="worstRating" content="1">
                                    <meta itemprop="bestRating" content="100">
                                    <span style="width:<?= $summaryRate; ?>%">
                                        <span itemprop="ratingValue"><?= $summaryRate; ?>%</span>
                                    </span>
                                </div>
                            </div>
                            <div class="review-nickname">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="6422 252 38.901 40">
                                    <path d="M114.325,106.368a13.714,13.714,0,1,0-19.75,0A19.451,19.451,0,0,0,85,123.126h6.924a12.568,12.568,0,0,1,9.082-12.041v6.9h6.906V111.1a12.547,12.547,0,0,1,9.082,12.038H123.9A19.45,19.45,0,0,0,114.325,106.368Zm-6.422,4.71H101V102.7a6.787,6.787,0,1,1,6.906,0Z"
                                          transform="translate(6337 168.862)"></path>
                                </svg>
                                <?= $review->getNickname(); ?>
                            </div>
                            <div class="review-quantity"><?= __("%1 Reviews", $customerReviewsCount ?? 0); ?></div>
                            <div class="review-redeem"><?= __("Redeemed %1", date("F j, Y", strtotime($review->getCreatedAt()))); ?></div>
                        </div>
                        <div class="review-content" itemprop="description"
                             style="margin-left: 400px"><?= $review->getDetail(); ?></div>
                    </li>
                <?php } ?>
            </div>
        <?php } ?>
        <?php if (count($reviewsArr) > 1) { ?>
            <div style="min-height: 42px">
                <a class="show-reviews" href="#" data-action="showReviews"
                   data-count="1"><?= __("Show more reviews &rarr;"); ?></a>
            </div>
        <?php } ?>
    </ol>
</div>
<script>
    require([
        'jquery',
        'js/owl.carousel',
    ], function ($) {
        $('[data-action="showReviews"]').on('click', function (e) {
            e.preventDefault();
            var elem = $(e.target);
            var count = elem.data('count');
            $('div.review-blocks-hidden[data-count="' + count + '"]').removeClass('review-blocks-hidden');
            elem.data('count', count + 1);
            if ($('div.review-blocks-hidden[data-count="' + (count + 1) + '"]').length === 0) {
                elem.hide();
            }
        });
        $(document).ready(function () {
            if ($("ul.items.review-items.owl-carousel").children().length) {
                $('ul.items.review-items').owlCarousel({
                    margin: 40,
                    items: 2,
                    loop: false,
                    nav: true,
                    dots: false,
                    autoWidth: true,
                    responsiveClass: true,
                    responsive: {
                        830: {
                            items: 1,
                        }
                    }
                });
            }
        })
    });
</script>
<style>
    #maincontent div.product-info-rating a.show-reviews {
        padding-left: 25px;
        line-height: 3;
    }

    .review-blocks-hidden {
        display: none;
    }

    .product-info-rating-summary {
        padding-bottom: 32px;
        border-bottom: 1px solid #e3e4e8;
    }

    .rating-summary .rating-result > span:before {
        top: 2px !important;
        left: 0.5px;
        letter-spacing: 7px;
    }

    .product-info-rating .rating-result:before {
        width: 128px !important;
    }

    .rating-summary .rating-result {
        width: 128px !important;
    }

    .rating-summary .rating-result:before, .rating-summary .rating-result > span:before {
        font-size: 20px;
    }

    .rating-details {
        width: 650px !important;
    }

    .data.item.title {
        clear: both;
        padding: 20px 0px;
    }

    .data.item.title a {
        font-size: 32px;
        color: #465a6f;
    }

    @media screen and (max-width: 830px) {
        .product-info-rating .rating-value {
            float: none;
            margin: auto;
        }

        .rating-details {
            margin-left: 0px;
        }
    }
</style>