<?php
/** @var \Magenest\VendorPage\Block\Profile\Vendor\View $block */
$vendor = $block->getVendor();
if ($vendor === false) {
    return;
}
$vendorAvgRate  = $block->getVendorAvgRate(100);
$visibility     = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\DropshipVendorAskQuestion\Model\Source')->setPath('visibility')->toOptionHash();
$positiveReview = $block->getPositiveReviewPercent();
?>
<div class="vendor-details-name"></div>
<div class="review-ratings vendor-ratings">
    <div class="rating-summary item" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
        <span class="label rating-label">
            <span></span>
        </span>
        <div class="rating-result" title="<?= $vendorAvgRate; ?>%">
            <meta itemprop="worstRating" content="1">
            <meta itemprop="bestRating" content="100">
            <span style="width:<?= $vendorAvgRate; ?>%">
                <span itemprop="ratingValue"><?= $vendorAvgRate; ?>%</span>
            </span>
        </div>
        <span style="color: gray; font-size: small; margin-right: 25px;"><?= __("(%1% positive rating)", $positiveReview); ?></span>
        <?php if ($vendor->getUrlKey()) { ?>
            <a style="font-size: large"
               href="<?= $block->getUrl($vendor->getUrlKey() . '/listing') ?>"><?= __("View all listings &rarr;"); ?></a>
        <?php } ?>
    </div>
    <div class="rating-summary item" itemprop="reviewRating" itemscope="" itemtype="http://schema.org/Rating">
        <div>
        </div>
    </div>
</div>
<div class="vendor-details-content">
    <p><?= $vendor->getBusinessDes(); ?></p>
    <?php if ($vendor->getWebsite()) { ?>
        <a href="<?= $vendor->getWebsite() ?>"
           class="vendor-details-link"><?= __("Checkout %1 on their site.", $vendor->getVendorName()); ?></a>
    <?php } ?>
</div>
<div class="ask-vendor-question">
    <h5><?= __("Have A Question For %1?", $vendor->getVendorName()); ?></h5>
    <button href="#udqa-question-form" id="open-question-form" style="background-color: #ffffff; color: #465a6f">
        <?= __("Ask A Question"); ?>
    </button>
</div>

<div id="udqa-question-div" style="display: none">
    <form action="<?php echo $block->getFormAction(); ?>" id="udqa-question-form" method="post">
        <div class="fieldset" data-bind="scope: 'customer-qa'">
            <!-- ko ifnot: customer().fullname  -->
            <div class="field required" style="position: relative">
                <label for="customer_name" class="label"><?php echo __('Your Name') ?></label>
                <div class="input-box">
                    <input type="text" name="question[customer_name]" id="customer_name"
                           class="required-entry input-text"/>
                </div>
            </div>
            <div class="field required" style="position: relative">
                <label for="customer_email" class="label"><?php echo __('Email') ?></label>
                <div class="input-box">
                    <input type="email" name="question[customer_email]" id="customer_email"
                           class="validate-email required-entry input-text"/>
                </div>
            </div>
            <!-- /ko -->
        </div>
        <div class="fieldset" style="display: none">
            <div class="field required">
                <label for="vendor" class="label"><?php echo __('Vendor') ?></label>
                <div class="input-box">
                    <input type="text" id="vendor" name="question[vendor_id]"
                           value="<?= $block->getVendor()->getId(); ?>">
                </div>
            </div>
        </div>
        <div class="fieldset" style="display:none;">
            <label for="vendor"><?php echo __('Visibility') ?></label>
            <div class="input-box">
                <select id="visibility" name="question[visibility]" class="required-entry" required>
                    <?php foreach ($visibility as $vId => $vName): ?>
                        <?php if ($vName->getText() === 'Private'): ?>
                            <option value="<?php echo $vId ?>"><?php echo $vName ?></option>
                        <?php endif; ?>
                    <?php endforeach ?>
                </select>
            </div>
        </div>
        <div class="fieldset ud-question" style="position: relative">
            <div class="field required">
                <label for="question_text" class="label"><?php echo __('Question Text') ?></label>
                <div class="input-box">
                    <textarea name="question[question_text]" id="question_text"
                              title="<?php echo __('Question Text') ?>" class="required-entry input-text" cols="5"
                              rows="3"></textarea>
                </div>
            </div>
            <?php echo $this->getChildHtml('captcha'); ?>
        </div>
        <div class="buttons-set">
            <button id="submit-qa-button" class="button"><span><?php echo __('Submit') ?></span></button>
            <input type="submit" style="display: none"/>
            <button id="cancel-qa-button" class="button"><span><?php echo __('Cancel') ?></span></button>
        </div>
    </form>
</div>
<style>
    div.validation-advice {
        display: block;
    }

    input.validation-failed + .validation-advice,
    textarea.validation-failed + .validation-advice {
        right: 0;
        position: absolute;
    }

    textarea.validation-failed + .validation-advice {
        top: 4px;
    }

    input.validation-failed + .validation-advice {
        top: -4px
    }

    .fieldset > .field:after,
    #udqa-question-div .fieldset:after,
    #udqa-question-div div.ud-question:after {
        content: "";
        display: block;
        clear: both;
    }

</style>
<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal",
        "jquery/ui",
        "prototype",
        "varien/form",
        "mage/validation"
    ], function ($, modal) {
        var questionForm = new VarienForm('udqa-question-form');
        var self = this;
        var options = {
            type: 'popup',
            modalClass: 'qa-form-modal',
            responsive: true,
            innerScroll: false,
            title: "<?= __("Ask Seller A Question"); ?>",
            buttons: []
        };
        var popupdata = $('#udqa-question-form');
        self.questionModal = modal(options, popupdata);
        $('button#submit-qa-button').click(function (event) {
            event.preventDefault();
            if (questionForm.validator && questionForm.validator.validate()) {
                questionForm.submit();
            }
        });
        $("#cancel-qa-button").click(function (event) {
            event.preventDefault();
            self.questionModal.closeModal();
        });
        $("#open-question-form").click(function () {
            self.questionModal.openModal();
        });
    });
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "customer-qa": {
                        "component": "Magento_Customer/js/view/customer"
                    }
                }
            }
        }
    }
</script>
<style>
    .vendor-details-name {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .vendor-ratings .rating-summary .rating-result > span:before {
        top: 0px !important;
        left: 0px;
        letter-spacing: 6px;
    }

    .vendor-details-content {
        width: 71.5%;
        float: left;
        padding-top: 20px;
        paddingg-bottom: 20px;
    }

    .ask-vendor-question {
        display: inline-block;
        padding: 20px;
        border: 1px solid #B4DBD6;
        border-radius: 5px;
        background: #D6F5F1;
        float: right;
    }

    .ask-vendor-question h5 {
        color: #38C3C9;
        font-size: 20px;
    }

    .ask-vendor-question a {
        font-size: 16px;
    }

    a.vendor-details-link {
        color: #465a6f;
        text-decoration: underline;
    }
</style>