<?php
/**
 * Copyright (c) 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magenest\Hotel\Block\Order\History */ ?>

<?php $_orders = $block->getHotelOrders(); ?>
<?php //echo $block->getChildHtml('info');?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper hotel-orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Hotel Orders') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col"><?= __("ID") ?></th>
                <th scope="col" class="col"><?= __("Package id") ?></th>
                <th scope="col" class="col"><?= __("qty") ?></th>
                <th scope="col" class="col"><?= __("Services") ?></th>
                <th scope="col" class="col"><?= __("Checkin date") ?></th>
                <th scope="col" class="col"><?= __("Checkout date") ?></th>
                <th scope="col" class="col"><?= __("Status") ?></th>
                <th scope="col" class="col"><?= __("OrderId") ?></th>
                <th scope="col" class="col"><?= __("CustomerId") ?></th>
                <th scope="col" class="col"><?= __("Action") ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_orders as $order): ?>
                <?php $info = $block->getOrderInfo($order->getId()); ?>
                <tr>
                    <?php foreach ($info as $value) { ?>
                        <td>
                            <span><?= $value; ?></span>
                        </td>
                    <?php } ?>
                    <td>
                        <a href="<?= $block->getCancelUrl($info['id']) ?>"><?= __("Cancel"); ?></a>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="tickets-events-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */
            echo __('You have not any bookings yet.'); ?></span></div>
<?php endif ?>
