<?php /** @var $block \Magenest\Hotel\Block\Order\Vendor\Listing */
$_orders = $block->getHotelOrders();
?>
<?php //echo $block->getChildHtml('info');?>
<?php if ($_orders && count($_orders)): ?>
    <div class="table-wrapper hotel-orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php /* @escapeNotVerified */
                echo __('Hotel Orders') ?></caption>
            <thead>
            <tr>
                <th scope="col" class="col"><?= __("Reservation No.") ?></th>
                <th scope="col" class="col"><?= __("Offer Title") ?></th>
                <th scope="col" class="col"><?= __("Qty") ?></th>
                <th scope="col" class="col"><?= __("Services") ?></th>
                <th scope="col" class="col"><?= __("Checkin date") ?></th>
                <th scope="col" class="col"><?= __("Checkout date") ?></th>
                <th scope="col" class="col"><?= __("Status") ?></th>
                <th scope="col" class="col"><?= __("Order Id") ?></th>
                <th scope="col" class="col"><?= __("Customer Email") ?></th>
                <th scope="col" class="col"><?= __("Action") ?></th>
            </tr>
            </thead>
            <tbody>
            <?php foreach ($_orders as $order):
                $info = $block->getOrderInfo($order->getId());
                if (!$info) continue;
                ?>
                <tr>
                    <?php foreach ($info as $value) { ?>
                        <td>
                            <span><?= $value; ?></span>
                        </td>
                    <?php } ?>
                    <td>
                        <?php if (@$info['status'] === \Magenest\Hotel\Helper\BookingStatus::PENDING) { ?>
                            <a href="<?= $block->getCancelUrl($info['id']) ?>"><?= __("Cancel"); ?></a>
                        <?php } ?>
                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="tickets-events-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php /* @escapeNotVerified */
            echo __('You have not any bookings yet.'); ?></span></div>
<?php endif; ?>
