<?php /** @var \Magenest\Hotel\Block\Vendor\Product $block */
//$a = json_encode($block->getHotelFacilities());
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
?>
<script>
    window.ORIG_BASE_URL = '<?= $block->getBaseUrl(); ?>';
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>&libraries=places"></script>
<div data-bind="scope: 'hotelBookingEdit'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "hotelBookingEdit": {
                    "component": "Magenest_Hotel/js/view/vendor/steps/one",
                    "config": {
                        "hotelProperties": <?= json_encode($block->getHotelProperties()); ?>,
                        "languages": <?= json_encode($block->getLanguages()); ?>,
                        "prefixHotelImgUrl": "<?= $block->getPrefixHotelImgUrl(); ?>",
                        "titleButton": "<?= $block->checkStepOne(); ?>",
                        "hotelFacilities": <?= json_encode($block->getHotelFacilities()); ?>
                    }
                }
            }
        }
    }
}
</script>
