<?php
/**
 * Created by PhpStorm.
 * User: thuy
 * Date: 27/12/2017
 * Time: 10:17
 */
?>
<?php
/**
 * @var $block \Magenest\VendorTicket\Block\Product\Ticket
 */
$venueData = $block->getVenueSessionMapData();
if ($venueData === null) {
    $venueMapData = "\" \"";
    $venueMapName = null;
    $venueMapId = null;
} else {
    $venueMapData = $venueData->getSessionMapData();
    $venueMapName = $venueData->getSessionMapName();
    $venueMapId = $venueData->getMapDataId();
}
$ticketData = $block->getTicketSessionData();
if (empty($ticketData)) {
    $ticketData = json_encode([]);
}
$vendorId = $block->getVendorId();
$isSessionMap = "true";
?>
<style>
    ul.feature_tab {
        list-style: none;

    }

    ul.feature_tab li {
        display: inline;
        margin: 10px;
    }

    canvas {
        border-color: #0a0a0a;
        border-width: thick;
    }
</style>
<div class="page-title box-head">
    <div class="col3-set">
        <div class="col-1"></div>
        <div class="col-6"><?php echo __('Add New Venue Session Map') ?></div>
        <div class="col-3"></div>
    </div>
</div>
<div id="reservationSeat" class="block block-wishlist" data-bind="scope: 'reservationSeat'">
    <div>
        <label for="venue_map_name">Session Map Name</label>
        <input required id="venue_map_name" name="venuemap[name]" type="text" placeholder="Please select a venue map name"
               class="venue_map_name" <?php if ($venueMapName !== null) echo 'value="' . $venueMapName . '"' ?>/>
        <input readonly style="display: none;" name="venuemap[data]" type="text" id="venue_map_data"
               data-bind="value: venueMapData()"/>
        <input name="venuemap[ticket]" type="text" style="display: none;" id="venue_ticket_data"
               data-bind="value: venueTicketData()"/>
    </div>
    <div id="canvas" style="overflow: auto; max-height: 650px;">
    </div>
    <!-- ko template:getTemplate() --> <!-- /ko -->
</div>
<div class="buttons-set">
    <button class="form-button" id="save_venue_sesion_map" type="submit" name="send">
        <span>Save</span></button>
    <div class="clearer"></div>
    <br>
    <p><a href="<?php echo $block->getUrl('vendorticket/grid/mapsession'); ?>">« Return to venue map gird page</a></p>
</div>
<script type="text/javascript">
    require(['jquery'], function ($) {
        $('#save_venue_sesion_map').click(function () {
            var sessionMapName = $('input#venue_map_name').val();
            if (sessionMapName.trim() !== '' || sessionMapName.trim() !== "") {
                alert("Session map name is empty, it need to be filled.");
            } else {
                $.ajax({
                    url: '<?php echo $block->getUrl('vendorticket/index/save')?>',
                    dataType: "json",
                    showLoader: true,
                    type: 'POST',
                    data: {
                        map_data_id: <?php echo $venueMapId ? $venueMapId : 'null'; ?>,
                        session_map_name: sessionMapName,
                        session_map_data: $('input#venue_map_data').val(),
                        session_ticket_data: $('input#venue_ticket_data').val(),
                        vendor_id: <?php echo $vendorId; ?>
                    },
                    success: function (response) {
                        if (response.success) {
                            $(location).attr("href", "<?= $block->getUrl('vendorticket/grid/mapsession') ?>");
                        }
                    },
                    error: function (response) {
                    }
                });
            }
        });
    });
</script>

<script type="text/x-magento-init">
    {
        "#reservationSeat": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "reservationSeat": {
                        "component": "Magenest_VendorTicket/js/view/reservationSeat",
                        "config": {
                            "stage": <?= /* @escapeNotVerified */
    $venueMapData ?>,
                            "isSessionMap": "<?= /* @escapeNotVerified */
    $isSessionMap ?>",
                            "tickets": <?= /* @escapeNotVerified */
    $ticketData ?>,
                            "isEditData": true
                        }
                    }
                }
            }
        }
    }



</script>