<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magenest\OneSignal\Block\OneSignal $block*/
?>
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async='async'></script>
<script>
    window.getAccountSettings = <?= $block->getAppApi() ?>;
    window.BASE_URL = '<?= $block->getBaseUrl(); ?>';
    window.onesignalWebhookReceiver = '<?= $block->getWebhookReceiver() ?>';
</script>
