<?php
/**
 * Product additional attributes template
 *
 * @var $block \Magenest\Ticket\Block\Product\View\Attributes
 */
?>
<?php
    $_helper = $this->helper('Magento\Catalog\Helper\Output');
    $_product = $block->getProduct();
    $_event = $block->getEventTicket();
?>
<?php if ($_product->getTypeId() == 'ticket'): ?>
    <div class="additional-attributes-wrapper table-wrapper">
        <table class="data table additional-attributes" id="product-attribute-specs-table">
            <caption class="table-caption"><?= /* @escapeNotVerified */ __('More Information') ?></caption>
            <tbody>
            <tr>
                <th class="col label" scope="row"><?= __("Event Type") ?></th>
                <td class="col data"><?= $_event->getEventType() ?></td>
            </tr>
            <?php if ($_event->getPublicOrganizer() == 1): ?>
                <tr>
                    <th class="col label" scope="row"><?= __("Organized by") ?></th>
                    <td class="col data"><?= $_event->getOrganizerName() ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($_event->getOrganizerDescription()): ?>
                <tr>
                    <th class="col label" scope="row"><?= __("Organized Description") ?></th>
                    <td class="col data"><?= $_event->getOrganizerDescription() ?></td>
                </tr>
            <?php endif; ?>
            </tbody>
        </table>
    </div>
<?php endif;?>
