<?php /** @var $block \Magenest\Ticket\Block\Product\Ticket */ ?>
<?php
$symbol = $block->getCurrencySymbol();
$location = $block->getLocation();
$_event = $block->getEvent();
$_currencySymbol = $block->getCurrencySymbol();
?>
<?php if ($block->isEventTicketProduct() == true) : ?>
<div class="term">
    <div class="term_content">
        <div>
             <span>
                <?php if ($_event->getShowUp() == 1) echo __("Must Show up before session start " . $_event->getShowUpTime() . " minutes before start of session"); ?>
             </span>
        </div>
        <div>
            <span>
                <?php if ($_event->getCanPurchase() == 1) echo __("Additional Tickets can be purchased at venue (full price and upon availability)"); ?>
            </span>
        </div>
        <div>
            <span>
                <?php if ($_event->getMustPrint() == 1) echo __("Tickets must be printed"); ?>
            </span>
        </div>
        <div>
            <span>
                <?php if ($_event->getAge()) echo __("Age Suitability: " . $_event->getAge()); ?>
            </span>
        </div>
        <div>
            <span><?php echo __("Refund Policy: ") ?></span>
            <span>
                <?php
                $policy = $_event->getRefundPolicy();
                if ($policy == 'allow_refund') {
                    $rfPolicy = 'Refunds allowed if requested ' . $_event->getRefundPolicyDay() . ' day(s) before the session start time';
                } else {
                    $rfPolicy = 'Non Refundable';
                } ?>
                <?php echo $rfPolicy; ?>
            </span>
        </div>
    </div>
</div>
<?php endif;?>