<?php
/** @var $block \Magenest\Groupon\Block\Product\View\Info */
$deal = \Magento\Framework\App\ObjectManager::getInstance()->create(\Magenest\Groupon\Model\Deal::class);
$redemptionLocations = \Magento\Framework\App\ObjectManager::getInstance()->create(\Magenest\Groupon\Model\ResourceModel\Location\Collection::class);
$deal->load($block->getProductId(), 'product_id');
if ($deal->getLocationIds()) {
$redemptionLocations->addFieldToFilter('location_id', ['in' => explode(',', $deal->getLocationIds())])
?>
<?php if ($deal->getCustomerSpecifyLocation()){ ?>
    <div class="location-wrapper">
        <div class="field required">
            <label class="location-label label" for="location_picker">
                <span>Redemption Location</span>
            </label>
            <div class="control">
                <select name="additional_options[redemption_location_id]" id="location_picker" aria-required="true" required>
                    <option value="">Select Location</option>
                    <?php foreach ($redemptionLocations as $location): ?>
                        <option value="<?= $location->getId() ?>" title="<?= $block->getLocationOptionTitle($location) ?>">
                            <?= $block->getLocationOptionField($location) ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </div>
    <style>
        .location-label span {
            font-weight: bold;
        }
        .location-label span:after{
            content: '*';
            color: #e02b27;
            font-size: 1.2rem;
            margin: 0 0 0 5px;
        }
    </style>
<?php }} ?>

