<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- Popup dialog -->
<!--suppress HtmlFormInputWithoutLabel -->
<h2 data-bind="i18n: 'Select Wrapper'"></h2>
<table id="wrapper-popup-table">
    <thead>
    <tr>
        <td></td>
        <td><strong data-bind="i18n: 'Image'"></strong></td>
        <td><strong data-bind="i18n: 'Name'"></strong></td>
        <td><strong data-bind="i18n: 'Price'"></strong></td>
        <td><strong data-bind="i18n: 'Description'"></strong></td>
    </tr>
    </thead>
    <tbody data-bind="foreach: wrapperArray">
    <tr>
        <td>
            <input class="wrapper-radio" type="radio" name="selectedWrapper"/>
        </td>
        <td><img data-bind="attr: {src: image}"></td>
        <td>
            <div><strong><span data-bind="text: name"></span></strong></div>
        </td>
        <td data-bind="text: price"></td>
        <td data-bind="text: description"></td>
    </tr>
    </tbody>
</table>

<h2 data-bind="i18n: 'Select postcard'"></h2>
<table id="gift_card_wrapper_selector">
    <thead>
    <tr>
        <td></td>
        <td><strong data-bind="i18n: 'Image'"></strong></td>
        <td><strong data-bind="i18n: 'Name'"></strong></td>
        <td><strong data-bind="i18n: 'Price'"></strong></td>
        <td><strong data-bind="i18n: 'Description'"></strong></td>
    </tr>
    </thead>
    <tbody data-bind="foreach: giftCardArray">
    <tr>
        <td>
            <input class="wrapper-radio" type="radio" name="selectedGiftCard"/>
        </td>
        <td><img data-bind="attr: {src: image}"></td>
        <td>
            <div><strong><span data-bind="text: name"></span></strong></div>
        </td>
        <td data-bind="text: price"></td>
        <td data-bind="text: description"></td>
    </tr>
    </tbody>
</table>

<h3 data-bind="i18n: 'Your message'"></h3>
<table id="wrapper-popup-message-table">
    <tbody>
    <tr>
        <td>
            <input id="inbox_message_checkbox" type="checkbox" name="selectedInboxMessage"
                   data-bind="click: showInbox, checked: isInboxChecked"/>
        </td>
        <td><label for="inbox_message_checkbox" data-bind="i18n: 'Use in-box message'"></label></td>
        <td width="50%">
            <div data-bind="visible: isInboxChecked">
                <strong data-bind="i18n: 'Message'"></strong><br><br>
                <textarea name="inboxTextArea" placeholder="Enter your message here"></textarea><br><br>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <input id="outbox_message_checkbox" type="checkbox" name="selectedOutboxMessage"
                   data-bind="click: showOutbox, checked: isOutboxChecked"/>
        </td>
        <td><label for="outbox_message_checkbox" data-bind="i18n: 'Use out-box message'"></label></td>
        <td width="50%">
            <div data-bind="visible: isOutboxChecked">
                <strong data-bind="i18n: 'Message'"></strong><br><br>
                <textarea name="outboxTextArea" placeholder="Enter your message here"></textarea><br><br>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<h3 data-bind="i18n: 'Pick your items inside wrapper'"></h3>

<table id="wrapper-popup-product-selection-table">
    <tbody data-bind="foreach: productArray">
    <tr>
        <td><img data-bind="attr: {src: imageSrc}"></td>
        <td>
            <span data-bind="text: item_name"></span><br>
            <div data-bind="visible: hasOptions, foreach: options">
                <strong><span data-bind="text: label"></span></strong>:
                <span data-bind="text: value"></span><br>
            </div>
        </td>
        <td><select
                data-bind="options: $parent.getSelectOptionsArray(item_id), optionsText: 'text', optionsValue: 'value', attr: {'data-qty': item_id}"></select>
        </td>
    </tr>
    </tbody>
</table>
