<div class="products-grid grid">
    <!-- ko if : existProduct() -->
    <div class="block-title">
        <strong data-bind="text: title()"></strong>
    </div>
    <ol class="products list items product-items widget-product-grid recentview owl-carousel">
        <!-- ko foreach : productInfo() -->
        <li class="product-item product-block">
            <div data-bind="attr: { class : product_type + ' product-item-info' + ' prd-item' }">
                <!-- ko if : spring_sale.length > 0 -->
                <div class="simple-product-spring-sale" data-bind="text: spring_sale"></div>
                <!-- /ko -->
                <div class="groupon-product-is_new" data-bind="text: is_new"></div>

                <div class="remaining_time" style="text-align: right;display: inline" data-bind="visible: countdown_time_id !== ''">
                    <div class="countdown-gift" id="countdown-gift">
                        <div class="countdown" data-bind="attr: { id : countdown_time_id }"></div>
                        <div data-bind="attr: { class : countdown_time_display_field }"></div>
                    </div>
                </div>
                <div class="prd-image">
                    <a class="product-item-photo" data-bind="attr: { href: product_url }">
                        <span class="product-image-container">
                            <span class="product-image-wrapper">
                                <img class="product-image-photo"
                                     data-bind="attr: { src: image_url, alt: name }"
                                     width="1600"
                                     height="900">
                            </span>
                        </span>
                    </a>
                </div>

                <div class="product-item-details prd-info">
                    <div class="prd-information">
                        <div class="product-item-vendor-name" data-bind="text: vendor_name"></div>
                        <div class="product-item-name">
                            <a class="product-item-link prd-name"
                               data-bind="text: name, attr: { title: name, href: product_url }"></a>
                        </div>
                        <div class="recentview-location">
                            <div class="product-item-ticket-location" data-bind="text: ticket_location"></div>
                            <div class="product-item-groupon-location" data-bind="text: groupon_location"></div>
                            <div class="tooltip_locations" data-bind="visible: more_locations !== ''">
                                <!-- ko foreach : more_locations -->
                                <p data-bind="text: $data"></p>
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="prd-time" data-bind="visible: product_type == 'ticket_product_type'">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16">
                                <g transform="translate(-1537 -4778)">
                                    <rect width="2" height="2" transform="translate(1541 4778)"/>
                                    <path d="M15,2.217v-2H12v2H10v-2H8v2H6v2H16v10H2v-10H4v-2H0v14H18v-14Z"
                                          transform="translate(1537 4777.783)"/>
                                    <path d="M16,17.683v2h2v-2Z" transform="translate(1524.997 4764.317)"/>
                                    <path d="M25.39,32.685l5-5-1-1-4,3-1-1-2,1Z"
                                          transform="translate(1519.61 4757.315)"/>
                                </g>
                            </svg>
                            <span class="week-day" data-bind="text: ticket_time_week_day"></span>
                            <span class="day-month" data-bind="text: ticket_time_day_month"></span>
                            <div class="more_sessions" data-bind="visible: ticket_time_view_more !== ''">
                                <a>
                                    <span class="view-more" data-bind="text: ticket_time_view_more"></span>
                                </a>
                                <div class="tooltip_sessions">
                                    <div>
                                        <!-- ko foreach : more_sessions -->
                                        <p class='week-day' data-bind="text: $data.weekday"></p><p class='day-month' data-bind="text: $data.month"></p>
                                        <!-- /ko -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prd-price-information">
                        <div class="rating-value" data-bind="visible: rate_average !== ''">
                            <div class="rating-result" data-bind="attr: { title: rate_average }">
                                <meta itemprop="worstRating" content="1"/>
                                <meta itemprop="bestRating" content="100"/>
                                <span class="rating-result-number" data-bind="attr: { style: rate_average_percent }">
                                    <span itemprop="ratingValue" data-bind="text: rate_average"></span>
                                </span>
                            </div>
                            <p class="rating-quantity" data-bind="text: rate_count"></p>
                        </div>
                        <div class="simple-product-free-shipping" data-bind="text: free_shipping"></div>
                        <span class="free-ticket-type"
                              data-bind="if: is_free_ticket_type == 'free_ticket_type'">Free</span>
                        <div class="prd-price-info">
                            <p class="prd-price" data-bind="ifnot: is_free_ticket_type == 'free_ticket_type'">
                                <span class="old-price" data-bind="visible: $parent.checkOldPrice($data)">
                                    <span data-bind="text: $parent.checkOldPrice($data)?$parent.getCurrencyAmount(originPrice,$parent):''"></span>
                                </span>
                                <span class="current-price">
                                    <span class="unit" data-bind="text: $parent.currencyCode">USD</span>
                                    <span data-bind="text: $parent.getCurrencyAmount(price,$parent)"></span>
                                </span>
                            </p>
                            <div class="prd-incentives"><p class="prd-saleoff"
                                                           data-bind="visible: $parent.checkOldPrice($data)">
                                <span data-bind="text: $parent.checkOldPrice($data)?saleRates:''"></span><span>% OFF</span>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <!-- /ko -->
    </ol>
    <!-- /ko -->
    <div class="scroll-wrapper">
        <span class="scroll"></span>
    </div>
</div>
