<?php /** @var \Magenest\Hotel\Block\Product\Room $block */
if (!$block->isRoomTypeProduct()) {
    return;
}
$property = $block->getPropertyDetails();
$roomTypeVendor = $block->getRoomTypeVendor();
$languages = $property->getLanguages();
$languages = $languages ? json_decode($languages, true) : [];
$hotelFacils = $block->getHotelFacil();
$currentHotelFacilKind = '';
$roomAmens = $block->getRoomAmenities();
$currentRoomAmenKind = '';
$apiKey = $block->getGoogleMapApiKey();
?>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>"></script>
<div class="tab">
    <button class="tablinks" onclick="openTab(event, 'hotel-facil')"><?= __("Hotel facilities"); ?></button>
    <button class="tablinks" onclick="openTab(event, 'room-facil')"><?= __("Room facilities"); ?></button>
</div>

<!-- Tab content -->
<div id="hotel-facil" class="default tabcontent">
    <h3><?= __("Hotel facilities"); ?></h3>
    <div>
        <?php if ($hotelFacils->count() > 0) {
            foreach ($hotelFacils as $facil) {
                if ($currentHotelFacilKind !== $facil->getKind()) {
                    $currentHotelFacilKind = $facil->getKind();
                    ?>
                    <span class="bold-span"><?= $currentHotelFacilKind; ?></span>
                <?php } ?>
                <span><?= $facil->getName(); ?></span>
            <?php }
        } ?>
    </div>
    <div>
        <?php if (count($languages) > 0) { ?>
            <span class="bold-span"><?= __("Languages Spoken"); ?></span>
            <?php foreach ($languages as $language) { ?>
                <span><?= $language; ?></span>
            <?php }
        } ?>
    </div>
    <div>
        <?php if ($property->getLongitude() && $property->getLatitude()) { ?>
            <div id="gg-map" style="width: 500px; height: 500px"></div>
        <?php } ?>
    </div>
</div>

<div id="room-facil" class="tabcontent">
    <h3><?= __("Room facilities"); ?></h3>
    <?php if ($roomAmens->count() > 0) {
        foreach ($roomAmens as $amend) {
            if ($currentRoomAmenKind !== $amend->getKind()) {
                $currentRoomAmenKind = $amend->getKind();
                ?>
                <span class="bold-span"><?= $currentRoomAmenKind; ?></span>
            <?php } ?>
            <span><?= $amend->getName(); ?></span>
        <?php }
    } ?>
</div>

<style>
    div.tabcontent {
        max-height: 600px;
        overflow-y: auto;
        display: none;
    }

    div.tabcontent.default {
        display: block;
    }

    div.tabcontent span {
        display: block;
    }

    div.tabcontent span.bold-span {
        font-weight: bold;
    }
</style>

<script>
    function openTab(evt, name) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(name).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function initMap() {
        var position = new google.maps.LatLng(<?= $property->getLatitude() ?>, <?= $property->getLongitude() ?>);
        //Map options.
        var options = {
            center: position, //Set center.
            zoom: 12 //The zoom value.
        };

        //Create the map object.
        var map = new google.maps.Map(document.getElementById('gg-map'), options);

        //Init marker
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: false //make it draggable
        });

        // markerLocation();

        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function (event) {
            var clickedLocation = event.latLng;
            marker.setPosition(clickedLocation);
            markerLocation();
        });

        // marker.addListener('drag', function (event) {
        //         markerLocation();
        //     }
        // );
        // marker.addListener('dragend', function (event) {
        //         markerLocation();
        //     }
        // );
    }

    initMap();
</script>
