<?php
/** @var \Magenest\Hotel\Block\Product\Location $block */
if ($block->isShowFilterInput()) {
    $locations = json_encode($block->getLocations());
//var_dump($locations);
    ?>
    <script>
        require(['jquery', 'jquery/ui'], function ($) {
            'use strict';
            var locations = <?= $locations; ?>,
                inputElement = $('input#location-selector-input');
            inputElement.autocomplete({
                delay: 0,
                source: locations
            });
            $('button#location-selector-button').on('click', function (event) {
                event.preventDefault();
                var url = window.location;
                if (url.search === '') {
                    window.location = url + '?location=' + inputElement.val();
                } else {
                    var queryArr = url.search.substring(1).split('&'),
                        queryObj = {};
                    for (var i = 0; i < queryArr.length; i++) {
                        var val = queryArr[i].split('=', 2);
                        queryObj[val[0]] = val[1];
                    }
                    queryObj.location = inputElement.val();
                    window.location = url.origin + url.pathname + '?' + $.param(queryObj);
                }
            });
        });
    </script>
    <div>
        <form>
            <input id="location-selector-input" type="text" placeholder="<?= __('Destination'); ?>">
            <button id="location-selector-button"><?= __('Search Getaways'); ?></button>
        </form>
    </div>
<?php } ?>