<?php /** @var \Magenest\Hotel\Block\Product\Room $block */
if (!$block->isRoomTypeProduct()) {
    return;
}
$property = $block->getPropertyDetails();
$roomTypeVendor = $block->getRoomTypeVendor();
?>
<style>
    table#property-table {
        max-width: 50%;
    }

    td.property-label-td {
        width: 24%;
        font-weight: bold;
    }
</style>
<div style="max-width: 60%">
    <div id="description-div">
        <h3><?= __("Description"); ?></h3>
        <p><?= $roomTypeVendor->getDescription(); ?></p>
    </div>
    <div id="property-div">
        <h3><?= __("Property Details & Terms"); ?></h3>
        <table id="property-table">
            <tr>
                <td class="property-label-td"><span><?= __("Rating"); ?></span></td>
                <td class="property-details-td"><p><?= __(""); ?></p></td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Check in"); ?></span></td>
                <td class="property-details-td">
                    <span>
                        <?= $property->getCheckInFrom() ?>
                        <?php if ($property->getCheckInTo()) {
                            echo(' to ' . $property->getCheckInTo());
                        } ?>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Check out"); ?></span></td>
                <td class="property-details-td">
                    <span>
                        <?= $property->getCheckOutFrom() ?>
                        <?php if ($property->getCheckOutTo()) {
                            echo(' to ' . $property->getCheckOutTo());
                        } ?>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Cancellation Policy"); ?></span></td>
                <td class="property-details-td">
                    <p><?= __("Please check the conditions when selecting your option/room type above"); ?></p></td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Children & Extra Beds"); ?> </span></td>
                <td class="property-details-td">
                    <p>
                        <?= $property->getIsChildrenAllowed() ?
                            __("Children can be accommodated at this property") :
                            __("Children cannot be accommodated at this property");
                        ?>
                    </p>
                    <p>
                        <?= __("For extra beds, see room facilities for type of room"); ?>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Pets"); ?></span></td>
                <td class="property-details-td">
                    <p>
                        <?php
                        switch ($property->getIsPetAllowed()) {
                            case \Magenest\Hotel\Model\HotelProperty::NO:
                                echo __("Pets are not allowed.");
                                break;
                            case \Magenest\Hotel\Model\HotelProperty::YES_FREE:
                                echo __("Pets are allowed.");
                                break;
                            case \Magenest\Hotel\Model\HotelProperty::YES_PAID:
                                echo __("Pets are allowed. Additional Charges Apply.");
                                break;
                        }
                        ?>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Payment Methods accepted"); ?></span></td>
                <td class="property-details-td"><p><?= __("Cash, Visa, MasterCard, Amex"); ?></p></td>
            </tr>
            <tr>
                <td class="property-label-td"><span><?= __("Important Information"); ?></span></td>
                <td class="property-details-td"><p><?= $property->getTerms(); ?></p></td>
            </tr>
        </table>
    </div>
</div>
