<?php
/** @var \Magenest\Hotel\Block\Product\Room $block */
$a = $block->getCurrentProductId();
?>
<?php if ($block->isRoomTypeProduct() === true) { ?>
    <style>
        div#date-picker td.selected-date {
            background-color: #0cb9e7;
        }
    </style>
    <script>
        BASE_URL = '<?= $block->getBaseUrl(); ?>';
        require([
                'jquery'
            ], function ($) {
                'use strict';
                $('div[data-role="priceBox"]').hide();
                $('div.product-add-form').hide();
                $('div#tab-label-product\\.vendors').hide();
                $('button#product-addtocart-button').hide();
                $('div.product-info-stock-sku').css('display', 'block');
            }
        );
    </script>
    <div data-bind="scope: 'hotel_date_selector'">
        <div>
            <div>
                <div id="date-picker" data-bind="m2Calendar: {startDate: bookFrom, endDate: bookTo}"></div>
                <hr>
                <div>
                    <span data-bind="i18n: 'Check-in Date :'"></span>
                </div>
                <div class="hotel_checkin_date_div">
                    <div class="hotel_room_type_checkin">
                        <span class="date-icon"></span>
                        <input type="text"
                               style="display: none"
                               data-bind="mmCalendar: {startDate: bookFrom, endDate: bookTo}, value: startDate,
                                          attr: {placeholder: $t('Select a date...')}"
                        />
                        <span data-bind="text: startDate() ? startDate : $t('Select a date...')"></span>
                    </div>
                </div>
                <div>
                    <span class="checkout_label" data-bind="i18n: 'Check-out Date :'"></span>
                </div>
                <div class="hotel_checkin_date_div">
                    <div class="hotel_room_type_checkout">
                        <span class="date-icon"></span>
                        <input type="text"
                               style="display: none"
                               data-bind="mmCalendar: {startDate: bookFrom, endDate: bookTo}, value: endDate,
                                          attr: {placeholder: $t('Select a date...')}"
                        />
                        <span data-bind="text: endDate() ? endDate : $t('Select a date...')"></span>
                    </div>
                </div>
                <div class="product-info-price">
                    <div class="price-box">
                        <div class="price-container">
                            <span class="price" data-bind="text: formatedTotal"></span>
                        </div>
                    </div>
                </div>
                <div data-bind="foreach: dateRanges" style="max-height: 200px; overflow: auto">
                    <div>
                        <span data-bind="text: date + ' - ' + status"></span>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <label for="service-selector" data-bind="i18n: 'Select services'"></label>
                </div>
                <div>
                    <select id="service-selector"
                            multiple style="height: 120px"
                            data-bind="options: services,
                                       selectedOptions: selectedServices,
                                       optionsText: 'title',
                                       optionsValue: 'title'
                    ">
                    </select>
                </div>
                <div>
                    <span data-bind="i18n: 'Selected services information:'"></span>
                </div>
                <div data-bind="foreach: selectedServices">
                    <div>
                        <span data-bind="text: $parent.getService($data).title + ' with $' + $parent.getService($data).price"></span>
                    </div>
                </div>
                <div>
                </div>
            </div>
            <div>
                <div>
                    <label for="room-qty" data-bind="i18n: qtyLabel"></label>
                </div>
                <div>
                    <input type="text" id="room-qty" data-bind="value: roomQty">
                </div>
            </div>
        </div>
        <div>
            <span style="color: red" data-bind="text: errorMessage"></span>
        </div>
        <div>
            <button type="submit" class="action primary tocart" title="Book"
                    data-bind="click: doBookAction, enable: isValidDate">
                <span data-bind="i18n: 'Book'"></span>
            </button>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "hotel_date_selector": {
                        "component": "Magenest_Hotel/js/view/product/hotel",
                        "config": {
                            "productId": <?= $block->getCurrentProductId(); ?>,
                            "services" : <?= json_encode($block->getServices()); ?>,
                            "currencySymbol": "<?= $block->getCurrencySymbol(); ?>",
                            "productInCartData": <?= json_encode($block->checkEditCart()); ?>,
                            "bookFrom": "<?= $block->getStartDate(); ?>",
                            "bookTo": "<?= $block->getEndDate(); ?>",
                            "minTime": "<?= $block->getMinTimeToBook(); ?>"
                        },
                        "children": {}
                    }
                }
            }
        }
    }
    </script>
<?php } ?>
