<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magenest\Groupon\Block\Product\LastChanceList $block */
$productCollection = $block->getLastChanceProductCollection();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$p_col = $block->getChildProduct();
$currencySymbol = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencySymbol();
$currencyCode = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencyCode();
?>
<?php if ($exist = ($productCollection && $productCollection->count())): ?>
    <?php
    $type = 'widget-product-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $items = $productCollection->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
    ?>
    <div class="block widget block-products-list last-chance-list <?= /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
            <div class="block-title">
                <strong><?= $block->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="products list items product-items last-chance-slide owl-carousel <?= /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                    <?php
                    $productType = $_item->getTypeId();
                    if ($productType === 'ticket') {
                        /** @var  $ticketPrices Magenest\Ticket\Controller\Product\Price */
                        $ticketPrices = $objectManager->create('Magenest\Ticket\Controller\Product\Price');
                        $ticketPrice = $ticketPrices->getTicketPrice($_item->getEntityId());
                    }
                    $itemsrow = 5;
                    ?>
                    <?php if ($iterator++ != 1): ?></li><?php endif ?>
                    <li class="product-item product-block">
                        <div class="prd-item">
                            <?php if ($block->getIsSpringSales($_item->getId())) : ?>
                                <span class="spring-sale"><?= __("SPRING SALE") ?></span>
                            <?php endif; ?>
                            <?php if ($block->getIsNew($_item->getData('entity_id'))): ?>
                                <span class="new-icon"><?php echo __("NEW"); ?></span>
                            <?php endif; ?>
                            <?php
                            $_dealsFactory = $objectManager->create('Magenest\Groupon\Model\Deal');
                            if ($_item->getTypeId() == 'configurable'):
                                $endTime = $_item->getEndTime();
                                $date = date_create_from_format('Y-m-d H:i:s',$endTime);
                                $endTime = $date->format('Y-m-d H:i:s');
                                $timeLeft = (strtotime($endTime) - time()) * 1000;
                                if (\Magenest\CountdownTimer\Helper\CountdownHelper::canShowCountDown($endTime, $_item->getEntityId())): ?>
                                    <div class="remaining_time">
                                        <div class="countdown-gift" id="countdown-gift">
                                            <div id="countdown-time-<?= $iterator ?>" class="countdown"></div>
                                            <div class="countdown-time-display-field-<?= $iterator ?>"></div>
                                        </div>
                                        <div id="getting-started-<?=$iterator ?>"></div>
                                    </div>
                                    <script>
                                        require([
                                            'jquery',
                                            'jqueryCountdown',
                                            "domReady!"
                                        ], function ($, domReady) {
                                            'use strict';
                                            $(document).ready(function () {
                                                var timeLeft = "<?= $timeLeft ?>";
                                                timeLeft = parseInt(timeLeft);
                                                var finalStamp = Date.now() + timeLeft;
                                                var finalDate = new Date(finalStamp);
                                                $('#countdown-time-<?= $iterator?>').first().countdown(finalDate, function (event) {
                                                    if (finalStamp - Date.now() < 86400000) {
                                                        $('#countdown-time-<?= $iterator ?>').parents('.owl-item').show();
                                                    } else {
                                                        $('#countdown-time-<?= $iterator ?>').parents('.owl-item').hide();
                                                    }
                                                    let format = '<p class="countdown-text">' +
                                                        '<span class="hours">%H</span><span class="text">h</span> ' +
                                                        '<span class="minutes">%M</span><span class="text">m</span> ' +
                                                        '<span class="secs">%S</span><span class="text">s</span> ' +
                                                        'left</p>';
                                                    var time = event.strftime(format);
                                                    $('.countdown-time-display-field-<?= $iterator?>').first().html('' + time);
                                                });
                                            }).on('finish.countdown', function () {
                                                $('#countdown-time-<?= $iterator ?>').parents('.owl-item').hide();
                                                $('button#product-addtocart-button').attr("disabled", "disabled");
                                                $('button#buy-now-btn').attr("disabled", "disabled");
                                            });
                                        });
                                    </script>
                                <?php
                                endif;
                            endif; ?>
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details prd-info">
                                <span><?= $block->getVendorName($_item->getEntityId()) ?></span>
                                <div class="prd-information">
                                    <div class="product-item-name">
                                        <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                        href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                        class="product-item-link prd-name">
                                            <span title="<?= $block->escapeHtml($_item->getName()) ?>"><?= $block->escapeHtml($_item->getName()) ?></span>
                                        </a>
                                    </div>
                                    <?php
                                    /** @var \Magenest\Groupon\Model\Deal $deal */
                                    $deal = \Magenest\Groupon\Helper\Data::getDeal($_item->getEntityId());
                                    $locations = $deal->getGrouponLocationData();
                                    ?>
                                    <?php if (isset($locations) && count($locations) > 1) : ?>
                                        <div class="last-chance-locations">
                                            <p class="prd-address">
                                            <span class="product-item-groupon-location">
                                                <?= __("Multiple locations") ?>
                                            </span>
                                            </p>
                                            <div class="tooltip_locations">
                                                <?php foreach($locations as $location): ?>
                                                    <?php echo "<p>" . $location . "</p>" ?>
                                                <?php endforeach; ?>
                                            </div>
                                        </div>
                                    <?php elseif (isset($locations[0])): ?>
                                        <p class="prd-address">
                                            <span class="product-item-groupon-location" title="<?= $locations[0] ?>">
                                                <?= $locations[0] ?>
                                            </span>
                                        </p>
                                    <?php endif; ?>
                                </div>
                                <?php echo $block->getProductPriceHtml($_item, $type); ?>
                                <div class="prd-price-information">
                                <div class="prd-price-info">
                                    <?php
                                    $sale = 0;
                                    if (\Magenest\Groupon\Helper\Data::isDeal($_item->getId())) {
                                        $changeFlag = false;
                                        if (isset($p_col[$_item->getId()])) {
                                            $childProducts = $p_col[$_item->getId()];
                                            $oriPrice = 0;
                                            $salePrice = PHP_INT_MAX;
                                            foreach($childProducts as $_p) {
                                                if ($_p['special_price'] !== null && ($_p['special_price'] < $salePrice || ($_p['special_price'] == $salePrice && $_p['vendor_price'] > $oriPrice))) {
                                                    $salePrice = $_p['special_price'];
                                                    $oriPrice = $_p['vendor_price'];
                                                    $changeFlag = true;
                                                }
                                            }
                                        }
                                        if (!$changeFlag) {
                                            if ($_item->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue())
                                                $oriPrice = $_item->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue() ?: 0;
                                            else $oriPrice = 0;

                                            if ($_item->getMinimalPrice())
                                                $salePrice = $_item->getMinimalPrice();
                                            elseif ($_item->getFinalPrice())
                                                $salePrice = $_item->getFinalPrice();
                                            else $salePrice = 0;
                                        }
                                    } elseif ($productType === 'ticket') {
                                        /** @var  $ticketPrices Magenest\Ticket\Controller\Product\Price */
                                        $ticketPrices = $objectManager->create('Magenest\Ticket\Controller\Product\Price');
                                        $ticketPrice = $ticketPrices->getTicketPrice($_product->getEntityId());
                                        $salePrice = $ticketPrice['sale_price'];
                                        $oriPrice = isset($ticketPrice['original_value']) ? $ticketPrice['original_value'] : 0;
                                    } elseif ($productType === 'simple') {
                                        $simplePrice = $objectManager->create('Magenest\SellYours\Helper\PriceHelper')->getSimpleProductPrice($_product->getEntityId());
                                        if (isset($simplePrice['old_price'])) {
                                            $oriPrice = $simplePrice['old_price'];
                                            $sale = (float)($simplePrice['old_price'] - $simplePrice['current_price']) * 100 / (float)$simplePrice['old_price'];
                                        }
                                        $salePrice = $simplePrice['current_price'];
                                        if (!isset($oriPrice)) {
                                            $oriPrice = 0;
                                            $sale = 0;
                                        }
                                    } else {
                                        if ($_product->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue())
                                            $oriPrice = $_product->getPrice() ?: 0;
                                        else $oriPrice = 0;

                                        if ($_product->getMinimalPrice())
                                            $salePrice = $_product->getMinimalPrice();
                                        elseif ($_product->getFinalPrice())
                                            $salePrice = $_product->getFinalPrice();
                                        else $salePrice = 0;
                                    }
                                    $sale = $oriPrice == 0 ? 0 : ($oriPrice - $salePrice) * 100 / $oriPrice;
                                    ?>
                                    <p class="prd-price">
                                        <?php if ($productType === 'ticket' && $objectManager->create('Magenest\Ticket\Model\Event')->load($_product->getEntityId(), 'product_id')->getTicketType() === 'free') : ?>
                                            <span class="old-price"></span>
                                            <span class="free-ticket-type">Free</span>
                                        <?php else: ?>
                                            <span class="old-price">
                                            <?php if ($salePrice < $oriPrice) : ?>
                                                <span><?= $currencySymbol; ?><?= number_format($oriPrice, 2, '.', ','); ?></span>
                                            <?php endif; ?>
                                        </span>
                                            <span class="current-price">
                                            <?php if ($salePrice > 0) : ?>
                                                <span class="unit"><?= $currencyCode; ?></span>
                                                <span><?= $currencySymbol; ?><?= number_format($salePrice, 2, '.', ','); ?></span>
                                            <?php endif; ?>
                                        </span>
                                        <?php endif; ?>
                                    </p>
                                    <?php // Sale off + Shipping ?>
                                    <?php $collection = $block->getReviewCollection($_item->getEntityId()); ?>
                                    <?php $avg = $block->getAvgRate($collection->getColumnValues('review_id')); ?>
                                    <?php if ($avg): ?>
                                    <div class="rating-value" >
                                        <div class="rating-result" title="<?php /* @escapeNotVerified */echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                                            <meta itemprop="worstRating" content="1"/>
                                            <meta itemprop="bestRating" content="100"/>
                                            <span class="rating-result-number" style="width:<?php /* @escapeNotVerified */
                                            echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                                            <span itemprop="ratingValue">
                                                <?php /* @escapeNotVerified */ echo number_format(((float)$avg / 5) * 100, 2); ?>%</span>
                                            </span>
                                            <p class="rating-quantity">(<?php echo $collection->getSize(); ?>)</p>
                                        </div>
                                    </div>
                                    <?php endif; ?>

                                    <div class="prd-incentives">
                                        <?php if ($salePrice < $oriPrice && $oriPrice > 0) : ?>
                                            <p class="prd-saleoff"><span><?= number_format($sale); ?>% OFF</span></p>
                                        <?php endif; ?>
                                    </div>
                                </div>
                                </div>
                                
                            </div>
                        </div>
                        <?= ($iterator == count($items)+1) ? '</li>' : '' ?>
                        <?php endforeach; ?>
                </ol>
                <div class="scroll-wrapper">
                    <span class="scroll ui-draggable"></span>
                </div>
            </div>
        </div>
    </div>
<script>
    require([
        'jquery',
        'jquery/ui',
        'mage/translate',
        'ko',
        'mage/url',
        'uiComponent',
        'jqueryCountdown',
        'domReady!',
        'js/owl.carousel',
        'Magenest_Groupon/js/jquery/jquery.serialScroll'
    ], function($){
        $(".last-chance-slide").owlCarousel({
            margin: 8,
            loop: false,
            items: 4,
            nav: true,
            dots: false,
            responsive:{
                0:{
                    items: 1,
                },
                600:{
                    items: 2,
                },
                992:{
                    items: 3,
                },
                1200:{
                    items: 4,
                },
                1600:{
                    items: 5,
                }
            }
        });
        adjustSliderLastChance = function () {
            if(!$(".last-chance-slide").length){
                return false;
            }
            /* SCROLL */
            var owl = $(".last-chance-slide");
            var pastIndex = 0;
            var adjustSlideByScrollBar = function(leftScroll){
                leftScroll = parseInt(leftScroll);
                var widthItems = $(".last-chance-slide .owl-stage").width();
                var widthItemsSlide = $(".last-chance-slide .owl-stage-outer").width();
                var widthScroll = $(".last-chance-slide + .scroll-wrapper .scroll").width();
                var maxLeftScroll = widthItemsSlide-widthScroll;
                if(leftScroll <= 0 || leftScroll >= maxLeftScroll){
                    scrollPrdsOwl(leftScroll);
                    return false;
                }
                var distanceToTranslateSlide = leftScroll/ widthItemsSlide * widthItems;
                var slideArray = $(".last-chance-slide .owl-stage").children();
                var slideWidthArray = [];
                var widthSlide = 0;
                for(var i= 0; i < slideArray.length; i++){
                    if(i === 0){
                        widthSlide += parseInt($(slideArray[i]).css("width"));
                    }
                    else{
                        widthSlide += (parseInt($(slideArray[i]).css("width")) + 8);
                    }
                    slideWidthArray.push(widthSlide);
                }
                var widthOfSlidesToTranslate = slideWidthArray.filter(function(w){
                    if(Math.round((distanceToTranslateSlide / w)) === 1){
                        return true;
                    }
                    return false;
                })
                var slideIndexToTranslate = slideWidthArray.indexOf(widthOfSlidesToTranslate[0]) + 1;
                if(slideIndexToTranslate === pastIndex){
                    if(!widthOfSlidesToTranslate.length){
                        widthOfSlidesToTranslate[0] = 0;
                    }
                    leftScroll = - widthOfSlidesToTranslate[0];
                    var leftScrollbar =  ((widthOfSlidesToTranslate[0] / widthItems) * widthItemsSlide );
                    $(".last-chance-slide.owl-carousel .owl-stage").css('transform','translate3d('+leftScroll+'px, 0px, 0px)');
                    $(".last-chance-slide.owl-carousel .owl-stage").css('transition','0.5s');
                    $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").css("left",leftScrollbar);
                }
                else{
                    owl.trigger('to.owl.carousel',[slideIndexToTranslate,500,true]);
                }
                pastIndex = slideIndexToTranslate;
            }
            function changePrdsOwl() {
                var widthItems = $(".last-chance-slide.owl-carousel .owl-stage").width();
                var widthItemsSlide = $(".last-chance-slide.owl-carousel .owl-stage-outer").width();
                if((widthItems / widthItemsSlide)<= 1){
                    $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").width(0);
                } else{
                    $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").width("calc(100% / "+(widthItems / widthItemsSlide)+")");
                }
                var widthScroll = $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").width();

                var widthItemsSlided = - parseInt($(".last-chance-slide.owl-carousel .owl-stage").css('transform').split(',')[4]);

                var maxLeftScroll = widthItemsSlide-widthScroll;
                var ratio = maxLeftScroll / (widthItems-widthItemsSlide);
                var leftScroll = ratio*widthItemsSlided;

                if(leftScroll<0){
                    leftScroll = 0;
                } else if(leftScroll > maxLeftScroll){
                    leftScroll = maxLeftScroll;
                };
                $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").css("left",leftScroll);
            }
            function scrollPrdsOwl(leftScroll) {
                var widthItems = $(".last-chance-slide.owl-carousel .owl-stage").width();
                var widthItemsSlide = $(".last-chance-slide.owl-carousel .owl-stage-outer").width();
                var widthScroll = $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").width();
                var maxLeftScroll = widthItemsSlide-widthScroll;
                if(leftScroll<0){
                    leftScroll = 0;
                } else if(leftScroll > maxLeftScroll){
                    leftScroll = maxLeftScroll;
                };
                $(".last-chance-slide.owl-carousel + .scroll-wrapper .scroll").css("left",leftScroll);                                                                                    //left toi da cua thanh scroll
                var ratio = (widthItems-widthItemsSlide)/maxLeftScroll;
                var transformSlide = -ratio*leftScroll;
                $(".last-chance-slide.owl-carousel .owl-stage").css('transform','translate3d('+transformSlide+'px, 0px, 0px)');
            }
            changePrdsOwl();
            $(".last-chance-slide.owl-carousel").on('initialize.owl.carousel initialized.owl.carousel ' +
                'initialize.owl.carousel initialize.owl.carousel ' +
                'resize.owl.carousel resized.owl.carousel ' +
                'refresh.owl.carousel refreshed.owl.carousel ' +
                'update.owl.carousel updated.owl.carousel ' +
                'drag.owl.carousel dragged.owl.carousel ' +
                'translate.owl.carousel translated.owl.carousel ' +
                'to.owl.carousel changed.owl.carousel',function(e) {
                changePrdsOwl();
            });
            $( ".last-chance-slide.owl-carousel + .scroll-wrapper .scroll" ).draggable({
                drag: function() {
                    scrollPrdsOwl($(this).position().left);
                    $(".last-chance-slide.owl-carousel .owl-stage").css('transition','0s');
                },
                stop: function(){
                    adjustSlideByScrollBar($(this).position().left);
                    // scrollPrdsOwl($(this).position().left);
                }
            });
            var thisclass = $(".last-chance-slide.owl-carousel .owl-item .prd-item ");
            setInterval(function() {
                var i=0;
                var height=[];
                var priceInfo = [];
                thisclass.css('min-height','0');
                thisclass.each(function(){
                    height[i] = $(this).outerHeight();
                    priceInfo[i] = $(this).find('.prd-price-information').outerHeight();
                    i++;
                });
                var maxheight = Math.max.apply(Math, height);
                var maxPriceInfo = Math.max.apply(Math, priceInfo);
                thisclass.css({
                    'min-height': maxheight,
                    'padding-bottom' : maxPriceInfo,
                });
            }, 500);
        }
        adjustSliderLastChance();
    });
</script>

<?php endif;?>

