<?php
/** @var $block Magenest\Groupon\Block\Product\Widget\RecentViewList */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencySymbol = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencySymbol();
$currencyCode = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencyCode();
?>
<div data-bind="scope: 'recentview'">
    <div data-bind="template: getTemplate()"></div>
</div>
<script type="text/x-magento-init">
{
    "*": {
        "Magento_Ui/js/core/app": {
            "components": {
                "recentview": {
                    "component": "Magenest_Groupon/js/view/widget/recentview",
                    "title": "<?php echo $block->getTitle()!=''?$block->getTitle():'Recent Viewed Products'; ?>",
                    "productCount": "<?php echo is_numeric($block->getProductsCount())?$block->getProductsCount():5; ?>",
                    "baseUrl": "<?php echo $block->getBaseUrl();?>",
                    "template": "Magenest_Groupon/widget/product/recentview",
                    "currencySymbol": "<?php echo $currencySymbol!=''?$currencySymbol:'$'; ?>",
                    "currencyCode": "<?php echo $currencyCode!=''?$currencyCode:'USD';?>"
                }
            }
        }
    }
}
</script> 