/*
*
*** Udprod Vendor Product Edit ***
*
*/
.ui-datepicker{
    border: 1px solid #E4E5E8;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    border-radius: 4px;
    width: 456px;
    padding: 13px 24px 24px;
}
.ui-datepicker:before{
    display: none;
}
.ui-datepicker table.ui-datepicker-calendar tr th{
    color: #B0B9C2;
    background: none;
    border: none;
    text-align: center;
    padding-bottom: 8px;
}
.ui-datepicker td span, .ui-datepicker td a,
.ui-datepicker table.ui-datepicker-calendar span, .ui-datepicker table.ui-datepicker-calendar a{
    color: #465A6F;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    width: auto;
}
.ui-datepicker table.ui-datepicker-calendar tr th span, .ui-datepicker table.ui-datepicker-calendar tr th a{
    color: #B0B9C2;
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
}
.ui-datepicker table.ui-datepicker-calendar tr td{
    width: 58px;
    height: 48px;
    line-height: 47px;
    vertical-align: middle;
    padding: 0;
    text-align: center;
    border: 1px solid #e4e5e8;
}
.ui-datepicker table.ui-datepicker-calendar .ui-state-active,
.ui-datepicker table.ui-datepicker-calendar .ui-datepicker-today a{
    background: none;
    border: none;
    line-height: 47px;
}

.col-main{
    width: calc(100% - 311px);
    padding: 0 0 23px;
    margin-left: 48px;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
}
.breadcrumbs{
    display: none;
}
h4.page-title{
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 26px;
    padding: 30px 23px 38px;
}
.col-main > form{
    width: calc(40% - 3px);
    border: 1px solid #e4e5e8;
    margin-left: -1px;
    margin-right: 4px;
    float: left;
}
.col-main > form:after{
    content: "";
    display: block;
    clear: both;
}
.col-main > .live_preview{
    width: calc(60% - 4px);
    border: 1px solid #e4e5e8 !important;
    margin-left: 4px;
    float: right;
}
.col-main > .live_preview:after{
    content: "";
    display: block;
    clear: both;
}
.col-main > form > .generic-box {
    margin: 0;
    padding: 0 23px;
    color: #465A6F;
    font-size: 16px;
    font-weight: 400;
    display: block !important;
}
.col-main > form > .generic-box ~ .generic-box{
    border-top: 1px solid #e4e5e8;
}
.col-main > form > .generic-box table{
    color: #465A6F;
    font-size: 16px;
}
.col-main > form > .generic-box #product_categories-container,
.col-main > form > .generic-box #name-container,
.col-main > form > .generic-box table.cfg-quick-create-data{
    padding-right: 80px;
}
.col-main > form > .generic-box button[data-role="continue-step"]#continue-step-0{
    margin-right: 80px;
}
.col-main > form > .generic-box:after{
    content: "";
    display: block;
    clear: both;
}
.col-main > form > .generic-box > .box-head{
    margin: 0;
    padding: 19px 0 20px;
    cursor: pointer;
}
.col-main > form > .generic-box > .box-head h3{
    font-size: 18px;
    color: #465A6F;
    font-weight: 400;
    margin: 0;
    font-family: Gotham;
}
.col-main > form > .generic-box > .box-head + span.note-text-box{
    line-height: 1.3;
}
.col-main > form > .generic-box > .box-head + span.note-text-box.your-business{
    display: block;
    margin-top: -8px;
    margin-bottom: 15px;
}
.col-main > form > .generic-box table ul.form-list li#description-container{
    margin-top: -15px;
    margin-bottom: 20px;
    position: relative;
    z-index: 99;
}
.col-main > form > .generic-box label{
    color: #465A6F;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 13px;
    display: inline-block;
    text-align: left;
}
.col-main > form > .generic-box label.display_stock_qty_limit{
    width: 100%;
    float: left;
}
.col-main > form > .generic-box table tr td{
    padding: 0;
}
.col-main > form > .generic-box > table{
    margin-top: 6px;
}
.col-main > form > .generic-box input,
.col-main > form > .generic-box input.input-text,
.col-main > form > .generic-box textarea,
.col-main > form > .generic-box{
    color: #465A6F;
    font-size: 16px;
    width: 100%;
    font-family: Gotham;
}
.col-main > form > .generic-box textarea{
    padding: 16px 8px;
    line-height: 1.5;
    height: 374px;
}
.col-main > form > .generic-box .form-list{
    margin-bottom: 0;
}
.col-main > form > .generic-box .form-list > li{
    margin-bottom: 33px;
}
.col-main > form > .generic-box .form-list > li:nth-last-child(1){
    margin-bottom: 0;
}
.col-main > form > .generic-box button[data-role="continue-step"]{
    min-width: 162px;
    height: 48px;
    font-size: 18px;
    font-family: Gotham;
    float: right;
    margin-top: 22px;
    margin-bottom: 29px;
    background-color: #22DDC3;
    color: #fff;
}
.col-main > form > .generic-box.odd button[data-role="continue-step"]{
    margin-top: 16px;
    margin-bottom: 31px;
}
.col-main > form > .generic-box .cfg-quick-create-data .text-create-data p{
    line-height: 1.35;
    font-size: 16px;
    color: #465A6F;
    margin-bottom: 20px;
    margin-top: -3px;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item{
    position: relative;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
    margin-bottom: 24px;
    padding: 15px;
    padding-right: 63px;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .cfg-content-header{
    padding: 0;
    width: 0;
    height: 0;
    background: none;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .cfg-content-header h2{
    font-size: 12px;
    color: #fff;
    font-family: Gotham;
    min-width: 92px;
    height: 24px;
    padding: 4px 23px 4px 8px;
    background: #21DFC3;
    color: #fff;
    display: inline-block;
    border-radius: 0 4px 4px 0;
    position: absolute;
    top: 15px;
    left: -1px;
    z-index: 2;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item button.btn-remove{
    position: absolute;
    z-index: 999;
    top: 12px;
    right: 12px;
    box-shadow: none;
    text-indent: 0;
    background: #E4E5E8;
    width: auto;
    height: 32px;
    padding: 4px 12px 8px;
    font-family: Gotham;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item button.btn-remove:hover{
    color: #fff;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item:nth-of-type(1) button.btn-remove{
    display: none;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .content{
    background: none;
    padding: 0;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .col-gallery{
    display: none;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .col-info{
    border: none;
    padding: 0;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item .data-table{
    margin: 3px 0 0;
}
.col-main > form > .generic-box .data-table thead th{
    background: none;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper li.cfg-quick-create-item td{
    padding: 0;
}
.col-main > form > .generic-box #cfg-quick-create-wrapper input[type="text"],
.col-main > form > .generic-box #cfg-quick-create-wrapper textarea{
    margin-bottom: 19px;
}
.col-main > form > .generic-box .cfg-quick-create-data tfoot th{
    padding: 0;
}
.col-main > form > .generic-box .cfg-quick-create-data button.scalable.add{
    background: none;
    border: none;
    box-shadow: none;
    height: auto;
    padding: 0;
}
.col-main > form > .generic-box .cfg-quick-create-data button.scalable.add svg{
    padding: 20px 24px;
    width: 64px;
    height: 56px;
    background: #22DDC3;
    border: none;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    fill: #fff;
    border-radius: 4px;
    display: inline-block;
    float: left;
}
.col-main > form > .generic-box .cfg-quick-create-data button.scalable.add span{
    background: none;
    padding: 0;
    height: 56px;
    margin-left: 18px;
    font-size: 16px;
    color: #0096C3;
    font-family: Gotham;
    font-weight: 400;
    display: inline-block;
    padding-top: 16px;
}
.col-main > form > .generic-box .discount_percent-field input[type="range"]{
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    margin: 0;
    position: relative;
    z-index: 2;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #22DDC3;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -9px;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    background: #22DDC3;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    background: #22DDC3;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -10px;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]:focus::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}

.col-main > form > .generic-box .discount_percent-field input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-ms-fill-lower {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background:transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]:focus::-ms-fill-lower {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]::-ms-fill-upper {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type=range]:focus::-ms-fill-upper {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-radius: 0;
    border: 1px solid #e4e5e8;
}
.col-main > form > .generic-box .discount_percent-field input[type="range"]:focus{
    box-shadow: none;
    outline: none;
}
.col-main > form > .generic-box label.discount_percent-label{
    margin-bottom: 35px;
}
.col-main > form > .generic-box .discount_percent-field .discount_percent-value{
    text-align: center;
    font-size: 24px;
    color: #465A6F;
    margin-bottom: 35px;
}
.col-main > form > .generic-box .discount_percent-field .discount_percent-value .percent-min{
    float: left;
    font-size: 16px;
    color: #465A6F;
    margin-top: 5px;
    min-width: 26px;
    text-align: left;
}
.col-main > form > .generic-box .discount_percent-field .discount_percent-value .percent-max{
    float: right;
    font-size: 16px;
    color: #465A6F;
    margin-top: 5px;
    min-width: 26px;
    text-align: right;
}
.col-main > form > .generic-box .discount_percent-field .discount_percent-value #percent_value{
    display: inline-block;
    margin-top: 9px;
}
.check_max_buy-field:after,
.udmulti_stock_qty-field:after{
    content: "";
    display: block;
    clear: both;
}
.col-main > form > .generic-box #option_extra_fields .check_max_buy-field{
    margin-top: 13px;
}
.col-main > form > .generic-box #option_extra_fields .udmulti_stock_qty-field{
    margin-bottom: 16px;
}
.col-main > form > .generic-box.images > .box-head + span.note-text-box{
    font-size: 13px;
    display: block;
    margin-top: -8px;
}
.col-main > form > .generic-box.images table{
    width: 100% !important;
    margin: 0;
}
.col-main > form > .generic-box.images #media_gallery-container{
    margin-top: -8px !important;
    width: 65%;
    max-width: 560px;
}
.col-main > form > .generic-box.images .gallery{
    padding: 0;
    background: none;
}
.col-main > form > .generic-box.images .image.item{
    margin: 0 4px 16px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
}
.col-main > form > .generic-box.images .image .draggable-handle:before,
.col-main > form > .generic-box.images .image button.action-delete:before,
.col-main > form > .generic-box.images .image button.action-make-base:before,
.col-main > form > .generic-box.images .image .image-label:before{
    color: #e4e5e8;
}
.col-main > form > .generic-box.images .image .draggable-handle:hover:before,
.col-main > form > .generic-box.images .image button.action-delete:hover:before,
.col-main > form > .generic-box.images .image button.action-make-base:hover:before,
.col-main > form > .generic-box.images .image .image-label:hover:before{
    color: #465A6F;
}
.col-main > form > .generic-box.images .image.image-placeholder{
    display: block;
    width: calc(100% + 48px);
    height: 415px;
    margin: 0 -24px 4px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: url("../../images/gallery.svg");
    background-size: 158px 127.23px;
    background-position: center 80px;
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}
.col-main > form > .generic-box.images .image .file-row{
    background-color: #FAFAFA;
}
.col-main > form > .generic-box.images .image.image-placeholder:before{
    display: none;
    background-repeat: no-repeat;
}
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text{
    font-size: 0;
    color: transparent;
    margin-bottom: 85px;
}
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:before{
    content: "Please upload at least one photo";
    font-size: 16px;
    color: #465A6F;
}
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:after{
    content: "Add Photos";
    display: block;
    width: 164px;
    height: 44px;
    background: url("../../images/plus-white.svg") no-repeat;
    background-size: 12.56px 12.56px;
    background-position: 19px center;
    background-color: #22DDC3;
    box-shadow: 0 1px 3px rgba( 176, 185, 194, 0.5);
    padding: 10px 10px 10px 30px;
    text-align: center;
    line-height: 24px;
    margin: auto;
    font-size: 14px;
    color: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 32px;
}
input[type="checkbox"].vendor-checkbox + label.vendor-forCheckbox{
    float: left;
    clear: both;
    margin-right: 16px;
}
input[type="checkbox"].vendor-checkbox + label.vendor-forCheckbox + .vendor-forCheckbox-text{
    width: calc(100% - 98px);
    float: left;
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #465A6F;
}
input[type="checkbox"].vendor-checkbox:disabled + label.vendor-forCheckbox + .vendor-forCheckbox-text{
    color: #B0B9C2;
}
.col-main > form > .generic-box .redeem-location-text{
    font-size: 13px;
    display: block;
    margin-top: -10px;
}
.col-main > form > .generic-box #redemption_location_coupon{
    margin-top: 28px;
    margin-bottom: 39px;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox){
    display: none;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox) + label.admin__field-label{
    pointer-events: auto;
    user-select: none;
    font-size: 16px;
    color: #465A6F;
    margin-bottom: 10px;
    position: relative;
    padding-left: 34px;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox) + label.admin__field-label:before{
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #b0b9c2;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 4px;
    content: "";
    box-sizing: border-box;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox) + label.admin__field-label:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 4px;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):checked + label.admin__field-label:before{
    border-color: #22ddc3;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):checked + label.admin__field-label:after{
    background: #22ddc3;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):disabled + label.admin__field-label{
    color: #B0B9C2;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):disabled + label.admin__field-label:before{
    border-color: #B0B9C2;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):checked:disabled + label.admin__field-label:before{
    border-color: #CBF4EE;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"]:not(.vendor-checkbox):checked:disabled + label.admin__field-label:after{
    background: #CBF4EE;
}
.col-main > form > .generic-box #redemption_location_coupon .admin__field-option{
    margin: 0;
    padding: 0;
}
.col-main > form > .generic-box table.custom-table.business-address input[type="text"],
.col-main > form > .generic-box table.custom-table.business-address select{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].location-name,
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].city{
    width: calc(50% - 4px);
    float: left;
    margin-right: 8px;
}
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].street,
.col-main > form > .generic-box table.custom-table.business-address select.country{
    width: calc(50% - 4px);
}
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].phone,
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].region{
    width: calc((100% - 16px) / 3);
    float: left;
    margin-right: 8px;
}
.col-main > form > .generic-box table.custom-table.business-address input[type="text"].postcode{
    width: calc((100% - 16px) / 3);
}
table.custom-table > tbody > tr > td > label.label-location-new-campaign{
    width: calc(50% - 4px);
    float: left;
    margin-right: 8px;
}
table.custom-table.business-address > tbody > tr > td.checkbox-button,
table.custom-table.business-address > tbody > tr > td.remove-button,
table.custom-table.delivery-location > tbody > tr > td.remove-button{
    padding-top: 21px;
}
table.custom-table > tbody > tr > td > label.label-location-new-campaign.phone,
table.custom-table > tbody > tr > td > label.label-location-new-campaign.region,
table.custom-table > tbody > tr > td > label.label-location-new-campaign.postcode{
    width: calc((100% - 16px) / 3);
    margin-right: 8px;
}
table.custom-table > tbody > tr > td > label.label-location-new-campaign.street,
table.custom-table > tbody > tr > td > label.label-location-new-campaign.country,
table.custom-table > tbody > tr > td > label.label-location-new-campaign.postcode,
table.custom-table > tbody > tr > td > label.label-location-new-campaign.distance{
    margin-right: 0;
}
table.custom-table > tbody > tr > td > label.label-location-new-campaign > input[type="text"],
table.custom-table > tbody > tr > td > label.label-location-new-campaign > select{
    width: 100% !important;
    margin: 0 !important;
}
.col-main > form > .generic-box table.custom-table.business-address td.remove-button a,
.col-main > form > .generic-box table.custom-table.delivery-location td.remove-button a{
    display: inline-block;
    width: 69px;
    margin-left: 8px;
    height: 32px;
    text-align: center;
    padding: 4px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
    color: #465A6F;
    margin-top: 4px;
}
.col-main > form > .generic-box #redemption_location_coupon .action-show-more{
    background: #22DDC3;
    color: #fff;
    font-size: 14px;
    display: block;
    width: auto;
    padding: 0 16px;
    text-align: center;
    height: 32px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #E4E5E8;
    float: left;
    margin-left: 33px;
    clear: both;
    margin-top: 8px;
    margin-bottom: 8px;
    cursor: pointer;
}
.col-main > form > .generic-box #redemption_location_coupon .action-add-location{
    background: #22DDC3;
    color: #fff;
    font-size: 14px;
    display: block;
    width: auto;
    padding: 0 24px 0 8px;
    text-align: center;
    height: 32px;
    line-height: 28px;
    border-radius: 4px;
    border: 1px solid #E4E5E8;
    margin-left: 33px;
    min-width: 192px;
    clear: both;
    margin-top: 8px;
    margin-bottom: 36px;
    cursor: pointer;
}
.col-main > form > .generic-box #redemption_location_coupon input:focus{
    box-shadow: none;
}
.col-main > form > .generic-box table.custom-table.delivery-location{
    margin-left: 34px;
    width: calc(100% - 34px);
}
.col-main > form > .generic-box table.custom-table.delivery-location input[type="text"].address{
    width: calc(100% - 104px);
    height: 40px;
    margin-right: 8px;
    margin-bottom: 8px;
    float: left;
}
.col-main > form > .generic-box table.custom-table.delivery-location input[type="text"].distance{
    width: 96px;
    height: 40px;
    margin-bottom: 8px;
}
.col-main > form > .generic-box .groupon_details input[type="radio"].radio-custom + label.for-radio-custom{
    margin-bottom: 10px;
}
.col-main > form > .generic-box .groupon_details input.groupon_date_time{
    background: url("../../images/calendar-icon.svg");
    background-size: 18px 16px;
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 44px;
    max-width: 242px;
    display: block;
    margin-bottom: 27px;
}
.col-main > form > .generic-box .groupon_details label.for-radio-custom +  input.groupon_date_time{
    margin-left: 34px;
    width: calc(100% - 34px);
}
.col-main > form > .generic-box #business_description{
    margin-bottom: 24px;
}
.col-main > form > .generic-box input[type="checkbox"].coupon_business_agreement + label.vendor-forCheckbox + label.vendor-forCheckbox-text{
    line-height: 1.35;
    padding-top: 8px;
}
.col-main > form > .generic-box ~ .buttons-set:nth-last-child(1){
    margin: 0;
    border: none;
}
.col-main > form > .generic-box ~ .buttons-set button.form-button{
    width: 162px;
    height: 48px;
    background: #22DDC3;
    margin: 23px 23px 13px;
    font-size: 18px;
    font-family: Gotham;
    padding: 0 14px 5px 5px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
}
.col-main > form > .buttons-set button.form-button svg{
    fill: #fff;
    width: 24px;
    height: 17.28px;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.col-main > form > .generic-box .groupon_vendor_term p.coupon_term-text{
    font-size: 13px;
    color: #465A6F;
    margin-top: -16px;
}
.col-main > form > .generic-box .groupon_vendor_term input{
    height: 40px;
    position: relative;
    top: 2px;
}
.col-main > form > .generic-box .groupon_vendor_term label:not(.vendor-forCheckbox):not(.vendor-forCheckbox-text){
    margin: 0;
    margin-top: -2px;
}
.col-main > form > .generic-box .groupon_vendor_term .groupon_terms_vendor_specify-text{
    clear: both;
    padding: 23px 0 13px;
    margin: 0;
}
.col-main > form > .generic-box .groupon_vendor_term textarea#coupon_addition_terms{
    height: 158px;
}
/* Preview */
.live_preview{
    padding: 0 13px 23px 23px;
}
.live_preview .preview-header{
    margin: -1px -14px 0 -24px;
    border: 1px solid #B4DBD6;
    width: calc(100% + 38px);
    background: #D6F5F1;
    padding: 18px 14px 20px 24px;
}
.live_preview .preview-header strong{
    color: #38C3C9;
    font-weight: bold;
}
.live_preview table > thead > tr > th,
.live_preview table > tbody > tr > th,
.live_preview table > tfoot > tr > th,
.live_preview table > thead > tr > td,
.live_preview table > tbody > tr > td,
.live_preview table > tfoot > tr > td{
    padding: 0;
}
.live_preview .image-preview{
    width: 45%;
    max-width: 392px;
    float: left;
}
.live_preview .image-preview .preview-main-place-holder{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.live_preview .image-preview + .options-preview{
    width: 55%;
    min-width: calc(100% - 392px);
    float: right;
    padding-left: 16px;
}
.live_preview .image-preview .images-main-preview{
    margin-bottom: 9px;
}
.live_preview .image-preview .images-small-preview{
    padding: 0 24px;
}
.live_preview .image-preview .img-small-preview{
    padding: 0 4.5px;
}
.live_preview .image-preview .img-main-preview > div,
.live_preview .image-preview .img-small-preview > div{
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    overflow: hidden;
}
.live_preview .image-preview .img-main-preview > div img,
.live_preview .image-preview .img-small-preview > div img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}
.live_preview .image-preview .images-small-preview .slick-arrow{
    width: auto;
    height: auto;
    background: none;
    font-size: 0;
    color: transparent;
    box-shadow: none;
    padding: 0;
}
.live_preview .image-preview .images-small-preview .slick-arrow.slick-prev{
    position: absolute;
    top: 0;
    left: 10px;
}
.live_preview .image-preview .images-small-preview .slick-arrow.slick-next{
    position: absolute;
    top: 0;
    right: 10px;
}
.live_preview .image-preview .images-small-preview .slick-arrow.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    color: #747474;
    font-weight: bold;
    font-size: 17px;
    display: block;
    line-height: 30px;
}
.live_preview .image-preview .images-small-preview .slick-arrow.slick-next:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #747474;
    font-weight: bold;
    font-size: 17px;
    display: block;
    line-height: 30px;
}
.live_preview #business_name{
    display: none;
}
.live_preview h4#short_title{
    font-weight: 400;
    color: #1F2135;
    margin: 0;
    padding-top: 28px;
    padding-bottom: 16px;
}
.live_preview table#image_preview img{
    width: 100%;
    height: auto;
}
.live_preview .option-preview {
    display: table;
    width: 100%;
    padding: 14px 16px 6px;
}
.live_preview .option-preview + .option-preview{
    border-top: 1px solid #E4E5E8;
}
.live_preview .option-preview:nth-child(2n){
    background-color: #FAFAFA;
}
.live_preview .option-preview .opt-preview-radio {
    display: table-cell;
    width: 40px;
    padding: 8px 0 6px 13px;
    vertical-align: middle;
}
.live_preview .option-preview .opt-prev-description{
    display: table-cell;
    vertical-align: top;
    padding: 14px 16px 9px 0;
    position: relative;
}
.live_preview input[type="radio"].radio-custom + label.for-radio-custom{
    padding-left: 27px;
}
.live_preview input[type="radio"].radio-custom + label.for-radio-custom:before{
    width: 14px;
    height: 14px;
}
.live_preview input[type="radio"].radio-custom + label.for-radio-custom:after{
    width: 8px;
    height: 8px;
    top: 7px;
    left: 3px;
}
.live_preview .opt-prev-name{
    line-height: 1.4;
    font-size: 12px;
    font-weight: bold;
    color: #465A6F;
    width: calc(100% - 96px);
    float: left;
    margin: -3px 0 0;
    padding-right: 8px;
    padding-bottom: 24px;
}
.live_preview .opt-prev-price{
    width: 96px;
    float: right;
    text-align: right;
}
.live_preview .opt-prev-discount{
    display: block;
    width: 64px;
    height: 19px;
    font-size: 9px;
    color: #38C3C9;
    background: #CBF4EE;
    border-radius: 8px;
    text-align: left;
    float: right;
    padding: 2px 6px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.live_preview .opt-prev-oldPrice{
    display: block;
    clear: both;
    font-size: 12px;
    color: #7E858D;
    text-decoration: line-through;
    margin-bottom: 1px;
}
.live_preview .opt-prev-specialPrice{
    display: block;
    clear: both;
    font-size: 20px;
    color: #1ABEEF;
}
.live_preview .opt-prev-specialPrice .unit{
    font-size: 11px;
    color: #7E858D;
    margin-right: 15px;
}
.live_preview .opt-prev-bought{
    position: absolute;
    width: calc(100% - 112px);
    bottom: 12px;
    left: 0;
    margin: 0;
    font-size: 11px;
    color: #FFC939;
}
.info-detailed-preview{
    clear: both;
}
.info-detailed-preview:after{
    content: "";
    display: block;
    clear: both;
}
.info-detailed-preview_main{
    width: 62.5%;
    float: left;
    font-size: 13px;
    color: #465A6F;
}
.info-detailed-preview_sidebar{
    width: 37.5%;
    float: right;
    padding-left: 24px;
}
.info-detailed-preview h4{
    font-size: 18px;
    color: #1F2135;
    font-family: Montserrat;
    font-weight: 500;
    display: block;
    border-bottom: 1px solid #E4E5E8;
    padding-bottom: 15px;
    margin-bottom: 20px;
    margin-top: 62px;
}
.info-detailed-preview h4 a{
    display: block;
    font-family: Gotham;
    font-size: 9px;
    color: #0096C3;
    text-decoration: underline;
    margin-top: 1px;
}
.info-detailed-preview .location-preview h4{
    padding-bottom: 9px;
    margin-bottom: 19px;
}
.live_preview .locations-list{
    margin-top: 14px;
}
.live_preview .location-item {
    border: 1px solid #E4E5E8;
    background-color: #FAFAFA;
    padding: 10px 13px 13px 31px;
    margin-bottom: 12px;
    font-size: 8px;
    color: #465A6F;
    border-radius: 4px;
    position: relative;
}
.live_preview .location-item:before{
    content: "";
    display: inline-block;
    width: 9.29px;
    height: 11.18px;
    background-image: url(../../images/location-color.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 13px;
    left: 13px;
}
.live_preview .location-item .location-text{
    height: 48px;
    padding-right: 32px;
    overflow: hidden;
}
.live_preview .location-item .location-links:after{
    content: "";
    display: block;
    clear: both;
}
.live_preview .location-item .btn.btn-directions{
    display: inline-block;
    width: 65px;
    height: 23px;
    background: #22DDC3;
    border-radius: 4px;
    float: right;
    text-decoration: none;
    color: #fff;
    font-size: 9px;
    padding: 4px 10px 4px 2px;
    margin-top: 6px;
    text-align: center;
}
.live_preview .location-item .location-links .links{
    display: inline-block;
    float: left;
}
.live_preview .location-item .location-links .links a{
    display: block;
    text-decoration: underline;
    font-size: 8px;
    color: #0096C3;
}
.live_preview #options{
    max-height: 294px;
    overflow-y: auto;
    padding-right: 14px;
    margin-right: -7px;
    margin-bottom: 15px;
}
.live_preview #options::-webkit-scrollbar{
    width: 4px;
}
.live_preview #options::-webkit-scrollbar-track {
    background: #E4E5E8;
    border: 1px solid #fff;
}
.live_preview #options::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background: #465A6F;
}
.options-preview-block .scroll-up , .options-preview-block .scroll-down{
    display: block;
    height: 26px;
}
.options-preview-block .scroll-up > .action, .options-preview-block .scroll-down > .action{
    display: block;
    margin: auto;
    width: 26px;
    height: 26px;
    border: 1px solid #e4e5e8;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.options-preview-block .scroll-up > .action:before{
    content: "\f106";
    font-family: FontAwesome;
    color: #465A6F;
    font-weight: bold;
    font-size: 17px;
    display: block;
    line-height: 22px;
}
.options-preview-block .scroll-down > .action:before{
    content: "\f107";
    font-family: FontAwesome;
    color: #465A6F;
    font-weight: bold;
    font-size: 17px;
    display: block;
    line-height: 26px;
}
.business_agreement:after{
    content: "";
    display: block;
    clear: both;
}
.business_agreement a{
    text-decoration: underline;
    color: #0096C3;
}
.business_agreement .business_agreement-left{
    width: 45%;
    float: left;
}
.business_agreement .business_agreement-right{
    width: 45%;
    float: right;
}
.business_agreement .business_agreement-left label > label{
    margin-bottom: 5px;
}
.col-main > form > .generic-box .business_agreement .business_agreement-right > label{
    display: block;
    margin-bottom: 16px;
}
.col-main > form > .generic-box .business_agreement .business_agreement-right label + label{
    margin-bottom: 36px;
}
.business_agreement button.download-service-contact{
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}
.business_agreement button.download-service-contact svg{
    width: 20px;
    height: 24px;
    fill: #465A6F;
}
@media (max-width: 1199px){
    .col-main > form{
        width: calc(100% + 2px);
        margin: 0 -1px 23px;
    }
    .col-main > .live_preview{
        width: calc(100% + 2px);
        margin: 0 -1px 23px;
        float: none;
        clear: both;
    }
}
/* END Preview */




/*
*
*** Groupon Vendor Campaign Detail ***
*
*/
.groupon-vendor-campaign-detail .main > .col-main{
    padding: 10px 23px;
    color: #465A6F;
}
.groupon-vendor-campaign-detail .vendor-breadcrumbs a,
.groupon-vendor-campaign-detail .vendor-breadcrumbs span{
    color: #0096C3;
    text-decoration: underline;
}
.groupon-vendor-campaign-detail .vendor-breadcrumbs .breadcrumbs-content{
    display: inline-block;
    max-width: calc(100% - 200px);
}
.groupon-vendor-campaign-detail .vendor-breadcrumbs .campaign-id{
    display: inline-block;
    max-width: 200px;
    float: right;
    color: #7E858D;
    text-decoration: none;
}
.groupon-vendor-campaign-detail .product-info{
    width: calc(100% - 480px);
    padding-right: 23px;
    min-width: 60%;
    float: left;
    margin-bottom: 26px;
}
.groupon-vendor-campaign-detail .product-info h4.product-name{
    color: #1F2135;
    font-weight: 400;
    font-family: Montserrat;
    margin: 10px 0 1px;
}
.groupon-vendor-campaign-detail .product-status{
    margin-bottom: 0;
}
.groupon-vendor-campaign-detail .product-status span.Active,
.groupon-vendor-campaign-detail .product-status span.Live{
    color: #4FDD6C;
}
.groupon-vendor-campaign-detail .product-status span.Close,
.groupon-vendor-campaign-detail .product-status span.Sold.out{
    color: #F74040;
}
.groupon-vendor-campaign-detail .product-status span.Pending.Review{
    color: #FFC939;
}
.groupon-vendor-campaign-detail .product-information{
    margin-top: 16px;
}
.groupon-vendor-campaign-detail .product-action-edit{
    width: 480px;
    max-width: 40%;
    float: right;
    background: #D6F5F1;
    border: 1px solid #B4DBD6;
    border-radius: 4px;
    padding: 10px 23px;
    margin-top: 11px;
    margin-bottom: 26px;
}
.groupon-vendor-campaign-detail .product-action-edit .div-action{
    display: table-cell;
    width: 112px;
    float: none;
    vertical-align: middle;
}
.groupon-vendor-campaign-detail .product-action-edit .div-content{
    display: table-cell;
    width: calc(100% - 112px);
    float: none;
    padding-left: 32px;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 27px;
}
.groupon-vendor-campaign-detail .product-action-edit a.btn.btn-edit{
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #B4DBD6;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 38px;
    padding: 0 8px;
    color: #465A6F;
    text-decoration: none;
}
.groupon-vendor-campaign-detail .product-action-edit .div-content .title{
    display: block;
    font-size: 16px;
    color: #38C3C9;
    font-weight: bold;
    margin-bottom: 10px;
}
.groupon-vendor-campaign-detail .overview{
    margin-bottom: 27px;
    padding-left: 0;
    padding-right: 0;
}
.groupon-vendor-campaign-detail .overview.active-campaign,
.groupon-vendor-campaign-detail .overview.payment,
.groupon-vendor-campaign-detail .overview.feedback,
.groupon-vendor-campaign-detail .overview.question{
    padding-left: 23px;
    padding-right: 17px;
}
.groupon-vendor-campaign-detail .overview.active-campaign,
.groupon-vendor-campaign-detail .overview.payment{
    margin-bottom: 16px;
}
.groupon-vendor-campaign-detail .product-action-edit + .overview {
    clear: both;
}
.groupon-vendor-campaign-detail .overview > .header{
    padding-left: 23px;
    padding-right: 17px;
}
.groupon-vendor-campaign-detail .overview.active-campaign > .header,
.groupon-vendor-campaign-detail .overview.payment > .header,
.groupon-vendor-campaign-detail .overview.feedback > .header,
.groupon-vendor-campaign-detail .overview.question > .header{
    padding-left: 0;
    padding-right: 0;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar{
    border: none;
    padding-left: 23px;
    padding-right: 17px;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table{
    border-left: none;
    border-right: none;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-child(1){
    padding-left: 23px;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead td:nth-last-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table thead th:nth-last-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody td:nth-last-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tbody th:nth-last-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot td:nth-last-child(1),
.groupon-vendor-campaign-detail .grid-vendor-wrapper table.grid-vendor-table tfoot th:nth-last-child(1){
    padding-right: 17px;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar button.btn-download{
    height: 48px;
    margin-right: 24px;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar{
    float: left;
    margin-right: 16px;
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-webkit-input-placeholder {
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-moz-placeholder { /* older Firefox*/
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar:-ms-input-placeholder {
    font-size: 16px;
    font-family: Gotham;
    color: #7E858D;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter{
    float: left;
    margin-right: 24px;
    height: 48px;
    width: 168px;
    border: 2px solid #465A6F;
    background: #fff;
    font-size: 16px;
    color: #465A6F;
    font-weight: bold;
    font-family: Gotham;
    padding: 4px 8px 10px;
}
.groupon-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter svg{
    width: 16px;
    height: 16px;
    fill: #465A6F;
    margin-right: 5px;
    position: relative;
    top: 3px;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar-track {
    background: #E4E5E8;
    border: 1px solid #fff;
}
.groupon-vendor-campaign-detail .grid-vendor-wrapper::-webkit-scrollbar-thumb{
    width: 6px;
    background: #445a6f;
    border-radius: 4px;
}
.groupon-vendor-campaign-detail .overview .area-chart{
    padding-left: 23px;
    padding-right: 17px;
    padding-bottom: 36px;
}
.groupon-vendor-campaign-detail .overview .area-chart .google-visualization-tooltip{
    width: 200px;
    font-size: 22px;
    color: #465A6F;
    padding: 8px 16px;
    border: 1px solid #E4E5E8;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
}
.groupon-vendor-campaign-detail .overview .area-chart .google-visualization-tooltip b{
    font-weight: 400;
}
@media (max-width: 1400px){
    .groupon-vendor-campaign-detail .vendor-toolbar.toolbar input[type="text"].search-bar{
        clear: both;
        margin-top: 8px;
        max-width: 35%;
    }
    .groupon-vendor-campaign-detail .vendor-toolbar.toolbar .search-filter{
        margin-top: 8px;
    }
}
.ticks-for-complete {
    background-image: url("../image/tick.png");
    background-size: 24px 17px;
    background-repeat: no-repeat;
    background-position: right center;
}
input#name.maximum-length-255{
    float: none;
}
input#name.maximum-length-255 + div.validation-advice{
    margin-top: 10px;
}
#name-container .tooltip.tooltip-add-new-offer{
    top: 50px;
    bottom: initial;
}
a.btn.customer-view-vendor-campaign {
    max-width: 200px;
    display: block;
    height: 32px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    padding: 0 16px;
    color: #465A6F;
    text-decoration: none;
    float:  right;
    margin: -5px 0 0 10px;
}
.col-main > form > .generic-box #redemption_location_coupon input[type="checkbox"][name="groupon[customer_specify_location]"] + label.admin__field-label {
    margin-left: 34px;
}
div.vendor-location-selection-table {
    background: #fafafa;
    padding: 15px;
    margin: 0 -10px 15px;
}
label.label-location-new-campaign {
    display: inherit !important;
    font-size: smaller !important;
}
.col-main > form > .generic-box input.coupon_max_buyer{
    margin-top: 10px;
}
input.validation-failed {
    padding-right: 41px;
}