ul.form-list li, .cfg-quick-create-data{
    position: relative;
}

span.campaign-input-collapsible {
    position: absolute;
    top: 0;
    right: 0;
}

span.campaign-input-cancel, span.campaign-input-save{
    float:right;
}

div.col-main{
    position:relative;
}

.right-col {
    position: absolute;
    top: 100px;
    right: 50px;
    max-width: 300px;
}

.campaign_id{
    padding: 10px 30px 10px 30px;
    border: 1px solid black;
    box-shadow: 0 5px 5px 0 #ccc;
    text-align: center;
}

.history_log{
    border: 1px solid black;
    min-height: 100px;
}


table.custom-table.delivery-location tbody tr.true {
    display: table-row;
}

.editing table.custom-table.delivery-location tbody tr {
    display: table-row;
}

table.custom-table.delivery-location th.checkbox {
    display: none;
}

.editing table.custom-table.delivery-location th.checkbox {
    display: table-cell;
}

.editing table.custom-table.delivery-location td.remove-button {
    display: table-cell;
}


.editing table.custom-table.delivery-location td.checkbox-button {
    display: table-cell;
}


table.custom-table.business-address tbody tr.true {
    display: table-row;
}

.editing table.custom-table.business-address tbody tr {
    display: table-row;
}

table.custom-table.business-address th.checkbox {
    display: none;
}

.editing table.custom-table.business-address th.checkbox {
    display: table-cell;
}

.editing table.custom-table.business-address td.remove-button {
    display: table-cell;
}

.editing table.custom-table.business-address td.checkbox-button {
    display: table-cell;
}

#redemption_location_coupon > table > tbody > tr > td > div > label {
    pointer-events: none;
}
.editing #redemption_location_coupon > table > tbody > tr > td > div > label {
    pointer-events: all;
}