.preview-main-place-holder {
    background: url("../image/main-place-holder.png");
}
.preview-small-place-holder{
    background: url("../image/small-place-holder.png");
}
.preview-main-img{
    width: 316px;
    height: 196px;
}
.preview-small-img{
    width: 42px;
    height: 39px;
}
#campaign_live_preview{
    border: 1px solid black;
}