.udsell-inventory-index .search-area{
    margin-bottom: 23px;
}
.udsell-inventory-index .search-area:after{
    content: "";
    display: block;
    clear: both;
}
.udsell-inventory-index h4.vendor-header{
    float: left;
}
.inventory-search{
    display: inline-block;
    width: 50%;
    margin-top: -8px;
    margin-left: 92px;
}
.inventory-search:after{
    content: "";
    display: block;
    clear: both;
}
.inventory-search input[type="text"]{
    width: calc(100% - 192px);
    height: 56px;
    float: left;
    margin-right: 24px;
    padding: 0 28px;
}
.inventory-search button,
.inventory-search button:active{
    width: 168px;
    height: 56px;
    border: 2px solid #465A6F;
    font-weight: bold;
    color: #465A6F;
    background: #fff;
    font-family: Gotham;
}
.inventory-search button svg{
    width: 16px;
    height: 16px;
    fill: #465A6F;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}
.udsell-inventory-index .vendor-toolbar.toolbar button.btn-download{
    min-width: 152px;
    padding: 9px 18px 8px 10px;
}
.udsell-inventory-index .vendor-toolbar.toolbar button.btn-download span{
    margin-top: -3px;
}

.grid-vendor-wrapper table.grid-vendor-table .inventory-checkbox{
    width: 64px;
    text-align: center;
}
.inventory-btn-group button.status-selected{
    background-color: #22ddc3;
    color: #fff;
}
.seleted-sort-order{
    color: #465a6f;
}
.udsell-inventory-index .campaigns-toolbar button.btn-delete{
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: none;
    width: 145px;
    height: 40px;
    float: left;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 500;
    color: #7e858d;
    padding: 4px 8px 8px;
    margin-left: 1rem;
}
@media (max-width: 1200px){
    .inventory-search{
        display: block;
        width: 100%;
        margin: 0;
        clear: both;
        padding: 16px 0 0;
    }
}

/*Pager*/
.vendor-toolbar.toolbar button.pager-button{
    display: inline-block;
    padding: 13px 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #e4e5e8;
    font-size: 0;
    box-shadow: none;
    float: left;
    margin-left: 16px;
}
.vendor-toolbar.toolbar button.pager-button.first:before{
    content: "";
    width: 2px;
    height: 12px;
    display: inline-block;
    background: #B0B9C2;
    margin-right: 1px;
}
.vendor-toolbar.toolbar button.pager-button.first:after{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #B0B9C2;
}
.vendor-toolbar.toolbar button.pager-button.last:before{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #B0B9C2;
}
.vendor-toolbar.toolbar button.pager-button.last:after{
    content: "";
    width: 2px;
    height: 12px;
    display: inline-block;
    background: #B0B9C2;
    margin-left: 1px;
}
.vendor-toolbar.toolbar button.pager-button.prev:before{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #B0B9C2;
}
.vendor-toolbar.toolbar button.pager-button.next:before{
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #B0B9C2;
}
.vendor-toolbar.toolbar button.pager-button:hover{
    border-color: #465A6F;
}
.vendor-toolbar.toolbar button.pager-button.first:hover:before,
.vendor-toolbar.toolbar button.pager-button.last:hover:after{
    background: #465A6F;
}
.vendor-toolbar.toolbar button.pager-button.first:hover:after,
.vendor-toolbar.toolbar button.pager-button.prev:hover:before{
    border-right-color: #465A6F;
}
.vendor-toolbar.toolbar button.pager-button.last:hover:before,
.vendor-toolbar.toolbar button.pager-button.next:hover:before{
    border-left-color: #465A6F;
}
.vendor-toolbar.toolbar button.pager-button:disabled{
    background: #E4E5E8;
    border-color: #E4E5E8;
    opacity: 1;

}
.vendor-toolbar.toolbar .toolbar-number{
    color: #7E858D;
    font-size: 16px;
    line-height: 40px;
    display: inline-block;
    float: left;
    margin-left: 16px;
}