.limiter{
    display: none;
}
.sorter-label{
    display: none;
}
.sorter-action{
    display: none;
}
.toolbar-amount{
    display: none;
}
.toolbar-products{
    left: 0px;
}
.filter-options{
    display: none;
}
.sell-yours-index-box.sell-yours-list{
    padding: 0px;
    padding-top: 70px;
}
.col2-left-layout{
    width: 100%;
}
.col-main{
    padding: 98px 0px 40px 0px!important;
}
.toolbar-products .modes{
    position: absolute;
    top: 90px;
    right: 166px;
    float: none;
}
.toolbar-products .toolbar-sorter{
    position: absolute;
    top: 90px;
    right: 20px;
    float: none;
    border: none;
    padding: 0px;
}

.toolbar-products .toolbar-sorter select {
    height: 40px;
    width: 144px;
}
.modes-mode.active{
    background-color: #21dfc3;
    border-color: #21dfc3!important;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.modes-mode:before{
    display: none;
}
.modes-mode{
    background-color: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 40px;
    height: 40px;
    padding: 0px;
    border: 1px solid #e4e5e8!important;
    background-size: 50%!important;
    background-position: 50% 50%!important;
    background-repeat: no-repeat!important;
}
.mode-grid{
    background-image: url("../images/grid-gray.svg")!important;
}
.mode-grid.active{
    background-image: url("../images/grid.svg")!important;
}
.mode-list{
    background-image: url("../images/list-gray.svg")!important;
}
.mode-list.active{
    background-image: url("../images/list.svg")!important;
}
.page-title.category-title{
    position:  absolute;
    top: 92px;
    left: 15px;
}
.page-title.category-title h4{
    font-size: 26px;
    font-weight: 400;
}
.products-list{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% - 295px);
    margin-left: 295px;
    padding-right: 5px;
}
.products-list li.item{
    width: calc(100% - 10px);
    padding: 23px!important;
    padding-bottom: 11px!important;
    padding-top: 65px!important;
    border: 1px solid #e4e5e8;
    border-radius:  4px;
    height: auto;
    position: relative;
    margin: 0px 10px 10px 0px!important;
}
@media only screen and (min-width: 750px) and (max-width: 1000px ){
    .products-list li.item{
        width: calc( 50% - 10px);
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1400px ){
    .products-list li.item{
        width: calc( 33% - 10px);
    }
}
@media only screen and (min-width: 1400px){
    .products-list li.item{
        width: calc( 25% - 10px);
    }
}
.product-item-photo{
    height: 0px;
    width: 100%!important;
    padding-bottom: 136%!important;
    position: relative;
    display: inline-block!important;
    overflow: hidden;
}
.product-image-wrapper{
    position: initial;
}
.product-image-wrapper img.product-image-photo{
    position: absolute!important;
    z-index: 99;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 0px;
    display:  block;
    width: 100%;
}

.products-list li.item .product-name{
    width: auto;
    margin-top: 30px;
    float: none;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 4px;
}
.ean-code{
    font-size: 14px;
    margin-bottom: 25px;
}
.price{
    font-size: 14px;
    margin: 0px;
}
.price strong{
    font-size: 26px;
    color: #1abeef;
    margin-left: 15px;
    font-weight: 400;
    margin-right: 4px;
}
.btn-sellyours {
    background-color: #22ddc3!important;
    font-size: 16px!important;
    font-weight: 400!important;
    width: 159px!important;
    height: 40px!important;
    position: absolute;
    top: -1px;
    right: -1px;
    padding-left: 16px!important;
    z-index:  2;
    text-align: start;
}
.btn-sellyours svg{
    width: 16px;
    height: 16px;
    margin-right: 7px;
    margin-top: 2px;
}
.block.filter{
    position: absolute;
    top: 170px;
    margin-left: 10px;
    width: 275px;
    background: #fbfcfe;
    border: none!important;
}
.block-content.filter-content{
    padding: 10px;
}
.filter-options-item{
    display: block!important;
    margin-right: 0px!important;
    padding-bottom: 20px;
}
.filter-options-title{
    text-transform: capitalize;
}
.filter-options-title:after{
    right: 0px;
    color: #1abeef;
}
.page-layout-1column .filter-options-item.active:after, .page-layout-1column .filter-options-item.active:before{
    display: none;
}
.page-layout-1column .filter-options-content .item{
    padding: 0px;
}
.page-layout-1column .filter-options-content .item a{
    padding: 0px;
}
.filter-options-content a:hover {
    background-color: transparent;
    text-decoration: none;
}
.page-layout-1column .filter-options-content{
    max-height: 0px;
    padding-top: 0px;
    overflow: hidden;
    border-bottom: 1px solid transparent!important;
    transition: max-height 0.5s;
}
.page-layout-1column .filter-options-content .item:hover{
    background: transparent;
}
.page-layout-1column .filter-options-content[aria-hidden="false"]{
    max-height: 500px;
    padding-bottom: 0px;
    padding-top: 10px;
    border-color: #e4e5e8!important;
}
.filter-options-title:hover{
    color: #465A6F;
}
.filter-options-content{
    width: 100%!important;
    position: initial!important;
    border: none!important;
    background: transparent!important;
    box-shadow: none!important;

}
.page-layout-1column .filter-options-content .item a:hover{
    color: #465A6F;
}
.filter-options-content .items{
    padding-bottom: 20px;
}
div.products-list{
    width: 100%;
    margin: 0px;
}
div.products-list p.note-msg{
    width: 100%;
    background-image: url("../images/important-warning.svg");
    background-size: 16px;
    color: #6f4400;
    background-color: #fdf0d5;
    font-weight: 400!important;
    font-size: 12px!important;
}