.product-vendors-text {
    font-size: 20px;
    margin: 0px;
}
.product-vendors-states{
    display: none;
}
#vendor-list-toggle{
    line-height: 50px;
}
#vendors-list>div{
    border-top: 1px solid #e4e5e8;
    padding-top: 20px;
}
#product-vendors-contents .toolbar{
    margin: 0px!important;
}
.box-tocart .fieldset{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.checkout-cart-configure .box-tocart .fieldset{
    display: table;
}
.checkout-cart-configure .gsw_offer{
    display: none;
}
.checkout-cart-configure .buy-now-div{
    display: none;
}
.box-tocart .fieldset .field.qty{
    width: auto;
}
.box-tocart .fieldset .tocart{
    width: 140px;
}
.featured-icon {
    background: #fec939;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-top: 8px;
}
#product-vendors-table th:first-child, #product-vendors-table td:first-child{
    padding-left: 0px;
}