.udsell-productnew-producttype .page-title {
    padding: 23px 23px 26px;
    border: 1px solid #e4e5e8;
    border-radius: 4px 4px 0 0;
}

.select-sellyours-category {
    padding: 21px 23px;
    border: 1px solid #e4e5e8;
    border-top: none;
}

.select-sellyours-category:after {
    content: "";
    display: block;
    clear: both;
}

.select-sellyours-category .select-category-block {
    width: calc(100% - 488px);
    min-width: 60%;
    float: left;
    padding-right: 16px;
    padding-top: 21px;
}

.select-sellyours-category .select-category-block > .label {
    font-size: 16px;
    color: #465A6F;
    display: block;
    text-align: left;
    margin-bottom: 13px;
}

.select-sellyours-category .select-category-block > .category-select {
    max-width: 488px;
    clear: both;
    border-radius: 4px;
}

.select-sellyours-category .custom-block-widget {
    width: 488px;
    max-width: 40%;
    float: right;
}

.select-sellyours-category .custom-block-widget > .box {
    padding-left: 15px;
    padding-bottom: 23px;
}

.select-sellyours-category .custom-block-widget > .box:before {
    width: 48px;
    background-image: url(../../images/important-info.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.select-sellyours-category .custom-block-widget > .box > .content {
    padding-left: 24px;
}

.select-sellyours-category .custom-block-widget > .box > .content .title + div {
    line-height: 1.45;
}

.sellyours-actions {
    padding: 24px 23px 87px;
    border: 1px solid #e4e5e8;
    border-top: none;
    border-radius: 0 0 4px 4px;
}

.sellyours-actions button.cancel {
    width: 154px;
    height: 48px;
    border: 1px solid #E4E5E8;
    background: none;
    box-shadow: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #465A6F;
    font-family: Gotham;
    float: left;
    margin-right: 24px;
    padding-bottom: 4px;
}

.sellyours-actions button.next,
.sellyours-actions button.next:hover,
.sellyours-actions button.next:focus {
    width: 162px;
    height: 48px;
    font-size: 18px;
    font-family: Gotham;
    background-color: #22DDC3;
    border: none;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -o-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    padding-top: 0;
    padding-bottom: 4px;
}

/* Add Product SellYours Form */
h4.page-title.sellyours-title {
    padding-bottom: 30px;
}

.col-main > form.add-product-sellyours {
    width: 100%;
    border: none;
    border-top: 1px solid #e4e5e8;
    margin: 0;
    padding-top: 31px;
}

.col-main > form.add-product-sellyours ~ #campaign_live_preview {
    display: none;
}

#category_breadcrumb {
    margin-bottom: -5px;
}

#category_breadcrumb:after {
    content: "";
    display: block;
    clear: both;
}

#category_breadcrumb > span {
    display: inline-block;
    min-width: 132px;
    float: left;
}

#category_breadcrumb > .change-category {
    display: inline-block;
    min-width: 132px;
    float: left;
    color: #0096C3;
    cursor: pointer;
}

#category_breadcrumb > .category-list {
    display: inline-block;
    max-width: calc(100% - 264px);
    float: left;
    padding-right: 10%;
}

.col-main > form.add-product-sellyours > .generic-box ~ .generic-box {
    border-top: none;
}

.col-main > form.add-product-sellyours > .generic-box > table > tbody > tr > td {
    display: block;
}

.col-main > form.add-product-sellyours > .generic-box label {
    font-size: 14px;
    color: #7E858D;
    margin-bottom: 2px;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li {
    margin: 0 0 7px !important;
    padding: 0 !important;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li {
    width: 50%;
    max-width: 400px;
}

.col-main > form.add-product-sellyours > .generic-box #product_categories-container {
    width: 100%;
    max-width: none;
}

.col-main > form.add-product-sellyours .mage-suggest.category-select,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#name-container,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#description-container {
    width: 65%;
    max-width: 560px;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li#freeshipping-container,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#udmulti_freeshipping-container {
    margin: 12px 0 5px !important;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li#freeshipping-container input.udvalidate-freeshipping,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#udmulti_freeshipping-container input.udvalidate-udmulti_freeshipping {
    width: 18px;
    height: 18px;
    border: 1px solid #b0b9c2;
    border-radius: 2px;
    -webkit-appearance: none;
    box-shadow: none;
    margin-right: 16px;
    float: left;
    cursor: pointer;
    margin-top: 4px;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li#freeshipping-container input.udvalidate-freeshipping:checked,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#udmulti_freeshipping-container input.udvalidate-udmulti_freeshipping:checked {
    border-color: #22DDC3;
    outline: 6px solid #22DDC3;
    outline-offset: -10px;
}

.col-main > form.add-product-sellyours > .generic-box .form-list > li#freeshipping-container label,
.col-main > form.add-product-sellyours > .generic-box .form-list > li#udmulti_freeshipping-container label {
    font-size: 16px;
    color: #465A6F;
}

#product_categories-container #category_breadcrumb ~ .mage-suggest.category-select {
    display: none;
}

#product_categories-container.category-select-open #category_breadcrumb ~ .mage-suggest.category-select {
    display: block;
}

.col-main > form.add-product-sellyours > .generic-box textarea#description {
    height: 186px;
}

.col-main > form.add-product-sellyours select {
    max-width: 100%;
}

.col-main > form > .generic-box.images {
    margin-top: 17px;
}

.col-main > form > .generic-box.images > .box-head {
    margin-bottom: -17px;
}

.col-main > form > .generic-box.images .image.item {
    width: 168px;
    height: 168px;
}

.col-main > form > .generic-box.images .image.image-placeholder {
    max-width: 100%;
    margin: 0 4px 16px;
    width: 168px;
    height: 168px;
    background-size: 80px;
    background-position: center 15px;
    background-color: #fff;
}

.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text {
    font-size: 14px;
    color: #0096C3;
    margin-bottom: 16px;
    line-height: 1.2;
    padding: 0 16px;
}

.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:before,
.col-main > form > .generic-box.images .image.image-placeholder .image-placeholder-text:after {
    display: none;
}

form > .generic-box.customoptions #_custom_options-container {
    width: 65%;
    max-width: 560px;
}

form > .generic-box.customoptions .fieldset {
    background: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

form > .generic-box.customoptions .ui-sortable > .fieldset-wrapper-title {
    display: none;
}

form > .generic-box.customoptions .fieldset-wrapper-title strong.admin__collapsible-title {
    font-size: 16px;
    color: #465A6F;
    font-weight: 400;
}

form > .generic-box.customoptions button.add {
    height: 48px;
    background-color: #22DDC3;
    padding: 4px 16px 4px 40px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -o-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(176, 185, 194, 0.5);
    background-image: url("../../images/plus-white.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 16px center;
}

form > .generic-box.customoptions .fieldset .fieldset-wrapper {
    background: none;
    border-color: #e4e5e8;
    margin-bottom: 16px;
}

form > .generic-box.customoptions .fieldset .fieldset-wrapper:nth-last-of-type(1) {
    margin-bottom: 40px;
}

form > .generic-box.customoptions .sortable-wrapper {
    margin-bottom: 0;
}

form > .generic-box.customoptions #product_options_container .fieldset-wrapper-title + .fieldset-wrapper-content {
    display: none;
}

form > .generic-box.customoptions #product_options_container .fieldset-wrapper-title.active + .fieldset-wrapper-content {
    display: block !important;
    height: auto !important;
}

form > .generic-box.customoptions .admin__collapsible-block-wrapper .fieldset-wrapper-title .admin__collapsible-title:before {
    content: '\e616' !important;
}

form > .generic-box.customoptions .admin__collapsible-block-wrapper .fieldset-wrapper-title.active .admin__collapsible-title:before {
    content: '\e615' !important;
}

form > .generic-box.customoptions #product_options_container .field-option-req label {
    float: left;
    margin-top: 16px;
}

form > .generic-box.customoptions #product_options_container .field-option-req label.for-checkbox-custom-text {
    font-size: 16px;
    color: #465A6F;
    float: left;
    margin: 12px 0 2px 16px;
}

form > .generic-box.customoptions table.data-table {
    border: none;
    margin: 16px 1px 0;
}

form > .generic-box.customoptions table.data-table tr td {
    padding: 4px;
    vertical-align: top;
}

form > .generic-box.customoptions table.data-table tr th {
    font-size: 14px;
    padding: 4px;
}

form > .generic-box.customoptions table.data-table tr td input:not([type="checkbox"]):not([type="radio"]),
form > .generic-box.customoptions table.data-table tr td select {
    height: 40px;
}

form > .generic-box.customoptions table.data-table tr td.col-file input.input-text {
    max-width: 48px;
}

form > .generic-box.customoptions .actions button.action-delete,
form > .generic-box.customoptions table.data-table tr td.col-delete button.delete {
    background: none;
    width: auto !important;
    border: 1px solid #e4e5e8;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    color: #465A6F;
    font-family: Gotham;
    font-size: 16px;
    padding: 0 16px 2px;
}

form > .generic-box.customoptions .actions button.action-delete:before,
form > .generic-box.customoptions table.data-table tr td.col-delete button.delete:before {
    font-family: Gotham;
    font-size: 16px;
    color: #465a6f;
    font-weight: 400;
    background: none;
    content: "Remove";
}

form > .generic-box.customoptions .actions button.action-delete span,
form > .generic-box.customoptions table.data-table tr td.col-delete button.delete span {
    display: none;
}

form > .generic-box.customoptions table.data-table tfoot tr {
    background: none;
}

form > .generic-box.customoptions #product_options_container_top .col-name, #product_options_container_top .col-sku {
    width: 22%;
}

form > .generic-box.customoptions label ~ .control input.validation-failed {
    background: none !important;
}

form > .generic-box.customoptions label ~ .control input.validation-failed + .validation-advice {
    height: 19px;
    line-height: 19px;
    text-align: right;
    padding: 0;
    margin: -70px 0 0;
    float: right;
}

.col-main > form.add-product-sellyours > .buttons-set {
    padding: 41px 64px 27px;
}

.col-main > form.add-product-sellyours > .generic-box ~ .buttons-set:not(:nth-of-type(1)) {
    border-top: 1px solid #e4e5e8;
    margin-top: 56px;
}

.col-main > form.add-product-sellyours > .buttons-set .form-button {
    display: none;
}

.col-main > form.add-product-sellyours > .buttons-set .form-button.submit {
    display: inline-block;
    min-width: 242px;
    width: auto;
    height: 56px;
    padding-right: 22px;
    float: right;
}

.col-main > form.add-product-sellyours > .buttons-set .form-button.submit svg {
    margin-right: 6px;
    top: 4px;
}

form > .generic-box.customoptions table.data-table tr td input.validation-failed {
    background: none !important;
}

form > .generic-box.customoptions table.data-table tr td input.validation-failed + .validation-advice {
    display: none;
}

.col-main > form.add-product-sellyours > .buttons-set a.btn-back {
    display: inline-block;
    width: 154px;
    height: 56px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    text-align: center;
    padding: 4px 8px 4px 2px;
    line-height: 42px;
    font-size: 18px;
    color: #465A6F;
    text-decoration: none;
    margin-top: 23px;
}

/*Price Block*/
.col-main > form.add-product-sellyours > .generic-box > table {
    position: relative;
}

.col-main > form.add-product-sellyours .product-sell-discount {
    width: calc(45% - 80px);
    max-width: 680px;
    margin-top: 3px;
    margin-right: 64px;
    position: absolute;
    right: 0;
    top: auto;
    border: 1px solid #B4DBD6;
    background: #D6F5F1;
    border-radius: 4px;
    padding: 22px 47px 18px 95px;
    font-size: 14px;
    line-height: 1.45;
    z-index: 999;
}

.col-main > form.add-product-sellyours .product-sell-discount:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(../../images/percent.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 39px;
    left: 31px;
}

.col-main > form.add-product-sellyours .product-sell-discount .title {
    font-size: 16px;
    color: #38C3C9;
    font-weight: bold;
    margin-top: -4px;
    margin-bottom: 6px;
}

.col-main > form.add-product-sellyours .product-sell-discount .title + p {
    margin-bottom: 17px;
}

.col-main > form.add-product-sellyours > .generic-box .product-sell-discount .form-list > li {
    width: 100%;
    float: left;
}

.col-main > form.add-product-sellyours > .generic-box .product-sell-discount .form-list > li#udmulti_special_from_date-container {
    margin-right: 20px !important;
    clear: both;
    width: calc(50% - 10px);
}
.col-main > form.add-product-sellyours > .generic-box .product-sell-discount .form-list > li#udmulti_special_to_date-container{
    width: calc(50% - 10px);
}
.col-main > form.add-product-sellyours > .generic-box .product-sell-discount label {
    font-size: 16px;
    color: #465A6F;
    margin-bottom: 9px !important;
}

.col-main > form.add-product-sellyours input[type="text"].validate-date {
    background-image: url(../../images/calendar-icon.svg);
    background-size: 18px 16px;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    padding-left: 44px;
}
a.btn.customer-view-vendor-campaign {
    max-width: 200px;
    display: block;
    height: 32px;
    border: 1px solid #e4e5e8;
    border-radius: 4px;
    background: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    padding: 0 16px;
    color: #465A6F;
    text-decoration: none;
    float:  right;
    margin: -4px 0 0 10px;
}
/* END Add Product SellYours Form */