.sell-yours-list{
    padding-left: 32px;
    padding-right: 32px;
}
.sell-yours-list:after{
    content: "";
    display: block;
    clear: both;
}
.sell-yours-list .block filter{
    width: 312px;
    max-width: 35%;
    padding-right: 32px;
    float: left;
}
.sell-yours-list .col-main{
    width: calc(100% - 312px);
    min-width: 65%;
}