
<div>
    <input type="text" placeholder="input product name" id="search_product" class="search_product">
</div>
<div class="result_search">
</div>
<?php
$_list = $block->getListItem();
if ($_list) {
?>
<div class="table-wrapper category-item-history">
    <table class="data table table-category-items history" id="my-category-table" border="1px">
        <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('List Products') ?></caption>
        <thead>
        <tr>
            <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('ID') ?></th>
            <th scope="col" class="col image_product"><?php /* @escapeNotVerified */ echo __('Image') ?></th>
            <th scope="col" class="col name"><?php /* @escapeNotVerified */ echo __('Name') ?></th>
            <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Sku') ?></th>
            <th scope="col" class="col location"><?php /* @escapeNotVerified */ echo __('Price') ?></th>
            <th scope="col" class="col actions">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <?php
        foreach ($_list as $_item): ?>
            <tr id="<?php echo 'item-'.$_item->getEntityId() ?>">
                <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>" class="col id"><?php /* @escapeNotVerified */ echo $_item->getEntityId() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Image')) ?>" class="col image_item">
                    <img src="<?php /* @escapeNotVerified */ echo $block->getPathImage().'catalog/product'.$_item->getImage() ?>" alt="" width="100px" height="100px">
                </td>
                <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>" class="col name"><?php /* @escapeNotVerified */ echo $_item->getName() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Sku')) ?>" class="col sku"><?php /* @escapeNotVerified */ echo $_item->getSku() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Price')) ?>" class="col price"><?php /* @escapeNotVerified */ echo $_item->getPrice() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Delete')) ?>" class="col delete">
                    <input type="button" class="delete_item" name="<?php echo $_item->getEntityId()?>" value="Delete">
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>
<?php } ?>
<?php echo $this->getBlockHtml('formkey'); ?>
<script>
    require([
        "jquery",
        "mage/calendar"
    ], function($){
        var requestUrl = '<?php echo $block->searchProduct(); ?>';
        $(".delete_item").click(function () {
            var selectItem = $(this).attr('name');
            $("#item-"+selectItem).hide();
            var removeItem ='<input type="text" name="delete['+selectItem+']" value="1">';
            $("#item-"+selectItem).append(removeItem);
        });
        $(".search_product").change(function(){
            var value = $(this).val();
            var category = $("#page_category option:selected").val();
            if (category) {
                $(".result_search").empty();
                $.ajax({
                    url: requestUrl+ '?input=' + value + '&category=' + category,
                    type: "POST",
                    contentType: false,
                    cache: false,
                    processData: false,
                    data: {input: value, category: category},
                    success: function (response) {
                        if(response){
                            $(".result_search").html(response)
                        }
//                        var results = JSON.parse(response);
//                        $(".result_search").append(results);
                    },
                    showLoader: true
                });
            } else {
                alert('You need select a category');
            }

        });

    });
</script>