<?php
$_hlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\DropshipSellYours\Helper\Data');
$_udHlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data');
$_helper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Output');
$_product = $this->getParentBlock()->getProduct();
$_pId = $_product->getId();
?>

<form id="udsell-sell-<?php echo $_pId?>" method="post" action="<?php echo $this->getSellPostUrl()?>" class="product-sell-form">

    <?php
    $syForm = $this->getSyForm();
    $fieldSets = $syForm->getElements();
    foreach ($fieldSets as $fieldSet):
        $elements = $fieldSet->getElements()->getIterator();
        $topElements = $fieldSet->getTopColumn();
        $bottomElements = $fieldSet->getBottomColumn();
        $lcElements = $fieldSet->getLeftColumn();
        $rcElements = $fieldSet->getRightColumn();
        ?>
        <div class="box-head" style="display: none;"><h3><?php echo $fieldSet->getLegend() ?></h3></div>
        <div class="fields">
            <?php if (!empty($topElements)): ?>
                <?php foreach($topElements as $wideElement): ?>
                    <div class="field <?php echo $wideElement.'-container'?>" <?php if ($this->isHidden($wideElement)) echo 'style="display: none;"' ?>>
                        <?php echo $this->getChildElement($wideElement)->getLabelHtml(); ?>
                        <?php echo $this->getChildElement($wideElement)->getElementHtml() ?>
                    </div>
                <?php endforeach ?>
            <?php endif ?>
            <?php if (!empty($lcElements)): ?>
                <?php foreach($lcElements as $lcElement): ?>
                    <div class="field <?php echo $lcElement.'-container'?>">
                        <?php echo $this->getChildElement($lcElement)->getLabelHtml(); ?>
                        <?php echo $this->getChildElement($lcElement)->getElementHtml() ?>
                    </div>
                <?php endforeach ?>
            <?php endif ?>
            <?php if (!empty($bottomElements)): ?>
                <?php foreach($bottomElements as $wideElement): ?>
                    <div class="field <?php echo $wideElement.'-container'?>" <?php if ($this->isHidden($wideElement)) echo 'style="display: none;"' ?>>
                        <?php echo $this->getChildElement($wideElement)->getLabelHtml(); ?>
                        <?php echo $this->getChildElement($wideElement)->getElementHtml() ?>
                        <?php if($wideElement=="udmulti_freeshipping"): ?>
                            <div class="tooltip-content dark left">
                                <span class="tooltip-close"></span>
                                <span>
                                If selected, you as the vendor will be charged the associated shipping fees associated to the sale of this item. A “Free Shipping” Label will also be displayed on your product.
                            </span>
                            </div>
                        <?php endif; ?>
                    </div>
                <?php endforeach ?>
            <?php endif ?>
        </div>
        <?php if (!empty($lcElements)): ?>
        <div class="product-sell-discount">
            <p class="title">Sell Yours First! Offer this item at a discount</p>
            <p>Vendors with the cheapest Sell price will the Buy button. Your item will also be featured in discount collections.</p>
            <div>
                <?php foreach($rcElements as $rcElement): ?>
                    <div class="field <?php echo $lcElement.'-container'?>">
                        <?php echo $this->getChildElement($rcElement)->getLabelHtml(); ?>
                        <?php echo $this->getChildElement($rcElement)->getElementHtml() ?>
                    </div>
                <?php endforeach ?>
            </div>
        </div>
    <?php endif ?>
    <?php endforeach ?>

    <div class="buttons-set">
        <?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
        $storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface'); ?>
        <a href="<?php echo $storeManager->getStore()->getBaseUrl() ?>udsell/index/sellSearch/" title="Back" class="btn-back">
            <span>Back</span>
        </a>
        <button type="submit" title="<?php echo __('Submit') ?>" class="button btn-submit"><span><?php echo __('Submit My Listing') ?></span></button>
        <p class="required" style="display: none"><?php echo __('* Required Fields') ?></p>
    </div>
</form>

<script type="text/javascript">
    //<![CDATA[

    require(["jquery", "prototype", 'varien/form'], function(jQuery) {
        var dataForm = new VarienForm('udsell-sell-<?php echo $_pId?>', true);
    });

    //]]>
</script>
