<?php
/**
 * @category    design
 * @package     monster_default
 * @copyright   Copyright (c) 2011 Monster Market. (http://www.monstermarket.com)
 */
/**
 * Product view template
 *
 * @see \Magento\Catalog\Block\Product\View
 * @see \Magento\Review\Block\Product\View
 */
?>
<?php
    $_helper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Output');
    $_product = $this->getProduct();
    if ($_product) {
	    $_v = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data')->getVendor($_product);
	} else {
	    $_v = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\DropshipMicrosite\Helper\Data')->getCurrentVendor();
	}
?>
<div id="messages_product_view"><?php echo $this->getLayout()->getMessagesBlock()->toHtml(); ?></div>
<div class="product-view product-sell-view">
    <div class="product-sell-header generic-box">
        <div class="no-display">
            <input type="hidden" name="product" value="<?php echo $_product->getId() ?>" />
            <input type="hidden" name="related_product" id="related-products-field" value="" />
        </div>
        <?php
        $productImage = $block->getImage($_product, 'product_page_image_small');
        ?>
        <?php // Product Image ?>
        <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
            <?php echo $productImage->toHtml(); ?>
        </a>
        <div class="product-info">
            <h1 class="product-name"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
            <p class="product-trademark">Samsung jgddjsf</p>
            <p><?php echo $_product->getSku(); ?></p>
            <div class="product-attributes">
                <table class="attributes-table">
                    <tbody>
                        <tr>
                            <td><span>Color</span></td>
                            <td><span>Blue dqhwgrfghz</span></td>
                        </tr>
                        <tr>
                            <td><span>Operating System</span></td>
                            <td><span>Android fdhjghjs</span></td>
                        </tr>
                        <tr>
                            <td>Storage Capacity</td>
                            <td><span>128Gb djsfbk</span></td>
                        </tr>
                        <tr>
                            <td><span>Screen Size</span></td>
                            <td><span>5.8 inch sdkgfdgj</span></td>
                        </tr>
                        <tr>
                            <td><span>Product Weight</span></td>
                            <td><span>174 g asjdgfkjs</span></td>
                        </tr>
                        <tr>
                            <td><span>Rear Camera Resolution</span></td>
                            <td><span>8 mp &amp; above sdfkg</span></td>
                        </tr>
                    </tbody>
                </table>
                <span class="show-all"></span>
            </div>
        </div>
    </div>
	<div class="product-sell-content">
    	<?php echo $this->getChildHtml('product.sell') ?>
	</div>
</div>
