<div id="campaign-status-comment-modal" data-bind="afterRender: initModal"
     style="display:none; width: 70%;height: 55px;position: relative;left: 15%;">
    <textarea data-bind="value: comment" id="campaign_status_comment" name="campaign_status_comment" style="width: 100%;height: 100%;"></textarea>
</div>