<?php
/** @var $block \Magenest\Profile\Block\Location\Edit */
$countries = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Directory\Model\Config\Source\CountryFactory')->create()->toOptionArray();
unset($countries[0]);
?>
<div class="general_business_title">
    <fieldset class="fieldset_business">
        <a href="<?php echo $block->getUrl('profile/business'); ?>">
            <h4>Business Profile</h4>
        </a>
    </fieldset>
    <div class="icon_next"></div>
    <fieldset class="fieldset_business">
        <h4>New Location</h4>
    </fieldset>
</div>

<form class="form_manage_location" action="<?php echo $block->getUrl('profile/location/save') ?>"
      method="post" enctype="multipart/form-data" data-mage-init='{"validation" : {}}'>
    <div class="location_details fieldset location_form">
        <fieldset class="field">
            <legend class="admin__legend text-center" style="float: left;"><h4>Location Details</h4></legend>
            <div class="icon_arrow1 location-form-close"></div>
        </fieldset>
        <fieldset class="fieldcatalog_pricing">
            <div class="field required">
                <label class="label" for="location_name"><span>Location / Branch Name</span></label>

                <div class="control">
                    <input type="text" class="admin__control-text" autofocus=""
                           id="location_name" name="location_name" data-validate="{required:true}" aria-required="true">
                </div>
            </div>
            <div class="field input_left required">
                <label class="label" for="route"><span>Street Address</span></label>

                <div class="control">
                    <input type="text" class="admin__control-text" id="route"
                           name="street" data-validate="{required:true}" placeholder=""
                           aria-required="true">
                </div>
            </div>

            <div class="field id input_right required">
                <label class="label" for="administrative_area_level_1"><span>City</span></label>

                <div class="control">
                    <input type="text" class="input-text" id="administrative_area_level_1" name="city"
                           data-validate="{required:true}" aria-required="true">
                </div>
            </div>

            <div class="field id input_left required">
                <label class="label" for="country"><span>Country</span></label>

                <div class="control">
                    <?php if (count($countries) > 0): ?>
                        <select name="country" data-validate="{required:true}" id="country" style="width: 100%;">
                            <?php foreach ($countries as $country): ?>
                                <option value="<?php print($country['value']); ?>"><?php echo $country['label'] ?></option>
                            <?php endforeach; ?>
                        </select>
                    <?php endif; ?>
                </div>
            </div>

            <div class="field id input_right">
                <label class="label" for="administrative_area_level_2"><span>State</span></label>

                <div class="control">
                    <input type="text" class="admin__control-text" id="administrative_area_level_2"
                           name="region" aria-required="true">


                </div>
            </div>
            <div class="field id input_left required">
                <label class="label" for="phone"><span>Phone Number</span></label>

                <div class="control">
                    <input type="text" class="input-text" id="phone" name="phone"
                           data-validate="{required:true, 'validate-phoneLax':true}" aria-required="true">

                </div>
            </div>

            <div class="field id input_right ">
                <label class="label" for="postcode"><span>ZIP / Postal Code</span></label>
                <div class="control">
                    <input type="text" class="admin__control-text" id="postal_code" name="postcode"
                           data-validate="{'validate-digits':true}" aria-required="true">
                </div>
            </div>
            <div class="field location_maps maps_popup">
                <span class="span_location_maps">LOCATE ON MAP</span>
            </div>
        </fieldset>
    </div>

    <div class="fieldset location_details">
        <fieldset class="field">
            <legend class="admin__legend text-center" style="float: left;"><h4>Business Hours</h4></legend>
        </fieldset>
        <fieldset class="fieldcatalog_pricing">
            <div class="table_business_hours">
                <table>
                    <?php for ($i = 1; $i <= 7; $i++): ?>
                        <?php
                        switch ($i) {
                            case 1:
                                $weekDay = 'sunday';
                                break;
                            case 2:
                                $weekDay = 'monday';
                                break;
                            case 3:
                                $weekDay = 'tuesday';
                                break;
                            case 4:
                                $weekDay = 'wednesday';
                                break;
                            case 5:
                                $weekDay = 'thursday';
                                break;
                            case 6:
                                $weekDay = 'friday';
                                break;
                            case 7:
                                $weekDay = 'saturday';
                                break;
                            default:
                                $weekDay = '';
                                break;
                        }
                        ?>
                        <tr class="<?php echo $weekDay ?>_1 weekDay_1">
                            <th class="th_hours"><?php echo $weekDay ?></th>
                            <td>
                                <label class="switch">
                                    <input type="checkbox" class="switch checkbox-custom" name="<?php echo $weekDay ?>" id="<?php echo $weekDay ?>">
                                    <label class="for-checkbox-custom" for="<?php echo $weekDay ?>"></label>
                                    <span class="slider round"></span>
                                </label>
                            </td>
                            <td class="<?php echo $weekDay ?> td_time" style="display: none;">
                                <label>From </label><input name="<?php echo $weekDay ?>-from-1" type="time">
                            </td>
                            <td class="<?php echo $weekDay ?> td_time" style="display: none;">
                                <label>To </label><input name="<?php echo $weekDay ?>-to-1" type="time">
                            </td>
                            <td style="display: none;" class="add_hours <?php echo $weekDay ?>"
                                id="<?php echo $weekDay ?>">
                                <button onclick="return false" class="btn-addHours">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                        <g transform="translate(0 0)">
                                            <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                                            <rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect>
                                            <rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect>
                                        </g>
                                    </svg>
                                    Add Hours
                                </button>
                            </td>
                            <td class="remove_row <?php echo $weekDay ?>" id="<?php echo $weekDay ?>"
                                style="display: none"><button onclick="return false" class="btn-removeHours">Remove</button>
                            </td>
                        </tr>
                        <tr class="<?php echo $weekDay ?>_2 weekDay_2">
                            <td></td>
                            <td></td>
                            <td style="display: none;" class="<?php echo $weekDay ?> row2 td_time">
                                <label>From </label><input name="<?php echo $weekDay ?>-from-2" type="time">
                            </td>
                            <td style="display: none;" class="<?php echo $weekDay ?> row2 td_time">
                                <label>To </label><input name="<?php echo $weekDay ?>-to-2" type="time">
                            </td>
                        </tr>
                    <?php endfor; ?>
                </table>
            </div>
            <div class="apply_hour">
                <input name="apply_hour" id="apply_hour" type="checkbox" class="checkbox-custom">
                <label class="for-checkbox-custom" for="apply_hour"></label>
                <label for="apply_hour">Apply to all Locations</label>
            </div>
        </fieldset>

    </div>
    <fieldset class="location_details fieldset">
        <fieldset class="field fieldcatalog_pricing">
            <legend class="admin__legend text-center" style="float: left;"><h4>Service Catalog / Pricing</h4></legend>
        </fieldset>
        <div class="control field">
            <label class="label" for="service_catalog_pricing">Artifact Name (e.g. Price List, Menu, Service
                Portfolio)</label>
        </div>
        <div class="file_upload">

            <div class="control">
                <input type="text" class="input-text" id="artifact_1_name" name="artifact_1_name"
                       aria-required="true">
                <span class="control-remove">Remove</span>
            </div>
            <div class="input-control-ui">
                <input type="file" name="artifact_1" class="uploadFile" id="artifact_1">
                <label class="for-uploadFile" for="artifact_1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                        <g transform="translate(0 0)">
                            <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                            <rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect>
                            <rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect>
                        </g>
                    </svg>
                    Upload file
                </label>
                <div class="control-ui">
                    <span class="control-ui-button"></span>
                    <span class="control-ui-text"></span>
                </div>
            </div>
        </div>
        <div class="apply_hour">
            <input name="apply_file" id="apply_file" type="checkbox" class="checkbox-custom">
            <label class="for-checkbox-custom" for="apply_file"></label>
            <label class="label" for="apply_file">Apply to all Locations</label>
        </div>
        <div class="field location_maps">
            <span class="add_another_file">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555"><g transform="translate(0 0)"><rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect><rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect><rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect></g></svg>
                Add Another
            </span>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" id="save_new_location_business" title="Save Changes" class="action submit primary">
                <span>Save Changes</span>
            </button>
        </div>
    </div>
    <input type="hidden" id="lat" name="lat" readonly="yes">
    <input type="hidden" id="lng" name="lng" readonly="yes">
</form>

<div class="popup_maps_address">
    <div id="id"></div>
    <div id="map"></div>
</div>

<?php
$apiKey = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
?>
<script>
    var position;
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/mage'
    ], function ($, modal) {

        $("input.switch").on('change', function (event) {
            var className = $(this).attr('name');
            if ($("input.switch[name='" + className + "']:checked").length) {
                $('tr.' + className + '_1 td.' + className).show();
                $('tr.' + className + '_1 td.' + className + ' input').val('').prop('required', 'required');
                $('tr.' + className + '_2 td.' + className + ' input').val('').prop('required', null);
                $('td.remove_row.' + className).hide();
            }
            else {
                $('td.' + className).hide();
                $('td.' + className + ' input').val('').prop('required', null);
            }
        });

        $(".add_hours").click(function () {
            var className = $(this).attr('id');
            $('td.remove_row.' + className).show();
            $(this).hide();
            $('td.row2.' + className).show();
            $('td.row2.' + className + ' input').prop('required', 'required');
            $('td.row2.' + className + ' input').show();
        });

        $(".remove_row").click(function () {
            var className = $(this).attr('id');
            $('td.add_hours.' + className).show();
            $(this).hide();
            $('td.row2.' + className).hide();
            $('td.row2.' + className + ' input').hide().prop('required', null);
            $('tr.' + className + '_2 td.' + className + ' input').val('');
        });

        $(".add_another_file").click(function () {
            var myString = $(".input-control-ui>input:last-of-type").attr('name');
            if(myString){
                var next = parseInt(lastChar = myString[myString.length - 1]) + 1;
            }
            else{
                var next = 1;
            }
            $('div.file_upload').append(
                '<div class="control"> ' +
                    '<input type="text" class="input-text" id="artifact_' + next + '_name" name="artifact_' + next + '_name" ' + 'aria-required="true" required>' +
                    '<span class="control-remove">Remove</span>' +
                '</div>' +
                '<div class="input-control-ui">'+
                    '<input type="file" class="uploadFile" name="artifact_' + next + '" id="artifact_' + next + '">'+
                    '<label class="for-uploadFile" for="artifact_' + next + '">' +
                        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">' +
                            '<g transform="translate(0 0)">' +
                                '<rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>' +
                                '<rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect>' +
                                '<rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect>' +
                            '</g>' +
                        '</svg> ' +
                        'Upload file ' +
                    '</label>'+
                    '<div class="control-ui"> '+
                        '<span class="control-ui-button"></span> '+
                        '<span class="control-ui-text"></span> '+
                    '</div>'+
                '</div>');
        });
        $(".change_up").click(function () {
            var name = $(this).attr('id');
            $('input[name="' + name + '"]').prop('type', 'file');
            $('input[name="' + name + '"]').prop('disabled', null);
            $('input[name="' + name + '_name"]').prop('disabled', null);
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: 'Adjust the location by dragging the location marker on the map.',
            buttons: [
                {
                    text: $.mage.__('Close'),
                    click: function () {
                        this.closeModal();
                    }
                }
            ]
        };
        var popup = modal(options, $('.popup_maps_address'));
        $('.maps_popup').on('click', function () {
            if (position === undefined) initMap();
            $('.popup_maps_address').modal("openModal");
        });
    });
</script>
<script>
    var route;
    var componentForm = {
        route: 'long_name',
        administrative_area_level_1: 'long_name',
        administrative_area_level_2: 'short_name',
        country: 'short_name',
        postal_code: 'short_name'
    };
    var place;

    function initAutocomplete() {
        // Create the address object, restricting the search to geographical
        // location types.
        route = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('route')),
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        route.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the address object.
        place = route.getPlace();
        position = place.geometry.location;
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (jQuery.isArray(place.address_components)) {

            var street = '';
            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (addressType === "locality") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "sublocality_level_1") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "route") {
                    street = street + place.address_components[i][componentForm[addressType]];
                    continue;
                }
                if (addressType === "street_number") {
                    street = place.address_components[i]['long_name'] + ' ';
                    continue;
                }
                if (componentForm[addressType]) {
                    document.getElementById(addressType).value = place.address_components[i][componentForm[addressType]];
                }
            }
            if (street !== '')
                document.getElementById('route').value = street;
            initMap();
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>&libraries=places&callback=initAutocomplete"
        async defer>
</script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=--><?php //echo $apiKey ?><!--" async defer></script>-->

<script>
    //Set up some of our variables.
    var map; //Will contain map object.
    var marker = false; ////Has the user plotted their location marker?

    //Function called to initialize / create the map.
    //This is called when the page has loaded.
    function initMap() {
        if (!position) position = new google.maps.LatLng(33.89340415905593, 35.50159554000834);

        //Map options.
        var options = {
            center: position, //Set center.
            zoom: 15 //The zoom value.
        };

        //Create the map object.
        map = new google.maps.Map(document.getElementById('map'), options);

        //Init marker
        marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: true //make it draggable
        });
        markerLocation();

        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function (event) {
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if (marker === false) {
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
            }

            else {
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
        marker.addListener('drag', function (event) {
                markerLocation();
            }
        );
        marker.addListener('dragend', function (event) {
                markerLocation();
            }
        );
    }

    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation() {
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
    }
</script>
<script>
    require([
        'jquery'
    ],function($){
        $("body").on('change',".input-control-ui > .uploadFile",function(){
            $(this).parent('.input-control-ui').find(".control-ui-text").html($(this).val().slice(12));
        });
        $("body").on("click",".file_upload .control .control-remove",function(){
            $(this).parent().next().remove();
            $(this).parent().remove();
        })
    })
</script>