<?php
/** @var $block \Magenest\Profile\Block\Location\Edit */
$location = $block->getLocation($this->getRequest()->getParam('location_id'));
if (!$location->getLocationId()) {
    ?>
    <script type="text/javascript">
        window.location.replace('<?php echo $this->getUrl('profile/business/') ?>')
    </script>
    <?php
}
$apiKey       = \Magento\Framework\App\ObjectManager::getInstance()->create('Magenest\Register\Helper\DataHelper')->getGoogleMapApiKey();
$businessHour = json_decode($location->getData('business_hour'), true);
$basePath     = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\Filesystem')
    ->getDirectoryWrite(\Magento\Framework\App\Filesystem\DirectoryList::MEDIA)
    ->getAbsolutePath('upload/vendor_' . $block->getVendorId() . '/');
$url          = "https://maps.googleapis.com/maps/api/staticmap?center=%1&zoom=17&size=360x360&markers=color:red%7C%2&key=$apiKey";
$countries    = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Directory\Model\Config\Source\CountryFactory')->create()->toOptionArray();
unset($countries[0]);
?>
<div class="general_business_title">
    <fieldset class="fieldset_business">
        <a href="<?php echo $block->getUrl('profile/business'); ?>">
            <h4>Business Profile</h4>
        </a>
    </fieldset>
    <div class="icon_next"></div>
    <fieldset class="fieldset_business">
        <h4>Manage Location</h4>
    </fieldset>
</div>
<div class="location_details fieldset location_form" style="display: none;">
    <fieldset class="field">
        <legend class="admin__legend text-center" style="float: left;"><h4>Location Details</h4></legend>
        <div class="icon_arrow location-form-show">
            <span style="float: right" class="general-business-action" onclick="return false">Close</span>
        </div>
    </fieldset>
    <fieldset class="fieldcatalog_pricing" style="width: 90%;">
        <div class="field">
            <label class="label" for="location_name"><span>Location / Branch Name</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" autofocus=""
                       id="location_name" value="<?php echo $location->getData('location_name') ?>"
                       name="location_name" data-validate="{required:true}" aria-required="true">
            </div>
        </div>
        <div class="field input_left">
            <label class="label" for="route"><span>Street Address</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" id="route"
                       name="street" data-validate="{required:true}" placeholder="" autocomplete="off"
                       aria-required="true" value="<?php echo $location->getData('street') ?>">
            </div>
        </div>


        <div class="field id input_right">
            <label class="label" for="administrative_area_level_1"><span>City</span></label>

            <div class="control">
                <input type="text" class="input-text" id="administrative_area_level_1" name="city"
                       data-validate="{required:true}" aria-required="true"
                       value="<?php echo $location->getData('city') ?>">
            </div>
        </div>

        <div class="field id input_left">
            <label class="label" for="country"><span>Country</span></label>

            <div class="control">
                <?php if (count($countries) > 0): ?>
                    <select name="country" id="country" style="width: 100%;">
                        <?php foreach ($countries as $country): ?>
                            <?php if ($country['value'] == $location->getData('country')) $_country = $country['label'] ?>
                            <option <?php echo $country['value'] == $location->getData('country') ? 'selected' : '' ?>
                                    value="<?php print($country['value']); ?>"><?php echo $country['label'] ?></option>
                        <?php endforeach; ?>
                    </select>
                <?php endif; ?>
            </div>
        </div>

        <div class="field id input_right">
            <label class="label" for="administrative_area_level_2"><span>State</span></label>

            <div class="control">
                <input type="text" class="admin__control-text" id="administrative_area_level_2"
                       name="region" aria-required="true" value="<?php echo $location->getData('region') ?>">


            </div>
        </div>

        <div class="field id input_left">
            <label class="label" for="phone"><span>Phone Number</span></label>

            <div class="control">
                <input type="text" class="input-text" id="phone" name="phone"
                       data-validate="{required:true, 'validate-phoneLax':true}" aria-required="true"
                       value="<?php echo $location->getData('phone') ?>">

            </div>
        </div>

        <div class="field id input_right ">
            <label class="label" for="postcode"><span>ZIP / Postal Code</span></label>
            <div class="control">
                <input type="text" class="admin__control-text" id="postal_code" name="postcode"
                       data-validate="{'validate-digits':true}" aria-required="true"
                       value="<?php echo $location->getData('postcode') ?>">
            </div>
        </div>
        <div class="field location_maps maps_popup">
            <button><span class="span_location_maps">LOCATE ON MAP</span></button>
        </div>
    </fieldset>
    <fieldset class="field" style="float: right;">
        <button class="button_cancel location-form-show">
            <span>CANCEL</span>
        </button>
        <button id="save-location-detail">
            <span>SAVE</span>
        </button>
    </fieldset>
</div>
<div class="location_details fieldset location">
    <fieldset class="field">
        <legend class="admin__legend text-center" style="float: left;"><h4>Location Details</h4></legend>
        <div class="icon_arrow1 location-form-close">
            <span style="float: right" class="general-business-action" onclick="return false">Edit</span>
        </div>
    </fieldset>
    <fieldset class="fieldcatalog_pricing">
        <div class="table_location_details">
            <table>
                <tr>
                    <th class="th_details">Location Name</th>
                    <td class="location_name"><?php echo $location->getData('location_name') ?> </td>
                </tr>
                <tr>
                    <th class="th_details">Street Address</th>
                    <td class="street"><?php echo $location->getData('street') ?> </td>
                </tr>
                <tr>
                    <th class="th_details">City</th>
                    <td class="city"><?php echo $location->getData('city') ?> </td>
                </tr>
                <tr>
                    <th class="th_details">Country</th>
                    <td class="country"><?php echo @$_country ?> </td>
                </tr>
                <tr>
                    <th class="th_details">State</th>
                    <td class="region"><?php echo $location->getData('region') ?> </td>
                </tr>
                <tr>
                    <th class="th_details">ZIP / Postal Code</th>
                    <td class="postcode"><?php echo $location->getData('postcode') ?> </td>
                </tr>
                <tr>
                    <th class="th_details">Phone Number</th>
                    <td class="phone"><?php echo $location->getData('phone') ?> </td>
                </tr>
            </table>
        </div>
        <div class="maps_location_details">
            <img id="static-map"
                 src="<?php echo __($url, $location->getData('map_info'), $location->getData('map_info')) ?>">
        </div>
    </fieldset>
</div>
<form class="form_manage_location" action="<?php echo $block->getUrl('profile/location/save') ?>"
      method="post" enctype="multipart/form-data">
    <input type="hidden" name="location_id" value="<?php echo $location->getData('location_id') ?>">
    <div class="fieldset location_details">
        <fieldset class="field">
            <legend class="admin__legend text-center" style="float: left;"><h4>Business Hours</h4></legend>
        </fieldset>
        <fieldset class="fieldcatalog_pricing">
            <div class="table_business_hours">
                <table>
                    <?php for ($i = 1; $i <= 7; $i++) : ?>
                        <?php $weekDay = $block->getWeekDay($i); ?>
                        <tr class="<?php echo $weekDay ?>_1 weekDay_1">
                            <th class="th_hours"><?php echo $weekDay ?></th>
                            <td>
                                <input type="checkbox"
                                       class="switch checkbox-custom"
                                       name="<?php echo $weekDay ?>"
                                       id="<?php echo $weekDay ?>_1"
                                    <?php echo isset($businessHour[$weekDay]) ? 'checked' : '' ?>>
                                <label class="for-checkbox-custom" for="<?php echo $weekDay ?>_1"></label>
                                <span class="slider round"></span>
                            </td>
                            <td class="<?php echo $weekDay ?> td_time" <?php echo isset($businessHour[$weekDay]) ? '' : 'style="display:none"' ?>>
                                <label>From </label>
                                <input class="input-time-from" name="<?php echo $weekDay ?>-from-1"
                                       value="<?php echo isset($businessHour[$weekDay]) ? $businessHour[$weekDay]['row1']['from'] : '' ?>"
                                       type="time" <?php echo isset($businessHour[$weekDay]) ? 'required' : '' ?>>
                            </td>
                            <td class="<?php echo $weekDay ?> td_time" <?php echo isset($businessHour[$weekDay]) ? '' : 'style="display:none"' ?>>
                                <label>To </label>
                                <input class="input-time-to" name="<?php echo $weekDay ?>-to-1"
                                       value="<?php echo isset($businessHour[$weekDay]) ? $businessHour[$weekDay]['row1']['to'] : '' ?>"
                                       type="time" <?php echo isset($businessHour[$weekDay]) ? 'required' : '' ?>>
                            </td>
                            <td class="add_hours <?php echo $weekDay ?>"
                                id="<?php echo $weekDay ?>" <?php echo isset($businessHour[$weekDay]) && !isset($businessHour[$weekDay]['row2']) ? '' : 'style="display:none"' ?>>
                                <button onclick="return false" class="btn-addHours">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                        <g transform="translate(0 0)">
                                            <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                                            <rect width="3.767" height="2.511"
                                                  transform="translate(5.022 3.767) rotate(-90)"></rect>
                                            <rect width="7.533" height="2.511"
                                                  transform="translate(5.022 12.555) rotate(-90)"></rect>
                                        </g>
                                    </svg>
                                    Add Hours
                                </button>
                            </td>
                        </tr>
                        <tr class="error <?php echo $weekDay ?>_1 weekDay_1" style="display: none">
                            <td></td>
                            <td></td>
                            <td style="vertical-align: middle; padding: 4px 8px; height: 48px;" colspan="3"><span><?= __("The Opening time must be before the Closing Time") ?></span>
                            </td>
                        </tr>
                        <tr class="<?php echo $weekDay ?>_2 weekDay_2">
                            <td></td>
                            <td></td>
                            <td <?php echo isset($businessHour[$weekDay]) && isset($businessHour[$weekDay]['row2']) ? '' : 'style="display:none"' ?>
                                    class="<?php echo $weekDay ?> row2 td_time">
                                <label>From </label>
                                <input class="input-time-from" name="<?php echo $weekDay ?>-from-2"
                                       value="<?php echo isset($businessHour[$weekDay]['row2']) ? ($businessHour[$weekDay]['row2']['from']) : '' ?>"
                                       type="time" <?php echo isset($businessHour[$weekDay]) && isset($businessHour[$weekDay]['row2']) ? 'required' : '' ?>>
                            </td>
                            <td <?php echo isset($businessHour[$weekDay]) && isset($businessHour[$weekDay]['row2']) ? '' : 'style="display:none"' ?>
                                    class="<?php echo $weekDay ?> row2 td_time">
                                <label>To </label>
                                <input class="input-time-to" name="<?php echo $weekDay ?>-to-2"
                                       value="<?php echo isset($businessHour[$weekDay]['row2']) ? ($businessHour[$weekDay]['row2']['to']) : '' ?>"
                                       type="time" <?php echo isset($businessHour[$weekDay]) && isset($businessHour[$weekDay]['row2']) ? 'required' : '' ?>>
                            </td>
                            <td class="remove_row <?php echo $weekDay ?>" id="<?php echo $weekDay ?>"
                                <?php echo isset($businessHour[$weekDay]) && isset($businessHour[$weekDay]['row2']) ? '' : 'style="display:none;padding: 4px 8px;"' ?>>
                                <button onclick="return false" class="btn-removeHours">Remove</button>
                            </td>
                        </tr>
                        <tr class="error <?php echo $weekDay ?>_2 weekDay_2" style="display: none">
                            <td></td>
                            <td></td>
                            <td style="vertical-align: middle; padding: 4px 8px; height: 48px;" colspan="3"><span><?= __("The Opening time must be before the Closing Time") ?></span>
                            </td>
                        </tr>
                    <?php endfor; ?>
                </table>
            </div>
            <div class="apply_hour">
                <input name="apply_hour" id="apply_hour" type="checkbox" class="checkbox-custom">
                <label class="for-checkbox-custom" for="apply_hour"></label>
                <label for="apply_hour">Apply to all Locations</label>
            </div>
        </fieldset>

    </div>
    <fieldset class="location_details fieldset">
        <fieldset class="field fieldcatalog_pricing">
            <legend class="admin__legend text-center" style="float: left;"><h4>Service Catalog / Pricing</h4></legend>
        </fieldset>
        <div class="control field required">
            <label class="label" for="service_catalog_pricing">Artifact Name (e.g. Price List, Menu, Service
                Portfolio)</label>
        </div>
        <div class="file_upload">
            <?php $count = 0; ?>
            <?php $files = json_decode($location->getData('attached_file'), true) ?>
            <?php if ($files) : ?>
                <?php foreach ($files as $name => $file) : ?>
                    <?php if ($file && file_exists($basePath . $file)) : ?>
                        <div class="control">
                            <input disabled type="text" class="input-text"
                                   id="<?php echo explode('.', $file)[0]; ?>_name"
                                   name="<?php echo explode('.', $file)[0]; ?>_name"
                                   aria-required="true" required value="<?php echo $name ?> ">
                            <span class="control-remove" remove="<?php echo $name . "|^|" . $file ?>">Remove</span>
                        </div>
                        <div class="input-control-ui">
                            <input type="file" name="<?php echo explode('.', $file)[0]; ?>" class="uploadFile"
                                   id="<?php echo explode('.', $file)[0]; ?>">
                            <label class="for-uploadFile" for="<?php echo explode('.', $file)[0]; ?>"
                                   id="<?php echo explode('.', $file)[0]; ?>">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                                    <g transform="translate(0 0)">
                                        <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                                        <rect width="3.767" height="2.511"
                                              transform="translate(5.022 3.767) rotate(-90)"></rect>
                                        <rect width="7.533" height="2.511"
                                              transform="translate(5.022 12.555) rotate(-90)"></rect>
                                    </g>
                                </svg>
                                Change
                            </label>
                            <div class="control-ui">
                                <span class="control-ui-button"></span>
                                <?php $values = explode("/", $file); ?>
                                <span class="control-ui-text"><?php echo $values[1]; ?></span>
                            </div>
                        </div>
                        <?php $count++ ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if ($count == 0) : ?>
                <div class="control">
                    <input type="text" class="input-text" id="artifact_1_name" name="artifact_1_name"
                           aria-required="true" required>
                    <span class="control-remove">Remove</span>
                </div>
                <div class="input-control-ui">
                    <input class="input-file-upload uploadFile" type="file" name="artifact_1" id="artifact_1" required>
                    <label class="for-uploadFile" for="artifact_1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">
                            <g transform="translate(0 0)">
                                <rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>
                                <rect width="3.767" height="2.511"
                                      transform="translate(5.022 3.767) rotate(-90)"></rect>
                                <rect width="7.533" height="2.511"
                                      transform="translate(5.022 12.555) rotate(-90)"></rect>
                            </g>
                        </svg>
                        Upload file
                    </label>
                    <div class="control-ui">
                        <span class="control-ui-button"></span>
                        <span class="control-ui-text"><span>
                    </div>
                </div>

            <?php endif; ?>
        </div>
        <div class="apply_location" style="float: left; width: 50%;">
            <input name="apply_file" id="apply_file" type="checkbox" class="checkbox-custom">
            <label class="for-checkbox-custom" for="apply_file"></label>
            <label class="label" for="apply_file">Apply to all Locations</label>
        </div>
        <div class="field location_maps">
            <span class="add_another_file">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555"><g transform="translate(0 0)"><rect
                                width="12.555" height="2.511" transform="translate(0 5.022)"></rect><rect width="3.767"
                                                                                                          height="2.511"
                                                                                                          transform="translate(5.022 3.767) rotate(-90)"></rect><rect
                                width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect></g></svg>
                Add Another
            </span>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" title="Save Changes" class="action submit primary">
                <span>Save Changes</span>
            </button>
        </div>
    </div>
    <input name="remove-value" id="remove-value" hidden>
</form>

<div class="popup_maps_address">
    <div id="id"></div>
    <div id="map" style="height: 500px; width: 100%"></div>
    <form method="post">
        <input type="hidden" id="lat" readonly="yes">
        <input type="hidden" id="lng" readonly="yes">
    </form>
</div>
<script type="text/javascript">
    var position;
    require([
        'jquery',
        'Magento_Ui/js/modal/modal',
        'mage/mage'
    ], function ($, modal) {
        $("#save-location-detail").on('click', function (event) {
            event.preventDefault();
            $.ajax({
                url: '<?php echo $block->getUrl('profile/location/saveaddress')?>',
                dataType: "json",
                showLoader: true,
                type: 'POST',
                data: {
                    location_id: '<?php echo $this->getRequest()->getParam('location_id') ?>',
                    location_name: $('input#location_name').val(),
                    street: $('input#route').val(),
                    city: $('input#administrative_area_level_1').val(),
                    country: $('select#country option:selected').val(),
                    region: $('input#administrative_area_level_2').val(),
                    postcode: $('input#postal_code').val(),
                    phone: $('input#phone').val(),
                    map_info: {
                        lat: $('#lat').val(),
                        lng: $('#lng').val()
                    }
                },
                success: function (response) {
                    $('div.table_location_details td.location_name').html($('input#location_name').val());
                    $('div.table_location_details td.street').html($('input#route').val());
                    $('div.table_location_details td.city').html($('input#administrative_area_level_1').val());
                    $('div.table_location_details td.country').html($('select#country option:selected').html());
                    $('div.table_location_details td.region').html($('input#administrative_area_level_2').val());
                    $('div.table_location_details td.phone').html($('input#phone').val());
                    $('div.table_location_details td.postcode').html($('input#postal_code').val());
                    $(".location-form-show").click();
                    $('div.maps_location_details img#static-map').attr('src', '<?php echo $url ?>'.replace('%1', $('#lat').val() + ',' + $('#lng').val()).replace('%2', $('#lat').val() + ',' + $('#lng').val()))
                },
                error: function (response) {
                    $(".location-form-show").click();
                }
            })
        });
        $(".location-form-show").click(function () {
            $(".location_form").slideUp(0);
            $(".location").slideDown(0);
        });
        $(".location-form-close").click(function () {
            $(".location").slideUp(0);
            $(".location_form").slideDown(0);
        });

        $("input.switch").on('change', function (event) {
            var className = $(this).attr('name');
            if ($("input.switch[name='" + className + "']:checked").length) {
                $('tr.' + className + '_1 td.' + className).show();
                $('tr.' + className + '_1 td.' + className + ' input').val('').prop('required', 'required');
                $('tr.' + className + '_2 td.' + className + ' input').val('').prop('required', null);
                $('td.remove_row.' + className).hide();
            }
            else {
                $('td.' + className).hide();
                $('td.' + className + ' input').val('').prop('required', null);
            }
        });

        $(".add_hours").click(function () {
            var className = $(this).attr('id');
            $('td.remove_row.' + className).show();
            $(this).hide();
            $('td.row2.' + className).show();
            $('td.row2.' + className + ' input').prop('required', 'required');
            $('td.row2.' + className + ' input').show();
        });

        $(".remove_row").click(function () {
            var className = $(this).attr('id');
            $('td.add_hours.' + className).show();
            $(this).hide();
            $('td.row2.' + className).hide();
            $('td.row2.' + className + ' input').hide().prop('required', null);
            $('tr.' + className + '_2 td.' + className + ' input').val('');
        });

        $(".add_another_file").click(function () {
            var myString = $(".input-control-ui:last-of-type > input").attr('name');
            var next = parseInt(myString.substr(-1));
            if (myString) {
                next++;
            }
            else {
                next = 1;
            }
            $('div.file_upload').append(
                '<div class="control">' +
                '<input type="text" class="input-text" id="artifact_' + next + '_name" name="artifact_' + next + '_name"' + 'aria-required="true" required>' +
                '<span class="control-remove">Remove</span>' +
                '</div>' +
                '<div class="input-control-ui">' +
                '<input class="input-file-upload uploadFile" type="file" required name="artifact_' + next + '" id="artifact_' + next + '">' +
                '<label class="for-uploadFile" for="artifact_' + next + '">' +
                '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.555 12.555">' +
                '<g transform="translate(0 0)">' +
                '<rect width="12.555" height="2.511" transform="translate(0 5.022)"></rect>' +
                '<rect width="3.767" height="2.511" transform="translate(5.022 3.767) rotate(-90)"></rect>' +
                '<rect width="7.533" height="2.511" transform="translate(5.022 12.555) rotate(-90)"></rect>' +
                '</g>' +
                '</svg> ' +
                'Upload file ' +
                '</label> ' +
                '<div class="control-ui"> ' +
                '<span class="control-ui-button"></span> ' +
                '<span class="control-ui-text"></span> ' +
                '</div>' +
                '</div>');
        });
        $(".change_up").click(function () {
            var name = $(this).attr('id');
            $('input[name="' + name + '"]').prop('type', 'file');
            $('input[name="' + name + '"]').prop('disabled', null);
            $('input[name="' + name + '_name"]').prop('disabled', null);
        });
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            title: 'Adjust the location by dragging the location marker on the map.',
            buttons: [
                {
                    text: $.mage.__('Save'),
                    class: 'save-map',
                    click: function (event) {
                        event.preventDefault();
                        $.ajax({
                            url: '<?php echo $block->getUrl('profile/location/savemap')?>',
                            dataType: "json",
                            showLoader: true,
                            type: 'POST',
                            data: {
                                location_id: '<?php echo $this->getRequest()->getParam('location_id') ?>',
                                map_info: {
                                    lat: $('#lat').val(),
                                    lng: $('#lng').val()
                                }
                            }
                        });
                        this.closeModal();
                    }
                },
                {
                    text: $.mage.__('Close'),
                    click: function () {
                        this.closeModal();
                    }
                }
            ]
        };
        var popup = modal(options, $('.popup_maps_address'));
        $('.maps_popup').on('click', function () {
            if (position === undefined) initMap();
            $('.popup_maps_address').modal("openModal");
        });

        $('td.td_time input').on('change', function () {
            var className = $(this).parent().parent().attr('class');
            if ($(this).parent().parent().find('input.input-time-from').val() >= $(this).parent().parent().find('input.input-time-to').val()) {
                $(this).parent().parent().find('input[class^="input-time"]').css('border', 'red 1px solid');
                $('tr[class="error ' + className + '"]').show();
                $('form.form_manage_location button.submit.action').prop('disabled', 'disabled')
            } else {
                $(this).parent().parent().find('input[class^="input-time"]').css('border', 'rgb(228, 229, 232) 1px solid');
                $('tr[class="error ' + className + '"]').hide();
                $('form.form_manage_location button.submit.action').prop('disabled', null)
            }
        })
    });
</script>
<script>
    var route;
    var componentForm = {
        route: 'long_name',
        administrative_area_level_1: 'long_name',
        administrative_area_level_2: 'short_name',
        country: 'short_name',
        postal_code: 'short_name'
    };
    var place;

    function initAutocomplete() {
        // Create the address object, restricting the search to geographical
        // location types.
        route = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('route')),
            {types: ['geocode']});
        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        route.addListener('place_changed', fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the address object.
        place = route.getPlace();
        position = place.geometry.location;
        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        if (jQuery.isArray(place.address_components)) {

            var street = '';
            for (var component in componentForm) {
                document.getElementById(component).value = '';
                document.getElementById(component).disabled = false;
            }
            for (var i = 0; i < place.address_components.length; i++) {
                var addressType = place.address_components[i].types[0];
                if (addressType === "locality") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "sublocality_level_1") {
                    street = street + ', ' + place.address_components[i]['long_name'];
                    continue;
                }
                if (addressType === "route") {
                    street = street + place.address_components[i][componentForm[addressType]];
                    continue;
                }
                if (addressType === "street_number") {
                    street = place.address_components[i]['long_name'] + ' ';
                    continue;
                }
                if (componentForm[addressType]) {
                    document.getElementById(addressType).value = place.address_components[i][componentForm[addressType]];
                }
            }
            if (street !== '')
                document.getElementById('route').value = street;
            initMap();
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $apiKey ?>&libraries=places&callback=initAutocomplete"
        defer async>
</script>
<script>
    //Set up some of our variables.
    var map; //Will contain map object.
    var marker = false; ////Has the user plotted their location marker?

    // google.maps.event.addDomListener(window, 'load', initMap);

    //Function called to initialize / create the map.
    //This is called when the page has loaded.
    function initMap() {
        if (!position) {
            var map_info = "<?php echo $location->getData('map_info')?>";
            if (map_info.length > 3)
                position = new google.maps.LatLng(<?php echo $location->getData('map_info')?>);
            else
                position = new google.maps.LatLng(33.89340415905593, 35.50159554000834);
        }

        //Map options.
        var options = {
            center: position, //Set center.
            zoom: 15 //The zoom value.
        };

        //Create the map object.
        map = new google.maps.Map(document.getElementById('map'), options);

        //Init marker
        marker = new google.maps.Marker({
            position: position,
            map: map,
            draggable: true //make it draggable
        });
        markerLocation();

        //Listen for any clicks on the map.
        google.maps.event.addListener(map, 'click', function (event) {
            //Get the location that the user clicked.
            var clickedLocation = event.latLng;
            //If the marker hasn't been added.
            if (marker === false) {
                //Create the marker.
                marker = new google.maps.Marker({
                    position: clickedLocation,
                    map: map,
                    draggable: true //make it draggable
                });
                //Listen for drag events!
            }

            else {
                //Marker has already been added, so just change its location.
                marker.setPosition(clickedLocation);
            }
            //Get the marker's location.
            markerLocation();
        });
        marker.addListener('drag', function (event) {
                markerLocation();
            }
        );
        marker.addListener('dragend', function (event) {
                markerLocation();
            }
        );
    }

    //This function will get the marker's current location and then add the lat/long
    //values to our textfields so that we can save the location.
    function markerLocation() {
        //Get location.
        var currentLocation = marker.getPosition();
        //Add lat and lng values to a field that we can save.
        document.getElementById('lat').value = currentLocation.lat(); //latitude
        document.getElementById('lng').value = currentLocation.lng(); //longitude
    }
</script>
<script>
    require([
        'jquery'
    ], function ($) {
        $("body").on('change', ".input-control-ui > .uploadFile", function () {
            $(this).parent('.input-control-ui').find(".control-ui-text").html($(this).val().slice(12));
            $(this).parent('.input-control-ui').prev().children().removeAttr("disabled");
        });

        $("body").on("click", ".file_upload .control .control-remove", function () {
            $(this).parent().next().remove();
            $(this).parent().remove();
        })

        $("body").on("click", ".control-remove", function () {
            var removeValue = $('#remove-value').val();
            var value = $(this).attr('remove');
            removeValue = removeValue + '|$|' + value;
            $('#remove-value').val(removeValue);
        });
    })
</script>