<?php
/** @var $block \Magenest\Insight\Block\Index\Info\Age  */
$data = $block->getCustomersAge();
?>
<div class="age-container">
    <h5 class="chart-title">Customer Age (% of total)</h5>
    <div id="agechart" style="width: 100%;">

    </div>
</div>
<script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Age', 'Percent', {role: 'style'}],
            ['< 18', <?php echo $data[0] ?>, 'stroke-color: #5cd3f9; fill-color: #b5eafc'],
            ['18 - 25', <?php echo $data[1] ?>, 'stroke-color: #5cd3f9; fill-color: #b5eafc'],
            ['26 - 35', <?php echo $data[2] ?>, 'stroke-color: #5cd3f9; fill-color: #b5eafc'],
            ['36 - 50', <?php echo $data[3] ?>, 'stroke-color: #5cd3f9; fill-color: #b5eafc'],
            ['> 50', <?php echo $data[4] ?>, 'stroke-color: #5cd3f9; fill-color: #b5eafc']
        ]);

        var options = {
            title: "Customer Age (% of total)",
            titleTextStyle: {
                color: '#aaa',
                fontSize: 16,
                bold: false
            },
            titlePosition: 'none',
            chart: {
                subtitle: " "
            },
            width: 375,
            height: 185,
            chartArea:{width:'80%',height:'80%'},
            bar: {groupWidth: "80%"},
            legend: { position: "none" },
            colors: ['#bbb'],
            fontSize: 12,
            backgroundColor:{
                fill: 'transparent'
            },
            vAxis: {
                gridlines: {color: '#bbb'},
                baselineColor: '#aaa'
            }

        };
        var chart = new google.visualization.ColumnChart(document.getElementById("agechart"));
        chart.draw(data, options);
    }
</script>