<?php
/** @var $block \Magenest\Insight\Block\Index\Info\Campaign */
$percent = $block->getSold() == 0  ? 0 : number_format($block->getRedeemed() / $block->getSold(), 2) * 100;

?>
<div class="piechart-container" style="width: 200px; height: 200px;">
    <div id="piechart"></div>
    <div class="piechart-value">
        <div class="piechart-value-text">
            <span class="value"><?php echo $percent ?><sup>%</sup></span>
            <span class="unit"><?php echo __("Redeemed") ?></span>
        </div>
    </div>
</div>
<div class="redeem-number">
    <span class="child"><?php echo $block->getRedeemed() ?></span>
    <span class="child"><?php echo __("Redeemed") ?></span>
    <span class="child"><?php echo $block->getRemaining() ?></span>
    <span class="child"><?php echo __("Remaining") ?></span>
    <span class="child"><?php echo $block->getSold() ?></span>
    <span class="child"><?php echo __("Sold") ?></span>
</div>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['PieChart', 'Percentage'],
            ['', <?php echo $percent ?>], //enter value
            ['', <?php echo 100 - $percent ?>]  //enter value
        ]);
        var options = {
            legend: 'none',
            pieSliceText: 'none',
            pieStartAngle: 0,
            tooltip: {trigger: 'none'},
            chartArea: {width: '100%', height: '100%'},
            slices: {
                0: {color: '#4da3cb'},
                1: {color: '#f0f0f0'}
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }
</script>