<?php
/** @var $block \Magenest\Insight\Block\Index\Info\Gender  */
$data = $block->getCustomersGender();
?>
<h5 class="chart-title">Who are your customers?</h5>
<div class="gender-container">
    <div class="gender-female">
        <span class="image-female"><span style="display: none">female</span></span>
        <span><?php echo @$data['female'] ?>% Female</span>
    </div>
    <div class="gender-male">
        <span class="image-male"><span style="display: none">male</span></span>
        <span><?php echo @$data['male'] ?>% Male</span>
    </div>
</div>
