<?php
/** @var $block \Magenest\Insight\Block\Index\Info\Sales */
$options[7] = $block->getOption(7);
$options[14] = $block->getOption(14);
$options[21] = $block->getOption(21);
$a = 1;
?>
<script>
    var count = 0;
</script>

<?php foreach ($options as $key => $option) : ?>
    <div class="sales-chart-content-<?php echo $key ?>">
        <p class="title-chart">Week of <?php echo @$option[0] . ' - ' . @$option[1] ?></p>
        <div id="columnchart_values_<?php echo $key ?>" style="width: 600px; height: 220px;"></div>
        <script type="text/javascript">
            google.charts.load("current", {packages: ['corechart']});
            google.charts.setOnLoadCallback(drawChart_<?php echo $key ?>);

            function drawChart_<?php echo $key ?>() {
                var data = google.visualization.arrayToDataTable([
                    ["", "", {role: 'annotation'}],
                    ["S", <?php echo (int)$option[2][0][1] ?>, "<?php echo $option[2][0][0] ?>"],
                    ["M", <?php echo (int)$option[2][1][1] ?>, "<?php echo $option[2][1][0] ?>"],
                    ["T", <?php echo (int)$option[2][2][1] ?>, "<?php echo $option[2][2][0] ?>"],
                    ["W", <?php echo (int)$option[2][3][1] ?>, "<?php echo $option[2][3][0] ?>"],
                    ["TH", <?php echo (int)$option[2][4][1] ?>, "<?php echo $option[2][4][0] ?>"],
                    ["F", <?php echo (int)$option[2][5][1] ?>, "<?php echo $option[2][5][0] ?>"]
                ]);

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 1,
                    {
                        calc: "stringify",
                        sourceColumn: 1,
                        type: "string",
                        role: "annotation"
                    },
                    2]);

                var options = {
                    title: "Week of <?php echo @$option[0] . ' - ' . @$option[1]?>",
                    titleTextStyle: {
                        color: '#333',
                        fontSize: 15,
                        bold: false
                    },
                    titlePosition: 'none',
                    width: 600,
                    height: 220,
                    chartArea: {width: '100%', height: '80%'},
                    bar: {groupWidth: "80%"},
                    legend: {position: "none"},
                    colors: ['#a2a3cc'],
                    fontSize: 16,
                    vAxis: {
                        gridlines: {color: 'transparent'},
                        baselineColor: 'transparent'
                    },
                    annotations: {
                        textStyle: {
                            fontName: 'Arial, Helvetica, sans-serif',
                            fontSize: 10,
                            bold: false,
                            italic: false,
                            // The color of the text.
                            color: '#75797e',
                            // The color of the text outline.
                            auraColor: 'transparent',
                            // The transparency of the text.
                            opacity: 1
                        },
                        alwaysOutside: true
                    }

                };
                var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values_<?php echo $key ?>"));
                chart.draw(view, options);
                count++;
            }
        </script>
    </div>
<?php endforeach; ?>

<div class="chart-nav">
    <p class="title-box"><span class="chart-icon"><span></span></span>Total Campaign Sales</p>
    <div class="dot-actions">
        <span name="7" class="dot-action active"></span>
        <span name="14" class="dot-action"></span>
        <span name="21" class="dot-action"></span>
    </div>
    <span>Weekly breakdown</span>
</div>

<script>
    var interval = setInterval(function () {
        console.log(count);
        if (count === 3) {
            jQuery('div[class^="sales-chart-content-"]').hide();
            jQuery('div.dot-actions span').on('click', function () {
                var name = jQuery(this).attr('name');
                jQuery('div[class^="sales-chart-content-"]').hide();
                jQuery('div.dot-actions span').removeClass('active');
                jQuery(this).addClass('active');
                jQuery('div[class^="sales-chart-content-' + name + '"]').show();
            });
            jQuery('div.dot-actions span[name="7"]').click();
            clearInterval(interval);
        }
    }, 100);
</script>
