<?php
/** @var $block \Magenest\Insight\Block\Index\Info\Survey */
$percent = $block->getPercent();
$total = $percent['total'];
$option1 = $percent['option1'];
$option2 = $percent['option2'];
$option3 = $percent['option3'];
?>
<h5 class="chart-title">Were these customers new to your business?</h5>
<div class="survey-container">
    <div id="surveychart" style="width: 220px; height:220px; margin: auto;">

    </div>
    <div class="legend_note">
        <p>
            <span class="legend_chart legend-business"></span>
            <strong><?php echo $option1 ?>%</strong>
            <span>New to your business</span>
        </p>
        <p>
            <span class="legend_chart legend-deal"></span>
            <strong><?php echo $option2 ?>%</strong>
            <span>Reactivated by your deal</span>
        </p>
        <p>
            <span class="legend_chart legend-customers"></span>
            <strong><?php echo $option3 ?>%</strong>
            <span>Current customers</span>
        </p>
    </div>
    <small>Based on <?php echo $total ?> survey responses</small>
</div>
<script type="text/javascript">
    google.charts.load("current", {packages: ["corechart"]});
    google.charts.setOnLoadCallback(surveyChart);

    function surveyChart() {
        var data = google.visualization.arrayToDataTable([
            ['Survey', 'Visitations'],
            ['New to your business', <?php echo $option1 ?>],
            ['Reactivated by your deal', <?php echo $option2 ?>],
            ['Current customers', <?php echo $option3 ?>],
        ]);
        var options = {
            legend: { position: "none" },
            pieSliceText: 'none',
            pieStartAngle: 0,
            chartArea: {width: '90%', height: '90%'},
            slices: {
                0: {color: '#0095d2'},
                1: {color: '#58b6f6'},
                2: {color: '#e4e4e4'}
            },
            backgroundColor:{
                fill: 'transparent',
            }
        };

        var chart = new google.visualization.PieChart(document.getElementById('surveychart'));
        chart.draw(data, options);
    }
</script>
