table.table-category-items{
    width: 100%;
}
table.table-category-items caption.table-caption{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0;
}
table.table-category-items tr th,
table.table-category-items tr td{
    padding: 10px;
}
table.table-category-items tr td.id{
    font-weight: 600;
}
table.table-category-items tr td.name{
    font-style: italic;
    width: 45%;
}
table.table-category-items tr td.image_item,
table.table-category-items tr td.delete{
    text-align: center;
}
table.table-category-items tr td img{
    width: auto;
    max-width: 180px;
    height: auto;
    max-height: 180px;
}
table.table-category-items tr td input[type="button"]{
    background: #e3e3e3;
    border: 1px solid #adadad;
    color: #514943;
    padding: 0.6rem 1em 0.6rem;
    font-weight: 600;
}
input.search_product{
    padding: 4px 10px!important;
    width: 100%;
}
#page_base_fieldset_product_content>div {
    width: 60%;
    margin-left: 20%;
    position: relative;
}
#page_base_fieldset_product_content>div:first-child:before {
    content: "Product";
    position: absolute;
    top: 0px;
    left: -80px;
    font-size: 14px;
    font-weight: 600;
    line-height: 32px;
}