<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php /** @var $block \Magenest\Groupon\Block\Adminhtml\PrintTicket */ ?>
<?php
$productId = $block->getEvent();
if (isset($productId))
{
    $id = $productId;
} else {
    $id = 0;
}
$paramId = $block->getParamId();

?>

<?php if($paramId) {?>
    <div class="print_groupon_ticket_file" >
    <span>
        <input type = "button" id = "print_content" style = "float: right" class="action-secondary action-add"
               onclick = "window.location.href='<?php echo $block->getPrintUrl($productId) ?>'" value = "Print Ticket Demo" />
    </span>
</div> <br>
<?php } ?>