<?php
/** @var $block \Magenest\CategoryHeader\Block\CategoryHeader */
?>
<?php
$data = $this->helper('Ves\BaseWidget\Helper\Productlist');
$_dataHeader = $block->collectionHeader();
$ids = '';
foreach ($_dataHeader as $_header)
    $ids.=$_header->getData('list_item');
$ids = explode(',', $ids);
$idsCount = count($ids);
for ($i = 0; $i < $idsCount; $i++){
    if ($ids[$i] == '' || $ids[$i] == null)
        unset($ids[$i]);
}
$ids = array_unique($ids);

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
/** @var Unirgy\Dropship\Model\ResourceModel\Vendor\Product\Collection $p_collection */
$p_collection = \Magento\Framework\App\ObjectManager::getInstance()->create(Unirgy\Dropship\Model\ResourceModel\Vendor\Product\Collection::class);
$p_collection->addFieldToSelect(['product_id', 'vendor_price', 'special_price']);
$p_collection->getSelect()
    ->join(['deal' => $p_collection->getTable('magenest_groupon_deal')], 'main_table.product_id = deal.product_id', 'parent_id');
$p_collection->addFieldToFilter('deal.parent_id', ['in' => $ids]);
$p_collection = $p_collection->getData();

$p_col = [];

foreach ($p_collection as $item)
    $p_col[$item['parent_id']][] = $item;

$currencySymbol = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencySymbol();
$currencyCode = $objectManager->create('Magento\Store\Model\StoreManagerInterface')->getStore()->getBaseCurrency()->getCurrencyCode();
?>
<?php foreach ($_dataHeader as $_header) {
    $column = $_header->getNumber();
    $slider = $_header->getUseSlider(); ?>
    <div class="productlistcategory
                <?php if ($slider==0){ echo 'no_slider'; }
                else {
                    if ($column==1){ echo 'single_slider'; }
                    else if ($column>1){ echo 'products_slider'; }
                } ?>
                ">
        <div class="productlistcategory-container products-container">
            <?php if ($column==5){ ?><h3 class="products-title productlistcategory-title"><span><?= $_header->getTitle(); ?></span></h3><?php } ?>

            <div class="products-slider productlistcategory-slider productlistcategory-slider--<?php echo $_header->getId();?> <?php if ($slider==1){echo 'owl-carousel owl-theme'; } ?>">

                <!-- Product Item -->
                <?php /** @var $info \Magento\Catalog\Model\Product */ ?>
                <?php $item = $block->collectionItem($_header->getId());?> <!--Get ProductId List-->
                <?php foreach ($item as $prditem) {?>
                    <?php if ($block->isDisplayFrontend($prditem)) continue; ?>
                    <?php $info = $block->getDataItem($prditem); ?>
                    <?php $productUrl = $objectManager->create('Magenest\SellYours\Helper\PriceHelper')->getSimpleProductUrlByVendor($info->getEntityId()) ?>
                    <?php $productType = $info->getTypeId(); ?>
                    <div class="prd-item <?php if ($productType=='simple') { echo ('prd-simple'); } ?>">
                        <?php
                        $sale = 0;
                        if (\Magenest\Groupon\Helper\Data::isDeal($info->getId())) {
                            $changeFlag = false;
                            if (isset($p_col[$info->getId()])) {
                                $childProducts = $p_col[$info->getId()];
                                $oriPrice = 0;
                                $salePrice = PHP_INT_MAX;
                                foreach ($childProducts as $_p) {
                                    if ($_p['special_price'] !== null && ($_p['special_price'] < $salePrice || ($_p['special_price'] == $salePrice && $_p['vendor_price'] > $oriPrice))) {
                                        $salePrice = $_p['special_price'];
                                        $oriPrice = $_p['vendor_price'];
                                        $changeFlag = true;
                                    }
                                }
                            }
                            if (!$changeFlag) {
                                if ($info->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue())
                                    $oriPrice = $info->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue() ?: 0;
                                else $oriPrice = 0;

                                if ($info->getMinimalPrice())
                                    $salePrice = $info->getMinimalPrice();
                                elseif ($info->getFinalPrice())
                                    $salePrice = $info->getFinalPrice();
                                else $salePrice = 0;
                            }
                        } elseif ($productType === 'ticket') {
                            /** @var  $ticketPrices Magenest\Ticket\Controller\Product\Price */
                            $ticketPrices = $objectManager->create('Magenest\Ticket\Controller\Product\Price');
                            $ticketPrice = $ticketPrices->getTicketPrice($info->getEntityId());
                            $salePrice = $ticketPrice['sale_price'];
                            $oriPrice = isset($ticketPrice['original_value']) ? $ticketPrice['original_value'] : 0;
                        } elseif ($productType === 'simple') {
                            $simplePrice = $objectManager->create('Magenest\SellYours\Helper\PriceHelper')->getSimpleProductPrice($info->getEntityId());
                            if (isset($simplePrice['old_price'])) {
                                $oriPrice = $simplePrice['old_price'];
                            }
                            $salePrice = $simplePrice['current_price'];
                            if (!isset($oriPrice)) {
                                $oriPrice = 0;
                            }
                        } else {
                            if ($info->getPriceInfo()->getPrice('regular_price')->getAmount()->getValue())
                                $oriPrice = $info->getPrice() ?: 0;
                            else $oriPrice = 0;

                            if ($info->getMinimalPrice())
                                $salePrice = $info->getMinimalPrice();
                            elseif ($info->getFinalPrice())
                                $salePrice = $info->getFinalPrice();
                            else $salePrice = 0;
                        }
                        $sale = $oriPrice == 0 ? 0 : ($oriPrice - $salePrice) * 100 / $oriPrice;
                        ?>
                        <?php if ($info->getSpringsale() !== null && $info->getSpringsale() === '1'): ?>
                            <span class="spring-sale"><?= __("SPRING SALE") ?></span>
                        <?php endif; ?>
                        <?php $is_new = $data->checkProductIsNew( $info );
                        if($is_new) : ?>
                            <span class="new-icon">New</span>
                        <?php endif; ?>
                        <?php
                        // get deals collection
                        $_dealsFactory = $objectManager->create('Magenest\Groupon\Model\Deal');
                        $dealCollection = $_dealsFactory->getCollection()->addFieldToFilter('product_id', $info->getEntityId())->getFirstItem()->getData();
                        //check product type to display
                        if ($info->getTypeId() == 'configurable' && $dealCollection['end_time'] !== null) {
                            $endTime = $dealCollection['end_time'];
                            $date = date_create_from_format('Y-m-d H:i:s', $endTime);
                            $endTime = $date->format('Y-m-d H:i:s');
                            $timeLeft = (strtotime($endTime) - time()) * 1000;
                            $isEnableCountdown = $info->getCountdownEnabled();
                            if (isset($isEnableCountdown) && $isEnableCountdown === "1" && \Magenest\CountdownTimer\Helper\CountdownHelper::canShowCountDown($endTime, $info->getEntityId())) { ?>
                                <div class="remaining_time" style="text-align: right;display: inline">
                                    <div class="countdown-gift" id="countdown-gift">
                                        <div id="countdown-time-<?= $info->getEntityId() ?>-header" class="countdown"></div>
                                        <div class="countdown-time-display-field-<?= $info->getEntityId() ?>-header"
                                             style="text-align: right"></div>
                                    </div>
                                </div>
                                <script>
                                    require([
                                        'jquery',
                                        'jqueryCountdown',
                                        "domReady!"
                                    ], function ($, domReady) {
                                        'use strict';
                                        $(document).ready(function () {
                                            var timeLeft = "<?= $timeLeft ?>";
                                            timeLeft = parseInt(timeLeft);
                                            var finalStamp = Date.now() + timeLeft;
                                            var finalDate = new Date(finalStamp);
                                            $('#countdown-time-<?= $info->getEntityId()?>-header').first().countdown(finalDate, function (event) {
                                                let format = '<p class="countdown-text">' +
                                                    '<span class="hours">%H</span><span class="text">h</span> ' +
                                                    '<span class="minutes">%M</span><span class="text">m</span> ' +
                                                    '<span class="secs">%S</span><span class="text">s</span> ' +
                                                    'left</p>';
                                                var time = event.strftime(format);
                                                $('.countdown-time-display-field-<?= $info->getEntityId()?>-header').first().html(time);
                                            });
                                        }).on('finish.countdown', function () {
                                            $('#countdown-time-<?= $info->getEntityId()?>-header').parents('.remaining_time').hide();
                                        });
                                    });
                                </script>
                                <?php
                            }
                        }
                        ?>
                        <div class="prd-image">
                            <a href="<?= $productUrl; ?>">
                                <img src="<?php echo $block->getPathImage().'catalog/product'.$info->getImage() ?>" alt="" />
                            </a>
                        </div>
                        <div class="prd-info">
                            <div class="prd-information">
                                <p class="prd-trademark">
                                    <?php if ($info->getAttributeText('manufacturer')) { ?>
                                        <span title="<?= $info->getAttributeText('manufacturer'); ?>"><?= $info->getAttributeText('manufacturer'); ?></span>
                                    <?php } ?>
                                </p>
                                <?php if ($info->getName()): ?>
                                    <a href="<?= $productUrl; ?>" class="prd-name">
                                        <span title="<?= $info->getName() ?>">
                                            <?php if ($column == 1 || $slider == 0):
                                                echo($info->getName());
                                            else:
                                                $word = explode(' ', strip_tags($info->getName()));
                                                if (count($word) > 8) {
                                                    foreach (array_slice($word, 0, 7) as $word) {
                                                        echo ' ';
                                                        echo $word;
                                                    }
                                                    echo '...';
                                                } else {
                                                    echo($info->getName());
                                                } ?>
                                            <?php endif; ?>
                                        </span>
                                    </a>
                                <?php endif; ?>

                                <div class="short-des">
                                    <?php if ($productType === 'simple'): ?>
                                        <p class="catalog-header-vendor-name"><?php echo $block->getAttributeOptionText($info, $info->getBrand()) ?: ""; ?></p>
                                    <?php elseif ($productType === 'configurable'): ?>
                                        <?php
                                        /** @var \Magenest\Groupon\Model\Deal $deal */
                                        $deal = \Magenest\Groupon\Helper\Data::getDeal($info->getEntityId());
                                        $locations = $deal->getGrouponLocationData();
                                        ?>
                                        <?php if (isset($locations) && count($locations) > 1) : ?>
                                            <p class="prd-address">
                                            <span class="product-item-groupon-location">
                                                <?= __("Multiple locations") ?>
                                            </span>
                                            </p>
                                            <div class="tooltip_locations">
                                                <?php foreach($locations as $location): ?>
                                                    <?php echo "<p>" . $location . "</p>" ?>
                                                <?php endforeach; ?>
                                            </div>
                                        <?php elseif (isset($locations[0])): ?>
                                            <p class="prd-address">
                                                <span class="product-item-groupon-location" title="<?= $locations[0] ?>">
                                                    <?= $locations[0] ?>
                                                </span>
                                            </p>
                                        <?php endif; ?>
                                    <?php elseif ($productType === 'ticket'): ?>
                                        <p class="catalog-header-vendor-name"><?php echo $objectManager->create('Magenest\Ticket\Helper\Event')->getLocationString($info->getEntityId()) ?></p>
                                    <?php endif; ?>
                                    <?php if ($column === "1" || $column === 1): ?>
                                    <p class="catalog-header-description">
                                        <span>
                                            <?php
                                                echo $block->trimText($info->getDescription(), 300);
                                            ?>
                                        </span>
                                    </p>
                                    <?php endif; ?>
                                    <?php if('ticket' == $info->getTypeId()) : ?>
                                        <div class="prd-time">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16">
                                                <g transform="translate(-1537 -4778)">
                                                    <rect width="2" height="2" transform="translate(1541 4778)"/>
                                                    <path d="M15,2.217v-2H12v2H10v-2H8v2H6v2H16v10H2v-10H4v-2H0v14H18v-14Z" transform="translate(1537 4777.783)"/>
                                                    <path d="M16,17.683v2h2v-2Z" transform="translate(1524.997 4764.317)"/>
                                                    <path d="M25.39,32.685l5-5-1-1-4,3-1-1-2,1Z" transform="translate(1519.61 4757.315)"/>
                                                </g>
                                            </svg>
                                            <?php $eventInfo = \Magenest\Ticket\Helper\Event::getTicketInfo($info->getId()); ?>
                                            <span class="week-day"><?php if (isset($eventInfo['week_day'])) echo '<span>'.$eventInfo['week_day'].'</span>'; ?></span>
                                            <span class="day-month">
                                                <?php if (isset($eventInfo['day'])&&isset($eventInfo['month'])) echo '&nbsp;<span>'.$eventInfo['month'].' '.$eventInfo['day'].'</span>'; ?>
                                            </span>
                                            <?php if (isset($eventInfo['number_session']) && @$eventInfo['number_session'] > 0) : ?>
                                                <div class="more_sessions">
                                                    <a href="<?php echo $productUrl ?>" class="view-more"><span>+ <?php echo $eventInfo['number_session']; ?> more</span></a>
                                                    <div class="tooltip_sessions">
                                                        <?php
                                                        foreach ($eventInfo['more_sessions'] as $session):?>
                                                            <?php echo "<div><p class='week-day'>" . date("D",$session) . "</p><p class='day-month'> " . date("M j",$session) . " </p></div>"; ?>
                                                        <?php endforeach; ?>
                                                    </div>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <div class="prd-price-information">
                                <?php // Rating ?>
                                <?php
                                    $ratingHelper = $objectManager->create('Magenest\SellYours\Helper\RatingHelper');
                                    if ($productType === 'simple') {
                                        $collection = $ratingHelper->getProductReviewCollection($info->getEntityId());
                                    } else {
                                        $collection = $ratingHelper->getReviewCollection($info->getEntityId());
                                    }
                                    $avg = $ratingHelper->getAvgRate($collection->getColumnValues('review_id'));
                                ?>
                                <?php if ($avg): ?>
                                <div class="catalog-header-rating">
                                    <div class="product-reviews-summary short">
                                        <div class="rating-summary">
                                            <div class="rating-result" title="<?php echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                                                <span style="width: <?php echo number_format(((float)$avg / 5) * 100, 2); ?>%">
                                                    <span><?php echo number_format(((float)$avg / 5) * 100, 2); ?>%</span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="reviews-actions">
                                            <span class="action view">(<?php echo $collection->getSize(); ?>)</span>
                                        </div>
                                    </div>
                                </div>
                                <?php endif; ?>
                                <div class="prd-price-info">
                                    <p class="prd-price">
                                        <?php if ($productType === 'ticket' && $objectManager->create('Magenest\Ticket\Model\Event')->load($info->getEntityId(), 'product_id')->getTicketType() === 'free') :?>
                                            <span class="old-price"></span>
                                            <span class="free-ticket-type">Free</span>
                                        <?php else: ?>
                                            <span class="old-price">
                                            <?php if ($salePrice < $oriPrice) : ?>
                                                <span><?= $currencySymbol; ?><?= number_format($oriPrice, 2, '.', ','); ?></span>
                                            <?php endif; ?>
                                            </span>
                                            <span class="current-price">
                                            <?php if ($salePrice > 0) : ?>
                                                <span class="unit"><?= $currencyCode; ?></span>
                                                <span><?= $currencySymbol; ?><?= number_format($salePrice, 2, '.', ','); ?></span>
                                            <?php endif; ?>
                                            </span>
                                        <?php endif; ?>
                                        <?php if ($productType === 'ticket' || $productType === 'configurable'): ?>
                                            <a href="<?php echo $info->getUrlInStore() ?>" style="text-decoration: none"><button class="category-header-view-details button-primary button">View Details</button></a>
                                        <?php endif; ?>
                                    </p>
                                    <div class="prd-incentives">
                                        <?php
                                        if ($info->getUdropshipVendor()) {
                                            $vendor_id = $info->getUdropshipVendor();
                                            $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
                                            $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                                            $connection = $resource->getConnection();
                                            $tableName = $resource->getTableName('udropship_vendor_product'); //gives table name with prefix
                                            $sql = "Select freeshipping FROM " . $tableName . " Where product_id = " . $info->getId() . " and vendor_id = " . $vendor_id;
                                            $result = $connection->fetchAll($sql); // gives associated array, table fields as key in array.
                                            if (@$result[0]['freeshipping'] && @$result[0]['freeshipping'] == 1 && $productType === 'ticket') {
                                                echo '<p class="prd-shipping"><span>';
                                                echo("Free Shipping");
                                                echo '</span></p>';
                                            }
                                        } ?>
                                        <?php if ($salePrice < $oriPrice && $oriPrice > 0) : ?>
                                            <p class="prd-saleoff"><span><?= number_format($sale); ?>% off</span></p>
                                        <?php endif; ?>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <?php } ?>
                <!-- END Product Item -->

            </div>
            <?php if ($slider==1){ ?>
                <div class="scroll-wrapper">
                    <span class="scroll"></span>
                </div>
            <?php } ?>
        </div>
    </div>
    <?php if ($slider==1){ ?>
        <script type="text/javascript" xml="space">
            require([
                'jquery',
                'jquery/ui',
                'js/owl.carousel'
            ], function ($) {
                'use strict';

                /* Each slider has its own class */
                $('.productlistcategory-slider--<?php echo $_header->getId();?>').owlCarousel({
                    loop: false,
                    nav: true,
                    dots: false,
                    margin: 7,
                    <?php if ($column){ ?>items: <?= $column; ?>,<?php } ?>
                    <?php if ($column==5){ ?>
                    responsive : {
                        0 : {
                            items: 1,
                        },
                        481 : {
                            items: 2,
                        },
                        1160 : {
                            items: 3,
                        },
                        1400 : {
                            items: 4,
                        },
                        1600 : {
                            items: 5,
                        },
                    },
                    <?php } ?>
                });
                changePrdsOwl();
                $(window).load(function() {
                    $('.productlistcategory-slider--<?php echo $_header->getId();?>').on('initialize.owl.carousel initialized.owl.carousel ' +
                        'initialize.owl.carousel initialize.owl.carousel ' +
                        'resize.owl.carousel resized.owl.carousel ' +
                        'refresh.owl.carousel refreshed.owl.carousel ' +
                        'update.owl.carousel updated.owl.carousel ' +
                        'drag.owl.carousel dragged.owl.carousel ' +
                        'translate.owl.carousel translated.owl.carousel ' +
                        'to.owl.carousel changed.owl.carousel',function(e) {
                        changePrdsOwl();
                    });
                });
                $( ".productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll" ).draggable({
                    drag: function() {
                        scrollPrdsOwl($(this).position().left);
                        $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage').css('transition','0s');
                    },
                    stop: function(){
                        scrollPrdsOwl($(this).position().left);
                    }
                });

                function changePrdsOwl() {
                    var widthItems = $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage').width();
                    var widthItemsSlide = $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage-outer').width();

                    if((widthItems / widthItemsSlide)<= 1){
                        $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').width(0);
                    } else{
                        $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').width("calc(100% / "+(widthItems / widthItemsSlide)+")");
                    }

                    var widthScroll = $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').width();

                    var widthItemsSlided = -parseInt($('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage').css('transform').split(',')[4]);

                    var maxLeftScroll = widthItemsSlide-widthScroll;
                    var ratio = maxLeftScroll / (widthItems-widthItemsSlide);
                    var leftScroll = ratio*widthItemsSlided;

                    if(leftScroll<0){
                        leftScroll = 0;
                    } else if(leftScroll > maxLeftScroll){
                        leftScroll = maxLeftScroll;
                    };
                    $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').css("left",leftScroll);
                }
                function scrollPrdsOwl(leftScroll) {
                    var widthItems = $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage').width();
                    var widthItemsSlide = $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage-outer').width();
                    var widthScroll = $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').width();
                    var maxLeftScroll = widthItemsSlide-widthScroll;
                    if(leftScroll<0){
                        leftScroll = 0;
                    } else if(leftScroll > maxLeftScroll){
                        leftScroll = maxLeftScroll;
                    };
                    $('.productlistcategory-slider--<?php echo $_header->getId();?> + .scroll-wrapper .scroll').css("left",leftScroll);                                                                                    //left toi da cua thanh scroll
                    var ratio = (widthItems-widthItemsSlide)/maxLeftScroll;
                    var transformSlide = -ratio*leftScroll;
                    $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-stage').css('transform','translate3d('+transformSlide+'px, 0px, 0px)');
                }

                <?php if ($column>1){ ?>
                var thisclass = $('.productlistcategory-slider--<?php echo $_header->getId();?> .owl-item .prd-item ');
                setInterval(function() {
                    var i=0;
                    var height=[];
                    var priceInfo = [];
                    thisclass.css('min-height','0');
                    thisclass.each(function(){
                        height[i] = $(this).outerHeight();
                        priceInfo[i] = $(this).find('.prd-price-information').outerHeight();
                        i++;
                    });
                    var maxheight = Math.max.apply(Math, height);
                    var maxPriceInfo = Math.max.apply(Math, priceInfo);
                    thisclass.css({
                        'min-height': maxheight,
                        'padding-bottom' : maxPriceInfo,
                    });
                }, 500);
                <?php } ?>
            });
        </script>
    <?php } ?>
<?php } ?>
