<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Magenest\Wrapper\Block\Order\Info $block */

$orderId = $block->getRequest()->getParam('order_id');
$block->setOrderId($orderId);
$wrappers = $block->getWrappers();
?>

<div>
    <?php if (!empty($wrappers)): ?>
        <table>
            <tr>
                <th><?php echo(__("Wrapped Items")); ?></th>
                <th><?php echo(__("Gift Wrapper")); ?></th>
                <th><?php echo(__("Postcard")); ?></th>
                <th><?php echo(__("Inbox Message")); ?></th>
                <th><?php echo(__("Outbox Message")); ?></th>
            </tr>
            <?php foreach ($wrappers as $wrapper): ?>
                <tr>
                    <th>
                        <?php
                        foreach ($wrapper->getProducts() as $product) {
                            echo($product->item_name . ': ' . $product->qty . '<br>');
                        }
                        ?>
                    </th>
                    <th>
                        <img src="<?php echo($block->getProductImg($wrapper->getWrapperProduct())); ?>">
                    </th>
                    <th>
                        <img src="<?php echo($block->getProductImg($wrapper->getCardProduct())); ?>">
                    </th>
                    <th>
                        <?php echo($wrapper->getInbox()); ?>
                    </th>
                    <th>
                        <?php echo($wrapper->getOutbox()); ?>
                    </th>
                </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
</div>
