.row.shop-all-container{
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}
.large-4.columns {
    width: 30%;
}
.page-title{
    margin: 0 auto;
    width: max-content;
    display: inline-block;
}
.grouped-list {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    background: white;
    box-shadow: 0px 0px 5px 0px #e4e5e8;
}
ul.side-nav {
    list-style: none;
    padding: 0px;
}
ul.side-nav li.parent{
    padding-left: 20px;
}
a.sub-shop-title {
    display: inline-block;
    position: relative;
}
ul.side-nav a:hover{
    text-decoration: none!important;
}
a.sub-shop-title i.fa.fa-plus{
    position: absolute;
    top: 2px;
    left: -20px;
    font-size: 15px
}
li.parent ul.sub-shop-list{
    list-style: none;
    padding: 0px;
    max-height: 0px;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 25px;
}
li.parent ul.sub-shop-list.active{
    max-height: 500px;
    margin-top: 10px;
}
