<?php
$_vesData = $this->helper('Ves\BaseWidget\Helper\Data');
$show = $_vesData->getConfig('general/show', 0);
$enable_swiper = $_vesData->getConfig('general/enable_swiper', 0);
$enable_cookie_jquery = $_vesData->getConfig('general/enable_cookie_jquery', 0);
$enable_countdown = $_vesData->getConfig('general/enable_countdown', 1);
//Settings of page builder extension
$enable_animate = $_vesData->getConfig('general/enable_animation', 1, 'vespagebuilder');
$enable_parallax = $_vesData->getConfig('general/enable_parallax', 1, 'vespagebuilder');
$enable_colorbox = $_vesData->getConfig('general/enable_colorbox', 0, 'vespagebuilder');
$enable_holder_js = $_vesData->getConfig('general/enable_holder_js', 0, 'vespagebuilder');
$enable_fancybox = $_vesData->getConfig('general/enable_fancybox', 0, 'vespagebuilder');;
$all_helper = $this->helper("Ves\All\Helper\Data");
if($show):
?>
<script type="text/javascript">
var ves_pagebuilder_enabled = true;

//Ajax generate widget function
function ajaxGenerateWidget(widget, widgetJson) {
    var widget_shortcode = typeof(widgetJson.widget)!="undefined"?widgetJson.widget:'';
    var widget_key = typeof(widgetJson.wkey)!="undefined"?widgetJson.wkey:'';

    if(widget_shortcode) {
        
        jQuery.ajax({
            url: "<?php echo $_vesData->getGenerateWidgetUrl(); ?>",
            method: "POST",
            cache: true,
            dataType: 'json',
            data: {wkey: widget_key, shortcode: widget_shortcode},
            beforeSend: function(){
                jQuery(widget).html('<div class="ajax-loading-img">&nbsp;</div>');
            },
            success: function(dataResponse){
                jQuery(widget).hide().html(dataResponse.html).fadeIn();
            }
        });
    }
}

function initSwiperCarousel(options, Swiper) {
    var autoplay_mode = {
            delay:  false,
            disableOnInteraction: true,
        };
    if(options.autoplay) {
        autoplay_mode = {
            delay:  options.interval,
            disableOnInteraction: false,
        }
    }
    if(options.pagination) {
        options.pagination = {el:options.pagination, clickable: true};
    } else {
        options.pagination = {el: null};
    }
    if(options.nextButton && options.prevButton) {
        options.navigation = {nextEl:options.nextButton, prevEl:options.prevButton};
    } else {
        options.navigation = {nextEl: null, prevEl: null};
    }
    if(options.scrollbar) {
        options.scrollbar = {el:options.scrollbar,  hide:true};
    } else {
        options.scrollbar = {el: null};
    }

    var swiper = new Swiper(options.class_filter, {
                            pagination: options.pagination,
                            navigation: options.navigation,
                            scrollbar: options.scrollbar,
                            centeredSlides: true,
                            autoplay: autoplay_mode, //delay between transitions (in ms). If this parameter is not specified, auto play will be disabled
                            speed: options.speed, //Duration of transition between slides (in ms)
                            slidesPerView: options.slide_by, //Number of slides per view (slides visible at the same time on slider's container).
                            slidesPerColumn: options.slide_in_col, //Number of slides per column, for multirow layout. Default: 1
                            slidesPerColumnFill: options.slide_col_fill, //Could be 'column' or 'row'. Defines how slides should fill rows, by column or by row
                            slidesPerGroup: options.slide_group, //Set numbers of slides to define and enable group sliding. Useful to use with slidesPerView > 1 . Default: 1
                            mousewheel: options.mousewheel, //Set to true to enable navigation through slides using mouse wheel
                            spaceBetween: options.space, //Distance between slides in px.
                            freeMode: options.freemode, //If true then slides will not have fixed positions
                            direction: options.direction, //Could be 'horizontal' or 'vertical' (for vertical slider).
                            loop: options.loop,
                            effect: options.effect, //"slide", "fade", "cube" or "coverflow"
                            breakpoints: {
                                1024: {
                                  slidesPerView: options.tabletHorCol,
                                  spaceBetween: 40
                                },
                                768: {
                                  slidesPerView: options.tabletVerCol,
                                  spaceBetween: 20,
                                },
                                667: {
                                  slidesPerView: options.mobileHorCol,
                                  spaceBetween: 10,
                                },
                                468: {
                                  slidesPerView: options.mobileVerCol,
                                  spaceBetween: 5,
                                }
                            }
                        });
    return swiper;
}
require(['jquery'],function($){
            $(document).ready(function(){
               /* Offcanvas Sidebars */
                if( $(".offcanvas-widget-siderbars").length > 0 ) {
                    require([
                        'jquery',
                        'Ves_BaseWidget/js/jquery/accordion'
                        ],function($){
                            /** 
                            * 
                            * Update collapse icon
                            */
                           if($(".widget-enable-collapse").length > 0) {
                                $( ".widget-enable-collapse" ).each( function(){
                                    var parent_element = $(this).parent();
                                    $(this).on("hide.bs.collapse", function(){
                                        $(parent_element).find(".opener").html('<i class="fa fa-angle-down"></i>');
                                      });
                                    $(this).on("show.bs.collapse", function(){
                                        $(parent_element).find(".opener").html('<i class="fa fa-angle-up"></i>');
                                    });
                                })
                            }
                        })
                }
                <?php if($enable_animate){ // Enable css3 animate ?>
                    require([
                            'jquery',
                            'Ves_BaseWidget/js/animate/animate.min'
                            ],function($){
                                var browser = {
                                    isIe: function () {
                                        return navigator.appVersion.indexOf("MSIE") != -1;
                                    },
                                    navigator: navigator.appVersion,
                                    getVersion: function() {
                                        var version = 999; // we assume a sane browser
                                        if (navigator.appVersion.indexOf("MSIE") != -1)
                                            // bah, IE again, lets downgrade version number
                                            version = parseFloat(navigator.appVersion.split("MSIE")[1]);
                                        return version;
                                    }
                                };
                                if (typeof(WOW) != "undefined" && ( (browser.isIe() && browser.getVersion() > 9) || !browser.isIe() ) ) {
                                    wow = new WOW(
                                      {
                                        boxClass:     'ves-animate',      // default
                                        animateClass: 'animated', // default
                                        offset:       0,          // default
                                        mobile:       true,       // default
                                        live:         true        // default
                                      }
                                    )
                                    wow.init();
                                }
                                // Synchronise WoW

                        })
                <?php } ?>

                <?php if($enable_parallax){ // Enable parallax js ?>
                    if($(".ves-parallax").length > 0) {
                        require([
                                'jquery',
                                'Ves_BaseWidget/js/jquery/jquery.parallax-1.1.3'
                                ],function($){
                                    /** 
                                     * 
                                     * Automatic apply Parallax
                                     */
                                    if(typeof($.fn.parallax) != "undefined") {
                                        $(".ves-parallax").css("background-attachment", "fixed");
                                        $(".ves-parallax").each( function () {
                                            var percent = $(this).data("parallax-percent");
                                            percent = (percent!='')?percent:'50%';
                                            var scroll = $(this).data("parallax-scroll");
                                            scroll = (scroll!='' && scroll!='0')?scroll:'0.4';
                                            $(this).parallax(percent, scroll);  
                                        })
                                    }
                            })
                    }
                <?php } ?>

                <?php if($enable_colorbox){ // Enable colorbox js ?>
                    /** 
                     * 
                     * Automatic apply colorbox popup
                     */
                    if($(".colorbox-play").length > 0) {
                        <?php if($enable_colorbox){ // Enable colorbox js ?>
                        require([
                                'jquery'
                                <?php if($all_helper->getConfig("enable_colorbox")): ?>
                                ,"Ves_All/lib/colorbox/jquery.colorbox.min"
                                <?php endif; ?>
                                ],function($){
                                   /** 
                                     * 
                                     * Automatic apply colorbox popup
                                 */
                                    $(".colorbox-play").each( function(){
                                        var element_id = $(this).attr("id");
                                        var popup_width = $(this).data('width');
                                        var popup_height = $(this).data('height');
                                        var popup_opacity = $(this).data('opacity');

                                        if(popup_width == "" || typeof(popup_width) == "undefined" ) {
                                            popup_width = false;
                                        }
                                        if(popup_height == "" || typeof(popup_height) == "undefined" ) {
                                            popup_height = false;
                                        }

                                        if(popup_opacity == "" || typeof(popup_opacity) == "undefined" ) {
                                            popup_opacity = 0.5;
                                        }

                                        if(popup_width && popup_height) {
                                            $(this).colorbox({
                                                width: "'"+popup_width+"'", 
                                                height: "'"+popup_height+"'",
                                                overlayClose: true,
                                                opacity: popup_opacity,
                                                rel: false
                                            });
                                        } else if(popup_width && !popup_height) {
                                            $(this).colorbox({
                                                width: "'"+popup_width+"'", 
                                                overlayClose: true,
                                                opacity: popup_opacity,
                                                rel: false
                                            });
                                        } else if(popup_width && !popup_height) {
                                            $(this).colorbox({
                                                height: "'"+popup_height+"'",
                                                overlayClose: true,
                                                opacity: popup_opacity,
                                                rel: false
                                            });
                                        } else {
                                            $(this).colorbox({
                                                overlayClose: true,
                                                opacity: popup_opacity,
                                                rel: false
                                            });
                                        }
                                    });
                            })
                        <?php } ?>
                    }    
                <?php } ?>

                <?php if ($enable_fancybox){ // Enable Fancybox JS ?>
                    /** 
                     * 
                     * Automatic apply fancybox popup
                     */
                    if($(".fancybox-play").length > 0) {
                        require([
                                'jquery'
                                <?php if($all_helper->getConfig("enable_fancybox")): ?>
                                ,"Ves_All/lib/fancybox/jquery.fancybox.pack"
                                <?php endif; ?>
                                <?php if($all_helper->getConfig("enable_fancybox_mousewell")): ?>
                                ,"Ves_All/lib/fancybox/jquery.mousewheel-3.0.6.pack"
                                <?php endif; ?>
                                ],function($){
                                
                                    $(".fancybox-play").each( function(){
                                        var element_id = $(this).attr("id");
                                        var popup_width = $(this).data('width');
                                        var popup_height = $(this).data('height');
                                        var popup_opacity = $(this).data('opacity');

                                        if(popup_width == "" || typeof(popup_width) == "undefined" ) {
                                            popup_width = false;
                                        }
                                        if(popup_height == "" || typeof(popup_height) == "undefined" ) {
                                            popup_height = false;
                                        }

                                        if(popup_opacity == "" || typeof(popup_opacity) == "undefined" ) {
                                            popup_opacity = 0.5;
                                        }

                                        if(popup_width && popup_height) {
                                            $(this).fancybox({
                                                width: "'"+popup_width+"'", 
                                                height: "'"+popup_height+"'",
                                                opacity: popup_opacity,
                                                openEffect  : 'none',
                                                closeEffect : 'none'
                                            });
                                        } else if(popup_width && !popup_height) {
                                            $(this).fancybox({
                                                width: "'"+popup_width+"'", 
                                                opacity: popup_opacity,
                                                openEffect  : 'none',
                                                closeEffect : 'none'
                                            });
                                        } else if(popup_width && !popup_height) {
                                            $(this).fancybox({
                                                height: "'"+popup_height+"'",
                                                opacity: popup_opacity,
                                                openEffect  : 'none',
                                                closeEffect : 'none'
                                            });
                                        } else {
                                            $(this).fancybox({
                                                opacity: popup_opacity,
                                                openEffect  : 'none',
                                                closeEffect : 'none'
                                            });
                                        }
                                    });
                        });
                    }
                    <?php } ?>
                    
                    <?php if($enable_cookie_jquery): ?>
                    require([
                            'jquery',
                            'Ves_BaseWidget/js/jquery/jquery.cookie'
                            ],function($){

                            });
                    <?php endif; ?>
    })
});
</script>
<?php endif; ?>