<!--
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<br>
<li id="gift_wrapper"
    class="checkout-shipping-method"
    role="presentation">

    <div id="checkout-gift_wrapper">
        <div class="step-title" data-bind="i18n: 'Gift Wrapper'" data-role="title"></div>

        <div id="wrapper-popup-modal" data-bind="visible: isModalOpened()">
            <!-- ko template: 'Magenest_Wrapper/wrapper/modal' --><!-- /ko -->
        </div>


        <form id="checkout-gift_wrapper-form" class="form methods-shipping" novalidate="novalidate">
            <table class="table-checkout-shipping-method">
                <tbody>
                <tr class="row">
                    <td class="col col-method">
                        <button type="button" class="action action-update"
                                data-bind="
                                click: showModal,
                                enable: enableButton,
                                text: textButton"
                                style="height: auto;">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>

        <table id="checkout-gift_wrapper-selected">
            <tbody data-bind="visible: selectedWrapperArray().length > 0, foreach: selectedWrapperArray">
            <tr class="row">
                <td class="col col-method">
                    <button type="button" data-bind="click: $parent.deleteWrapper.bind($parent), attr: {'data-wrapper': wrapper_id}, i18n: 'Delete'"></button>
                </td>
                <td class="col col-method"><img data-bind="attr: {src: image}"></td>
                <td class="col col-method">
                    <div><strong><span data-bind="text: name"></span></strong></div>
                </td>
                <td class="col col-method" data-bind="visible: isMessageVisible">
                    <!-- ko if: inbox-->
                    <strong>Inbox: </strong><span data-bind="text: inbox"></span><br>
                    <!-- /ko -->
                    <!-- ko if: outbox-->
                    <strong>Outbox: </strong><span data-bind="text: outbox"></span>
                    <!-- /ko -->
                </td>
                <td class="col col-method" data-bind="foreach: qtyOptions">
                    <!-- ko if: qty > 0-->
                    <strong><span data-bind="text: full_name"></span></strong>: <span data-bind="text: qty"></span><br>
                    <!-- /ko -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</li>