<?php
/**
 * @var Magenest\Ticket\Block\Product\AllBought $block
 **/
?>
<span class="option-bought-value">
    <span class="count-bought">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13.093">
            <g transform="translate(-1070 -4880)">
                <rect width="1.775" height="1.775" transform="translate(1074.128 4891.317)"></rect>
                <rect width="1.775" height="1.775" transform="translate(1081.118 4891.317)"></rect>
                <path d="M9.964,2.419V4.194h3.329l-1.576,3.6H5.437l-.954-3.6H8.189V2.419H4.017L3.373,0H0V1.775H2.019L4.083,9.564h8.788L16,2.419Z"
                      transform="translate(1070 4880)"></path>
                <rect width="1.775" height="1.775" transform="translate(1079.954 4882.43) rotate(180)"></rect>
            </g>
        </svg><?php echo $block->getAllBought()?>
        <span>bought</span>
    </span>
</span>
