<div class="remaining_time">
    <div class="countdown-gift" id="countdown-gift">
        <div id="countdown-time" class="countdown"></div>
        <div class="countdown-time-display-field" name="<?php  echo date('Y-m-d H:i:s',$block->getLastTimeCoundown());?>"></div>
    </div>
</div>
<script>
    require([
        'jquery',
        "domReady!"
    ], function ($, domReady) {
        'use strict';
        $(document).ready(function () {
            //var countDownDate = new Date("<?php //echo date('Y-m-d H:i:s',($block->getLastTimeCoundown())) ?>//").getTime();
            var x = setInterval(function () {
                var countDownString = $(".countdown-time-display-field").attr('name');
                var countDownDate = new Date(countDownString).getTime();
                var now = new Date().getTime();
                var distance = countDownDate - now;

                if(distance > 0) {
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    var format = '';
                        format = '<p class="countdown-text">' +
                            '<span class="days">'+days+'</span><span class="text">d</span> ' +
                            '<span class="hours">'+hours+'</span><span class="text">h</span> ' +
                            '<span class="minutes">'+minutes+'</span><span class="text">m</span> ' +
                            '<span class="secs">'+seconds+'</span><span class="text">s</span> ' +
                            'left</p>';

                    $('.countdown-time-display-field').first().html(format);
                }
            },1000);
        }).on('finish.countdown', function () {
            $('button#product-addtocart-button').attr("disabled", "disabled");
        });
    });
</script>
