<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var $block \Magenest\Ticket\Block\Product\Price */
$productType = $block->getProductType();
$productId = $block->getCurrentProductId();
?>
<?php if (in_array($productType, ['simple', 'ticket'])): ?>
<div class="price-box price-final_price" data-role="priceBox">
    <span class="price-container price-final_price tax weee" itemprop="offers" itemscope=""
          itemtype="http://schema.org/Offer">
        <?php if ($productType === 'ticket'): ?>
            <?php if ($block->isFreeTicketType()): ?>
                <span class="old-price"></span>
                <span class="free-ticket-type">Free</span>
            <?php else: ?>
                <span data-price-type="finalPrice" class="">
                    <?php if ($priceOld = $block->isHasSalePrice()): ?>
                        <span style="text-decoration: line-through;" class="old-price" id="ticket_product_price_final"><?php echo $block->getCurrencySymbol() . number_format($priceOld[0], 2, '.', ',') . ' - ' . $block->getCurrencySymbol() . number_format($priceOld[1], 2, '.', ','); ?></span>
                    <?php endif; ?>
                </span>
                <span id="product-price-<?php echo $block->getCurrentProductId(); ?>" data-price-type="finalPrice" class="price-wrapper ">
                    <?php if ($block->isHasRange()): ?>
                        <?php $price = $block->getProductPrice(); ?>
                        <span class="price" id="ticket_product_price_final"><?php echo $block->getCurrencySymbol() . $price[0] . ' - ' . $price[1]; ?></span>
                    <?php else: ?>
                        <span class="price" id="ticket_product_price_final"><?php echo $block->getCurrencySymbol() . $block->getProductPrice(); ?></span>
                    <?php endif; ?>
                </span>
            <?php endif; ?>
        <?php elseif ($productType === 'simple'): ?>
            <?php $simplePrice = $block->getSimpleProductPrice(); ?>
            <span id="product-price-<?php echo $block->getCurrentProductId(); ?>" data-price-type="finalPrice" class="price-wrapper simple-product-price">
                <span class="price" id="simple_product_price_final"><?php echo $block->getCurrencySymbol() . number_format($simplePrice['current_price'], 2, '.', ','); ?></span>
            </span>
            <span data-price-type="finalPrice" class="simple-product-old-price">
                <?php if (isset($simplePrice['old_price'])): ?>
                    <span style="text-decoration: line-through;" class="old-price" id="simple_product_price_old"><?php echo $block->getCurrencySymbol() . number_format($simplePrice['old_price'], 2, '.', ','); ?></span>
                <?php endif; ?>
            </span>
            <div class="prd-incentives">
                <?php if (isset($simplePrice['old_price'])) :
                    $sale = $simplePrice['old_price'] == 0 ? 0 : ($simplePrice['old_price'] - $simplePrice['current_price']) * 100 / $simplePrice['old_price']; ?>
                    <p class="prd-saleoff"><span><?= number_format($sale); ?>% off</span></p>
                <?php endif; ?>

                <?php $_product = $block->getProduct();
                $vendor_id = $_product->getUdropshipVendor();
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance(); // Instance of object manager
                $resource = $objectManager->get('Magento\Framework\App\ResourceConnection');
                $connection = $resource->getConnection();
                $tableName = $resource->getTableName('udropship_vendor_product'); //gives table name with prefix
                $sql = "Select freeshipping FROM " . $tableName . " Where product_id = " . $_product->getId() . " and vendor_id = " . $vendor_id;
                $result = $connection->fetchAll($sql); // gives associated array, table fields as key in array.
                $checkShipping = null;
                if (@$result[0]['freeshipping']):
                    $checkShipping = $result[0]['freeshipping'];
                endif;
                ?>
                <p class="prd-shipping">
                <?php if ($checkShipping == 1): ?>
                    <span><?php echo("Free Shipping"); ?></span>
                <?php endif; ?>
                </p>
            </div>
        <?php endif; ?>
        <meta itemprop="priceCurrency" content="<?php echo $block->getCurrencyCode(); ?>">
    </span>
</div>
<?php endif; ?>
<script>
    window.getCurrencySysbol = "<?= $block->getCurrencySymbol() ?>";
</script>
