<?php
/**
 * Created by PhpStorm.
 * User: gialam
 * Date: 7/21/2016
 * Time: 11:36 AM
 */
?>
<?php /** @var $block \Magenest\Ticket\Block\Product\Ticket */ ?>
<?php
$symbol          = $block->getCurrencySymbol();
$location        = $block->getLocation();
$_event          = $block->getEvent();
$_currencySymbol = $block->getCurrencySymbol();

$giftDetails = $block->getGiftDetails();

?>

<?php if ($block->isEventTicketProduct() == true) : ?>
    <?php if ($block->isReservedSeatingEvent()): ?>
        <div class="fieldset" tabindex="0">
            <label class="label_rule" for="reserved_seating_session_select_option">
                <span><?php echo 'Select A Session'; ?></span>
            </label>
            <div class="field required">
                <div class="control">
                    <select aria-required="true" id="reserved_seating_session_select_option" title=""
                            data-selector="reserved_seating_session_select_option"
                            class="required product-custom-option-options admin__control-select">
                        <option value="-1"><?php echo __('Select ...') ?></option>
                        <?php if ($block->getSessionReservedSeatingEvent()) : ?>
                            <?php foreach ($block->getSessionReservedSeatingEvent() as $session) : ?>
                                <option class="reserved_seating_select_option" name="session_option"
                                        value="<?php echo $session['value']; ?>">
                                    <?php echo $session['label']; ?>
                                </option>
                            <?php endforeach ?>
                        <?php endif; ?>
                    </select>
                </div>
            </div>
        </div>
        <?php $productId = $block->getCurrentProductId(); ?>
        <?php $sessionIds = json_encode($block->getAllSessionMapDataIds()); ?>

        <script type="text/javascript">
            require([
                "jquery",
                "jquery/ui",
                "Magento_Ui/js/modal/modal"
            ], function ($, Ui, modal) {
                $('.field.qty').hide();
                $('#qty').val(1);
                $('#ticket_info_main').hide();
                $('#reserved_seating_session_select_notif').hide();
                window.checkSoldOutUrl = '<?php echo $block->getUrl('ticket/reservedseating/validateticket'); ?>';
                $("#product-addtocart-button").prop('disabled', true);
                $("#buy-now-btn").prop('disabled', true);
                var sessionSelect = $('#reserved_seating_session_select_option');
                var allJSONIds = <?php echo $sessionIds; ?>;
                for (var i = 0; i < allJSONIds.length; i++) {
                    $('#reservationSeat' + allJSONIds[i]).hide();
                    $('#sessionMenu' + allJSONIds[i]).hide();
                }
                sessionSelect.change(function () {
                    var strDrop = $(this).val();
                    if (strDrop !== '-1') {
                        changeSessionSelection(strDrop, allJSONIds);
                    } else {
                        for (var i = 0; i < allJSONIds.length; i++) {
                            $('#reservationSeat' + allJSONIds[i]).hide();
                            $('#sessionMenu' + allJSONIds[i]).hide();
                        }
                    }
                });

                function changeSessionSelection(id, allId) {
                    var value = sessionSelect.find('option[value=' + id + ']').html();
                    for (var i = 0; i < allId.length; i++) {
                        if (id === allId[i]) {
                            $('#ticket_session_time_popup').html(value);
                            $('#reservationSeat' + allId[i]).show();
                            $('#sessionMenu' + allId[i]).show();
                        } else {
                            $('#reservationSeat' + allId[i]).hide();
                            $('#sessionMenu' + allId[i]).hide();
                        }
                    }
                    var options = {
                        type: 'popup',
                        responsive: true,
                        innerScroll: false,
                        title: "Select Your Seat For Session " + value,
                        buttons: [{
                            text: $.mage.__('Submit'),
                            class: 'button',
                            click: function () {
                                var ticketId = $('#ticket_session_id_main').val();
                                if (ticketId) {
                                    $('#ticket_seat_label_main').html($('#ticket_seat_label_main_popup').html());
                                    $('#ticket_session_label_main').html($('#ticket_session_label_main_popup').html());
                                    $('#ticket_session_price_main').html($('#ticket_session_price_main_popup').html());
                                    $('#ticket_session_time').html($('#ticket_session_time_popup').html());
                                    $('#ticket_info_main').show();

                                    var price = $('#ticket_session_price_main_popup').html();
                                    var ticket = $('#ticket_id_main').val();
                                    var session = $('#ticket_session_id_main').val();
                                    var label = $('#ticket_seat_label_main_popup').html();
                                    $('#product_ticket_price_seating').val(price);
                                    $('#product_ticket_session_seating').val(session);
                                    $('#product_ticket_label_seating').val(label);
                                    $('#product_ticket_ticket_seating').val(ticket);

                                    var formattedPrice = '<?php echo $_currencySymbol; ?>' + parseFloat(price).toFixed(2);
                                    $('#ticket_product_price_final').html(formattedPrice);
                                    $("#product-addtocart-button").prop('disabled', false);
                                } else {
                                    $('#ticket_info_main').hide();
                                    $("#product-addtocart-button").prop('disabled', true);
                                }
                                sessionSelect.val(-1);
                                this.closeModal();
                            }
                        }]
                    };
                    var popupdata = $('#custom-model-popup');
                    this.chooseTicketPopup = modal(options, popupdata);
                    this.chooseTicketPopup.openModal();
                    popupdata.modal('openModal').on('modalclosed', function () {
                        sessionSelect.val(-1);
                    });
                }
            });
        </script>
        <div id="custom-model-popup" style="display: none;">

            <?php foreach ($block->getAllSessionMap() as $sessionMap) : ?>
                <?php $sessionTicketsData = json_decode($sessionMap->getSessionTicketData(), true); ?>
                <div id="sessionMenu<?php echo $sessionMap->getSessionMapId(); ?>">
                    <?php if ($sessionTicketsData !== null): ?>
                        <?php foreach ($sessionTicketsData as $ticket): ?>
                            <span style="background-color: <?= $ticket['colorTag'] ?> ; border: 4px solid black; border-radius: 50%; display: inline-block; height: 45px; width: 45px;"></span>
                            <span>Sale Time: <?php echo $block->getSaleTimeBySession($ticket['id']); ?></span>
                            <span><?= $ticket['label'] ?></span>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    <span style="background-color: silver; border: 4px solid black; border-radius: 50%; display: inline-block; height: 45px; width: 45px;"></span>
                    <span>No Ticket</span>
                </div>
            <?php endforeach; ?>
            <div>
                <input id="ticket_session_id_main" type="hidden"/>
                <input id="ticket_id_main" type="hidden"/>
                <span id="ticket_session_time_popup" style="display: none;"></span>
                <label for="ticket_seat_label_main_popup">Seat Label: </label>
                <span id="ticket_seat_label_main_popup"></span> -
                <label for="ticket_session_label_main_popup">Ticket Type: </label>
                <span id="ticket_session_label_main_popup"></span> -
                <label for="ticket_session_price_main_popup">Ticket Price: </label>
                <span id="ticket_session_price_main_popup"></span>
            </div>
            <div id="reserved_seating_session_select_notif"></div>
            <?php foreach ($block->getAllSessionMap() as $sessionMap): ?>
                <div id="reservationSeat<?= /* @escapeNotVerified */
                $sessionMap->getSessionMapId(); ?>" class="block block-wishlist"
                     data-bind="scope: 'reservationSeat<?= /* @escapeNotVerified */
                     $sessionMap->getSessionMapId(); ?>'" style="overflow: auto">

                    <div id="canvas<?= /* @escapeNotVerified */
                    $sessionMap->getSessionMapId(); ?>">
                    </div>
                    <!-- ko template:getTemplate() --> <!-- /ko -->
                </div>
            <?php
            $sessionMapData = $sessionMap->getSessionMapData();
            $sessionMapData = substr($sessionMapData, 1, strlen($sessionMapData) - 2);
            $sessionMapData = str_replace('\"', '"', $sessionMapData);
            $ticketData     = $sessionMap->getSessionTicketData();
            if (!$ticketData) {
                $ticketData = "\"\"";
            }
            ?>
                <script type="text/x-magento-init">
                    {
                        "#reservationSeat<?= /* @escapeNotVerified */ $sessionMap->getSessionMapId(); ?>": {
                            "Magento_Ui/js/core/app": {
                                "components": {
                                    "reservationSeat<?= /* @escapeNotVerified */ $sessionMap->getSessionMapId(); ?>": {
                                        "component": "Magenest_Ticket/js/view/reservationSeat",
                                        "config": {
                                            "stage": <?= /* @escapeNotVerified */ $sessionMapData ?>,
                                            "tickets": <?= /* @escapeNotVerified */ $ticketData ?>,
                                            "sessionCanvasId": "<?= /* @escapeNotVerified */ $sessionMap->getSessionMapId(); ?>"
                                        }
                                    }
                                }
                            }
                        }
                    }

                </script>
            <?php endforeach; ?>
        </div>
        <div id="ticket_info_main">
            <label for="ticket_seat_label_main">Seat label: </label>
            <span id="ticket_seat_label_main"></span> -
            <label for="ticket_session_label_main">Ticket Type: </label>
            <span id="ticket_session_label_main"></span> -
            <label for="ticket_session_price_main">Ticket Price: </label>
            <span id="ticket_session_price_main"></span><br>
            <span id="ticket_session_time"></span>
        </div>
        <input id="product_ticket_price_seating" name="additional_options[ticket_price]" type="hidden"/>
        <input id="product_ticket_ticket_seating" name="additional_options[ticket]" type="hidden"/>
        <input id="product_ticket_session_seating" name="additional_options[ticket_session]" type="hidden"/>
        <input id="product_ticket_label_seating" name="additional_options[ticket_seat_label]" type="hidden"/>

    <?php else: ?>
        <div class="field coupon-gift-field">
            <input style="display: none" id="coupon_id_gift" type="checkbox">
            <label for="coupon_id_gift">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">
                    <g transform="translate(-603 -28)">
                        <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"/>
                        <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z"
                              transform="translate(603 16.419)"/>
                        <rect width="2.246" height="2.246" transform="translate(611.281 28)"/>
                        <rect width="2.246" height="2.246" transform="translate(606.789 28)"/>
                    </g>
                </svg>
                Give as a Gift
            </label>
        </div>
        <div id="gift_recipient">
        </div>


        <div class="ticket-options">
            <div class="ticket-options-wrapper" id="ticket-options-wrapper" data-hasrequired="* Required Fields">
                <?php if ($block->getEvent() && $block->getEvent()->getTicketType() != null) : ?>
                    <div class="fieldset" tabindex="0">
                        <div class="field required">
                            <div class="control">
                                <span class="ticket-select-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" style="fill: #465a6f;">
                                          <g transform="translate(-1537 -4778)">
                                            <rect width="2" height="2" transform="translate(1541 4778)"/>
                                            <path d="M15,2.217v-2H12v2H10v-2H8v2H6v2H16v10H2v-10H4v-2H0v14H18v-14Z"
                                                  transform="translate(1537 4777.783)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1524.997 4764.317)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1526.996 4767.316)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1526.996 4770.316)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1529.996 4767.316)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1532.996 4767.316)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1529.996 4770.316)"/>
                                            <path d="M16,17.683v2h2v-2Z" transform="translate(1532.996 4770.316)"/>
                                          </g>
                                    </svg>
                                </span>
                                <select aria-required="true" id="ticket_select_option_date" title=""
                                        data-selector="ticket_select_option"
                                        class="required product-custom-option-options admin__control-select"
                                        name="<?php echo $block->getCurrentProductId() ?>">

                                    <option value=""><?php echo __('Select Ticket From Day ...  ') ?></option>
                                    <?php if (!empty($block->getSessionOptionsArray() AND is_array($block->getSessionOptionsArray()))) : ?>
                                        <?php foreach ($block->getSessionOptionsArray() as $fromDay) :
                                            $fromDate = date('Y-m-d', $fromDay) ?>
                                            <option id="select_option" name="ticket_option"
                                                    value="<?php echo $fromDate ?>">
                                                <?php echo date('l, F d, Y', strtotime($fromDate)) ?>
                                            </option>
                                        <?php endforeach ?>
                                    <?php endif; ?>
                                </select>
                                <?php $countOptions = count($block->getSessionOptionsArray()); ?>
                                <?php if ($countOptions): ?>
                                    <span class="ticket-options-date-count"><?php echo $countOptions > 1 ? $countOptions . " buy options" : $countOptions . " buy option"; ?></span>
                                <?php endif; ?>
                            </div>
                        </div>
                    </div>
                    <div class="fieldset" tabindex="0">
                        <div class="field required">
                            <div class="control">
                                <span class="ticket-select-icon date">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" style="fill: #465a6f;">
                                          <g transform="translate(-1155.3 -4796)">
                                            <path d="M32.214,18.959H25.4V11.6h2.76v4.634h4.055Z"
                                                  transform="translate(1138.554 4788.353)"/>
                                            <path d="M33.5,2.76a7.264,7.264,0,0,1,5.792,5.792h2.76A10.047,10.047,0,0,0,33.5,0Z"
                                                  transform="translate(1133.214 4796)"/>
                                            <path d="M17.206,11.312A7.3,7.3,0,1,1,8.654,2.794V0A10.049,10.049,0,1,0,20,11.346H17.206Z"
                                                  transform="translate(1155.3 4796)"/>
                                          </g>
                                    </svg>
                                </span>
                                <select aria-required="true" id="ticket_select_option_time" title=""
                                        data-selector="ticket_select_option"
                                        class="required product-custom-option-options admin__control-select"
                                        hidden="hidden">
                                    <!--                                    <option id="select_option' + sessionId + '" name="' + ticketId + '"  value="' + sessionId + '">' + timeFrom + '</option>-->

                                </select>
                                <span class="ticket-options-time-count"></span>
                            </div>
                        </div>
                    </div>
                    <div style="position: relative; margin: 20px 0 50px;">
                        <span class="ticket-options-event-count"></span>
                        <div class="ticket-option-scroll">
                            <div class="actions">
                                <span class="scroll-up"><span class="action" style="display:none;"></span></span>
                                <span class="scroll-down"><span class="action" style="display:none;"></span></span>
                            </div>
                        </div>
                        <div class="fieldset_session-container">
                            <div class="fieldset_session" id="fieldset_session" tabindex="0"></div>
                        </div>
                    </div>
                    <div id="donation_area" style="display: none; margin-top: 3px;">
                        <div>
                            <span style="font-size: 132%">Minimum Donation: </span>
                            <span id="min_donation" style="font-size: 132%"></span>
                        </div>
                        <label for="your_donation" style="font-size: 132%">Your Donation: </label>
                        <input type="number" id="your_donation" style="display: inline-block; width: 250px;"/>
                        <div class="validation-advice" style="color: red; display: none;"
                             id="notification_donate_error">
                            Your Donation must greater than Minimum Donation.
                        </div>
                    </div>
                <?php endif; ?>
            </div>
            <input id="product_ticket_price" name="additional_options[ticket_price]" type="hidden">
            <input id="product_ticket_ticket" name="additional_options[ticket]" type="hidden">
            <input id="product_ticket_session" name="additional_options[ticket_session]" type="hidden">
        </div>
        <script>
            require([
                "jquery",
                "jquery/ui"
            ], function ($) {
                'use strict';
                $('#donation_area').hide();
                var isDonation = '<?php echo $block->getTicketType() === 'donation' ? 1 : 0; ?>';
                var returnSession = '<?php echo $block->getReturnSession(); ?>';
                var returnOptionTime = '<?php echo $block->getReturnOptionTime(); ?>';
                var selectTicketDate = document.getElementById("ticket_select_option_date");
                var selectTicketTime = document.getElementById("ticket_select_option_time");
                var symbol = '<?php echo $symbol ?>';

                var productPrice = document.getElementById("product-price-" + <?php echo $block->getCurrentProductId(); ?>);
                var inputPrice = document.getElementById("product_ticket_price");
                var inputTicket = document.getElementById("product_ticket_ticket");//ticketId
                var inputSession = document.getElementById("product_ticket_session");//priceId
                var productType = "<?php echo $block->getProductType(); ?>";
                var ticketType = "<?php $block->getTicketType() ?>";
                var minDonation = 0;
                var arrayAllTicketMin = <?php echo @$block->allTicketPrice()[0]?>;
                var arrayAllTicketMax = <?php echo @$block->allTicketPrice()[1]?>;
                var countArrayAllSessionOption = <?php echo count($block->getSessionOptionsArray())?>;

                var giftform = "";

                giftform += ' <div class="fieldset" id="giftform">';
                giftform += ' <div class="field required giftform-item"><label class="label">To</label>';
                giftform += ' <input id="recipient_name" value="<?= @$giftDetails['name'] ?>" data-validate="{required:true }" type="text" name="additional_options[To]"></div>';
                giftform += ' <div class="field required giftform-item"><label class="label">Recipient\'s Email</label>';
                giftform += ' <input id="recipient_mail" value="<?= @$giftDetails['email'] ?>" data-validate="{required:true, \'validate-mail\':true}" type="text" name="additional_options[Email]"></div>';
                giftform += ' <div class="field required giftform-item"><label class="label">Your Gift Message</label>';
                giftform += ' <input id="recipient_message" value="<?= @$giftDetails['message'] ?>" data-validate="{required:true }" type="text" name="additional_options[Message]"></div>\n';
                // giftform += ' <input type="radio" id="print_gift_option" name="additional_options[Type]" value="Print " checked>';
                // giftform += ' <label>Print ticket</label>';
                giftform += ' <input type="radio" id="mail_gift_option" name="additional_options[Type]" style="display: none" value="Mail" checked>';
                giftform += ' <label for="mail_gift_option" style="display: none">Send Email Directly</label>';
                giftform += ' </div>';

                $("#coupon_id_gift").click(function () {
                    if ($(this).is(":checked")) {
                        $('#product-addtocart-button > span').html('Add as Gift');
                        $("label[for=coupon_id_gift]").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">\n' +
                            '                <g transform="translate(-603 -28)">\n' +
                            '                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"></path>\n' +
                            '                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"></path>\n' +
                            '                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"></rect>\n' +
                            '                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"></rect>\n' +
                            '                </g>\n' +
                            '            </svg>' + ' Cancel');
                        $("#gift_recipient").append(giftform);
                        $(".product-options-bottom .box-tocart").css("clear", "left");
                    } else {
                        $('#product-addtocart-button > span').html('Add to Cart');
                        $("label[for=coupon_id_gift]").html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">\n' +
                            '                <g transform="translate(-603 -28)">\n' +
                            '                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"></path>\n' +
                            '                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"></path>\n' +
                            '                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"></rect>\n' +
                            '                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"></rect>\n' +
                            '                </g>\n' +
                            '            </svg>' + ' Give as a Gift');
                        $("#giftform").remove();
                        $(".product-options-bottom .box-tocart").css("clear", "none");
                    }
                });

                <?php foreach ($giftDetails as $detail) : ?>
                    <?php if(!empty($detail)) : ?>
                        $("#coupon_id_gift").click();
                    <?php endif;?>
                <?php endforeach;?>

                if (productType === 'ticket') {
                    $("#product-addtocart-button").prop('disabled', true);
                    $('#buy-now-btn').prop('disabled', true);
                    $('.coupon-gift-field').hide();
                }
                $(selectTicketDate).change(function () {
                    var date = $(this).val();
                    var productId = $(this).attr('name');
                    $('#donation_area').hide();
                    $('#notification_donate_error').hide();
                    if (date && productId) {
                        getTimeOption(date, productId);
                        var productPriceSpan = $(productPrice).find('span');
                        if (arrayAllTicketMax === arrayAllTicketMin) {
                            if (ticketType === 'free' && arrayAllTicketMin === 0) {
                                productPriceSpan.html('Free');
                            }
                            else {
                                productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2));
                            }
                        }
                        else {
                            productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2) + ' - ' + parseFloat(arrayAllTicketMax).toFixed(2));
                        }
                        $("#fieldset_session").hide();
                        $('.ticket-options-event-count').hide();
                        $("#product-addtocart-button").prop('disabled', true);
                        $('.coupon-gift-field').hide();
                        $('#buy-now-btn').prop('disabled', true);
                        if (countArrayAllSessionOption > 1)
                            $('.ticket-options-date-count').html( <?php echo(count($block->getSessionOptionsArray()) - 1)?> +' more');
                        else
                            $('.ticket-options-date-count').html('');
                    }
                    else {
                        $("#product-addtocart-button").prop('disabled', true);
                        $('.coupon-gift-field').hide();
                        $('#buy-now-btn').prop('disabled', true);
                        var productPriceSpan = $(productPrice).find('span');
                        if (arrayAllTicketMax === arrayAllTicketMin) {
                            if (ticketType === 'free' && arrayAllTicketMin === 0) {
                                productPriceSpan.html('Free');
                            }
                            else {
                                productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2));
                            }
                        }
                        else {
                            productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2) + ' - ' + parseFloat(arrayAllTicketMax).toFixed(2));
                        }
                        if (countArrayAllSessionOption > 0)
                            $('.ticket-options-date-count').html( <?php echo(count($block->getSessionOptionsArray()))?> +' more');
                        else
                            $('.ticket-options-date-count').html('');
                        $(selectTicketTime).hide();
                        $("#fieldset_session").hide();
                        $('.ticket-options-time-count').hide();
                        $('.ticket-options-event-count').hide();
                        $(".ticket-select-icon.date").css("display", "none");
                        $("#fieldset_session").html('');
                        $('.ticket-option-scroll .scroll-down > .action').fadeOut();
                        $('.ticket-option-scroll .scroll-up > .action').fadeOut();
                    }
                })

                $(selectTicketTime).change(function () {
                    $('#donation_area').hide();
                    $('#notification_donate_error').hide();
                    $("#fieldset_session").empty();
                    $("#product-addtocart-button").prop('disabled', true);
                    $('#buy-now-btn').prop('disabled', true);
                    var dateTime = $(this).val();
                    var productId = $('#ticket_select_option_time option:selected').attr('name');
                    if (dateTime && productId) {
                        // inputTicket.value = $(this).val();
                        getSessionData(dateTime, productId);
                    } else {
                        $("#product-addtocart-button").prop('disabled', true);
                        $('#buy-now-btn').prop('disabled', true);
                        $('.coupon-gift-field').hide();
                        var productPriceSpan = $(productPrice).find('span');
                        if (arrayAllTicketMax === arrayAllTicketMin) {
                            if (ticketType === 'free' && arrayAllTicketMin === 0) {
                                productPriceSpan.html('Free');
                            }
                            else {
                                productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2));
                            }
                        }
                        else {
                            productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2) + ' - ' + parseFloat(arrayAllTicketMax).toFixed(2));
                        }
                        var countTime = $('.ticket-options-time-count').val();
                        if (countTime > 0) {
                            $('.ticket-options-time-count').html(countTime + ' more');
                        } else $('.ticket-options-time-count').html('');
                        $('.ticket-options-time-count').show();
                        $('.ticket-options-event-count').hide();
                        $('.ticket-option-scroll .scroll-down > .action').fadeOut();
                        $('.ticket-option-scroll .scroll-up > .action').fadeOut();


                    }

                });

                function getTimeOption(date, productId) {
                    $.ajax({
                        url: returnOptionTime + '?date=' + date + '&product_id=' + productId,
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        showLoader: true,
                        success: function (response) {
                            if (response.length > 1) {
                                var optionTimeResponseArray = JSON.parse(response);
                                var optionTemplateTime = '<option value=""><?php echo __("Select Ticket From Time ...") ?></option>';
                                for (var i = 0; i < optionTimeResponseArray.length; i++) {
                                    optionTemplateTime += generateOptionTimeTemplate(optionTimeResponseArray[i]['product_id'], optionTimeResponseArray[i]['time_from'], optionTimeResponseArray[i]['datetime'], optionTimeResponseArray.length - 1);
                                }
                                $(selectTicketTime).html('');
                                $(selectTicketTime).append(optionTemplateTime);
                                $(selectTicketTime).show();
                                $(".ticket-select-icon.date").css("display", "block");
                                $('.ticket-options-time-count').show();
                                $('.ticket-options-time-count').html(i + ' more');
                                $('.ticket-options-time-count').attr('value', i);


                            }
                        }
                    })
                }

                function generateOptionTimeTemplate(productId, timeFrom, datetime) {
                    return '<option id="select_option" name="' + productId + '"value="' + datetime + '">' + timeFrom + '</option>';
                }

                function getSessionData(dateTime, productId) {
                    var sessionRequest = returnSession + '?date_time=' + dateTime + '&product_id=' + productId;
                    var deferred = $.Deferred();
                    $.ajax({
                        url: sessionRequest,
                        type: "POST",
                        contentType: false,
                        cache: false,
                        processData: false,
                        success: function (response) {
                            if (response.length > 1) {
                                var sessionResponseArray = JSON.parse(response);
                                var sessionTemplate = " ";
                                if (sessionResponseArray.length > 0) {
                                    for (var i = 0; i < sessionResponseArray.length; i++) {
                                        sessionTemplate += generateSessionTemplate(sessionResponseArray[i]['session_id'], sessionResponseArray[i]['title'], sessionResponseArray[i]['original_value'], sessionResponseArray[i]['sale_price'], sessionResponseArray[i]['bought'], sessionResponseArray[i]['available'], sessionResponseArray[i]['isExpired'], sessionResponseArray[i]['tickets_id']);
                                    }
                                }

                                var countTime = $('.ticket-options-time-count').val() - 1;
                                if (countTime > 0) {
                                    $('.ticket-options-time-count').html(countTime + ' more');
                                } else $('.ticket-options-time-count').html('');
                                $('.ticket-options-time-count').show();

                                // End print ticket session time
                                $("#fieldset_session").append(sessionTemplate);
                                $("#fieldset_session").show();

                                var eventCount = '';
                                if (i > 1) {
                                    eventCount = i + ' buy options';
                                } else {
                                    eventCount = i + ' buy option';
                                }
                                $('.ticket-options-event-count').html(eventCount);
                                $('.ticket-options-event-count').show();

                                // if($('.ticket_select_session_select').length) {
                                // ticketSelectSessionSelect.each(function () {
                                //     if(ticketSelectSessionSelect[i].hasClass('session_expired') === false){
                                //         ticketSelectSessionSelect[i].children('.ticket_select_session').children('.ticket_select_session_select').click();
                                //     }
                                // })
                                // console.log('aaaa');
                                // console.log(ticketSelectSessionSelect);
                                // for(var i = 0; i< ticketSelectSessionSelect.length; i++){
                                //     if( ticketSelectSessionSelect[i].hasClass('session_expired') === false){
                                //     }
                                // }
                                var ticketOptionBox = $('.ticket-option-box');
                                for (var i = 0; i < ticketOptionBox.length; i++) {
                                    if ($(ticketOptionBox[i]).hasClass('session_expired') === false && $(ticketOptionBox[i]).hasClass('session_sold_out') === false) {
                                        var ticketSelected = $(ticketOptionBox[i]).children('.ticket_select_session').children('.ticket_select_session_select');
                                        ticketSelected.click();
                                        $('#donation_area').hide();
                                        $('#notification_donate_error').hide();
                                        disableOtherCheckbox(ticketSelected.val());
                                        if (ticketSelected.val()) {
                                            inputTicket.value = $(".ticket_select_session_select:checked").attr('name');
                                            inputSession.value = ticketSelected.val();
                                            var priceVal = $('span#session_price_' + ticketSelected.val()).attr("name");
                                            var productPriceSpan = $(productPrice).find('span');
                                            productPriceSpan.text(symbol + parseFloat(priceVal).toFixed(2));
                                            inputPrice.value = priceVal;
                                            if (isDonation === "1") {
                                                $('#donation_area').show();
                                                minDonation = parseFloat(priceVal).toFixed(2);
                                                $('#min_donation').html(symbol + parseFloat(priceVal).toFixed(2));
                                                $('#your_donation').val(parseFloat(priceVal).toFixed(2));
                                            } else {
                                                $('#donation_area').hide();
                                            }
                                        } else {
                                            $("#product-addtocart-button").prop('disabled', true);
                                            $('.coupon-gift-field').hide();
                                            $('#buy-now-btn').prop('disabled', true);
                                        }
                                        break;
                                    }
                                }
                                if ($('.ticket_select_session_select').length) {
                                    var ticketSelectSessionSelect = document.getElementsByClassName('ticket_select_session_select');
                                    var checker = false;
                                    for (var i = 0; i < ticketSelectSessionSelect.length; i++) {
                                        if (ticketSelectSessionSelect[i].checked) {
                                            checker = true;
                                        }
                                    }
                                    if (checker === true) {
                                        $("#product-addtocart-button").removeAttr('disabled');
                                        $('.coupon-gift-field').show();
                                        $("#buy-now-btn").removeAttr('disabled');

                                    } else {
                                        $("#buy-now-btn").prop('disabled', true);
                                        $('.coupon-gift-field').hide();
                                        $("#product-addtocart-button").prop('disabled', true);
                                        var productPriceSpan = $(productPrice).find('span');
                                        if (arrayAllTicketMax === arrayAllTicketMin) {
                                            if (ticketType === 'free' && arrayAllTicketMin === 0) {
                                                productPriceSpan.html('Free');
                                            }
                                            else {
                                                productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2));
                                            }
                                        }
                                        else {
                                            productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2) + ' - ' + parseFloat(arrayAllTicketMax).toFixed(2));
                                        }
                                    }
                                }

                                $(".ticket_select_session_select").click(function () {
                                    $('#donation_area').hide();
                                    $('#notification_donate_error').hide();
                                    disableOtherCheckbox($(this).val());
                                    if ($(this).val()) {
                                        inputTicket.value = $(".ticket_select_session_select:checked").attr('name');
                                        inputSession.value = $(this).val();
                                        var priceVal = $('span#session_price_' + $(this).val()).attr("name");
                                        productPriceSpan = $(productPrice).find('span');
                                        productPriceSpan.text(symbol + parseFloat(priceVal).toFixed(2));
                                        inputPrice.value = priceVal;
                                        if (isDonation === "1") {
                                            $('#donation_area').show();
                                            minDonation = parseFloat(priceVal).toFixed(2);
                                            $('#min_donation').html(symbol + parseFloat(priceVal).toFixed(2));
                                            $('#your_donation').val(parseFloat(priceVal).toFixed(2));
                                        } else {
                                            $('#donation_area').hide();
                                        }
                                    } else {
                                        $("#product-addtocart-button").prop('disabled', true);
                                        $('.coupon-gift-field').hide();
                                        $('#buy-now-btn').prop('disabled', true);
                                    }
                                    if ($('.ticket_select_session_select').length) {
                                        var ticketSelectSessionSelect = document.getElementsByClassName('ticket_select_session_select');
                                        var checker = false;
                                        for (var i = 0; i < ticketSelectSessionSelect.length; i++) {
                                            if (ticketSelectSessionSelect[i].checked) {
                                                checker = true;
                                            }
                                        }
                                        if (checker === true) {
                                            $("#product-addtocart-button").removeAttr('disabled');
                                            $("#buy-now-btn").removeAttr('disabled');
                                            $('.coupon-gift-field').show();
                                        } else {
                                            $("#buy-now-btn").prop('disabled', true);
                                            $('.coupon-gift-field').hide();
                                            $("#product-addtocart-button").prop('disabled', true);
                                            var productPriceSpan = $(productPrice).find('span');
                                            if (arrayAllTicketMax === arrayAllTicketMin) {
                                                if (ticketType === 'free' && arrayAllTicketMin === 0) {
                                                    productPriceSpan.html('Free');
                                                }
                                                else {
                                                    productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2));
                                                }
                                            }
                                            else {
                                                productPriceSpan.html(symbol + parseFloat(arrayAllTicketMin).toFixed(2) + ' - ' + parseFloat(arrayAllTicketMax).toFixed(2));
                                            }
                                        }

                                    }
                                });
                            }
                            else {
                                $("#fieldset_session").append("SOLD OUT");
                            }
                            deferred.resolve();
                        },
                        showLoader: true
                    });
                    $('#your_donation').keyup(function () {
                        var donate = parseFloat($(this).val()).toFixed(2);
                        var productPriceSpan = $(productPrice).find('span');
                        if (donate < parseFloat(minDonation) || donate === "NaN") {
                            $('#notification_donate_error').show();
                            // $('#your_donation').val(minDonation);
                            inputPrice.value = minDonation;
                            productPriceSpan.text(symbol + minDonation);
                            $("#product-addtocart-button").prop('disabled', true);
                        } else {
                            $('#notification_donate_error').hide();
                            inputPrice.value = donate;
                            productPriceSpan.text(symbol + donate);
                            $('#buy-now-btn').removeAttr('disabled');
                            $("#product-addtocart-button").removeAttr('disabled');
                        }
                    });
                    $.when(deferred).done(function () {
                        var mainHeight = $('.product-info-main .product-options-wrapper .ticket-options').outerHeight();
                        $('.product-info-main .product-options-wrapper .ticket-options').parents('.product-info-main').css('min-height', mainHeight);
                    });
                }

                function generateSessionTemplate(sessionId, title, originalValue, saleValue, boughtCount, available, isExpired, ticketsId) {
                    var template = " ", _class = '', sessionTitle = '', _disabled = '';
                    // console.log(isExpired, available);
                    if (isExpired === 1) {
                        _class = 'session_expired';
                        sessionTitle = 'Out of date';
                        _disabled = 'disabled';
                    } else if (available === 0) {
                        _class = 'session_sold_out';
                        sessionTitle = 'Sold out';
                        _disabled = 'disabled';
                    }
                    var currencySymbol = '<?php echo $_currencySymbol; ?>';
                    var discountPercent = 0;
                    if (parseFloat(originalValue) > 0) {
                        if (saleValue == null) {
                            saleValue = originalValue;
                        } else {
                            discountPercent = parseFloat(saleValue) / parseFloat(originalValue) * 100;
                            discountPercent = 100 - discountPercent;
                            discountPercent = discountPercent.toFixed(0);
                        }
                    }
                    if (isDonation === 1) {
                        originalValue = saleValue;
                    }
                    var displayBought = '';
                    if (boughtCount === 0 || boughtCount === '0') {
                        displayBought = 'style="display: none;"';
                    }
                    var discountHtml = '';
                    var displaySpecialPrice = '';
                    if (discountPercent > 0) {
                        discountHtml += '<span class="option-discount-value">' + discountPercent + '% OFF</span>\n';
                    } else {
                        discountHtml += '<span class="option-discount-value passive"></span>\n'
                        displaySpecialPrice = 'style="display:none;"';
                    }
                    template += '<div class="ticket-option-box ' + _class + ' " >\n' +
                        '                    <div class="ticket-session-status"><span>' + sessionTitle + '</span></div>\n' +
                        '                    <label class="ticket_select_session">' +
                        '                       <input type="checkbox" id="session_' + sessionId + '" aria-required="true" required class="radio-custom ticket_select_session_select" value="' + sessionId + '" name="' + ticketsId + '" ' + _disabled + '/>\n' +
                        '                       <span class="for-radio-custom"></span>\n' +
                        '                       <span class="for-radio-custom-text">' + title + '</span>\n' +
                        '                    </label>' +
                        '                    <div class="price-box price-final_price for-option">\n' +
                        discountHtml +
                        '                        <span class="old-price" ' + displaySpecialPrice + '>\n' +
                        '                            <span class="price-container price-final_price tax">\n' +
                        '                                <span class="price-wrapper">\n' +
                        '                                    <span class="price">' + currencySymbol + parseFloat(originalValue).toFixed(2) + '</span>\n' +
                        '                                </span>\n' +
                        '                            </span>\n' +
                        '                        </span>\n' +
                        '                        <span class="special-price">\n' +
                        '                            <span class="price-container price-final_price tax">\n' +
                        '                                <span class="price-wrapper">\n' +
                        '                                    <span class="price" id="session_price_' + sessionId + '" name="' + saleValue + '">' + currencySymbol + parseFloat(saleValue).toFixed(2) + '</span>\n' +
                        '                                </span>\n' +
                        '                            </span>\n' +
                        '                        </span>\n' +
                        '                    </div>\n' +
                        '                    <span class="option-bought-value">\n' +
                        '                       <span class="count-bought as" ' + displayBought + '>\n' +
                        '                           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 13.093">\n' +
                        '                               <g transform="translate(-1070 -4880)">\n' +
                        '                                   <rect width="1.775" height="1.775" transform="translate(1074.128 4891.317)"></rect>\n' +
                        '                                   <rect width="1.775" height="1.775" transform="translate(1081.118 4891.317)"></rect>\n' +
                        '                                   <path d="M9.964,2.419V4.194h3.329l-1.576,3.6H5.437l-.954-3.6H8.189V2.419H4.017L3.373,0H0V1.775H2.019L4.083,9.564h8.788L16,2.419Z" transform="translate(1070 4880)"></path>\n' +
                        '                                   <rect width="1.775" height="1.775" transform="translate(1079.954 4882.43) rotate(180)"></rect>\n' +
                        '                               </g>\n' +
                        '                           </svg>' + boughtCount + '<span>&nbsp;bought</span>\n' +
                        '                       </span>\n' +
                        '                    </span>\n' +
                        '                </div>';

                    return template;
                }

                function disableOtherCheckbox(checkboxValue) {
                    var listCheckbox = $('.ticket_select_session_select');
                    $.each(listCheckbox, function (e, v) {
                        if ($(this).val() !== checkboxValue) {
                            this.checked = false;
                        }
                    })
                }


                //    OptionsScroll
                var iScrollPos = 0;

                function show_scroll() {
                    var iCurScrollPos = $("#product-options-wrapper .fieldset_session-container").scrollTop();
                    if (iCurScrollPos > iScrollPos) {
                        //Scrolling Down
                    } else {
                        //Scrolling Up
                    }
                    iScrollPos = iCurScrollPos;
                    var sessionHeight;
                    if ($(".product-info-main .ticket-options-wrapper .fieldset_session").css('display') === 'none') {
                        sessionHeight = 0;
                    } else {
                        sessionHeight = $(".product-info-main .ticket-options-wrapper .fieldset_session").height();
                    }
                    var scrollHeight = sessionHeight - $("#product-options-wrapper .fieldset_session-container").height();
                    if (iScrollPos <= 0) {
                        $('.ticket-option-scroll .scroll-up > .action').fadeOut();
                    }
                    else {
                        $('.ticket-option-scroll .scroll-up > .action').fadeIn();
                    }
                    if (iScrollPos >= scrollHeight) {
                        $('.ticket-option-scroll .scroll-down > .action').fadeOut();
                    }
                    else {
                        $('.ticket-option-scroll .scroll-down > .action').fadeIn();
                    }
                }

                show_scroll();
                $("#product-options-wrapper .fieldset_session-container").scroll(function () {
                    show_scroll();
                });
                $('.ticket-option-scroll .scroll-up > .action').on({
                    'mousedown touchstart': function () {
                        $("#product-options-wrapper .fieldset_session-container").animate({scrollTop: 0}, 500);
                    },
                    'mouseup touchend': function () {
                        $("#product-options-wrapper .fieldset_session-container").stop(true);
                    }
                });
                $('.ticket-option-scroll .scroll-down > .action').on({
                    'mousedown touchstart': function () {
                        var scrollHeight = $(".product-info-main .ticket-options-wrapper .fieldset_session").height() - $("#product-options-wrapper .fieldset_session-container").height();
                        $("#product-options-wrapper .fieldset_session-container").animate({
                            scrollTop: scrollHeight
                        }, 500);
                    },
                    'mouseup touchend': function () {
                        $("#product-options-wrapper .fieldset_session-container").stop(true);
                    }
                });
                //    END OptionsScroll
            })
            ;
        </script>
    <?php endif; ?>
<?php endif; ?>
