<div>
    <button id="price-report-button" style="display: none;" data-bind="click: popupReportModal">Price Report</button>
</div>
<div style="display: none">
    <form id="popup-modal-price-report" data-bind="afterRender: initPopupModal" class="users-report-price">
        <div class="customer-name">
            <span class="input-label">Customer Name: </span>
            <input name="customer_name" type="text" data-bind="value: fullName" data-validate="{required:true}"
                   placeholder="Enter your name"/>
        </div>
        <div class="customer-email">
            <span class="input-label">Customer Email: </span>
            <input name="customer_email" type="email" data-bind="value: email"
                   data-validate="{required:true, email: true}" placeholder="Enter your email"/></div>
        <div class="store-type-input">
            <span class="store-input-label">Store type:</span>
            <div class="store-input-wrapper">
                <span>Online site</span>
                <label>
                    <input type="checkbox" name="on_site" class="checkbox-custom"
                           data-bind="checked: onSite, attr: {'data-validate' : '{required:'+ !localStore() +'}'}">
                    <span class="for-checkbox-custom"></span>
                </label>
            </div>
            <div class="store-input-wrapper">
                <span>Local store</span>
                <label>
                    <input type="checkbox" name="on_site" class="checkbox-custom"
                           data-bind="checked: localStore, attr: {'data-validate' : '{required:'+ !onSite() +'}'}">
                    <span class="for-checkbox-custom"></span>
                </label>
            </div>
        </div>
        <div data-bind="if: onSite()" class="store-address">
            <span class="input-label">Online site:</span>
            <input name="online_site" type="text" data-bind="value: url" data-validate="{required:true, url: true}"
                   placeholder="Enter online store URL"/>
        </div>
        <div data-bind="if: localStore()" class="store-address">
            <span class="input-label">Local Store: </span>
            <input name="local_store" type="text" data-bind="value: address" data-validate="{required:true}"
                   placeholder="Enter local store address"/>
        </div>
        <div class="price-wrapper">
            <span class="input-label">Price: </span>
            <input name="price" type="number" data-bind="value: price" data-validate="{required:true, min: 0}"
                   placeholder="Enter price of this product"/>
        </div>
        <div class="comment-wrapper">
            <span class="input-label">Comment: </span>
            <textarea rows="4" cols="50" data-bind="value: comment"
                      placeholder="Enter your comment about this product"></textarea>
        </div>
    </form>
</div>
