<?php
/**
 * @var $block \Magenest\Groupon\Block\Customer\CustomerSidebar
 */
?>
<?php if (!$block->isCustomerAccountDashboardPage()): ?>
<div class="block-content">
    <div class="box box-information">
        <h1 class="customer-name"><?= $block->escapeHtml($block->getName()) ?></h1>
        <p class="customer-email"><?= $block->escapeHtml($block->getCustomer()->getEmail()) ?></p>
    </div>
</div>
<?php endif; ?>