<?php
/**
 * @var $block \Magenest\Groupon\Block\Customer\VirtualReview | \Magenest\Ticket\Block\Product\VirtualReview
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$_hlp = $objectManager->get('Unirgy\Dropship\Helper\Data');
$_msHlp = $_hlp->getObj('Unirgy\DropshipMicrosite\Helper\Data');
?>

<?php $couponIds = $block->getCouponProductIds() ?>
<?php $item = $objectManager->create('Magenest\VendorApi\Helper\OrderHelper')->getRatingItemsByProductId($couponIds, $block->getCustomerId()); ?>
<?php if (count($item->getData()) !== 0): ?>
    <?php $product = $item->getProduct(); ?>
    <h3>
        <a href="<?php echo $_msHlp->getVendorUrl($product->getUdropshipVendor()) ?>"><?php echo $_hlp->getVendor($product->getUdropshipVendor())->getVendorName() ?></a>
    </h3>
    <div class="table-wrapper order-items">
        <table class="data table table-order-items" id="my-product-table-<?php echo $item->getId(); ?>">
            <thead>
            <tr>
                <th class="col name"><?php echo __('Product Name') ?></th>
                <th class="col sku"><?php echo __('SKU') ?></th>
                <th class="col qty"><span class="nobr"><?php echo __('Qty Shipped') ?></span></th>
            </tr>
            </thead>
            <tbody>
            <tr id="order-item-row-8" class="first last">
                <td class="col name" data-th="Product Name">
                    <strong class="product name product-item-name"><?php echo($item->getName()); ?></strong>
                    <dl class="item options">
                        <dt>Vendor</dt>
                        <dd>
                            <?php echo $_hlp->getVendor($product->getUdropshipVendor())->getVendorName() ?>
                        </dd>
                    </dl>
                </td>
                <td class="col sku" data-th="SKU"><?php echo($item->getSku()); ?></td>
                <td class="col qty last" data-th="Qty Shipped">None</td>
            </tr>
            </tbody>
        </table>
    </div>
    <?php echo $this->getLayout()->createBlock('Magenest\FixUnirgy\Block\ReviewForm')
        ->setEntityId(\Magenest\FixUnirgy\Helper\Review\Data::ENTITY_TYPE_ID)
        ->setEntityPkValue($product->getUdropshipVendor())
        ->setRelEntityPkValue($item->getId())
        ->setOrderItem($item)
        ->toHtml();
    ?>
<?php endif; ?>