<?php
/** @var  $block \Magenest\FixUnirgy\Block\ReviewForm */
$_id = $this->getEntityPkValue();
$_relId = $this->getRelEntityPkValue();
?>

<div class="form-add">
    <form action="<?php echo $this->getAction() ?>" method="post" id="udratings-form-<?php echo $_relId?>">
        <fieldset>
            <?php if( $this->getAggregateRatings() && $this->getAggregateRatings()->getSize()): ?>
                <div class="nested data-table" id="aggregate-review-table-<?php echo $_relId?>">
                    <?php foreach($this->getAggregateRatings() as $_rating): ?>
                        <?php if ($block->checkCategory($_rating)): ?>
                            <div class="field choice review-field-rating">
                                <label class="label"
                                       id="<?= $block->escapeHtml($_rating->getRatingCode()) ?>_rating_label"><span><?= $block->escapeHtml($_rating->getRatingCode()) ?></span></label>
                                <div class="control review-control-vote">
                                    <?php $options = $_rating->getOptions(); ?>
                                    <?php $iterator = 1;
                                    foreach($options as $_option): ?>
                                        <input
                                                type="radio"
                                                name="ratings[<?php echo $_rating->getId() ?>]"
                                                id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>-<?php echo $_relId ?>"
                                                value="<?php echo $_option->getId() ?>"
                                                class="radio"
                                                data-validate="{'rating-required':true}"
                                                aria-labelledby="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label"/>
                                        <label
                                                class="rating-<?= $block->escapeHtmlAttr($iterator) ?>"
                                                for="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>-<?php echo $_relId ?>"
                                                title="<?= $block->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?>"
                                                id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label">
                                            <span><?= $block->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? 'stars' : 'star')) ?></span>
                                        </label>
                                        <?php $iterator++; ?>
                                    <?php endforeach; ?>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </div>
                <input type="hidden" id="validate-nonaggregate-rating-<?php echo $_relId?>" name="validate_rating" class="validate-aggregate-rating" value="" />
                <script type="text/javascript">
                    require(["jquery", "prototype"], function(jQuery) {
                        decorateTable('aggregate-review-table')
                    });
                </script>
            <?php endif; ?>
            <?php if( $this->getNonAggregateRatings() && $this->getNonAggregateRatings()->getSize()): ?>
                <table class="data-table" id="nonaggregate-review-table-<?php echo $_relId?>">
                    <col />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <col width="1" />
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th><span class="nobr"><?php echo __('No') ?></span></th>
                        <th><span class="nobr"><?php echo __('Yes') ?></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($this->getNonAggregateRatings() as $_rating): ?>
                        <tr>
                            <th><?php echo $this->escapeHtml($_rating->getRatingCode()) ?></th>
                            <?php foreach ($_rating->getOptions() as $_option): ?>
                                <td class="value">
                                    <span class="input-rating"></span>
                                    <input type="radio" name="ratings[<?php echo $_rating->getId() ?>]" id="<?php echo $this->escapeHtml($_rating->getRatingCode()) ?>_<?php echo $_option->getValue() ?>-<?php echo $_relId?>" value="<?php echo $_option->getId() ?>" class="radio" />
                                </td>
                            <?php endforeach; ?>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                </table>
                <input type="hidden" id="validate-nonaggregate-rating-<?php echo $_relId?>" name="validate_rating" class="validate-nonaggregate-rating" value="" />
                <script type="text/javascript">
                    require(["jquery", "prototype"], function(jQuery) {
                        decorateTable('nonaggregate-review-table')
                    });
                </script>
            <?php endif; ?>
            <ul class="form-list">
                <li class="review-form-nickname">
                    <label for="nickname_field-<?php echo $_relId?>" class="required "><?php echo __('Nickname') ?></label>
                    <div class="input-box">
                        <input type="text" name="nickname" id="nickname_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getNickname()) ?>" />
                    </div>
                </li>
                <li class="review-form-summary">
                    <label for="summary_field-<?php echo $_relId?>" class="required "><?php echo __('Summary of Your Review') ?></label>
                    <div class="input-box">
                        <input type="text" name="title" id="summary_field-<?php echo $_relId?>" class="input-text required-entry" value="<?php echo $this->escapeHtml($data->getTitle()) ?>" />
                    </div>
                </li>
                <li class="review-form-content">
                    <label for="review_field-<?php echo $_relId?>" class="required "><?php echo __('Review') ?></label>
                    <div class="input-box">
                        <textarea name="detail" id="review_field-<?php echo $_relId?>" cols="5" rows="3" class="required-entry"><?php echo $this->escapeHtml($data->getDetail()) ?></textarea>
                    </div>
                </li>
            </ul>
        </fieldset>
        <div>
            <button type="submit" title="<?php echo __('Submit Review') ?>" class="button single-review-groupon-customer-page"><span><span><?php echo __('Submit Review') ?></span></span></button>
        </div>
    </form>
    <script type="text/javascript">
        //<![CDATA[

        require(["jquery", "prototype", 'varien/form'], function($) {
            var udratingsRatingValidate = function (tableId, v) {
                var trs = $(tableId).select('tr');
                var inputs;
                var error = 1;

                for( var j=0; j < trs.length; j++ ) {
                    var tr = trs[j];
                    if( j > 0 ) {
                        inputs = tr.select('input');

                        for( i in inputs ) {
                            if( inputs[i].checked == true ) {
                                error = 0;
                            }
                        }

                        if( error == 1 ) {
                            return false;
                        } else {
                            error = 1;
                        }
                    }
                }
                return true;
            };
            var udratingsRatingValidateAggregate = function (tableId, v) {
                var trs = $('#' + tableId).find('div.control.review-control-vote');
                var inputs;
                var error = 1;

                for (var j = 0; j < trs.length; j++) {
                    var tr = trs[j];
                    inputs = tr.select('input');

                    for (var i in inputs) {
                        if (inputs[i].checked === true) {
                            error = 0;
                        }
                    }

                    if (error === 1) {
                        return false;
                    } else {
                        error = 1;
                    }
                }
                return true;
            };
            var dataForm = new VarienForm('udratings-form-<?php echo $_relId?>');
            dataForm.validator.validate = dataForm.validator.validate.bind(dataForm.validator).wrap((function(proceed){
                Validation.addAllThese([
                    ['validate-aggregate-rating',
                        '<?php echo __('Please select one of each of the ratings above') ?>',
                        udratingsRatingValidateAggregate.curry('aggregate-review-table-<?php echo $_relId?>')],
                    ['validate-nonaggregate-rating',
                        '<?php echo __('Please select one of each of the ratings above') ?>',
                        udratingsRatingValidate.curry('nonaggregate-review-table-<?php echo $_relId?>')]
                ]);
                return proceed();
            }).bind(dataForm.validator));
        });

        //]]>
    </script>
</div>
