<?php
/**@var $block \Magenest\Groupon\Block\Product\View\Info */

$timeCountdown = $block->getTimeDeal();
$options = $block->getOptions();
$numberOrder = $block->getNumberOrder();
$symbol = $block->getCurrencySymbol();
$discountForm = $block->getDiscountFormCoupon();
?>
<?php if ($block->isConfigurableProduct()): ?>
<input name="additional_options[coupon_selected_children]" id="coupon-select-option-choose" type="hidden" />
<?php endif; ?>
<?php if ($block->isCouponProduct()) : ?>
    <div class="coupon-options-wrapper" id="coupon-options-wrapper" data-hasrequired="* Required Fields">
        <?php if ($block->getLocationCoupon() != null) { ?>
            <div class="fieldset" tabindex="0">
                <div class="field required">
                    <div class="control">
                        <select aria-required="true" id="coupon_select_location" title=""
                                data-selector="coupon_select_location"
                                class="required product-custom-option-location admin__control-select">
                            <option value=""><?php echo __('Select Location...') ?></option>
                            <?php foreach ($block->getLocationCoupon() as $location) { ?>
                                <option id="select_location" name="option_location"
                                        value="<?php echo $location['record_id'] ?>">
                                    <?php echo $location['street'] . ' - ' . $location['city'] . ' - ' . $location['country'] ?>
                                </option>
                            <?php } ?>
                        </select>
                    </div>
                </div>
            </div>
        <?php } ?>
        <div class="fieldset" tabindex="0">
            <div class="deal_discount_block clearfix">
                <table style="text-align: center;background-color: #cfeef6;">
                    <tr>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Value') ?></b></p>
                            <p id="value"><?php echo $discountForm['value'] ?></p>
                        </td>
                        <td style="color: white; background-color: #0a6c9f; width: 25%;">
                            <p><b><?php echo __('Discount') ?></b></p>
                            <p id="discount"><?php echo $discountForm['discount'] ?></p>
                        </td>
                        <td style="width: 25%;">
                            <p><b><?php echo __('Your Save') ?></b></p>
                            <p id="you_save"><?php echo $discountForm['you_save'] ?></p>
                        </td>
                        <td id="qty" style="color: white; background-color: #0a6c9f; width: 25%;">
                            <p><b><?php echo __('Qty') ?></b></p>
                            <p id="qtyValue"><?php echo $discountForm['qty'] ?></p>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
        </div>
    </div>

    <script>
        require([
            "jquery",
            "jquery/ui"
        ], function ($) {
            'use strict';
            var optionLocation = document.getElementById("product_groupon_location_id");
            var productId = $("input[name=product]").val();

            var selectLocation = document.getElementById("coupon_select_location");
            $(selectLocation).change(function () {
                var checkValue = $(this).val();
                optionLocation.value = checkValue;
                var id = productId + '_' + checkValue;
                $(".box-map").empty();
                getGoogleMap(id);
            });
            var giftform = "";

            giftform += ' <div id="giftform">';
            giftform += ' <div class="giftform-item"><lable>To</lable><em>*</em>';
            giftform += ' <input id="recipient_name" data-validate="{required:true }" type="text" name="additional_options[To]"></div>';
            giftform += ' <div class="giftform-item"><lable>Recipient\'s Email</lable><em>*</em>';
            giftform += ' <input id="recipient_mail" data-validate="{required:true, \'validate-mail\':true}" type="text" name="additional_options[Email]"></div>';
            giftform += ' <div class="giftform-item"><lable>Your Gift Message</lable><em>*</em>';
            giftform += ' <input id="recipient_message" data-validate="{required:true }" type="text" name="additional_options[Message]"></div>\n';
            // giftform += ' <input type="radio" id="print_gift_option" name="additional_options[Type]" value="Print " >';
            // giftform += ' <lable>Print Coupon</lable>';
            giftform += ' <input type="radio" id="mail_gift_option" name="additional_options[Type]" style="display: none" value="Mail" checked>';
            giftform += ' <lable for="mail_gift_option" style="display: none;">Send Email Directly</lable>';
            giftform += ' </div>';


            $("#coupon_id_gift").click(function () {
                if ($(this).is(":checked")) {
                    $('#product-addtocart-button > span').html('Add as Gift');
                    this.html('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">\n' +
                        '                <g transform="translate(-603 -28)">\n' +
                        '                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"></path>\n' +
                        '                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"></path>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"></rect>\n' +
                        '                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"></rect>\n' +
                        '                </g>\n' +
                        '            </svg>' + 'Cancel');
                    $("#gift_recipient").append(giftform);
                    $(".product-options-bottom .box-tocart").css("clear","left");
                } else {
                    $("#giftform").remove();
                    $(".product-options-bottom .box-tocart").css("clear","none");
                }
            });

            function getGoogleMap(id) {
                $.ajax({
                    type: "POST",
                    url: '<?php echo $block->getReturnLocation()?>?isAjax=true',
                    data: {form_key: '<?php echo $block->getFormKey() ?>', location_id: id},
                    showLoader: true,
                    success: function (result) {
                        console.log(result);
                        var locationTemplate = " ";
                        var address = result.replace(/\s+/g, '+');
                        var apiKey = '<?php echo $block->getGoogleApiKey() ?>';
                        var srcMap = 'https://www.google.com/maps/embed/v1/place?key=' + apiKey + '&q=' + address;
                        locationTemplate += '<div class="box-map">';
                        locationTemplate += '<iframe width="1195" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ' +
                            'src=' + srcMap +
                            ' allowfullscreen >';
                        locationTemplate += '</iframe>';
                        locationTemplate += '</div>';
                        $(".groupon_map").append(locationTemplate);
                    },
                    error: function (e) {
                        console.log(e);
                    },
                    timeout: 10000
                });
            }
        });
    </script>

    <?php //Disable another countdown timer, please specified if this countdown below is needed (by Sam)?>
    <?php if (false) :
        $arrayTimeCountDown = explode('-',$timeCountdown[0]['end_time']);
        $timeCountdown[0]['end_time'] = $arrayTimeCountDown[0]."-".$arrayTimeCountDown[1]."-".($arrayTimeCountDown[2]+1);
        ?>
        <div class="remaining_time">
            <div class="countdown-gift" id="countdown-gift">
                <div id="countdown-time" class="countdown"></div>
                <div class="countdown-time-display-field"></div>
            </div>
        </div>
        <script>
            require([
                'jquery',
                'jqueryCountdown',
                "domReady!"
            ], function ($, domReady) {
                'use strict';
                $(document).ready(function () {
                    var finalDate = "<?php echo $timeCountdown[0]['end_time'] ?>";
                    $('#countdown-time').first().countdown(finalDate, function (event) {
                        var format = '';
                        // var format = '<div class="box-count box-days"><div class="number">%D</div><div class="text">Days</div></div><div class="box-count box-hours"><div class="number">%H</div><div class="text">Hrs</div></div><div class="box-count box-min"><div class="number">%M</div><div class="text">Mins</div></div><div class="box-count box-secs"><div class="number">%S</div><div class="text">Secs</div></div>';
                        if(parseInt(event.strftime('%D'))==0){
                            format = '<p class="countdown-text">' +
                                    '<span class="hours">%H</span><span class="text">h</span> ' +
                                    '<span class="minutes">%M</span><span class="text">m</span> ' +
                                    '<span class="secs">%S</span><span class="text">s</span> ' +
                                    'left</p>';
                        }
                        var time = event.strftime(format);
                        $('.countdown-time-display-field').first().html(time);
                    });
                }).on('finish.countdown', function () {
                    $('button#product-addtocart-button').attr("disabled", "disabled");
                });
            });
        </script>
    <?php endif; ?>

    <div class="field coupon-gift-field">
        <input id="coupon_id_gift" type="checkbox">
        <label for="coupon_id_gift">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.316 16">
                <g transform="translate(-603 -28)">
                    <path d="M21.5,8v2.246h2.246V8Z" transform="translate(587.535 22.246)"/>
                    <path d="M8.281,16.1v2.246H12.07v6.989H8.281V18.346H6.035v6.989H2.246V18.346H6.035V16.1H0V27.581H14.316V16.1Z" transform="translate(603 16.419)"/>
                    <rect width="2.246" height="2.246" transform="translate(611.281 28)"/>
                    <rect width="2.246" height="2.246" transform="translate(606.789 28)"/>
                </g>
            </svg>
            Give as a Gift
        </label>
    </div>
    <div id="gift_recipient">
    </div>

<?php endif; ?>
