<?php
/**
 * @var $block \Magenest\FixUnirgy\Block\Cart\VendorSubtotal
 */
$displayCurrency = $block->getCurrentCurrencyCode() . " " . $block->getCurrentCurrencySymbol();
?>
<?php if ($block->isValid()): ?>
    <div id="subtotal-vendor-<?= $block->getVendorId() ?>" class="subtotal-vendor-checkout-cart" data-bind="scope: 'vendor-estimate-subtotal-<?= $block->getVendorId() ?>'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "vendor-estimate-subtotal-<?= $block->getVendorId() ?>": {
                            "component": "Magenest_FixUnirgy/js/cart/subtotal",
                            "template": "Magenest_FixUnirgy/cart/subtotal",
                            "config": {
                                "vendorId": <?= $block->getVendorId() ?>,
                                "isShipping": "<?= $block->needShipping() ?>",
                                "currency": "<?= $block->getCurrentCurrencySymbol() ?>",
                                "currencyCode": "<?= $block->getCurrentCurrencyCode() ?>",
                                "subtotal": <?= $block->getBaseTotalExclTax() ?>,
                                "shipping": 0,
                                "tax": <?= $block->getBaseTotalTax() ?>
                            }
                        }
                    }
                }
            }
        }
    </script>
<?php endif; ?>

