<?php
/**
 * @category    design
 * @package     monster_default
 * @copyright   Copyright (c) 2012 Monster Market. (http://www.monstermarket.com)
 */
?>
<?php
	/** @var \Unirgy\Dropship\Helper\Data $_hlp */
	$_hlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Data');
    $r = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\RequestInterface');
    $cHlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Catalog');
    $ccHlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\DropshipSellYours\Helper\Data');
    $_productCollection=$this->getLoadedProductCollection();
	$curCat = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\Registry')->registry('current_category');
if (!$curCat && $this->getCategoryId()) {
	$curCat = $_hlp->createObj('\Magento\Catalog\Model\Category')->load($this->getCategoryId());
}
    $_helper = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Catalog\Helper\Output');
    $sess = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session');
    $searchUrlKey = $sess->getData('udsell_search_type') ? 'mysellSearch' : 'sellSearch';
    $myPids = $sess->getVendor()->getVendorTableProductIds();
?>
<?php
if ($block->getMode() == 'grid') {
	$viewMode = 'grid';
	$image = 'category_page_grid';
	$showDescription = false;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
} else {
	$viewMode = 'list';
	$image = 'category_page_list';
	$showDescription = true;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
}
/**
 * Position for actions regarding image size changing in vde if needed
 */
$pos = $block->getPositioned();
?>
<?php if ($sess->getData('udsell_search_type')): ?>
    <button class="form-button" onclick="setLocation('<?php echo $this->getUrl('*/*/sellSearch', ['_current'=>true])?>')"><span><?php echo __('Switch To Sell Yours')?></span></button>
<?php else: ?>
    <button class="form-button" onclick="setLocation('<?php echo $this->getUrl('*/*/mysellSearch', ['_current'=>true])?>')"><span><?php echo __('Switch To My Sell List')?></span></button>
<?php endif?>
<br /><br />
<div class="sell-yours-index-box sell-yours-list">
	<div class="search-bar generic-box">
		<form action="<?php echo $this->getUrl('udsell/index/'.$searchUrlKey, ['c'=>$r->getParam('c')]) ?>" method="get" class="input-box-container">
			<h2><?php echo __('Find')?></h2>
			<div class="input-box">
				<input type="text" name='q' value='<?php echo $r->getParam('q') ?>' class="input-text required-entry"/>
			</div>
			<button class="form-button" onclick="udsellSearchForm.submit()"><span><?php echo __('Go')?></span></button>
        </form>

<script type="text/javascript">
//<![CDATA[
    
require(["jquery", "prototype", "varien/form"], function(jQuery) {
window['udsellSearchForm'] = new VarienForm('udsell-search-form', true);
});

//]]>
</script>

		<a href="<?php echo $this->getUrl('udprod/vendor/products/') ?>" class="create-new"><?php echo __("Didn't find what you're looking for? <span>Create your product</span>")?></a>
        
	</div>
	<div class="col2-left-layout">
		<div class="sidebar col-left">
            <?php if ($curCat):
                $subCats = $cHlp->getCategoryChildren($curCat);
            ?>
			<div class="block block-sellyours-cat-list">
				<div class="block-title"><?php echo __('Categories')?></div>
				<div class="block-content">
					<dl>
						<dt><?php echo htmlspecialchars($curCat->getName())?></dt>
                        <?php if (count($subCats)):?>
						<dd>
                            <?php foreach ($subCats as $subCat): ?>
							<ol>
								<li><a href="<?php echo $this->getUrl('udsell/index/'.$searchUrlKey, ['_current'=>true, 'c'=>$subCat->getId()])?>"><?php echo htmlspecialchars($subCat->getName())?></a></li>
							</ol>
                            <?php endforeach ?>
						</dd>
                        <?php endif ?>
					</dl>
				</div>
			</div>
            <?php endif ?>
		</div>
		<div class="col-main">
			<div class="page-title category-title">
                <h2>
                <?php if ($r->getParam('q') && $curCat): ?>
        		<?php echo __('Search Results for "%1" in category "%2"', htmlspecialchars($r->getParam('q')), htmlspecialchars($curCat->getName()))?>
                <?php elseif ($curCat): ?>
                <?php echo __('Browsing category "%1"', htmlspecialchars($curCat->getName()))?>
                <?php elseif ($r->getParam('q')): ?>
                <?php echo __('Search Results for "%1"', htmlspecialchars($r->getParam('q')))?>
                <?php endif?>
                </h2>
			</div>

            <?php if(!$_productCollection->count()): ?>
            <p class="note-msg"><?php echo __('There are no products matching the selection.') ?></p>
            <?php else: ?>

            <?php echo $this->getToolbarHtml() ?>

			<ol class="products-list" id="products-list">
            <?php $_iterator = 0; ?>
            <?php foreach ($_productCollection as $_product): ?>
	            <li class="item odd">
					<?php
					$productImage = $block->getImage($_product, $image);
					if ($pos != null) {
						$position = ' style="left:' . $productImage->getWidth() . 'px;'
							. 'top:' . $productImage->getHeight() . 'px;"';
					}
					?>
					<?php // Product Image ?>
					<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product photo product-item-photo" tabindex="-1">
						<?php echo $productImage->toHtml(); ?>
					</a>
					<h2 class="product-name"><a href="<?php echo $ccHlp->getSellUrl($_product)?>" title="<?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
	            	<button type="button" title="<?php echo __('Sell Yours')?>" class="form-button btn-sellyours" onclick="setLocation('<?php echo $this->getUrl('udsell/index/sell', ['id'=>$_product->getId()]) ?>')"><span><?php echo in_array($_product->getId(), $myPids) ? __('Edit My Offer') : __('Sell Yours')?></span></button>
	        	</li>
            <?php endforeach ?>
	        </ol>
<script type="text/javascript">
require(["jquery", "prototype"], function(jQuery) {
decorateGeneric($('products-list').childElements())
});
</script>
            <?php endif ?>
		</div>
	</div>
</div>
