<?php
/**
 * @category    design
 * @package     monster_default
 * @copyright   Copyright (c) 2011 Monster Market. (http://www.monstermarket.com)
 */
?>
<?php $r = \Magento\Framework\App\ObjectManager::getInstance()->get('Magento\Framework\App\RequestInterface'); ?>
<?php if (!$r->getParam('q') && !$this->getRequest()->getParam('c')): ?>
<?php
    $cHlp = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Helper\Catalog');
    $_topCategories = $cHlp->getSortedCategoryChildren($cHlp->getStoreRootCategory(), 'name', true)
        ->addAttributeToFilter('include_in_menu', 1);
    $tcCnt = count($_topCategories);
    $tcRowCnt = ceil($tcCnt/3);
    $tcRowCnt = $tcRowCnt>1 ? $tcRowCnt : 1;
    $sess = \Magento\Framework\App\ObjectManager::getInstance()->get('Unirgy\Dropship\Model\Session');
    $searchUrlKey = $sess->getData('udsell_search_type') ? 'mysellSearch' : 'sellSearch';
?>

<?php if ($sess->getData('udsell_search_type')): ?>
    <button class="form-button" onclick="setLocation('<?php echo $this->getUrl('*/*/sellSearch', ['_current'=>true])?>')"><span><?php echo __('Switch To Sell Yours')?></span></button>
<?php else: ?>
    <button class="form-button" onclick="setLocation('<?php echo $this->getUrl('*/*/mysellSearch', ['_current'=>true])?>')"><span><?php echo __('Switch To My Sell List')?></span></button>
<?php endif?>
<div class="sell-yours-index-box">
	<div class="search-bar">
		<form id="udsell-search-form" action="<?php echo $this->getUrl('udsell/index/'.$searchUrlKey) ?>" method="get" class="input-box-container">
			<h2><?php echo __('Find')?></h2>
			<div class="input-box">
				<input type="text" name='q' value='<?php echo $r->getParam('q') ?>' class="input-text required-entry"/>
			</div>
			<button class="form-button" onclick="udsellSearchForm.submit()"><span><?php echo __('Go')?></span></button>
		</form>
<script type="text/javascript">
//<![CDATA[
    
require(["jquery", "prototype", 'varien/form'], function(jQuery) {
var udsellSearchForm = new VarienForm('udsell-search-form', true);
});

//]]>
</script>

		<a href="<?php echo $this->getUrl('udprod/vendor/products/') ?>" class="create-new "><?php echo __("Didn't find what you're looking for? <span>Create your product</span>")?></a>
        
	</div>

	<div class="browse-categories-container generic-box">
		<h3><?php echo __("<span>Or,</span> Browse by Category")?></h3>
		<div class="browse-categories col3-set">
            <?php $idx=0; foreach ($_topCategories as $topCat): $idx++;?>
            <?php if ($idx%$tcRowCnt==1 || $tcRowCnt==1):?>
			<ul class="col-<?php echo (int)ceil($idx/$tcRowCnt)?>">
            <?php endif ?>
				<li class="<?php if ($topCat->getId()==$r->getParam('c')) echo 'active' ?>"><a href="<?php echo $this->getUrl('udsell/index/'.$searchUrlKey, ['c'=>$topCat->getId()]) ?>"><?php echo htmlspecialchars($topCat->getName())?></a></li>
            <?php if ($idx%$tcRowCnt==0 || $idx==$tcCnt):?>
			</ul>
            <?php endif ?>
            <?php endforeach ?>
		</div>
	</div>
	
	
	<p class="create-product-text-cta not-found generic-box"><?php echo __("Didn't find what you're looking for?")?>&nbsp;&nbsp;&nbsp;&nbsp;<a href="<?php echo $this->getUrl('udprod/vendor/products/') ?>"><button  class="form-button"><span><?php echo __("Create your product")?></span></button></a></p>
	</div>
</div>

<?php else: ?>
    <?php echo $this->getChildHtml('search_result_list'); ?>
<?php endif ?>