<?php
/**
 * Copyright © 2018 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/** @var $block \Magenest\CategoryHeader\Block\Adminhtml\Rule\Search */
?>
<?php
/** @var  $_data \Magento\Catalog\Model\ResourceModel\Product\Collection */
$_data = $block->getInformation();
$a = $block->getPathImage();
?>
<table class="data table table-category-items history" id="my-category-table" border="1px">
    <caption class="table-caption"><?php /* @escapeNotVerified */ echo __('Search Result') ?></caption>
    <thead>
        <tr>
            <th scope="col" class="col action"><?php /* @escapeNotVerified */ echo __('Select') ?></th>
            <th scope="col" class="col id"><?php /* @escapeNotVerified */ echo __('ID') ?></th>
            <th scope="col" class="col image_item"><?php /* @escapeNotVerified */ echo __('Image') ?></th>
            <th scope="col" class="col name"><?php /* @escapeNotVerified */ echo __('Name') ?></th>
            <th scope="col" class="col date"><?php /* @escapeNotVerified */ echo __('Sku') ?></th>
            <th scope="col" class="col location"><?php /* @escapeNotVerified */ echo __('Price') ?></th>
        </tr>
    </thead>
    <?php if (count($_data) > 0): ?>
        <tbody>
        <?php
        foreach ($_data as $_item): ?>
            <tr>
                <td data-th="<?php echo /* @escapeNotVerified */
                $block->escapeHtml(__('Select')) ?>" class="col action">
                    <input type="checkbox"
                           name="select[product][<?php echo $_item->getEntityId() ?>]"
                           value="<?php /* @escapeNotVerified */
                           echo $_item->getEntityId() ?>">
                </td>
                <td data-th="<?php echo $block->escapeHtml(__('ID')) ?>"
                    class="col id"><?php /* @escapeNotVerified */
                    echo $_item->getEntityId() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Image')) ?>"
                    class="col image_item">
                    <img src="<?php /* @escapeNotVerified */
                    echo $block->getPathImage().'catalog/product'
                      .$_item->getImage() ?>" alt="" width="100px"
                         height="100px">
                </td>
                <td data-th="<?php echo $block->escapeHtml(__('Name')) ?>"
                    class="col name"><?php /* @escapeNotVerified */
                    echo $_item->getName() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Sku')) ?>"
                    class="col sku"><?php /* @escapeNotVerified */
                    echo $_item->getSku() ?></td>
                <td data-th="<?php echo $block->escapeHtml(__('Price')) ?>"
                    class="col price"><?php /* @escapeNotVerified */
                    echo $_item->getPrice() ?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    <?php else: ?>
      <span>No Result Found</span>
    <?php endif;?>
</table>
