<?php if($block->isFacebookEnabled()): ?>
    <div class="sociallogin-connect facebook-connect">
        <a href="<?php echo $this->getButtonUrl(); ?>" class="sociallogin-btn facebook-btn">
            <div class="facebook_button_connect">
            </div>
            <span>
                Login with Facebook
            </span>
        </a>
    </div>
<?php endif;?>