<?php if ($block->isGoogleEnabled()): ?>
    <div class="sociallogin-connect google-connect">
        <a href="<?php echo $block->getButtonUrl(); ?>" class="sociallogin-btn google-btn">
            <div class="google_button_connect">
            </div>
            <span>
                Login with Google
            </span>
        </a>
    </div>
<?php endif; ?>
