<?php if($block->isInstagramEnabled()): ?>
    <div class="sociallogin-connect instagram-connect" >
        <a href="<?php echo $block->getButtonUrl(); ?>" class="sociallogin-btn instagram-btn">
            <div class="instagram_button_connect">
            </div>
            <span>
                Login with Instagram
            </span>
        </a>
    </div>
<?php endif;?>