<?php if($block->isLinkedinEnabled()): ?>
    <div class="sociallogin-connect linkedin-connect">
        <a href="<?php echo $this->escapeUrl($this->getButtonUrl()); ?>" class="sociallogin-btn linkedin-btn">
            <div class="linkedin_button_connect">
            </div>
            <span>
                Login with Linkedin
            </span>
        </a>
    </div>
<?php endif;?>