<?php if($block->isPinterestEnabled()): ?>
    <div class="sociallogin-connect pinterest-connect">
        <a href="<?php echo $block->getButtonUrl(); ?>" class="sociallogin-btn pinterest-btn">
            <div class="pinterest_button_connect">
            </div>
            <span>
                Login with Pinterest
            </span>
        </a>
    </div>
<?php endif;?>