<?php if ($block->isShareEnabled()): ?>
    <span class="share share-list" style="font-weight: bold; font-size: 15px; margin-top: 10px">
<!--        --><?php //echo __('Share this on your social network'); ?>
        <?php
        $emailShareUrl = $block->getEmailShareUrl();
        ?>
    </span>
    <script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
    <script>
        require([
            'jquery',
            'Magenest_SocialLogin/js/hideshare'
        ], function ($) {
            'use strict';
            if($(".product-social-links").length){
                $(".product-social-links .share.share-list").hideshare({
                    link: document.URL,
                    title: "",
                    media: "",
                    decription: "",
                    facebook: true,
                    twitter: true,
                    pinterest: true,
                    googleplus: false,
                    linkedin: false,
                    position: "bottom",
                    speed: 50,
                    shareEmailUrl: '<?= $emailShareUrl ?>',
                });
            }
            
        });
    </script>
<!--    <ul class="hideshare-list">-->
<!--    <li><a href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true">-->
<!--        <div class="pinterest-share"></div>-->
<!--    </a></li>-->
<!--    </ul>-->
<?php
endif;?>