<?php if ($block->isTwitterEnabled()): ?>
    <div class="sociallogin-connect twitter-connect">
        <a href="<?php echo $block->getButtonUrl(); ?>" class="sociallogin-btn twitter-btn">
            <div class="twitter_button_connect">
            </div>
            <span>
                Login with Twitter
            </span>
        </a>
    </div>
<?php endif;?>
