<?php
/**
 * @var \Unirgy\Dropship\Helper\Data $_hlp
 */

use Magento\Framework\App\ObjectManager;

$_objectLoader = ObjectManager::getInstance();
$_hlp = $_objectLoader->get('Unirgy\Dropship\Helper\Data');
$_poHlp = $_objectLoader->get('Unirgy\DropshipPo\Helper\Data');
$_msHlp = $_hlp->getObj('Unirgy\DropshipMicrosite\Helper\Data');
$_rateHlp = $_hlp->getObj('Unirgy\DropshipVendorRatings\Helper\Data');
$_udpos = $_objectLoader->get('Magento\Framework\Stdlib\ArrayUtils')->decorateArray($_poHlp->getVendorPoCollection(), '');
$_shipments = $this->getReviewsCollection()->setPageSize(false)->setCurPage(false);
$_shipments = $_shipments->getItems();
$itemCollection = $_objectLoader->get('Magenest\FixUnirgy\Block\Customer\OrderLoader')->getRatingItemCollection();
$items = $itemCollection->getItems();
$pendingReviews = array_merge($_shipments, $items);
usort($pendingReviews, function ($one, $two) {
    $oneDate = $one->getUpdatedAt() ?: $one->getCreatedAt();
    $twoDate = $two->getUpdatedAt() ?: $two->getCreatedAt();

    return strtotime($oneDate) > strtotime($twoDate) ? -1 : 1;
});
$count = 1;
?>
<div class="my-vendor-pending-review active" id="pending-reviews">
    <?php if (count($pendingReviews) > 0): ?>
        <p class="pending_review_message"><?php echo __('Coupon and Ticket can only be rating after redemption.') ?></p>
    <?php endif; ?>
    <div class="pending-review-list">
        <?php /** @var $review \Magento\Sales\Model\Order\Item | \Magento\Sales\Model\Order\Shipment */ ?>
        <?php foreach($pendingReviews as $review): ?>
            <?php if ($review instanceof \Magento\Sales\Model\Order\Item): ?>
                <div class="pending_review_item_rows">
                    <?php $product = $review->getProduct(); ?>
                    <div class="pending_vendor_review_item_row_header">
                        <span class="pending_review_number"><?= $count ?></span>
                        <span class="pending_review_name"><strong style="font-weight: 500"><?php echo __('Item #') ?><?php echo $review->getId(); ?></strong><?= ": " . $product->getName(); ?></span>
                        <span class="pending_review_vendor_name">
                            <span><?= __("Vendor: ") ?></span><a href="<?= $_msHlp->getVendorUrl($product->getUdropshipVendor()) ?>"><?= $_hlp->getVendor($product->getUdropshipVendor())->getVendorName() ?></a>
                        </span>
                    </div>
                    <div class="table-wrapper order-items pending_review_item_row_body">
                        <table class="data table table-order-items" id="my-product-table-<?php echo $review->getId(); ?>">
                            <thead>
                                <tr>
                                    <th class="col name"><?php echo __('Product Name') ?></th>
                                    <th class="col price"><?php echo __('Price') ?></th>
                                    <th class="col sku"><?php echo __('SKU') ?></th>
                                    <th class="col qty"><span class="nobr"><?php echo __('Qty Shipped') ?></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="order-item-row-<?= $review->getId() ?>" class="first last">
                                    <td class="col name" data-th="Product Name">
                                        <strong class="product name product-item-name"><?= $review->getName() ?></strong>
                                    </td>
                                    <td class="col price" data-th="Price"><?= $_hlp->getCurrencyPrice($review->getPrice()) ?></td>
                                    <td class="col sku" data-th="SKU"><?= $review->getSku() ?></td>
                                    <td class="col qty last" data-th="Qty Shipped"><?= __("None") ?></td>
                                </tr>
                            </tbody>
                        </table>
                        <script type="text/javascript">
                            require(["jquery", "prototype"], function (jQuery) {
                                decorateTable('my-product-table-<?php echo $review->getId(); ?>', {
                                    'tbody': ['odd', 'even'],
                                    'tbody tr': ['first', 'last']
                                })
                            });
                        </script>
                        <?php echo $this->getChildBlock('vp_review_form')
                            ->setEntityId(\Magenest\FixUnirgy\Helper\Review\Data::ENTITY_TYPE_ID)
                            ->setEntityPkValue($product->getUdropshipVendor())
                            ->setRelEntityPkValue($review->getId())
                            ->setOrderItem($review)
                            ->toHtml();
                        ?>
                    </div>
                </div>
            <?php elseif ($review instanceof \Magento\Sales\Model\Order\Shipment): ?>
                <div class="pending_review_item_rows">
                    <div class="pending_vendor_review_item_row_header">
                        <span class="pending_review_number"><?= $count ?></span>
                        <h3 class="pending_review_name"><?php echo __('Shipment #') ?><?php echo $review->getIncrementId(); ?></h3>
                        <h4 class="pending_review_vendor_name">
                            <span><?= __("Vendor: ") ?></span><a href="<?php echo $_msHlp->getVendorUrl($review->getUdropshipVendor()) ?>"><?php echo $_hlp->getVendor($review->getUdropshipVendor())->getVendorName() ?></a>
                        </h4>
                    </div>
                    <div class="table-wrapper order-items pending_review_item_row_body">
                        <table class="data table table-order-items" id="my-shipment-table-<?php echo $review->getId(); ?>">
                            <thead>
                            <tr>
                                <th class="col name"><?php echo __('Product Name') ?></th>
                                <th class="col price"><?php echo __('Price') ?></th>
                                <th class="col sku"><?php echo __('SKU') ?></th>
                                <th class="col qty"><span class="nobr"><?php echo __('Qty Shipped') ?></span></th>
                            </tr>
                            </thead>
                            <?php foreach($review->getAllItems() as $_item): ?>
                                <?php if ($_item->getOrderItem()->getParentItem()) continue; ?>
                                <tbody>
                                    <tr id="order-item-row-<?= $_item->getId() ?>">
                                        <td class="col name" data-th="Product Name">
                                            <strong class="product name product-item-name"><?= $_item->getName() ?></strong>
                                        </td>
                                        <td class="col price"
                                            data-th="Price"><?= $_hlp->getCurrencyPrice($_item->getPrice()) ?></td>
                                        <td class="col sku" data-th="SKU"><?= $_item->getSku() ?></td>
                                        <td class="col qty" data-th="Qty Shipped"><?= (int)$_item->getQtyShipped() ?></td>
                                    </tr>
                                </tbody>
                            <?php endforeach; ?>
                        </table>
                        <script type="text/javascript">
                            require(["jquery", "prototype"], function (jQuery) {
                                decorateTable('my-shipment-table-<?php echo $review->getId(); ?>', {
                                    'tbody': ['odd', 'even'],
                                    'tbody tr': ['first', 'last']
                                })
                            });
                        </script>
                        <?php echo $this->getChildBlock('review_form')
                            ->setEntityPkValue($review->getUdropshipVendor())
                            ->setRelEntityPkValue($review->getId())
                            ->setShipment($review)
                            ->toHtml();
                        ?>
                    </div>
                </div>
            <?php endif; ?>
            <?php $count++; ?>
        <?php endforeach; ?>
        <?php if (count($pendingReviews) === 0): ?>
            <p class="pending_review_message"><?= __("You has no vendor pending review for now.") ?></p>
        <?php endif; ?>
    </div>
</div>
<script>
    require(['jquery'],function($){
        var lastClickedElement = null;
        $(".pending_vendor_review_item_row_header").on('click',function(e){
            if(lastClickedElement !== null && lastClickedElement.get()[0] !== $(this).get()[0]){
                lastClickedElement.removeClass("content-open");
                lastClickedElement.next().removeClass("open");
            }
            if(!$(e.target).is("a")){
                $(this).toggleClass("content-open");
                $(this).next().toggleClass("open");
            }
            lastClickedElement = $(this);
        });
    });
</script>


