<?php
/**
 * @var \Unirgy\Dropship\Helper\Data $_hlp
 * @var $block \Magenest\FixUnirgy\Block\Customer\ListCustomer\Pending
 */

use Magento\Framework\App\ObjectManager;

$_objectLoader = ObjectManager::getInstance();
$_hlp = $_objectLoader->get('Unirgy\Dropship\Helper\Data');
$_poHlp = $_objectLoader->get('Unirgy\DropshipPo\Helper\Data');
$_msHlp = $_hlp->getObj('Unirgy\DropshipMicrosite\Helper\Data');
$_rateHlp = $_hlp->getObj('Unirgy\DropshipVendorRatings\Helper\Data');
$_udpos = $_objectLoader->get('Magento\Framework\Stdlib\ArrayUtils')->decorateArray($_poHlp->getVendorPoCollection(), '');
$_shipments = $this->getReviewsCollection()->setPageSize(false)->setCurPage(false);
$_shipments = $_shipments->getItems();
$count = 1;
?>
<div class="my-product-pending-review active">
    <div class="pending-review-list">
        <?php /** @var $review \Magento\Sales\Model\Order\Shipment */ ?>
        <?php foreach($_shipments as $review): ?>
            <?php if (count($block->getShipmentItemHasNoReview($review)) > 0): ?>
                <div class="pending_review_item_rows">
                    <div class="pending_product_review_item_row_header">
                        <span class="pending_review_number"><?= $count ?></span>
                        <h3 class="pending_review_name"><?php echo __('Shipment #') ?><?php echo $review->getIncrementId(); ?></h3>
                        <h4 class="pending_review_vendor_name">
                            <span><?= __("Vendor: ") ?></span><a href="<?php echo $_msHlp->getVendorUrl($review->getUdropshipVendor()) ?>"><?php echo $_hlp->getVendor($review->getUdropshipVendor())->getVendorName() ?></a>
                        </h4>
                    </div>
                    <div class="table-wrapper order-items pending_review_item_row_body">
                        <table class="data table table-order-items"
                               id="my-shipment-table-<?php echo $review->getId(); ?>">
                            <thead>
                            <tr>
                                <th class="col name"><?php echo __('Product Name') ?></th>
                                <th class="col price"><?php echo __('Price') ?></th>
                                <th class="col sku"><?php echo __('SKU') ?></th>
                                <th class="col qty"><span class="nobr"><?php echo __('Qty Shipped') ?></span></th>
                                <th class="col"></th>
                            </tr>
                            </thead>
                            <?php foreach($review->getAllItems() as $_item): ?>
                                <?php if ($_item->getOrderItem()->getParentItem() || !in_array($_item->getProductId(), $block->getShipmentItemHasNoReview($review))) continue; ?>
                                <tbody>
                                <tr id="order-item-row-<?= $_item->getId() ?>">
                                    <td class="col name" data-th="Product Name">
                                        <strong class="product name product-item-name"><?= $_item->getName() ?></strong>
                                    </td>
                                    <td class="col price"
                                        data-th="Price"><?= $_hlp->getCurrencyPrice($_item->getPrice()) ?></td>
                                    <td class="col sku" data-th="SKU"><?= $_item->getSku() ?></td>
                                    <td class="col qty" data-th="Qty Shipped"><?= (int)$_item->getQtyShipped() ?></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <?php echo $this->getLayout()->createBlock('Magenest\FixUnirgy\Block\Product\ProductReview')
                                            ->setProductId($_item->getProductId())
                                            ->setRelEntityPkValue($review->getId())
                                            ->setVendorId($review->getUdropshipVendor())
                                            ->toHtml();
                                        ?>
                                    </td>
                                </tr>
                                </tbody>
                            <?php endforeach; ?>
                        </table>
                        <script type="text/javascript">
                            require(["jquery", "prototype"], function (jQuery) {
                                decorateTable('my-shipment-table-<?php echo $review->getId(); ?>', {
                                    'tbody': ['odd', 'even'],
                                    'tbody tr': ['first', 'last']
                                })
                            });
                        </script>
                    </div>
                </div>
                <?php $count++; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if (count($_shipments) === 0): ?>
            <p class="pending_review_message"><?= __("You has no product pending review for now.") ?></p>
        <?php endif; ?>
    </div>
</div>
<script>
    require(['jquery'], function ($) {
        var lastClickedElement = null;
        $(".pending_product_review_item_row_header").on('click', function (e) {
            if (lastClickedElement !== null && lastClickedElement.get()[0] !== $(this).get()[0]) {
                lastClickedElement.removeClass("content-open");
                lastClickedElement.next().removeClass("open");
            }
            if (!$(e.target).is("a")) {
                $(this).toggleClass("content-open");
                $(this).next().toggleClass("open");
            }
            lastClickedElement = $(this);
        });
    });
</script>


