<?php
/**
 * @var $block \Magenest\FixUnirgy\Block\Customer\Review\ProductReviews
 */
$_objectLoader = \Magento\Framework\App\ObjectManager::getInstance();
$_urlBuilder = $_objectLoader->get('Magento\Framework\View\Element\Context')->getUrlBuilder();
$_items = $this->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<div id="my-product-review_tabs">
    <h4><?= __("My Pending Reviews") ?></h4>
    <?php echo $this->getChildHtml('customer.product.reviews'); ?>
    <h4><?= __("My Reviews") ?></h4>
    <div id="my-vendor-review" class="my-vendor-review active">
        <?php if (!count($_items)):?>
            <p class="pending_review_message"><?= __("You has no product review for now.") ?></p>
        <?php else:?>
            <?php echo $this->getChildHtml('toolbar') ?>
            <ol class="items review-items">
                <?php foreach ($_items as $_review):?>
                    <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
                        <div class="review-title" itemprop="name"><?php echo $block->escapeHtml($_review->getTitle()) ?></div>
                        <?php
                        $_naVotes = $_votes = [];
                        foreach ($_review->getRatingVotes() as $_vote) {
                            if ($_vote->getIsAggregate()) {
                                $_votes[] = $_vote;
                            } else {
                                $_naVotes[] = $_vote;
                            }
                        }
                        ?>
                        <div class="review-info">
                            <div class="review-ratings">
                                <?php if (count($_votes)): ?>
                                    <?php foreach ($_votes as $_vote): ?>
                                        <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                            <span class="label rating-label">
                                                <span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span>
                                            </span>
                                            <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                                <meta itemprop="worstRating" content = "1"/>
                                                <meta itemprop="bestRating" content = "100"/>
                                                <span style="width:<?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%">
                                                    <span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $_vote->getPercent() ?>%</span>
                                                </span>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <?php if (count($_naVotes)): ?>
                                    <?php foreach ($_naVotes as $_vote): ?>
                                        <div class="rating-summary item" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                            <span class="label rating-label">
                                                <span><?php echo $block->escapeHtml($_vote->getRatingCode()) ?></span>
                                            </span>
                                            <div>
                                                <span>
                                                    <span itemprop="ratingValue"><?php echo $_vote->getValue() ? __('Yes') : __('No')?></span>
                                                </span>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </div>
                            <div class="review-details" style="margin-left: 400px">
                                <p class="review-author">
                                    <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Review by')?></span>
                                    <strong class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($_review->getNickname()) ?></strong>
                                </p>
                                <?php if ($_review->getReviewEntityId() == '10'): ?>
                                    <p class="review-url-order">
                                        <a href="<?php echo $block->escapeHtml($_urlBuilder->getUrl('sales/order/view', ['order_id' => $_review->getShipmentOrderId()])) ?>">
                                            <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Order Id ') ?></span>
                                            <strong class="review-details-value" itemprop="author"><?php echo $block->escapeHtml('#' . $_review->getReviewIncrementId()); ?></strong>
                                        </a>
                                    </p>
                                <?php else: ?>
                                    <p class="review-url-product">
                                        <a href="<?php echo $block->escapeHtml($block->getProductReviewUrl($_review)); ?>">
                                            <span class="review-details-label"><?php /* @escapeNotVerified */ echo __('Product ')?></span>
                                            <strong class="review-details-value" itemprop="author"><?php echo $block->escapeHtml($block->getProductReviewName($_review->getEntityPkValue())); ?></strong>
                                        </a>
                                    </p>
                                <?php endif; ?>
                                <p class="review-date">
                                    <span class="review-details-label-post-on"><?php /* @escapeNotVerified */ echo __('Posted on') ?></span>
                                    <time class="review-details-value" itemprop="datePublished" datetime="<?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?>"><?php /* @escapeNotVerified */ echo $block->formatDate($_review->getCreatedAt(), $format) ?></time>
                                </p>
                            </div>
                        </div>
                        <div class="review-content" itemprop="description" style="margin-left: 400px">
                            <?php echo nl2br($block->escapeHtml($_review->getDetail())) ?>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ol>
            <?php echo $this->getChildHtml('toolbar') ?>
        <?php endif;?>
    </div>
</div>
