<ul class="feature_tab" data-bind="visible: isSessionMapVenue() !== false">
    <li class="seat-tab">
        <button data-bind="click: chooseTab.bind($data, 'map')">
            <span data-bind="text:$t('Map')"></span>
        </button>
    </li>
    <li class="seat-tab">
        <button data-bind="click: chooseTab.bind($data, 'ticket')">
            <span data-bind="text:$t('Ticket')"></span>
        </button>
    </li>
</ul>

<div class="position-map" data-bind="visible: isSessionMapVenue() === false && isEditData !== false">
    <label>Height (px): </label><input type="number" id="height_stage" style="display: inline-block; width: 100px;" data-bind="value: stageHeight"/><br>
    <label>Width (px): </label><input type="number" id="width_stage" style="display: inline-block; width: 100px;" data-bind="value: stageWidth"/><br>
    <button type="button" id="submit_stage_size" data-bind="click: changeStageSize.bind($data, stageWidth, stageHeight)">Change</button>
</div>
<div class="feature_detail tab-content">
    <div data-role="map" data-bind="visible: isSessionMapVenue() === false && isEditData !== false" class="tab-content">
        <h3><span data-bind="text:$t('Map')"> </span></h3>

        <div data-role="init-seat">
            <div><label> Number of table </label> <input type="text" name="table_number" data-bind="value:tableNumber"/>
            </div>
            <div><label> Number of chair </label> <input type="text" name="chair_number" data-bind="value:chairNumber"/>
            </div>
        </div>

        <div data-role="edit-seat" class="edit-seat">
            <div data-bind="click:mapModeDuplicate" class="button btn-duplicate"> Duplicate</div>
            <div data-bind="click:mapModeCreate" class="button btn-create"> Create</div>
            <div data-bind="click:mapModeDelete" class="button btn-delete"> Delete</div>
        </div>
    </div>
    <div data-role="ticket" class="tab-content" data-bind="visible: isSessionMapVenue() !== false && activeMode === 'ticket'">
        <h3><span data-bind="text:$t('Tickets')"> </span></h3>
        <ul class="ticket-type">
            <!-- ko foreach:  { data: tickets, afterRender:renderedTicketHandle.bind($data), as: 'option' } -->
            <li class="ticket-type-wrapper">
                <div data-bind="click:$parents[0].assignSeatsToTicket(option, $parents[0])">
                    <span data-bind="text:option.label"></span>
                    <span data-bind="text:option.cnt"></span>
                    <input type="text" class="ticket-label" readonly data-bind="value:option.label"
                           name="label">
                    <input type="text" readonly class="ticket-color"
                           data-bind="value:option.colorTag, attr: {name: 'label_' + option.id}">
                    <label class="switch">
                        <input type="checkbox" class="switch" data-bind="attr: {name: 'switch_' + option.id}">
                        <span class="slider round"></span>
                    </label>
                </div>
            </li>
            <!-- /ko -->
        </ul>
    </div>
</div>
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>