<div style="display: none">
    <div id="popup-modal-view" data-bind="afterRender: initPopupModal">
        <iframe data-bind="attr: {src: url()}" style="width: 100%; height: 700px"></iframe>
    </div>
</div>

<div data-bind="afterRender: addEvent"></div>
