<?php
/**
 * Created by PhpStorm.
 * User: thuy
 * Date: 27/12/2017
 * Time: 10:17
 */
/**
 * @var $block \Magenest\VendorTicket\Block\Adminhtml\Product\Ticket
 */
$sessionData = $block->getSessionData();
$sessionMapData = $block->getSessionMapData();
if ($sessionMapData == null) {
    $sessionMapData = "\"\"";
}
$ticketData = $block->getTicketSessionData();
if ($ticketData == null) {
    $ticketData = json_encode([]);
}
$isSessionMap = $block->isSessionMap();
if ($isSessionMap) {
    $isSessionMap = "true";
} else {
    $isSessionMap = "false";
}
?>
<style>
    ul.feature_tab {
        list-style: none;

    }

    ul.feature_tab li {
        display: inline;
        margin: 10px;
    }

    canvas {
        border-color: #0a0a0a;
        border-width: thick;
    }

</style>
<div id="reservationSeat" class="block block-wishlist" data-bind="scope: 'reservationSeat'">
    <div>
        <input name="venuemap[data]" type="text" style="display: none;" id="venue_map_data"
               data-bind="value: venueMapData()"/>
        <input name="venuemap[ticket]" type="text" style="display:none;" id="venue_ticket_data"
               data-bind="value: venueTicketData()"/>
    </div>
    <div id="canvas" style="overflow: auto; max-height: 650px;">
    </div>
    <!-- ko template:getTemplate() --> <!-- /ko -->
    <script type="text/javascript">
        require(["jquery"], function ($) {
            $('body').on('change', '#venue_ticket_data', function () {
                var innerTicketData = $('#venue_ticket_data').val();
                $("input[name='session_ticket_data']").val(innerTicketData);
                $("input[name='session_ticket_data']").change();
            });
            $('body').on('change', '#venue_map_data', function () {
                var innerMapData = $('#venue_map_data').val();
                $("input[name='session_map_data']").val(innerMapData);
                $("input[name='session_map_data']").change();
            });

            //set readonly to product_id, map_id field
            var interval = setInterval(function () {
                if ($('div.product_id_select input').val() !== undefined) {
                    $('div.product_id_select input').prop('readonly', true);
                    clearInterval(interval);
                }
            }, 200);
            var interval2 = setInterval(function () {
                if ($('div.session_map_id_select input').val() !== undefined) {
                    $('div.session_map_id_select input').prop('readonly', true);
                    clearInterval(interval2);
                }
            }, 200);
        });
    </script>
</div>

<script type="text/x-magento-init">
    {
        "#reservationSeat": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "reservationSeat": {
                        "component": "Magenest_VendorTicket/js/view/reservationSeat",
                        "config": {
                            "stage": <?= $sessionMapData ?>,
                            "tickets": <?= $ticketData ?>,
                            "isSessionMap": "<?= $isSessionMap ?>",
                            "isEditData": true
                        }
                    }
                }
            }
        }
    }
</script>