<?php
/**
 * Created by PhpStorm.
 * User: thuy
 * Date: 27/12/2017
 * Time: 10:17
 */
/**
 * @var $block \Magenest\VendorTicket\Block\Adminhtml\Product\VenueMap
 */
$venueMapData = $block->getVenueMapData();
if ($venueMapData == null) {
    $venueMapData = "\"\"";
}

$isSessionMap = $block->isSessionMap();
if ($isSessionMap) {
    $isSessionMap = "true";
} else {
    $isSessionMap = "false";
}
?>
<style>
    ul.feature_tab {
        list-style: none;

    }

    ul.feature_tab li {
        display: inline;
        margin: 10px;
    }

    canvas {
        border-color: #0a0a0a;
        border-width: thick;
    }
</style>
<div id="reservationSeat" class="block block-wishlist" data-bind="scope: 'reservationSeat'">
    <div>
        <input name="venuemap[data]" type="text" id="venue_map_data" style="display: none;" data-bind="value: venueMapData()"/>
    </div>
    <div id="canvas" style="overflow: auto; max-height: 650px;">
    </div>
    <!-- ko template:getTemplate() --> <!-- /ko -->
    <script type="text/javascript">
        require(["jquery"], function ($) {
            $("input[name='venue_map_data']").prop('readonly', 'readonly');
            $('body').on('change', '#venue_map_data', function () {
                var innerData = $('#venue_map_data').val();
                $("input[name='venue_map_data']").val(innerData);
                $("input[name='venue_map_data']").change();
            });
        });
    </script>
</div>

<script type="text/x-magento-init">
    {
        "#reservationSeat": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "reservationSeat": {
                        "component": "Magenest_VendorTicket/js/view/reservationSeat",
                        "config": {
                                "stage": <?= /* @escapeNotVerified */ $venueMapData ?>,
                                "isSessionMap": "<?= /* @escapeNotVerified */ $isSessionMap ?>"
                        }
                    }
                }
            }
        }
    }








</script>
