<?php
/**
 * @var $block \Magenest\FixUnirgy\Block\Email\NewsletterSubscription
 */

use Magento\Framework\App\ObjectManager;

try {
    $emailData = $block->getMailData();
    /**
     * @var $assertRepo \Magento\Framework\View\Asset\Repository
     */
    $assertRepo = ObjectManager::getInstance()->create(Magento\Framework\View\Asset\Repository::class);
} catch (\Magento\Framework\Exception\NoSuchEntityException $e) {
}
$currentCurrencyCode = $emailData['currency']['currency_code'];
$currentCurrencySymbol = $emailData['currency']['currency_symbol'];
?>
<div style="width: 650px;margin: auto; background: #f5f5f5;">
    <div class="header-information" style="height: 80px;background:#22ddc3;padding:0px 20px; box-sizing: border-box;">
        <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/newsletter-banner.png") ?>" style="heighT:100%;width: 186px;float:left;height: 40px;margin-top: 20px;">
        <div style="float:right;line-height: 80px;margin:0;text-align:right;color:white;">
            <p style="display:block;margin:0;line-height:1;margin-top: 20px;font-weight:bold;font-size:16px;">Yours daily deals for Beirut</p>
            <p style="display:block;margin:0;line-height:1;margin-top: 10px;font-style:italic;"> sent <?= $emailData['time_sent'] ?></p>
        </div>
        <style>
            img {
                max-width: 100%;
            }
        </style>
    </div>
    <div class="header-catalog-list" style="border-bottom:1px solid;background:white;height: 56px;line-height: 56px;">
        <?php foreach($emailData['category_list'] as $emailDatum): ?>
            <a href="<?php echo $emailDatum['category_link'] ?>" style="width: 108px;display:inline-block;text-align:center; color: #465a6f;float:left"><?= __($emailDatum['category_name']) ?></a>
        <?php endforeach; ?>
        <a style="width: 108px;color: #22ddc3;display:inline-block;text-align:center;float:left;" href="<?php echo $block->getBaseUrl() ?>">More</a>
    </div>
    <div style="width: 610px; padding: 20px;">
        <?php echo $this->getLayout()
            ->createBlock('Magento\Cms\Block\Block')
            ->setBlockId('newsletter_subscription_gosawa')
            ->toHtml(); ?>
    </div>
    <?php foreach($emailData['featured_list'] as $key => $featured) : ?>
        <div id="<?php echo $key ?>" style="padding:20px">
            <div class="featured-title">
            <span style=" font-size: 18px; font-weight: bold; color: #465a6f; "><?php echo __("Featured ") . $featured['category_name'] ?></span>
                <a style=" float: right; color: #22DDC3; font-weight: bold; " href="<?= $featured['category_link'] ?>" title="<?= $featured['category_name'] ?>"><?php echo __("View All") ?></a>
            </div>
            <div class="featured-body">
                <div class="featured-big-one">
                    <p style="color: #465a6f;"><?= $featured['category_items'][0]['product_description'] ?></p>
                    <img style="width: 610px;height:276px;" src="<?= $featured['category_items'][0]['product_image'] ?>"/>
                    <div style="background:white;width: 407px;float:left;height:120px;padding-left:20px;" class="product-detail-left">
                    <span style=" height: 60px; display: block; width: 300px; ">
                        <a style="font-size:15px;font-weight:bold;color:black;display:inline-block;text-decoration:none;margin-top:20px;margin-bottom:10px"href="<?php echo $featured['category_items'][0]['product_url'] ?>"><?= $block->trimText($featured['category_items'][0]['product_name'], 160) ?></a>
                    </span>
                        <span style="display:block;margin-bottom:5px;color:#7e858d"><?= $featured['category_items'][0]['product_vendor'] ?></span>
                        <?php if (isset($featured['category_items'][0]['product_location']) && trim($featured['category_items'][0]['product_location']) !== ""): ?>
                            <span style="color:#7e858d;margin-bottom:20px;display:block">
                                <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/location.png") ?>" width="10" height="10" style="margin-left: 5px;"><?= $featured['category_items'][0]['product_location'] ?>
                            </span>
                        <?php endif; ?>
                    </div>
                    <div class="product-detail-right" style="float:left;text-align:right;background:white;width: 163px;padding-right:20px;height:120px;display:block;">
                        <?php if ($featured['category_items'][0]['product_special_price']): ?>
                            <del style="display:block;margin-top:45px;font-size:16px;color:#7e858d"><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][0]['product_special_price'] ?></del>
                        <?php endif; ?>
                        <span style=" font-size: 18px; color: #7e858d; "><?= $currentCurrencyCode ?></span> 
                        <span style=" font-size: 18px; color: #22ddc3; "><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][0]['product_price'] ?></span>
                    </div>
                </div>
                <div style="width:100%;heighT:45px;text-align:center;background:#ecce20;clear:both">
                    <a style="line-height:45px;text-decoration:none;font-size:20px;font-weight:bold;color:white" href="<?php echo $featured['category_items'][1]['product_url'] ?>"><?= __("View it!") ?></a>
                </div>
                <div class="featured-two-more" style="margin-top:20px;background:white;height: 290px;">
                    <div class="product-featured-left" style="width: 300px;display:inline-block;float:left;margin-right: 10px;background:white;">
                        <img style="width: 300px;height: 167px;" src="<?= $featured['category_items'][1]['product_image'] ?>"/>
                        <div class="product-detail-left" style=" height: 60px; ">
                        <span style=" height: 60px; display: inline-block; width: 300px; ">
                            <a style=" color:  black; font-size: 13px; font-weight: bold; text-decoration: none; display: inline-block; padding: 10px 10px 0px 10px; " href="<?php echo $featured['category_items'][1]['product_url'] ?>"><?= $block->trimText($featured['category_items'][1]['product_name'], 80) ?></a>
                        </span>
                            <div style="width: 200px;padding-left:10px;float:left;height: 60px;">
                            <span style=" margin-top: 10px; display: block; font-size: 12px; color: #7e858d; "><?= $featured['category_items'][1]['product_vendor'] ?></span>
                                <span style=" margin-top: 5px; display: inline-block; margin-bottom: 5px; font-size: 12px; color: #7e858d; ">
                                    <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/location.png") ?>" width="10" height="10" style="margin-left: 5px;"><?= $featured['category_items'][1]['product_location'] ?> 
                                </span>
                            </div>
                        </div>
                        <div class="product-detail-right" style="width: 80px;padding-right:10px;float:left;margin-top: 10px;text-align:right;">
                            <?php if ($featured['category_items'][1]['product_special_price']): ?>
                                <del style=" font-size: 11px; color: #7e858d; display: block; "><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][1]['product_special_price'] ?></del> 
                            <?php endif; ?>
                            <span style=" display: none; "><?= $currentCurrencyCode ?></span>
                            <span style=" color: #22ddc3; font-size: 13px; font-weight: bold; "><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][1]['product_price'] ?></span> 
                        </div>
                    </div>
                    <div class="product-featured-right" style="width: 300px;display:inline-block;float:left;background:white;">
                        <img style="width: 300px;height: 167px;" src="<?= $featured['category_items'][2]['product_image'] ?>"/>
                        <div class="product-detail-left">
                        <span style=" height: 60px; width: 300px; display: inline-block; ">
                            <a style=" color:  black; font-size: 13px; font-weight: bold; text-decoration: none; display: inline-block; padding: 10px 10px 0px 10px; " href="<?php echo $featured['category_items'][2]['product_url'] ?>"><?= $block->trimText($featured['category_items'][2]['product_name'], 80) ?></a>
                        </span>
                            <div style="width: 200px;padding-left:10px;float:left;height: 60px;">
                                <span style="margin-top:10px;display:block;font-size:12px;color:#7e858d"><?= $featured['category_items'][2]['product_vendor'] ?></span>
                                <span style=" margin-top: 5px; display: inline-block; margin-bottom: 5px; font-size: 12px; color: #7e858d; ">
                                    <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/location.png") ?>" width="10" height="10" style="margin-left: 5px;"> <?= $featured['category_items'][2]['product_location'] ?>
                                </span>
                            </div>
                        </div>
                        <div class="product-detail-right" style="width: 80px;padding-right:10px;float:left;margin-top: 10px;text-align:right;">
                            <?php if ($featured['category_items'][2]['product_special_price']): ?>
                                <del style=" font-size: 11px; color: #7e858d; display: block; "><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][2]['product_special_price'] ?></del>
                            <?php endif; ?>
                            <span style=" display: none; "><?= $currentCurrencyCode ?></span>
                            <span style=" color: #22ddc3; font-size: 13px; font-weight: bold; "><?php echo $currentCurrencySymbol . " " ?><?= $featured['category_items'][2]['product_price'] ?></span> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <?php endforeach; ?>
    <?php if ($emailData['last_chance_list']['number_product'] > 0): ?>
        <div class="last-chance-header" style="background:#7a899a;padding:30px 20px; height: calc(101px + 280px * <?= count($emailData['last_chance_list']['product_list']) ?>/ 2 - 60px)">
            <div style=" margin-bottom: 20px; ">
                <span style=" font-size: 18px; font-weight: bold; display: inline; color: white; "><?= __("Last chance ") ?></span>
                <p style=" display: inline; font-size: 18px; color: #e4e5e8; "><?= __("(ending soon)") ?></p> 
                <span>
                    <a style=" float: right; color: #22ddc3; font-weight: bold;
                    " href="<?php echo $block->getBaseUrl() ?>"><?php echo __("View All") ?></a>
                </span>
            </div>
            <?php $countLastChance = 0; ?>
            <?php foreach($emailData['last_chance_list']['product_list'] as $datum) : ?>
                <div style=" width: 300px; height: 280px; background: white; float: left; <?php echo $countLastChance % 2 == 0 ? "margin-right: 10px;" : "" ?> "> 
                <img style="width: 300px;height: 167px;margin-right: 5px;clear: both;" src="<?= $datum['product_image'] ?>"/>
                <div class="product-detail-left" style="padding:10px;width: 190px;float:left;display: inline-block;height: 90px;">
                    <span style=" height: 60px; width: 300px; display: inline-block; ">
                        <a style=" display: block; color: black; font-weight: bold; text-decoration: none; margin-bottom: 10px; " href="<?php echo $datum['product_url'] ?>"><?= $block->trimText($datum['product_name'], 56) ?></a>
                    </span>
                        <span style=" font-size: 12px; color: #7e858d; display: block; "><?= $datum['product_vendor'] ?></span>
                        <span style=" display: block; font-size: 12px; color: #7e858d; ">
                            <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/location.png") ?>" width="10" height="10" style="margin-left: 5px;"><?= $datum['product_location'] ?>
                        </span>
                    </div>
                    <div class="product-detail-right" style="width: 80px;padding-right:10px;float:left;display:inline-block;margin-top: 61px;color:#7e858d;font-size:12px;text-align:right;"> 
                    <?php if ($datum['product_special_price']): ?>
                        <del style="display: block;"><?php echo $currentCurrencySymbol . " " ?><?= $datum['product_special_price'] ?></del>
                    <?php endif; ?>
                        <span style=" display: none; "><?= $currentCurrencyCode ?></span>
                        <span style=" font-size: 13px; color: #22dde3; font-weight: bold; "><?php echo $currentCurrencySymbol . " " ?><?= $datum['product_price'] ?></span>
                    </div>
                </div>
                <?php $countLastChance++; ?>
            <?php endforeach; ?>
        </div>
    <?php endif; ?>
    <div>
        <a style="width: 100%;height:50px;background:#ecce20;line-height:50px;text-decoration:none;font-weight:600;font-size:20px;color:white;margin-top:10px;display: inline-block;text-align: center;" href="<?php echo $block->getBaseUrl() ?>"><?php echo __("View more deals!") ?></a></div>
    <div style="background:white;color:#7e858d;padding:20px" class="bottom-email-block">
        <img style="width: 187px;height: 40px;margin-top: 30px;" src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/newsletter-banner-off-white.png") ?>">
        <div style="float:right;line-height:100px;text-transform:uppercase;color: #465a6f">Follow us:
            <img style=" width: 40px; height: 40px; vertical-align: middle; margin-left: 10px; " src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/newsletter-icon-fb.png") ?>">
            <img style=" width: 40px; height: 40px; vertical-align: middle; margin-left: 10px; " src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/newsletter-icon-insta.png") ?>">
            <img style=" width: 40px; height: 40px; vertical-align: middle; margin-left: 10px; " src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/newsletter-icon-twitter.png") ?>">
        </div>
        <div style="heighT:80px;line-height:80px;border-bottom:1px solid #e4e5e8;color:#465a6f;padding-bottom: 20px;">
            <p style="color: #465a6f; float: left;margin-top: 10px;">DOWNLOAD OUR APPS:</p>
            <img src="<?= $assertRepo->getUrl("Magenest_FixUnirgy::images/downloadapps-newsletter.png") ?>" style=" vertical-align: text-bottom; width: 361px; height: 52px; margin-left: 250px; display: block; ">
        </div>
        <div style="padding-top: 20px;">
            <p style=" margin: 0; margin-bottom:  10px; color: #465a6f; ">Need help? Have feedback? Feel free to <a href="#" style=" color: #22dde3; ">contact us</a>.</p>
            <p style=" margin: 0; color: #465a6f; ">You are receiving this email because is signed up to receive email from Gosawa.</p>
            <p style=" margin: 0; color: #465a6f; ">If you prefer not to receive future email of this type, you can <a href="<?php echo $block->getUrl('newsletter/manage/index') ?>" style=" color: #22dde3; ">unsubscribe</a></p>
            <p style=" margin: 0; color: #465a6f; ">Otherwise if you like to manage your subscription, <a href="<?php echo $block->getUrl('newsletter/manage/index') ?>" style=" color: #22dde3; ">click here.</a></p>
            <p>t: +961 (1) 985 775 | Enreesol Level, BLock A2-2 Azariah Bldg, Downtown Beirut, Lebanon</p>
        </div>
    </div>
</div>