div#otp-div {
    display: none;
}

div.field.error > p {
    display: none;
    color: red;
    font-weight: 800;
}

#otp-input {
    height: auto;
    font-size: 50px;
    width: 6.6em;
    letter-spacing: 0.4em;
    text-align: right;
}

.otp-modal {
    width: 50%;
    margin: auto;

}

#sms-number{
    width: 75%;
    display: inline-block;
}
#sms-number-submit{
    float: right;
}